<html>
<!-- $Id: voicebox_info.tt,v 1.29 2011-02-28 22:17:46 gosha Exp $ -->
<head>
	<title>Virtual PBX - Extension info - Ac:[% USER_CREDS.ACCESS_CODE | html %], Ext: [% VBOX_PREF.EXT_NUMBER | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body>
	<center>
	<p>
	<table width='95%' class='logo'>
		<tr>
			<td align='left' width='20%'>
			[% IF USER_CREDS.LOGO_HREF eq '' %]
				<img border='0' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			[% ELSE %]
				<img border='0' src='[% USER_CREDS.LOGO_HREF %]' alt='Virtual PBX' />
			[% END %]
			</td>
			<td align='center'><h2>VoiceBOX info</h2></td>
			<td align='right' width='20%'><a href=?action=logout>logout</a></td>
		</tr>
	</table>
	</p>

	<p>
	<table width='95%' class='bottom_hr'>
		<tr align='center'>
			[% IF USER_CREDS.ROOT eq '0' %]
			<td>
				<a class='headers' href='?action=user_info&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>User prefs</a>
			</td>
			[% END %]
			<td>
				<a class='headers' href='?action=msg_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>View messages</a>
			</td>
			<td>
				<a class='headers' href='?action=msg_delete&clear_ext=1&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return confirm('Are you sure you want to delete all messages?')">Clear extension</a>
			</td>
			<td>
				<a class='headers' href='?action=cdr_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>CDRs</a>
			</td>
			<td>
				<a class='headers' href='?action=j_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Journals</a>
			</td>
		</tr>
	</table>
	</p>

	<p>
	<table class='vb_data' width='95%'>
	<tr>
		<td colspan='3'>&nbsp;</td>
	</tr>
	<tr>
		<td valign='top'>
		<table class='ext_data' width='100%'>
			<form method="post" action="[% CGI_URL %]">
			<tr>
				<td class='ext_pn'>Type:</td>
				<td class='ext_pv'>
					<input type='hidden' name='action' value='vb_change_type'>
					<input type='hidden' name='id' value='[% ROOT_EXT_ID %]'>
					<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
					<select name="type" onchange="javascript:ChangeVbType(this.value,'[% ROOT_EXT_ID %]','[% USER_CREDS.UNIQ %]')">
					[% FOREACH vt = VB_TYPES %]
						[% IF VBOX_PREF.TYPE eq vt.ID %]
						<option value="[% vt.ID %]" selected>[% vt.DESCRIPTION | html %]</option>
						[% ELSE %]
							[% IF vt.ID vb_allow '0' %]
								<option value="[% vt.ID %]">[% vt.DESCRIPTION | html %]</option>
							[% END %]
						[% END %]
					[% END %]
					</select>
					&nbsp;&nbsp;
					<noscript><input type='submit' value='&nbsp;change&nbsp;'></noscript>
				</td>
			</tr>
			</form>
			<form name='vb_opt' method="post" action="[% CGI_URL %]" onSubmit='JavaScript:return xmlhttpPost(this,0)'>
			<tr class='addon_info'>
				<td class='ext_pn'>Pin code: </td>
				<td class='ext_pv'>
					<input size='12' type='text' name='PIN_CODE' value='[% VBOX_PREF.PIN_CODE | html %]'>
					#
					<input size='12' type='text' name='PIN_CODE2' value='[% VBOX_PREF.PIN_CODE2 | html %]'>
				</td>
				<input type='hidden' name='action' value='vb_update'>
				<input type='hidden' name='id' value='[% VBOX_PREF.ID %]'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
			</tr>
			<tr>
				<td class='ext_pn'>Name: </td>
				<td class='ext_pv'>
					<input size='30' type='text' name='NAME' value='[% VBOX_PREF.NAME | html %]'>
				</td>
			</tr>
			[% IF USER_CREDS.TTS_GREETING ne '0' %]
			<tr>
				<td class='ext_pn'>Greeting: </td>
				<td class='ext_pv'>
					<textarea rows='[% VBOX_PREF.GREETING | textarea_rows %]' cols='35' name='GREETING'>[% VBOX_PREF.GREETING | html %]</textarea>
				</td>
			</tr>
			[% END %]
			<tr>
				<td class='ext_pn'>Notify email: </td>
				<td class='ext_pv'>
					<input size='30' type='text' name='NOTIFYEMAIL' value='[% VBOX_PREF.NOTIFYEMAIL | html %]'>
				</td>
			</tr>
			<tr class='addon_info'>
				<td class='ext_pn'>Protected with pin code: </td>
				<td class='ext_pv'>
				[% IF VBOX_PREF.PROTECT %]
					<input name="PROTECT" type="checkbox" checked>
				[% ELSE %]
					<input name="PROTECT" type="checkbox">
				[% END %]
				</td>
			</tr>
			[% IF VBOX_PREF.TYPE eq '1' %]
			<tr>
				<td class='ext_pn'>Allow greeting rewind: </td>
				<td class='ext_pv'>
				[% IF VBOX_PREF.GREETING_CONTROL %]
					<input name="GREETING_CONTROL" type="checkbox" checked>
				[% ELSE %]
					<input name="GREETING_CONTROL" type="checkbox">
				[% END %]
				</td>
			</tr>
			[% END %]
			<tr class='addon_info'>
				<td class='ext_pn'>CID action:</td>
				<td class='ext_pv'>
					<select name="CID_ACTION">
					[% FOREACH ca = CID_ACTIONS %]
						[% IF VBOX_PREF.CID_ACTION eq ca.ID %]
						<option value="[% ca.ID %]" selected>[% ca.DESCRIPTION | html %]</option>
						[% ELSE %]
						<option value="[% ca.ID %]">[% ca.DESCRIPTION | html %]</option>
						[% END %]
					[% END %]
					</select>
				</td>
			</tr>
			<tr class='addon_info'><td colspan='2'>&nbsp;</td></tr>
			
			[% IF VBOX_PREF.TYPE eq '2' %]
			<tr class='addon_info'>
				<td class='ext_pn'>Max message duaration: </td>
				<td class='ext_pv'>
					<input size='8' name="MAX_MSG_DURATION" value="[% VBOX_PREF.MAX_MSG_DURATION | html %]" type="text">
					( in sec, -1 - for unlimit  )
				</td>
			</tr>
			<tr class='addon_info'>
				<td class='ext_pn'>Min message duaration: </td>
				<td class='ext_pv'>
					<input size='8' name="MIN_MSG_DURATION" value="[% VBOX_PREF.MIN_MSG_DURATION | html %]" type="text">
					( in sec, -1 - for unlimit  )
				</td>
			</tr>
			<tr>
				<td class='ext_pn'>Send notify email: </td>
				<td class='ext_pv'>
				[% IF VBOX_PREF.SENDNOTIFYEMAIL %]
					<input name="SENDNOTIFYEMAIL" type="checkbox" checked>
				[% ELSE %]
					<input name="SENDNOTIFYEMAIL" type="checkbox">
				[% END %]
				</td>
			</tr>
			<tr class='addon_info'>
				<td class='ext_pn'>Send attachment: </td>
				<td class='ext_pv'>
				[% IF VBOX_PREF.SEND_ATTACH %]
					<input name="SEND_ATTACH" type="checkbox" checked>
				[% ELSE %]
					<input name="SEND_ATTACH" type="checkbox">
				[% END %]
			</td>
			<tr class='addon_info'>
				<td class='ext_pn'>Keep message on the server: </td>
				<td class='ext_pv'>
				[% IF VBOX_PREF.KEEP_MSG %]
					<input name="KEEP_MSG" type="checkbox" checked>
				[% ELSE %]
					<input name="KEEP_MSG" type="checkbox">
				[% END %]
				</td>
			</tr>
			[% END %]
			
			[% IF VBOX_PREF.TYPE eq '3' %]
			<tr>
				<td class='ext_pn'>Find-Me list: </td>
				<td class='ext_pv'>
					<textarea rows='[% VBOX_PREF.CALL_NUMBER | textarea_rows %]' cols='35' name='CALL_NUMBER'>[% VBOX_PREF.CALL_NUMBER | html %]</textarea>
				</td>
			</tr>
			<tr class='addon_info'>
				<td class='ext_pn'>Music on hold:</td>
				<td class='ext_pv'>
					<select name='MOH_ID'>
						[% FOREACH moh = MOH %]
							[% IF VBOX_PREF.MOH_ID eq moh.ID %]
								<option value="[% moh.ID | html %]" selected>[% moh.DESCRIPTION | html %]</option>
							[% ELSE %]
								<option value="[% moh.ID | html %]">[% moh.DESCRIPTION | html %]</option>
							[% END %]
						[% END %]
					</select>
				</td>
			</tr>
			<tr class='addon_info'>
				<td class='ext_pn'>Ring strategy: </td>
				<td class='ext_pv'>
					<select name="CALL_TYPE">
					[% FOREACH ct = CALL_TYPES %]
						[% IF VBOX_PREF.CALL_TYPE eq ct.ID %]
							<option value="[% ct.ID %]" selected>[% ct.DESCRIPTION | html %]</option>
						[% ELSE %]
							<option value="[% ct.ID %]">[% ct.DESCRIPTION | html %]</option>
						[% END %]
					[% END %]
					</select> 
				</td>
			</tr>
			<tr class='addon_info'>
				<td class='ext_pn'>Ring timeout (sec): </td>
				<td class='ext_pv'>
					<input size='30' type='text' name='RING_TIMEOUT' value='[% VBOX_PREF.RING_TIMEOUT | html %]'>
				</td>
			</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Send DTMF (0-9#*w): </td>
					<td class='ext_pv'>
						<input size='30' type='text' name='SEND_DIGITS' value='[% VBOX_PREF.SEND_DIGITS | html %]'>
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Confirm calls: </td>
					<td class='ext_pv'>
						[% IF VBOX_PREF.CONFIRM_CALL %]
							<input name="CONFIRM_CALL" type="checkbox" checked>
						[% ELSE %]
							<input name="CONFIRM_CALL" type="checkbox">
						[% END %]
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Say callerid: </td>
					<td class='ext_pv'>
						[% IF VBOX_PREF.SAY_CALLERID %]
							<input name="SAY_CALLERID" type="checkbox" checked>
						[% ELSE %]
							<input name="SAY_CALLERID" type="checkbox">
						[% END %]
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Screening mode: </td>
					<td class='ext_pv'>
						[% IF VBOX_PREF.SCREENING_MODE %]
							<input name="SCREENING_MODE" type="checkbox" checked>
						[% ELSE %]
							<input name="SCREENING_MODE" type="checkbox">
						[% END %]
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Send notify email: </td>
					<td class='ext_pv'>
						[% IF VBOX_PREF.SENDNOTIFYEMAIL %]
							<input name="SENDNOTIFYEMAIL" type="checkbox" checked>
						[% ELSE %]
							<input name="SENDNOTIFYEMAIL" type="checkbox">
						[% END %]
					</td>
				</tr>
				<tr>
					<td class='ext_pn'>Start voicemail if call fail: </td>
					<td class='ext_pv'>
						[% IF VBOX_PREF.RECORD_IF_FAIL %]
							<input name="RECORD_IF_FAIL" type="checkbox" checked>
						[% ELSE %]
							<input name="RECORD_IF_FAIL" type="checkbox">
						[% END %]
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Record calls: </td>
					<td class='ext_pv'>
						[% IF VBOX_PREF.RECORD_CALL %]
							<input name="RECORD_CALL" type="checkbox" checked>
						[% ELSE %]
							<input name="RECORD_CALL" type="checkbox">
						[% END %]
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>RetryDial interval (sec): </td>
					<td class='ext_pv'>
						<input size='4' type='text' name='RETRYDIAL_INTERVAL' value='[% VBOX_PREF.RETRYDIAL_INTERVAL | html %]'>
						( 0-120, 0 - disable )
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Call attempts: </td>
					<td class='ext_pv'>
						<input size='4' type='text' name='RETRYDIAL_LOOPS' value='[% VBOX_PREF.RETRYDIAL_LOOPS | html %]'>
					</td>
				</tr>
				[% END %]

				[% IF VBOX_PREF.TYPE eq '6' %]
				<tr>
					<td class='ext_pn'>Request Method: </td>
					<td class='ext_pv'>
						<select name="TTS_METHOD">
						[% IF VBOX_PREF.TTS_METHOD eq 'POST' %]
							<option selected value="POST">POST</option>
							<option value="GET">GET</option>
						[% ELSE %]
							<option selected value="GET">GET</option>
							<option value="POST">POST</option>
						[% END %]
						</select>
					</td>
				</tr>
				<tr>
					<td class='ext_pn'>Text URL: </td>
					<td class='ext_pv'>
						<input size='30' type='text' name='TTS_URL' value='[% VBOX_PREF.TTS_URL | html %]'>
					</td>
				</tr>
				<tr>
					<td class='ext_pn'>Post params: </td>
					<td class='ext_pv'>
						<textarea rows='[% VBOX_PREF.TTS_POST_PARAMS | textarea_rows %]' cols='35' name='TTS_POST_PARAMS'>[% VBOX_PREF.TTS_POST_PARAMS | html %]</textarea>
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Quiet mode: </td>
					<td class='ext_pv'>
					[% IF VBOX_PREF.QUIET_MODE %]
						<input name="QUIET_MODE" type="checkbox" checked>
					[% ELSE %]
						<input name="QUIET_MODE" type="checkbox">
					[% END %]
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Read user params: </td>
					<td class='ext_pv'>
					[% IF VBOX_PREF.NEED_PARAMS %]
						<input name="NEED_PARAMS" type="checkbox" checked>
					[% ELSE %]
						<input name="NEED_PARAMS" type="checkbox">
					[% END %]
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Music on hold:</td>
					<td class='ext_pv'>
						<select name='MOH_ID'>
							[% FOREACH moh = MOH %]
								[% IF VBOX_PREF.MOH_ID eq moh.ID %]
									<option value="[% moh.ID | html %]" selected>[% moh.DESCRIPTION | html %]</option>
								[% ELSE %]
									<option value="[% moh.ID | html %]">[% moh.DESCRIPTION | html %]</option>
								[% END %]
							[% END %]
						</select>
					</td>
				</tr>
				[% END %]

				[% IF VBOX_PREF.TYPE eq '8' %]
				<tr>
					<td class='ext_pn'>Fax Header: </td>
					<td class='ext_pv'>
						<textarea rows='[% VBOX_PREF.HEADERINFO | textarea_rows %]' cols='35' name='HEADERINFO'>[% VBOX_PREF.HEADERINFO | html %]</textarea>
					</td>
				</tr>
				<tr>
					<td class='ext_pn'>Send notify email: </td>
					<td class='ext_pv'>
					[% IF VBOX_PREF.SENDNOTIFYEMAIL %]
						<input name="SENDNOTIFYEMAIL" type="checkbox" checked>
					[% ELSE %]
						<input name="SENDNOTIFYEMAIL" type="checkbox">
					[% END %]
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Send attachment: </td>
					<td class='ext_pv'>
					[% IF VBOX_PREF.SEND_ATTACH %]
						<input name="SEND_ATTACH" type="checkbox" checked>
					[% ELSE %]
						<input name="SEND_ATTACH" type="checkbox">
					[% END %]
				</td>
				<tr class='addon_info'>
					<td class='ext_pn'>Keep message on the server: </td>
					<td class='ext_pv'>
					[% IF VBOX_PREF.KEEP_MSG %]
						<input name="KEEP_MSG" type="checkbox" checked>
					[% ELSE %]
						<input name="KEEP_MSG" type="checkbox">
					[% END %]
					</td>
				</tr>
				[% END %]

				[% IF VBOX_PREF.TYPE eq '9' %]
				<tr>
					<td class='ext_pn'>Input pattern:</td>
					<td class='ext_pv'>
						<select name='DTMF_PATTERN_ID'>
							[% FOREACH dtmf = DTMF_PATTERN %]
								[% IF VBOX_PREF.DTMF_PATTERN_ID eq dtmf.ID %]
									<option value="[% dtmf.ID | html %]" selected>[% dtmf.DESCRIPTION | html %]</option>
								[% ELSE %]
									<option value="[% dtmf.ID | html %]">[% dtmf.DESCRIPTION | html %]</option>
								[% END %]
							[% END %]
						</select>
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Max digits: </td>
					<td class='ext_pv'>
						<input size='10' name="MAX_DIGITS" value="[% VBOX_PREF.MAX_DIGITS | html %]" type="text">
						( -1 for unlimit )
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Variable name: </td>
					<td class='ext_pv'>
						<input size='10' name="VAR_NAME" value="[% VBOX_PREF.VAR_NAME | html %]" type="text">
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Other vars: </td>
					<td class='ext_pv'>
						<textarea rows='[% VBOX_PREF.OTHER_VARS | textarea_rows %]' cols='35' name='OTHER_VARS'>[% VBOX_PREF.OTHER_VARS | html %]</textarea>
					</td>
				</tr>
				<tr>
					<td class='ext_pn'>Send notify email: </td>
					<td class='ext_pv'>
					[% IF VBOX_PREF.SENDNOTIFYEMAIL %]
						<input name="SENDNOTIFYEMAIL" type="checkbox" checked>
					[% ELSE %]
						<input name="SENDNOTIFYEMAIL" type="checkbox">
					[% END %]
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Send attachment: </td>
					<td class='ext_pv'>
					[% IF VBOX_PREF.SEND_ATTACH %]
						<input name="SEND_ATTACH" type="checkbox" checked>
					[% ELSE %]
						<input name="SEND_ATTACH" type="checkbox">
					[% END %]
				</td>
				<tr class='addon_info'>
					<td class='ext_pn'>Keep message on the server: </td>
					<td class='ext_pv'>
					[% IF VBOX_PREF.KEEP_MSG %]
						<input name="KEEP_MSG" type="checkbox" checked>
					[% ELSE %]
						<input name="KEEP_MSG" type="checkbox">
					[% END %]
					</td>
				</tr>
				[% END %]

				[% IF VBOX_PREF.TYPE eq '10' %]
				<tr>
					<td class='ext_pn'>Allow digits: </td>
					<td class='ext_pv'>
						<input size='10' name="ALLOW_DIGITS" value="[% VBOX_PREF.ALLOW_DIGITS | html %]" type="text">
						( comma separated )
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Uniq CIDs: </td>
					<td class='ext_pv'>
					[% IF VBOX_PREF.UNIQ_CIDS %]
						<input name="UNIQ_CIDS" type="checkbox" checked>
					[% ELSE %]
						<input name="UNIQ_CIDS" type="checkbox">
					[% END %]
					</td>
				</tr>
				[% END %]

				[% IF VBOX_PREF.TYPE eq '11' %]
				<tr class='addon_info'>
					<td class='ext_pn'>Music on hold:</td>
					<td class='ext_pv'>
						<select name='MOH_ID'>
							[% FOREACH moh = MOH %]
								[% IF VBOX_PREF.MOH_ID eq moh.ID %]
									<option value="[% moh.ID | html %]" selected>[% moh.DESCRIPTION | html %]</option>
								[% ELSE %]
									<option value="[% moh.ID | html %]">[% moh.DESCRIPTION | html %]</option>
								[% END %]
							[% END %]
						</select>
					</td>
				</tr>
				[% END %]

				[% IF VBOX_PREF.TYPE eq '12' %]
				<tr>
					<td class='ext_pn'>Podcast url (rss): </td>
					<td class='ext_pv'>
						<input size='30' name="PODCAST_URL" value="[% VBOX_PREF.PODCAST_URL | html %]" type="text">
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Play podcast announcement: </td>
					<td class='ext_pv'>
					[% IF VBOX_PREF.PODCAST_ANNOUNCEMENT %]
						<input name="PODCAST_ANNOUNCEMENT" type="checkbox" checked>
					[% ELSE %]
						<input name="PODCAST_ANNOUNCEMENT" type="checkbox">
					[% END %]
					</td>
				</tr>
				[% END %]

				[% IF VBOX_PREF.TYPE eq '13' %]
				<tr>
					<td class='ext_pn'>Agents list: </td>
					<td class='ext_pv'>
						<textarea rows='[% VBOX_PREF.CALL_NUMBER | textarea_rows %]' cols='35' name='CALL_NUMBER'>[% VBOX_PREF.CALL_NUMBER | html %]</textarea>
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Music on hold:</td>
					<td class='ext_pv'>
						<select name='MOH_ID'>
							[% FOREACH moh = MOH %]
								[% IF VBOX_PREF.MOH_ID eq moh.ID %]
									<option value="[% moh.ID | html %]" selected>[% moh.DESCRIPTION | html %]</option>
								[% ELSE %]
									<option value="[% moh.ID | html %]">[% moh.DESCRIPTION | html %]</option>
								[% END %]
							[% END %]
						</select>
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Ring strategy: </td>
					<td class='ext_pv'>
						<select name="CALL_TYPE">
						[% FOREACH ct = CALL_TYPES %]
							[% IF VBOX_PREF.CALL_TYPE eq ct.ID %]
								<option value="[% ct.ID %]" selected>[% ct.DESCRIPTION | html %]</option>
							[% ELSE %]
								<option value="[% ct.ID %]">[% ct.DESCRIPTION | html %]</option>
							[% END %]
						[% END %]
						</select> 
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Ring timeout (sec): </td>
					<td class='ext_pv'>
						<input size='30' type='text' name='RING_TIMEOUT' value='[% VBOX_PREF.RING_TIMEOUT | html %]'>
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Queue timeout (sec): </td>
					<td class='ext_pv'>
						<input size='30' type='text' name='Q_TIMEOUT' value='[% VBOX_PREF.Q_TIMEOUT | html %]'>
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Queue max waiting calls: </td>
					<td class='ext_pv'>
						<input size='30' type='text' name='Q_MAX_W_CALLS' value='[% VBOX_PREF.Q_MAX_W_CALLS | html %]'>
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Queue announce frequency (sec): </td>
					<td class='ext_pv'>
						<input size='30' type='text' name='ANNOUNCE_FREQUENCY' value='[% VBOX_PREF.ANNOUNCE_FREQUENCY | html %]'>
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Announce Queue holdtime: </td>
					<td class='ext_pv'>
					[% IF VBOX_PREF.ANNOUNCE_HOLDTIME %]
						<input name="ANNOUNCE_HOLDTIME" type="checkbox" checked>
					[% ELSE %]
						<input name="ANNOUNCE_HOLDTIME" type="checkbox">
					[% END %]
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Record calls: </td>
					<td class='ext_pv'>
						[% IF VBOX_PREF.RECORD_CALL %]
							<input name="RECORD_CALL" type="checkbox" checked>
						[% ELSE %]
							<input name="RECORD_CALL" type="checkbox">
						[% END %]
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Clean queue: </td>
					<td class='ext_pv'>
						[% IF VBOX_PREF.WAIT_BUSY_ONLY %]
							<input name="WAIT_BUSY_ONLY" type="checkbox" checked>
						[% ELSE %]
							<input name="WAIT_BUSY_ONLY" type="checkbox">
						[% END %]
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>CID Name preffix: </td>
					<td class='ext_pv'>
						<input size='30' type='text' name='CALLERID_PREF' value='[% VBOX_PREF.CALLERID_PREF | html %]'>
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>CRMs 
						<select name='crm' onchange='javascript:document.vb_opt.Q_URL.value=this.value'>
							<option selected value='[% VBOX_PREF.Q_URL | html %]'>Web URL</option>
							<option value='http://www.anywho.com/qry/wp_rl?npa=% CID:1:3 %&telephone=% CID:4:10 %'>AnyWho</option>
							<option value='http://www.google.com/search?rls=en&q=phonebook:% CID:1:10 %'>Google</option>
							<option value='http://www.phonenumber.com/10004/search/ReversePhone?phone=% CID:1:10 %'>Phone Number</option>
							<option value='http://www.switchboard.com/bin/cgirlookup.dll?SR=&MEM=1&TYPE=BOTH&PH=% CID:1:10 %&search.x=0&search.y=0&search=Search'>Switch board</option>
							<option value='http://www.whitepages.com/search/ReversePhone?full_phone=% CID:1:10 %&localtime=survey'>White Pages</option>
							<option value='https://REPLACEME/search/SearchResults?searchType=1&sen=003&setLast=1&sbstr=% CID:1:10 %'>Salesforce.com</option>
							<option value='http://${ YOUR HOST ADDRESS }:8080/vtigercrm/index.php?phone_number=% CID:1:10 %'>vtiger CRM</option>
						</select> :
					</td>
					<td class='ext_pv'>
						<input size='30' type='text' name='Q_URL' value='[% VBOX_PREF.Q_URL | html %]'>
					</td>
				</tr>
				[% END %]
				
				[% IF VBOX_PREF.TYPE eq '15' %]
				<tr class='addon_info'>
					<td class='ext_pn'>Time Zone</td>
					<td class='ext_pv'>
						<select name="TIME_ZONE">
						[% FOREACH t = TZ %]
							[% IF VBOX_PREF.TIME_ZONE eq t.ID %]
								<option value="[% t.ID | html %]" selected>[% t.DESCRIPTION | html %]</option>
							[% ELSE %]
								<option value="[% t.ID | html %]">[% t.DESCRIPTION | html %]</option>
							[% END %]
						[% END %]
						</select>
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Say date/time: </td>
					<td class='ext_pv'>
						[% IF VBOX_PREF.TIME_FORMAT == '0' %]
							<input name="TIME_FORMAT" type="radio" value="0" checked>
						[% ELSE %]
							<input name="TIME_FORMAT" type="radio" value="0">
						[% END %]
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Say time: </td>
					<td class='ext_pv'>
						[% IF VBOX_PREF.TIME_FORMAT == '1' %]
							<input name="TIME_FORMAT" type="radio" value="1" checked>
						[% ELSE %]
							<input name="TIME_FORMAT" type="radio" value="1">
						[% END %]
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Say date: </td>
					<td class='ext_pv'>
						[% IF VBOX_PREF.TIME_FORMAT == '2' %]
							<input name="TIME_FORMAT" type="radio" value="2" checked>
						[% ELSE %]
							<input name="TIME_FORMAT" type="radio" value="2">
						[% END %]
					</td>
				</tr>
				[% END %]
				
				[% IF VBOX_PREF.TYPE eq '16' %]
				<tr>
					<td class='ext_pn'>Fax Header: </td>
					<td class='ext_pv'>
						<textarea rows='[% VBOX_PREF.HEADERINFO | textarea_rows %]' cols='35' name='HEADERINFO'>[% VBOX_PREF.HEADERINFO | html %]</textarea>
					</td>
				</tr>
				[% END %]

				[% IF VBOX_PREF.TYPE eq '17' %]
				<tr class='addon_info'>
					<td class='ext_pn'>Max message duaration: </td>
					<td class='ext_pv'>
						<input size='8' name="MAX_MSG_DURATION" value="[% VBOX_PREF.MAX_MSG_DURATION | html %]" type="text">
						( in sec, -1 - for unlimit  )
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Min message duaration: </td>
					<td class='ext_pv'>
						<input size='8' name="MIN_MSG_DURATION" value="[% VBOX_PREF.MIN_MSG_DURATION | html %]" type="text">
						( in sec, -1 - for unlimit  )
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Secret key ( for rec ): </td>
					<td class='ext_pv'>
						<input size='8' name="SECRET_KEY" value="[% VBOX_PREF.SECRET_KEY | html %]" type="text">
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Post interval ( sec ): </td>
					<td class='ext_pv'>
						<input size='8' name="MSG_LIMITS" value="[% VBOX_PREF.MSG_LIMITS | html %]" type="text">
						<select name='bbs_ttl' onchange='javascript:document.vb_opt.MSG_LIMITS.value=this.value'>
							<option selected value='-1'>unlimit</option>
							<option value='3600'>1 hour</option>
							<option value='86400'>1 day</option>
							<option value='604800'>7 days</option>
							<option value='2592000'>30 days</option>
						</select>
					</td>
				</tr>
				[% END %]
				
				[% IF VBOX_PREF.TYPE eq '18' %]
				<tr>
					<td class='ext_pn'>Activate CallBlast: </td>
					<td class='ext_pv'>
						[% IF VBOX_PREF.ACTIVE %]
							<input name="ACTIVE" type="checkbox" checked>
						[% ELSE %]
							<input name="ACTIVE" type="checkbox">
						[% END %]
					</td>
				</tr>
				<tr>
					<td class='ext_pn'>Monitoring for greeting: </td>
					<td class='ext_pv'>
						[% IF VBOX_PREF.START_AFTER_CHANGE %]
							<input name="START_AFTER_CHANGE" type="checkbox" checked>
						[% ELSE %]
							<input name="START_AFTER_CHANGE" type="checkbox">
						[% END %]
					</td>
				</tr>
				<tr>
					<td class='ext_pn'>Start CallBlast at: </td>
					<td class='ext_pv'>
						<input name="START_TIMESTAMP" value="[% VBOX_PREF.START_TIMESTAMP | html %]" type="hidden">
						<input size='16' name="START_DATE" value="[% BLAST_START_DATE | html %]" type="text">
						&nbsp;yyyy/mm/dd hh:mm
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Ring timeout (sec): </td>
					<td class='ext_pv'>
						<input size='4' type='text' name='RING_TIMEOUT' value='[% VBOX_PREF.RING_TIMEOUT | html %]'>
						( 10 - 120 )
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>RetryDial interval (min): </td>
					<td class='ext_pv'>
						<input size='4' type='text' name='RETRYDIAL_INTERVAL' value='[% VBOX_PREF.RETRYDIAL_INTERVAL | html %]'>
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>RetryDial loops: </td>
					<td class='ext_pv'>
						<input size='4' type='text' name='RETRYDIAL_LOOPS' value='[% VBOX_PREF.RETRYDIAL_LOOPS | html %]'>
						( 0 - disable )
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Time Zone</td>
					<td class='ext_pv'>
						<select name="TIME_ZONE">
						[% FOREACH t = TZ %]
							[% IF VBOX_PREF.TIME_ZONE eq t.ID %]
								<option value="[% t.ID | html %]" selected>[% t.DESCRIPTION | html %]</option>
							[% ELSE %]
								<option value="[% t.ID | html %]">[% t.DESCRIPTION | html %]</option>
							[% END %]
						[% END %]
						</select>
					</td>
				</tr>
				[% END %]

				[% IF VBOX_PREF.TYPE eq '19' %]
				<tr>
					<td class='ext_pn'>Variable name: </td>
					<td class='ext_pv'>
						<input size='10' name="VAR_NAME" value="[% VBOX_PREF.VAR_NAME | html %]" type="text">
					</td>
				</tr>
				<tr>
					<td class='ext_pn'>Input pattern:</td>
					<td class='ext_pv'>
						<select name='DTMF_PATTERN_ID'>
							[% FOREACH dtmf = DTMF_PATTERN %]
								[% IF VBOX_PREF.DTMF_PATTERN_ID eq dtmf.ID %]
									<option value="[% dtmf.ID | html %]" selected>[% dtmf.DESCRIPTION | html %]</option>
								[% ELSE %]
									<option value="[% dtmf.ID | html %]">[% dtmf.DESCRIPTION | html %]</option>
								[% END %]
							[% END %]
						</select>
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Max digits: </td>
					<td class='ext_pv'>
						<input size='10' name="MAX_DIGITS" value="[% VBOX_PREF.MAX_DIGITS | html %]" type="text">
							( -1 for unlimit )
					</td>
				</tr>
				[% END %]

				[% IF VBOX_PREF.TYPE eq '20' %]
				<tr>
					<td class='ext_pn'>URL: </td>
					<td class='ext_pv'>
						<input size='30' type='text' name='WEBVAR_URL' value='[% VBOX_PREF.WEBVAR_URL | html %]'>
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Goto if request fail: </td>
					<td class='ext_pv'>
						<select name="GOTO_IF_FAIL">
							<option selected value="">------------------------------</option>
							[% FOREACH vb = VB_LIST %]
								[% IF vb.EXT_NUMBER eq VBOX_PREF.GOTO_IF_FAIL %]
							<option value="[% vb.EXT_NUMBER | html %]" selected>[% vb.EXT_NUMBER | html %] - [% vb.NAME | html %]</option>
								[% ELSE %]
							<option value="[% vb.EXT_NUMBER | html %]">[% vb.EXT_NUMBER | html %] - [% vb.NAME | html %]</option>
								[% END %]
							[% END %]
						</select>
						[% FOREACH vb = VB_LIST %]
							[% IF vb.EXT_NUMBER eq VBOX_PREF.GOTO_IF_FAIL %]
								<a href='?action=vb_view&id=[% vb.ID %]&uniq=[% USER_CREDS.UNIQ %]' title='edit extension'><img border='0' src='/xvb/images/vb_edit.png' alt='edit' /></a>
							[% END %]
						[% END %]
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Read user params: </td>
					<td class='ext_pv'>
					[% IF VBOX_PREF.NEED_PARAMS %]
						<input name="NEED_PARAMS" type="checkbox" checked>
					[% ELSE %]
						<input name="NEED_PARAMS" type="checkbox">
					[% END %]
					</td>
				</tr>
				[% END %]

				[% IF VBOX_PREF.TYPE eq '23' %]
				<tr class='addon_info'>
					<td class='ext_pn'>CallBack number: </td>
					<td class='ext_pv'>
						<input size='20' type='text' name='AC_CB_NUMBER' value='[% VBOX_PREF.AC_CB_NUMBER | html %]'>
						 ( null == callerid )
					</td>
				</tr>
				<tr>
					<td class='ext_pn'>Remove message after dial: </td>
					<td class='ext_pv'>
						[% IF VBOX_PREF.AC_AUTO_REMOVE %]
							<input name="AC_AUTO_REMOVE" type="checkbox" checked>
						[% ELSE %]
							<input name="AC_AUTO_REMOVE" type="checkbox">
						[% END %]
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Ring timeout (sec): </td>
					<td class='ext_pv'>
						<input size='4' type='text' name='RING_TIMEOUT' value='[% VBOX_PREF.RING_TIMEOUT | html %]'>
						( 10 - 120 )
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>RetryDial interval (sec): </td>
					<td class='ext_pv'>
						<input size='4' type='text' name='RETRYDIAL_INTERVAL' value='[% VBOX_PREF.RETRYDIAL_INTERVAL | html %]'>
						( 30 - 180 )
					</td>
				</tr>
				<tr class='addon_info'>
					<td class='ext_pn'>Call attempts: </td>
					<td class='ext_pv'>
						<input size='4' type='text' name='RETRYDIAL_LOOPS' value='[% VBOX_PREF.RETRYDIAL_LOOPS | html %]'>
					</td>
				</tr>
				[% END %]
				
				[% IF VBOX_PREF.TYPE eq '26' %]
				<tr>
					<td class='ext_pn'>URL: </td>
					<td class='ext_pv'>
						<input size='30' type='text' name='STREAM_URL' value='[% VBOX_PREF.STREAM_URL | html %]'>
					</td>
				</tr>
				[% END %]

				<tr><td colspan='2'>&nbsp;</td></tr>
				<tr>
					<td align='center'>
						<a id='xvb_view_mode_selector' href='#' onclick="return MoreExtOptions(this,0,'all options','core options')">&nbsp;</a>
						<script language='JavaScript'>MoreExtOptions(document.getElementById('xvb_view_mode_selector'),1,'all options','core options');</script>
					</td>
					<td colspan='2' align='center'>
						<input type='submit' value='&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;change&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'>
					</td>
				</tr>
				</form>
			</table>

			<td valign='top'>
			
			[% IF VBOX_PREF.TYPE eq '3' %]
			[% IF VB_DATA %]
			<table>
				<tr>
					<td><h4>Call statistics ( started [% CALL_STAT_DATE | html %] ):</h4></td>
				</tr>
				<tr>
					<td>
					<table width='100%' class='addon_data'>
						<tr class='list_data'>
							<th>Phone number</th>
							<th>All calls</th>
							<th>Answered calls</th>
							<th>Duaration</th>
							<th>Duration AVG</th>
							<th>RingTime AVG</th>
						</tr>
						[% FOREACH param = VB_DATA %]
						[% IF param.NUMBER eq '===' %]
						<tr align='center'>
							<td align='center'>
								<a href='?action=callout_clean&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return confirm( 'Are you sure you want to reset statistics ?' )" title='reset call statistics'><img border='0' src='/xvb/images/msg_delete.png' alt='del' /></a>
							</td>
						[% ELSE %]
						<tr align='center' class='addon_data'>
							<td align='left'>[% param.NUMBER | html %]</td>
						[% END %]
							<td>[% param.ALL | html %]</td>
							<td>[% param.ANSWERED | html %]</td>
							<td>[% param.DURATION | duration_str | html %]</td>
							<td>[% param.DURATION_AVG | duration_str | html %]</td>
							<td>[% param.RING_TIME_AVG | html %]</td>
						</tr>
						[% END %]
					</table>
					</td>
				</tr>
			</table>
			[% END %]
			[% END %]

			[% IF VBOX_PREF.TYPE eq '10' %]
			<table>
				<tr>
					<td><h4>Voting results ( started [% VOTING_STAT_DATE | html %] ):</h4></td>
				</tr>
				<tr>
					<td align='center'>
					<table width='90%' class='addon_data'>
					<tr>
						<td colspan='3'><pre>[% VBOX_PREF.GREETING | html %]</pre></td>
					</tr>
					<table width='90%' class='addon_data'>
						<tr class='list_data'>
							<th>Variant</th>
							<th>Count</th>
							<th>Percent</th>
						</tr>
						[% FOREACH param = VB_DATA %]
						[% IF param.DIGIT eq '===' %]
						<tr align='center'>
							<td align='center'>
								<a href='?action=voting_clean&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return confirm( 'Are you sure you want to reset statistics ?' )" title='reset voting results'><img border='0' src='/xvb/images/msg_delete.png' alt='del' /></a>
							</td>
						[% ELSE %]
						<tr align='center' class='addon_data'>
							<td>[% param.DIGIT | html %]</td>
						[% END %]
							<td>[% param.COUNT | html %]</td>
							<td>[% param.PRC | html %] %</td>
						</tr>
						[% END %]
					</table>
					</td>
				</tr>
			</table>
			[% END %]
					
			[% IF VBOX_PREF.TYPE eq '12' %]
			<table>
				<tr>
					<td align='left'><h4>Exists podcasts:</h4></td>
				</tr>
				<tr>
					<td align='center'>
					<table width='100%' class='addon_data'>
						<tr class='list_data' align='center'>
							<th>Create time</th>
							<th>Download time</th>
							<th>File size</th>
							<th>Duaration</th>
						</tr>
						[% FOREACH param = VB_DATA %]
						<tr align='center'>
							<td>[% param.CREATE_DATE | html %]</td>
							<td>[% param.DOWNLOAD_DATE | html %]</td>
							<td align='right'>[% param.FILE_SIZE | fsize %]</td>
							<td>[% param.DURATION | duration_str | html %]</td>
						</tr>
						[% END %]
					</table>
					</td>
				</tr>
			</table>
			[% END %]
					
			[% IF VBOX_PREF.TYPE eq '13' %]
			[% IF VB_DATA %]
			<table>
				<tr>
					<td colspan='2' align='left'><h4>Agent statistics ( started [% CALL_STAT_DATE | html %] ):</h4></td>
				</tr>
				<tr>
					<td colspan='2' align='center' width='100%'>
					<table width='100%' class='addon_data'>
						<tr class='list_data'>
							<th>Phone number</th>
							<th>All calls</th>
							<th>Answered calls</th>
							<th>Duaration</th>
							<th>Duration AVG</th>
							<th>RingTime AVG</th>
						</tr>
						[% FOREACH param = VB_DATA %]
						[% IF param.NUMBER eq '===' %]
						<tr align='center'>
							<td align='center'>
								<a href='?action=callout_clean&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return confirm( 'Are you sure you want to reset statistics ?' )" title='reset call statistics'><img border='0' src='/xvb/images/msg_delete.png' alt='del' /></a>
							</td>
						[% ELSE %]
						<tr align='center' class='addon_data'>
							<td align='left'>[% param.NUMBER | html %]</td>
						[% END %]
							<td>[% param.ALL | html %]</td>
							<td>[% param.ANSWERED | html %]</td>
							<td>[% param.DURATION | duration_str | html %]</td>
							<td>[% param.DURATION_AVG | duration_str | html %]</td>
							<td>[% param.RING_TIME_AVG | html %]</td>
						</tr>
						[% END %]
					</table>
					</td>
				</tr>
			</table>
			[% END %]
			[% END %]
			
			[% IF VBOX_PREF.TYPE eq '18' %]
			[% IF BLAST_STAT %]
			<table>
					<tr>
						<td colspan='2' align='left'><h4>CallBlast statistics:</h4></td>
					</tr>
					<tr>
						<td colspan='2' align='center' width='100%'>
						<table width='100%' class='addon_data'>
							<tr class='list_data'>
								<th>Call Status</th>
								<th>Count</th>
								<th>Percent</th>
							</tr>
							<tr align='right' class='addon_data'>
								<td>Success</td>
								<td>[% BLAST_STAT.success | html %]&nbsp;</td>
								<td>[% BLAST_STAT.success_prc | bill_float | html %] %&nbsp;</td>
							</tr>
							<tr align='right' class='addon_data'>
								<td>Failed</td>
								<td>[% BLAST_STAT.failed | html %]&nbsp;</td>
								<td>[% BLAST_STAT.failed_prc | bill_float | html %] %&nbsp;</td>
							</tr>
							<tr align='right' class='addon_data'>
								<td>Wait redial</td>
								<td>[% BLAST_STAT.failedwait | html %]&nbsp;</td>
								<td>[% BLAST_STAT.failedwait_prc | bill_float | html %] %&nbsp;</td>
							</tr>
							<tr align='right' class='addon_data'>
								<td>Wait</td>
								<td>[% BLAST_STAT.wait | html %]&nbsp;</td>
								<td>[% BLAST_STAT.wait_prc | bill_float | html %] %&nbsp;</td>
							</tr>
							<tr align='right'>
								<td>All records</td>
								<td>[% BLAST_STAT.all | html %]&nbsp;</td>
								<td>100.00 %&nbsp;</td>
							</tr>
						</table>
						</td>
					</tr>
			</table>
			[% END %]
			[% END %]
			</td>
		</tr>

			[% IF VBOX_PREF.TYPE eq '18' %]
			<tr><td colspan='3'>&nbsp;</td></tr>
			<tr>
				<td colspan='2' align='left'><h4>CallBlast data:</h4></td>
				<td align='right'>
					<a href='?action=callblast_del&id=[% VBOX_PREF.ID %]&data_id=all&uniq=[% USER_CREDS.UNIQ %]' onclick="return DelConfirm('en')" title='delete ALL callblast items'><img border='0' src='/xvb/images/msg_delete.png' alt='del all items' /></a>
				</td>
			</tr>
			<tr>
				<td colspan='3' align='center'>
				<table width='90%' class='addon_data'>
					<tr class='list_data'>
						<th>Name</th>
						<th>Phone Number</th>
						<th>Status</th>
						<th>Attempt</th>
						<th>Handle time</th>
						<th>Actions</th>
					</tr>
					[% FOREACH param = VB_DATA %]
					<tr align='center' class='backlight'>
						<form method="post" action="[% CGI_URL %]" onSubmit='return checkChanges(this.id)'>
						<input type='hidden' name='action' value='callblast_update'>
						<input type='hidden' name='id' value='[% VBOX_PREF.ID %]'>
						<input type='hidden' name='data_id' value='[% param.DATA_ID %]'>
						<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
						<td><input type='text' name='name' value='[% param.NAME | html %]' size='20'></td>
						<td><input size='30' type='text' name='pn' value='[% param.PHONE_NUMBER | html %]' size='15'></td>
						<td>
							[% IF param.PROCESS_TIMESTAMP < param.START_TIMESTAMP %]
								wait
							[% ELSIF param.CALL_STATUS contain 'success' %]
								<a class='success' href='?action=act_list&call_id=[% param.CALL_ID %]&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>[% param.CALL_STATUS | html %]</a>
							[% ELSIF param.CALL_STATUS %]
								<span class='error'>[% param.CALL_STATUS | html %]</span>
							[% ELSE %]
								unknown
							[% END %]
						</td>
						<td>[% param.ATTEMPT %]</td>
						<td>
							[% IF param.PROCESS_TIMESTAMP < param.START_TIMESTAMP %]
								---
							[% ELSE %]
								[% param.PROCESS_DATE | html %]
							[% END %]
						</td>
						<td align='center'>
							<table>
								<tr>
									<td>
										<a href='?action=callblast_del&id=[% VBOX_PREF.ID %]&data_id=[% param.DATA_ID | html %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return DelConfirm('en')" title='delete callblast item'><img border='0' src='/xvb/images/msg_delete.png' alt='del' /></a>
									</td>
									<td>
										<span class='in_t' id='in_t_id-[% param.DATA_ID %]'>
										<script language='JavaScript'>
											writeUpdateLinks( 'save changes' );
										</script>
										<noscript><input value='change' type='submit'></noscript>
										</span>
									</td>
								</tr>
							</table>
						</td>
						</form>
					</tr>
					[% END %]
					<tr align='center' class='nocolor'>
						<form method="post" action="[% CGI_URL %]" onSubmit='return checkChanges(this.id)'>
						<input type='hidden' name='action' value='callblast_add'>
						<input type='hidden' name='id' value='[% VBOX_PREF.ID %]'>
						<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
						<td><input type='text' name='name' value='' size='20'></td>
						<td><input size='30' type='text' name='pn' value='' size='15'></td>
						<td colspan='3'>&nbsp;</td>
						<td align='center'>
							<input type='submit' value='add'>
						</td>
						</form>
					</tr>
					</table>
				</td>
			</tr>
			[% END %]
	
		</table>
		</p>

	<p>
	<table width='95%' class='bottom_hr'>
		<tr align='center'>
			<td>
				<a class='headers' href='?action=j_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Journals</a>
			</td>
			<td>
				<a class='headers' href='?action=cdr_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>CDRs</a>
			</td>
			<td>
				<a class='headers' href='?action=msg_delete&clear_ext=1&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return confirm('Are you sure you want to delete all messages?')">Clear extension</a>
			</td>
			<td>
				<a class='headers' href='?action=msg_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>View messages</a>
			</td>
			<td>
				<a class='headers' href='?action=user_info&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>User prefs</a>
			</td>
		</tr>
	</table>
	</p>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</center>
</body>
</html>
