<html>
<!-- $Id: act_extstat.tt,v 1.25 2015/08/27 10:37:30 gosha Exp $ -->
<head>
	<title>Virtual PBX - Extension extended stats - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]

	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-ru.min.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	
	<script language="javascript">

		js_data = [% JS_DATA %];

		[% IF VBOX_PREF.TYPE eq '3' %]
		google.load("visualization", "1", {packages:["imagebarchart","corechart","table"]});
		google.setOnLoadCallback(drawAllChart);
		function drawAllChart() {
			ExtStatdrawChart1('STATUS','Все звонки / статус звонка',['Статус','Количество']);
			ExtStatdrawChart1('CAUSE','Все звонки / код разъединения',['Код разъединения','Количество']);
			ExtStatdrawChart1('DURATION','Отвеченные звонки / продолжительность (минуты)',['Продолжительность','Количество']);
			ExtStatdrawChart1('PN','Отвеченные звонки / телефоны',['Телефонный номер','Количество']);
			ExtStatdrawChart2('TERM',['NOANSWER'],'NOANSWER','Не отвеченные звонки / кто завершил',['Кто завершил','Количество']);
			ExtStatdrawChart2('TERM',['ANSWER'],'ANSWER','Отвеченные звонки / кто завершил',['Кто завершил','Количество']);
			ExtStatdrawChart2('RING_TIME',['NOANSWER'],'NOANSWER','Не отвеченные звонки/ время ожидания (сек)',['Время ожидания','Количество']);
			ExtStatdrawChart2('RING_TIME',['ANSWER'],'ANSWER','Отвеченные звонки / время ожидания (сек)',['Время ожидания','Количество']);
		}
		[% END %]
		[% IF VBOX_PREF.TYPE eq '10' %]
		google.load("visualization", "1", {packages:["imagebarchart","corechart","table"]});
		google.setOnLoadCallback(drawAllChart);
		function drawAllChart() {
			ExtStatdrawChart1('SUMMARY','Общий отчет',['Вариант ответа','Количество']);
		}
		[% END %]
		[% IF VBOX_PREF.TYPE eq '13' %]
		google.load("visualization", "1", {packages:["imagebarchart","corechart","table"]});
		google.setOnLoadCallback(drawAllChart);
		function drawAllChart() {
			ExtStatdrawChart1(	'STATUS',
								'Все звонки / статус звонка',
								['Статус','Количество'],
								'/ui?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&act_type=Queue&caller_id=[% CDR_CALLER_ID | html %]&action=ext_stat&uniq=[% USER_CREDS.UNIQ %]&id=[% VBOX_PREF.ID %]&data=_FILTER_&tg_filter=[% CDR_PERIOD | html %]***_PERIOD_',
								{ 'ANSWER':'%STATUS=ANSWER%', 'NOANSWER':'!%STATUS=ANSWER%' }
							);
			ExtStatdrawChart1(	'DURATION',
								'Отвеченные звонки / продолжительность (минуты)',
								['Продолжительность','Количество'],
								'/ui?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&act_type=Queue&caller_id=[% CDR_CALLER_ID | html %]&action=ext_stat&uniq=[% USER_CREDS.UNIQ %]&id=[% VBOX_PREF.ID %]&data=%STATUS=ANSWER%_FILTER_&tg_filter=[% CDR_PERIOD | html %]***_PERIOD_',
								{ '0-1':'<PPDF>DURATION:<:60</PPDF>', '1-3':'<PPDF>DURATION:>:59,DURATION:<:180</PPDF>', '3-5':'<PPDF>DURATION:>:179,DURATION:<:300</PPDF>', '5-9':'<PPDF>DURATION:>:299,DURATION:<:540</PPDF>', '9-':'<PPDF>DURATION:>:539</PPDF>' }
							);
			ExtStatdrawChart1(	'PN',
								'Отвеченные звонки / агенты',
								['Агент','Количество'],
								'/ui?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&act_type=Queue&caller_id=[% CDR_CALLER_ID | html %]&action=ext_stat&uniq=[% USER_CREDS.UNIQ %]&id=[% VBOX_PREF.ID %]&data=%PN=_FILTER_%&tg_filter=[% CDR_PERIOD | html %]***_PERIOD_'
							);
			ExtStatdrawChart1('PN_DURATION','Отвеченные звонки / агенты - длительность',['Агент','Секунды']);
			ExtStatdrawChart1(	'Q_NUM_OUT',
								'Не отвеченные звонки / позиция в очереди на момент выхода',
								['Позиция','Количество'],
								'/ui?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&act_type=Queue&caller_id=[% CDR_CALLER_ID | html %]&action=ext_stat&uniq=[% USER_CREDS.UNIQ %]&id=[% VBOX_PREF.ID %]&data=%Q_NUM=_FILTER_%&tg_filter=[% CDR_PERIOD | html %]***_PERIOD_'
							);
			ExtStatdrawChart2(	'Q_NUM',
								['ANSWER','NOANSWER'],
								'ALL',
								'Все звонки / позиция в очереди на момент входа',
								['Позиция','Количество'],
								'/ui?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&act_type=Queue&caller_id=[% CDR_CALLER_ID | html %]&action=ext_stat&uniq=[% USER_CREDS.UNIQ %]&id=[% VBOX_PREF.ID %]&data=%Q_NUM=_FILTER_%&tg_filter=[% CDR_PERIOD | html %]***_PERIOD_'
							);
			ExtStatdrawChart2(	'TERM',
								['ANSWER'],
								'ANSWER',
								'Отвеченные звонки / кто завершил',
								['Кто завершил','Количество'],
								'/ui?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&act_type=Queue&caller_id=[% CDR_CALLER_ID | html %]&action=ext_stat&uniq=[% USER_CREDS.UNIQ %]&id=[% VBOX_PREF.ID %]&data=%STATUS=ANSWER, TERM=_FILTER_%&tg_filter=[% CDR_PERIOD | html %]***_PERIOD_'
							);
			ExtStatdrawChart2(	'RING_TIME',
								['NOANSWER'],
								'NOANSWER',
								'Не отвеченные звонки/ время ожидания (сек)',
								['Время ожидания','Количество'],
								'/ui?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&act_type=Queue&caller_id=[% CDR_CALLER_ID | html %]&action=ext_stat&uniq=[% USER_CREDS.UNIQ %]&id=[% VBOX_PREF.ID %]&data=!%STATUS=ANSWER%_FILTER_&tg_filter=[% CDR_PERIOD | html %]***_PERIOD_',
								{ '00-10':'<PPDF>RING_TIME:<:10</PPDF>', '10-20':'<PPDF>RING_TIME:>:9,RING_TIME:<:20</PPDF>', '20-30':'<PPDF>RING_TIME:>:19,RING_TIME:<:30</PPDF>', '30-60':'<PPDF>RING_TIME:>:29,RING_TIME:<:60</PPDF>', '60-90':'<PPDF>RING_TIME:>:59,RING_TIME:<:90</PPDF>', '90-':'<PPDF>RING_TIME:>:90</PPDF>' }
							);
			ExtStatdrawChart2(	'RING_TIME',
								['ANSWER'],
								'ANSWER',
								'Отвеченные звонки / время ожидания (сек)',
								['Время ожидания','Количество'],
								'/ui?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&act_type=Queue&caller_id=[% CDR_CALLER_ID | html %]&action=ext_stat&uniq=[% USER_CREDS.UNIQ %]&id=[% VBOX_PREF.ID %]&data=%STATUS=ANSWER%_FILTER_&tg_filter=[% CDR_PERIOD | html %]***_PERIOD_',
								{ '00-10':'<PPDF>RING_TIME:<:10</PPDF>', '10-20':'<PPDF>RING_TIME:>:9,RING_TIME:<:20</PPDF>', '20-30':'<PPDF>RING_TIME:>:19,RING_TIME:<:30</PPDF>', '30-60':'<PPDF>RING_TIME:>:29,RING_TIME:<:60</PPDF>', '60-90':'<PPDF>RING_TIME:>:59,RING_TIME:<:90</PPDF>', '90-':'<PPDF>RING_TIME:>:90</PPDF>' }
							);
			ExtStatdrawChart2(	'RING_TIME',
								['ANSWER','NOANSWER'],
								'ALL',
								'Все звонки / время ожидания (сек)',
								['Время ожидания','Количество'],
								'/ui?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&act_type=Queue&caller_id=[% CDR_CALLER_ID | html %]&action=ext_stat&uniq=[% USER_CREDS.UNIQ %]&id=[% VBOX_PREF.ID %]&data=_FILTER_&tg_filter=[% CDR_PERIOD | html %]***_PERIOD_',
								{ '00-10':'<PPDF>RING_TIME:<:10</PPDF>', '10-20':'<PPDF>RING_TIME:>:9,RING_TIME:<:20</PPDF>', '20-30':'<PPDF>RING_TIME:>:19,RING_TIME:<:30</PPDF>', '30-60':'<PPDF>RING_TIME:>:29,RING_TIME:<:60</PPDF>', '60-90':'<PPDF>RING_TIME:>:59,RING_TIME:<:90</PPDF>', '90-':'<PPDF>RING_TIME:>:90</PPDF>' }
							);
		}
		[% END %]
		[% IF VBOX_PREF.TYPE eq '18' %]
		google.load("visualization", "1", {packages:["imagebarchart","corechart","table"]});
		google.setOnLoadCallback(drawAllChart);
		function drawAllChart() {
			ExtStatdrawChart1('ALL_STATUS','Все звонки / статус звонка',['Статус','Количество']);
			ExtStatdrawChart1('STATUS','Все звонки / успешные или нет',['Статус','Количество']);
			ExtStatdrawChart1('ATTEMPT','Все звонки / попытка звонка',['Номер попытки','Количество']);
			ExtStatdrawChart1('GOOD_ATTEMPT','Удачные звонки / попытка звонка',['Номер попытки','Количество']);
		}
		[% END %]
		[% IF VBOX_PREF.TYPE eq '27' %]
		google.load("visualization", "1", {packages:["imagebarchart","corechart","table"]});
		google.setOnLoadCallback(drawAllChart);
		function drawAllChart() {
			ExtStatdrawChart1('STATUS','Все звонки / статус звонка',['Статус','Количество']);
			ExtStatdrawChart2('RING_TIME',['NOANSWER'],'NOANSWER','Не отвеченные звонки/ время ожидания (сек)',['Время ожидания','Количество']);
			ExtStatdrawChart2('RING_TIME',['ANSWER'],'ANSWER','Отвеченные звонки / время ожидания (сек)',['Время ожидания','Количество']);
		}
		[% END %]
		[% IF VBOX_PREF.TYPE eq '31' %]
		google.load("visualization", "1", {packages:["imagebarchart","corechart","table"]});
		google.setOnLoadCallback(drawAllChart);
		function drawAllChart() {
			ExtStatdrawChart1('ALL_STATUS','Все звонки / статус звонка',['Статус','Количество']);
			ExtStatdrawChart1('STATUS','Все звонки / успешные или нет',['Статус','Количество']);
			ExtStatdrawChart1('DURATION','Отвеченные звонки / продолжительность (минуты)',['Продолжительность','Количество']);
			ExtStatdrawChart1('GOOD_ATTEMPT','Удачные звонки / попытка звонка',['Номер попытки','Количество']);
		}
		[% END %]
		var time_period = getTimePeriod( 'ru','[% CDR_PERIOD %]' );
		var period = time_period.period;
		var group_by = time_period.group_by;
	</script>
</head>

<body onLoad="XVBInit()">
	<center>
	
	<table width='100%'>
		<tr>
			<td align='left' width='10%'>
				<a href='?action=vb_view&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]' title="Параметры номера"><span class='icon-cog fs0'></span></a>
				<a href='?action=ext_stat&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]' title="Активность"><span class='icon-stats-bars fs0'></span></a>
			</td>
			<td align='center'>
				<h1>Внутренний номер #[% VBOX_PREF.EXT_NUMBER | html %] расширенная статистика</h1><h3>( [% CDR_HEADER %] 
				<script language='javascript'>
					document.write( ', период группировки: ' + period );
				</script>
			)</h3>
			</td>
		</tr>
	</table>
			
	<table width='100%'>
		<tr>
			<td align='right'>
			<form method="get" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#from_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							xdate: "00:00",
							button: ".next()"
						});
				});
				</script>
				<input placeholder='С даты' size='16' type='text' name='from_time' value='[% FROM_TIME | html %]' id='from_time'>
				<button type="button">...</button>
				&nbsp;
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#to_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							xdate: "23:59",
							button: ".next()"});
				});
				</script>
				<input placeholder='По дату' size='16' type='text' name='to_time' value='[% TO_TIME | html %]' id='to_time'>
				<button type="button">...</button>
				&nbsp;
				<input placeholder='Кто звонил' size='10' type='text' name='caller_id' value='[% CDR_CALLER_ID | html %]'>
				&nbsp;
				<input placeholder='Данные' size='15' type='text' name='data' value='[% CDR_DATA | html %]'>
				&nbsp;
				<select name='chart_group_period'>
				<script language='Javascript'>
					document.write( "<option selected value='"+ group_by +"'>"+ period +"</option>" );
				</script>
				<option value='min'>минута</option><option value='h'>час</option><option value='hd'>час дня</option><option value='d'>день</option><option value='dw'>день недели</option><option value='dm'>день месяца</option><option value='w'>неделя</option><option value='m'>месяц</option><option value='y'>год</option></select>
				&nbsp;
				<input name='action' value='extended_stat' type='hidden'>
				<input name='uniq' value='[% USER_CREDS.UNIQ %]' type='hidden'>
				<input name='id' value='[% VBOX_PREF.ID %]' type='hidden'>
				<input value='Найти' type='submit'>
				&nbsp;&nbsp;
			</form>
			</td>
		</tr>
	</table>

	[% IF DATA_EXISTS eq '0' %]
	[% ELSE %]
	<p class='white-bg'>
	[% IF VBOX_PREF.TYPE eq '3' %]
	<table width='100%' border='0' align='center' valign='top'>
		<tr><td valign='top' colspan='3' align='center'><br><h3>Статистика по звонкам</h3></td></tr>
		<tr>
			[% IF DATA_EXISTS eq '2' %]
			<td valign='top' width='33%'><div id="chart_STATUS_TOT"></div></td><td valign='top' width='33%'><div id="chart_STATUS"></div></td><td valign='top' width='33%'><div id="chart_STATUS_PRC"></div></td>
			[% ELSE %]
			<td></td><td valign='top' width='50%'><div id="chart_STATUS"></div></td><td valign='top' width='50%'><div id="chart_STATUS_PRC"></div></td>
			[% END %]
		</tr>
		
		<tr><td valign='top' colspan='3' align='center'><br><h3>Время ожидания ответа на звонок</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_RING_TIME_ANSWER_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_ANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_ANSWER_PRC"></div>
			</td>
		</tr>
		
		<tr><td valign='top' colspan='3'><br><br></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_RING_TIME_NOANSWER_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_NOANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_NOANSWER_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='3' align='center'><br><h3>Распределение звонков по телефонам</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_PN_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_PN"></div>
			</td>
			<td valign='top'>
				<div id="chart_PN_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='3' align='center'><br><h3>Завершение звонков</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_TERM_NOANSWER_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_TERM_NOANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_TERM_NOANSWER_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='3'><br><br></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_TERM_ANSWER_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_TERM_ANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_TERM_ANSWER_PRC"></div>
			</td>
		</tr>
		
		<tr><td valign='top' colspan='3' align='center'><br><h3>Продолжительность звонков</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_DURATION_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_DURATION"></div>
			</td>
			<td valign='top'>
				<div id="chart_DURATION_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='3' align='center'><br><h3>Техническая информация</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_CAUSE_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_CAUSE"></div>
			</td>
			<td valign='top'>
				<div id="chart_CAUSE_PRC"></div>
			</td>
		</tr>
	</table>
	[% END %]
	[% IF VBOX_PREF.TYPE eq '10' %]
	<table width='100%' border='0' align='center' valign='top'>
		<tr><td valign='top' colspan='3' align='center'><h5>[% VBOX_PREF.GREETING | html %]</h5></td></tr>
		<tr><td valign='top' colspan='3' align='center'><br><h3>Общий отчет</h3></td></tr>
		<tr>
			[% IF DATA_EXISTS eq '2' %]
			<td valign='top' width='33%'><div id="chart_SUMMARY_TOT"></div></td><td valign='top' width='33%'><div id="chart_SUMMARY"></div></td><td valign='top' width='33%'><div id="chart_SUMMARY_PRC"></div></td>
			[% ELSE %]
			<td></td><td valign='top' width='50%'><div id="chart_SUMMARY"></div></td><td valign='top' width='50%'><div id="chart_SUMMARY_PRC"></div></td>
			[% END %]
		</tr>
	</table>
	[% END %]
	[% IF VBOX_PREF.TYPE eq '13' %]
	<table width='100%' border='0' align='center' valign='top'>
		<tr><td valign='top' colspan='3' align='center'><br><h3>Статистика по звонкам</h3></td></tr>
		<tr>
			<td valign='top' align='center' colspan='3'>
			<table id='addon-data1' border='1'>
				<tr align='center'>
					<th rowspan='2'>Период</th>
					<th colspan='5'>Звонки</th>
					<th colspan='3'>Общие</th>
					<th colspan='3'>Средние</th>
					<th colspan='3'>Максимальные</th>
				</tr>
				<tr align='center'>
					<th>Поступило</th>
					<th>Принято</th>
					<th colspan='2'>Потеряно</th>
					<th>Переведено</th>
					<th>Ожид.потер.</th>
					<th>Ожид.прин.</th>
					<th>Разговор</th>

					<th>Ожид.потер.</th>
					<th>Ожид.прин.</th>
					<th>Разговор</th>
					
					<th>Ожид.потер.</th>
					<th>Ожид.прин.</th>
					<th>Позиция</th>
				</tr>
				[% FOREACH param = SUMMARY.PERIODS %]
				<tr class='nocolor' align='right'>
					<td>[% param.PERIOD | html %]</td>
					[% IF param.PERIOD eq '=' %]
					<td><a title='список звонков' href="?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&action=ext_stat&id=[% VBOX_PREF.ID %]&act_type=Queue&uniq=[% USER_CREDS.UNIQ %]">[% param.ALL_CALLS | html %]</a></td>
					<td><a title='список звонков' href="?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&data=%STATUS=ANSWER%&act_type=Queue&action=ext_stat&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]">[% param.A_ALL_CALLS | html %]</a></td>
					<td><a title='список звонков' href="?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&data=!%STATUS=ANSWER%&act_type=Queue&action=ext_stat&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]">[% param.N_ALL_CALLS | html %]</a></td>
					<td>[% param.N_ALL_CALLS_PRC | html %] %</td>
					<td><a title='список звонков' href="?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&data=!%STATUS=ANSWER%&act_type=Transfer&action=ext_stat&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]">[% param.TRAN_CALLS | html %]</a></td>
					[% ELSE %]
					<td><a title='список звонков' href="?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&tg_filter=[% CDR_PERIOD | html %]***[% param.PERIOD | html %]&action=ext_stat&id=[% VBOX_PREF.ID %]&act_type=Queue&uniq=[% USER_CREDS.UNIQ %]">[% param.ALL_CALLS | html %]</a></td>
					<td><a title='список звонков' href="?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&data=%STATUS=ANSWER%&tg_filter=[% CDR_PERIOD | html %]***[% param.PERIOD | html %]&act_type=Queue&action=ext_stat&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]">[% param.A_ALL_CALLS | html %]</a></td>
					<td><a title='список звонков' href="?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&data=!%STATUS=ANSWER%&tg_filter=[% CDR_PERIOD | html %]***[% param.PERIOD | html %]&act_type=Queue&action=ext_stat&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]">[% param.N_ALL_CALLS | html %]</a></td>
					<td>[% param.N_ALL_CALLS_PRC | html %] %</td>
					<td><a title='список звонков' href="?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&data=!%STATUS=ANSWER%&tg_filter=[% CDR_PERIOD | html %]***[% param.PERIOD | html %]&act_type=Transfer&action=ext_stat&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]">[% param.TRAN_CALLS | html %]</a></td>
					[% END %]
					<td>[% param.N_TOT_CALL_WAIT | duration_str | html %]</td>
					<td>[% param.A_TOT_CALL_WAIT | duration_str | html %]</td>
					<td>[% param.TOT_CALL_LENGTH | duration_str | html %]</td>
					<td>[% param.N_AVG_CALL_WAIT | duration_str | html %]</td>
					<td>[% param.A_AVG_CALL_WAIT | duration_str | html %]</td>
					<td>[% param.AVG_CALL_LENGTH | duration_str | html %]</td>
					<td>[% param.N_MAX_CALL_WAIT | duration_str | html %]</td>
					<td>[% param.A_MAX_CALL_WAIT | duration_str | html %]</td>
					<td>[% param.MAX_IN_POSITION | html %]</td>
				</tr>
				[% END %]
			</table>
			<script language='JavaScript'>listcolorer( 'addon-data1' );</script>
			</td>
			</tr>
		</tr>
		<tr>
			[% IF DATA_EXISTS eq '2' %]
			<td valign='top' width='33%'><div id="chart_STATUS_TOT"></div></td><td valign='top' width='33%'><div id="chart_STATUS"></div></td><td valign='top' width='33%'><div id="chart_STATUS_PRC"></div></td>
			[% ELSE %]
			<td></td><td valign='top' width='50%'><div id="chart_STATUS"></div></td><td valign='top' width='50%'><div id="chart_STATUS_PRC"></div></td>
			[% END %]
		</tr>
		
		<tr><td valign='top' colspan='3' align='center'><br><h3>Время ожидания ответа на звонок</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_RING_TIME_TOT_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_TOT_PRC"></div>
			</td>
		</tr>
		
		<tr><td valign='top' colspan='3'><br><br></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_RING_TIME_ANSWER_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_ANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_ANSWER_PRC"></div>
			</td>
		</tr>
		
		<tr><td valign='top' colspan='3'><br><br></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_RING_TIME_NOANSWER_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_NOANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_NOANSWER_PRC"></div>
			</td>
		</tr>
		<tr><td valign='top' colspan='3' align='center'><br><h3>Продолжительность звонков</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_DURATION_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_DURATION"></div>
			</td>
			<td valign='top'>
				<div id="chart_DURATION_PRC"></div>
			</td>
		</tr>
			
		<tr><td valign='top' colspan='3' align='center'><br><h3>Распределение звонков по агентам</h3></td></tr>
		<tr align='center'>
			<td valign='top' colspan='3'>
				<table valign='top' width='80%' border='1'>
					<tr>
						<th rowspan='2'>Агент</th>
						<th rowspan='2' colspan='2'>Звонки</th>
						<th colspan='2'>Длительность</th>
						<th rowspan='2'>Среднее время<br> до ответа</th>
						<th colspan='2'>Рабочее время</th>
					</tr>
					<tr>
						<th>всех</th>
						<th>средяняя</th>
						<th>длительность</th>
						<th>% КПД</th>
					</tr>
					[% FOREACH param = SUMMARY.AGENTS %]
					<tr class='nocolor' align='right'>
						<td><a title='список звонков' href="?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&data=%PN=[% param.NUMBER | html %]%&act_type=Queue&action=ext_stat&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]">[% param.NUMBER | html %]</a></td>
						<td>[% param.CALLS | html %]</td>
						<td>[% param.CALLS_PRC | html %] %</td>
						<td>[% param.DURATION | duration_str | html %]</td>
						<td>[% param.AVG_DURATION | duration_str | html %]</td>
						<td>[% param.AVG_WAIT | html %]</td>
						<td>[% param.WORK_TIME | duration_str %]</td>
						<td>[% param.KPD %]</td>
					</tr>
					[% END %]
				</table>
			</td>
		</tr>
		<tr>
			<td valign='top'>
				<div id="chart_PN_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_PN"></div>
			</td>
			<td valign='top'>
				<div id="chart_PN_PRC"></div>
			</td>
		</tr>
		<tr>
			<td valign='top'>
				<div id="chart_PN_DURATION_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_PN_DURATION"></div>
			</td>
			<td valign='top'>
				<div id="chart_PN_DURATION_PRC"></div>
			</td>
		</tr>
		<tr><td valign='top' colspan='3' align='center'><br><h3>Завершение звонков</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_TERM_ANSWER_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_TERM_ANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_TERM_ANSWER_PRC"></div>
			</td>
		</tr>
		

		<tr><td valign='top' colspan='2' align='center'><br><h3>Положение в очереди</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_Q_NUM_OUT_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_Q_NUM_OUT"></div>
			</td>
			<td valign='top'>
				<div id="chart_Q_NUM_OUT_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='23'><br><br></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_Q_NUM_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_Q_NUM"></div>
			</td>
			<td valign='top'>
				<div id="chart_Q_NUM_PRC"></div>
			</td>
		</tr>
	</table>
	[% END %]
	[% IF VBOX_PREF.TYPE eq '18' %]
	<table width='100%' border='0' align='center' valign='top'>
		<tr><td valign='top' colspan='3' align='center'><br><h3>Все звонки / статус</h3></td></tr>
		<tr>
			[% IF DATA_EXISTS eq '2' %]
			<td valign='top' width='33%'><div id="chart_ALL_STATUS_TOT"></div></td><td valign='top' width='33%'><div id="chart_ALL_STATUS"></div></td><td valign='top' width='33%'><div id="chart_ALL_STATUS_PRC"></div></td>
			[% ELSE %]
			<td></td><td valign='top' width='50%'><div id="chart_ALL_STATUS"></div></td><td valign='top' width='50%'><div id="chart_ALL_STATUS_PRC"></div></td>
			[% END %]
		</tr>
		
		<tr><td valign='top' colspan='3' align='center'><br><h3>Все звонки / удачные или нет</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_STATUS_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_STATUS"></div>
			</td>
			<td valign='top'>
				<div id="chart_STATUS_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='3' align='center'><br><h3>Все звонки / попытка звонка</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_ATTEMPT_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_ATTEMPT"></div>
			</td>
			<td valign='top'>
				<div id="chart_ATTEMPT_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='3' align='center'><br><h3>Успешные звонки / попытка звонка</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_GOOD_ATTEMPT_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_GOOD_ATTEMPT"></div>
			</td>
			<td valign='top'>
				<div id="chart_GOOD_ATTEMPT_PRC"></div>
			</td>
		</tr>
	</table>
	[% END %]
	[% IF VBOX_PREF.TYPE eq '27' %]
	<table width='100%' border='0' align='center' valign='top'>
		<tr><td valign='top' colspan='3' align='center'><br><h3>Статистика по звонкам</h3></td></tr>
		<tr>
			[% IF DATA_EXISTS eq '2' %]
			<td valign='top' width='33%'><div id="chart_STATUS_TOT"></div></td><td valign='top' width='33%'><div id="chart_STATUS"></div></td><td valign='top' width='33%'><div id="chart_STATUS_PRC"></div></td>
			[% ELSE %]
			<td></td><td valign='top' width='50%'><div id="chart_STATUS"></div></td><td valign='top' width='50%'><div id="chart_STATUS_PRC"></div></td>
			[% END %]
		</tr>
		
		<tr><td valign='top' colspan='3' align='center'><br><h3>Время ожидания на парковке</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_RING_TIME_ANSWER_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_ANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_ANSWER_PRC"></div>
			</td>
		</tr>
		
		<tr><td valign='top' colspan='3'><br><br></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_RING_TIME_NOANSWER_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_NOANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_NOANSWER_PRC"></div>
			</td>
		</tr>
	</table>
	[% END %]
	[% IF VBOX_PREF.TYPE eq '31' %]
	<table width='100%' border='0' align='center' valign='top'>
		<tr><td valign='top' colspan='3' align='center'><br><h3>Все звонки / статус</h3></td></tr>
		<tr>
			[% IF DATA_EXISTS eq '2' %]
			<td valign='top' width='33%'><div id="chart_ALL_STATUS_TOT"></div></td><td valign='top' width='33%'><div id="chart_ALL_STATUS"></div></td><td valign='top' width='33%'><div id="chart_ALL_STATUS_PRC"></div></td>
			[% ELSE %]
			<td></td><td valign='top' width='50%'><div id="chart_ALL_STATUS"></div></td><td valign='top' width='50%'><div id="chart_ALL_STATUS_PRC"></div></td>
			[% END %]
		</tr>
		
		<tr><td valign='top' colspan='3' align='center'><br><h3>Все звонки / удачные или нет</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_STATUS_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_STATUS"></div>
			</td>
			<td valign='top'>
				<div id="chart_STATUS_PRC"></div>
			</td>
		</tr>
		<tr><td valign='top' colspan='3' align='center'><br><h3>Успешные звонки / попытка звонка</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_GOOD_ATTEMPT_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_GOOD_ATTEMPT"></div>
			</td>
			<td valign='top'>
				<div id="chart_GOOD_ATTEMPT_PRC"></div>
			</td>
		</tr>
		<tr><td valign='top' colspan='3' align='center'><br><h3>Продолжительность звонков</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_DURATION_TOT"></div>
			</td>
			<td valign='top'>
				<div id="chart_DURATION"></div>
			</td>
			<td valign='top'>
				<div id="chart_DURATION_PRC"></div>
			</td>
		</tr>
	</table>
	[% END %]
	</p>

	[% END %]
	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>

