<html>
<!-- $Id: cdrs_list.tt,v 1.34 2012-06-04 13:58:04 gosha Exp $ -->
<head>
	<title>Virtual PBX - Список звонков - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-ru.min.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
	<p>
	<table width='95%' class='logo'>
		<tr>
			<td align='left' width='20%'>
			[% IF USER_CREDS.LOGO_HREF eq '' %]
				<img border='0' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			[% ELSE %]
				<img border='0' src='[% USER_CREDS.LOGO_HREF %]' alt='Virtual PBX' />
			[% END %]
			</td>
			<td align='center'><h2>Список звонков</h2></td>
			<td align='right' width='20%'><a href=?action=logout>выход</a></td>
		</tr>
	</table>
	
	<p>	
	<table width='95%' class='top_hr'>
		<tr align='left'>
			<td>
				<a href='?action=user_info&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Профиль пользователя</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=j_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>События</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=vb_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Список номеров</a>
			</td>
		</tr>
	</table>
	</p>
		
	<p>
	<table width='95%' class='list_data' id='d-tbl'>
		[% IF USE_BILLING %]
		<tr class='list_data'>
			<th>Начало звонка</th>
			<th>Номер звонящего</th>
			<th>Длительность</th>
			<th>Стоимость</th>
			<th>Номер назначения</th>
			<th>Тип</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='6'>
				<a title='предыдущая страница' href='?action=cdr_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]&from=[% MSG_PREV %]&call_type=[% CDR_CALL_TYPE %]&caller_id=[% CDR_CALLER_ID | html %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]'><img border='0'  src='/xvb/images/msg_prev.png' alt='[% MSG_PREV %] &lt;=' /></a>
			</td>
		</tr>
		[% END %]

		[% FOREACH msg = CDR_LIST %]
			<tr class='nocolor' align='center'>
				<td><a title='детализация звонка' href='?action=act_list&call_id=[% msg.CALL_ID %]&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>[% msg.CDR_DATE | html %]</a></td>
				<td>[% msg.CALLER_ID | html %]</td>
				<td>[% msg.CDR_DURATION | duration_str %]</td>
				<td align='right'>[% msg.COST %] ([% msg.DESCRIPTION | locale_msg %])</td>
				<td>[% msg.CALLED_ID | html %]</td>
				<td>[% msg.CALL_TYPE | locale_msg %]</td>
			</tr>
		[% END %]

		<tr>
		[% IF MSG_NEXT ne '' %]
			<td align='right' colspan='6'>
				<a title='следующая страница' href='?action=cdr_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]&from=[% MSG_NEXT %]&call_type=[% CDR_CALL_TYPE %]&caller_id=[% CDR_CALLER_ID | html %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]'><img border='0'  src='/xvb/images/msg_next.png' alt='[% MSG_NEXT %] &lt;=' /></a>
			</td>
		[% ELSE %]
			<td colspan='6'>&nbsp;</td>
		[% END %]
		</tr>
		[% ELSE %]
		<tr class='list_data'>
			<th>Начало звонка</th>
			<th>Номер звонящего</th>
			<th>Длительность</th>
			<th>Номер назначения</th>
			<th>Тип</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='5'>
				<a title='предыдущая страница' href='?action=cdr_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]&from=[% MSG_PREV %]&call_type=[% CDR_CALL_TYPE %]&caller_id=[% CDR_CALLER_ID | html %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]'><img border='0'  src='/xvb/images/msg_prev.png' alt='[% MSG_PREV %] &lt;=' /></a>
			</td>
		</tr>
		[% END %]

		[% FOREACH msg = CDR_LIST %]
			<tr class='nocolor' align='center'>
				<td><a title='детализация звонка' href='?action=act_list&call_id=[% msg.CALL_ID %]&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>[% msg.CDR_DATE | html %]</a></td>
				<td>[% msg.CALLER_ID | html %]</td>
				<td>[% msg.CDR_DURATION | duration_str %]</td>
				<td>[% msg.CALLED_ID | html %]</td>
				<td>[% msg.CALL_TYPE | locale_msg %]</td>
			</tr>
		[% END %]

		<tr>
		[% IF MSG_NEXT ne '' %]
			<td align='right' colspan='5'>
				<a title='следующая страница' href='?action=cdr_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]&from=[% MSG_NEXT %]&call_type=[% CDR_CALL_TYPE %]&caller_id=[% CDR_CALLER_ID | html %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]'><img border='0'  src='/xvb/images/msg_next.png' alt='[% MSG_NEXT %] &lt;=' /></a>
			</td>
		[% ELSE %]
			<td colspan='5'>&nbsp;</td>
		[% END %]
		</tr>
		[% END %]
	</table>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>
	
	<p>	
	<table width='95%' class='bottom_hr'>
		<tr>
			<form method="get" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
			<td align='right'>
				С даты:
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#from_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							button: ".next()"
						});
				});
				</script>
				<input size='16' type='text' name='from_time' value='[% FROM_TIME | html %]' id='from_time'>
				<button type="button">...</button>
				&nbsp;
				По дату:
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#to_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							button: ".next()"
						});
				});
				</script>
				<input size='16' type='text' name='to_time' value='[% TO_TIME | html %]' id='to_time'>
				<button type="button">...</button>
				&nbsp;
				Звонящий:
				<input name='action' value='cdr_list' type='hidden'>
				<input size='10' type='text' name='caller_id' value='[% CDR_CALLER_ID | html %]'>
				<input name='uniq' value='[% USER_CREDS.UNIQ %]' type='hidden'>
				<input name='id' value='[% ROOT_EXT_ID %]' type='hidden'>
				<select name="call_type">
					<option selected value="" >тип звонка</option>
					<option value="" >все звонки</option>
					<option value="incoming">входящий</option>
					<option value="local">локальный</option>
					<option value="transit">транзит</option>
					<option value="internal">внутрений</option>
					<option value="callback">обратный</option>
					<option value="callblast">информатор</option>
					<option value="alarmclock">будильник</option>
					<option value="service">сервисный</option>
				</select>
				<input value='Найти' type='submit'>
				<input name='need_excel' value='Excel' type='submit'>
				<script language='JavaScript'>
					document.write("<input name='need_chart' value='Графики' type='submit'>");
					document.write("<select name='chart_group_period'><option selected value=''>группировать по</option><option value='min'>минута</option><option value='h'>час</option><option value='hd'>час дня</option><option value='d'>день</option><option value='dw'>день недели</option><option value='dw'>день месяца</option><option value='w'>неделя</option><option value='m'>месяц</option></select>");
				</script>
				&nbsp;
			</td>
			</form>
		</tr>
	</table>
	</p>
	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
	
