<html>
<!-- $Id: cdrs_act_list.tt,v 1.19 2023/03/08 20:32:43 gosha Exp $ -->
<head>
	<title>Virtual PBX - Детализация звонка - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
			
	<h1>Детализация звонка</h1>
	
	<p>
	<table width='100%' id='d-tbl'>
		<tr>
			<th class='rad_l'>Время действия</th>
			<th>Кто звонил</th>
			<th>Вн. номер</th>
			<th>Действие</th>
			<th>Длительность</th>
			<th width='25%' class='rad_r'>Данные</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='6'>
				<a title='предыдущая страница' href='?action=act_list&uniq=[% USER_CREDS.UNIQ %]&from=[% MSG_PREV %]&call_id=[% CDR_CALL_ID | html %]'><span class='fs0'>◄</span></a>
			</td>
		</tr>
		[% END %]
		
		[% FOREACH msg = CDR_LIST %]
			<tr class='nocolor' align='center'>
				<td class='simple'>[% msg.CDR_DATE | html %]</td>
				<td>
				[% IF msg.CNAM %]
					'[% msg.CNAM | html %]'&nbsp;&nbsp;&lt;[% msg.CALLER_ID | html %]&gt;
				[% ELSE %]
					[% msg.CALLER_ID | html %]
				[% END %]
				</td>
				<td align='left'>
				[% IF msg.EXT_ID %]
				&nbsp;
				<a href='?action=vb_view&id=[% msg.EXT_ID | html %]&uniq=[% USER_CREDS.UNIQ %]'>[% msg.EXT_NUMBER | html %]</a>
				[% ELSIF msg.TYPE eq 'Call' %]
				<a href='?action=cid_add&cid_list_type=1&cid_type=2&uniq=[% USER_CREDS.UNIQ %]&cid=[% msg.CALLER_ID | html %]&description=for call at [% msg.CDR_DATE | html %]' title='Добавить номер в глобальный черный список'><span class='icon-libreoffice fs1'></span></a>
				[% ELSE %]
				&nbsp;
				[% msg.EXT_NUMBER | html %]
				[% END %]
				</td>
				<td align='left'>[% msg.TYPE | locale_msg %]</td>
				<td>[% msg.CDR_DURATION | duration_str %]</td>
				<td align='left'>[% msg.DATA | html %]</td>
			</tr>
		[% END %]
		[% IF MSG_NEXT ne '' %]
		<tr>
			<td align='right' colspan='6'>
				<a title='следующая страница' href='?action=act_list&uniq=[% USER_CREDS.UNIQ %]&from=[% MSG_NEXT %]&call_id=[% CDR_CALL_ID | html %]'><span class='fs0'>►</span></a>
			</td>
		</tr>
		[% END %]
	</table>
	</p>
	
	<script language='JavaScript'>
		var download_file_url="<a title='скачать' href='[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download/$1/[% USER_CREDS.ACCESS_CODE %]/$2.[% USER_CREDS.SOUND_FORMAT %]?media=[% USER_CREDS.SOUND_FORMAT %]'>FILE</a>";
		var callback_cdr_url="$1<a title='Информация о звонке' href='?action=act_list&call_id=$2&uniq=[% USER_CREDS.UNIQ %]'>CALL</a>";
		var listen_file_url="<a title='слушать' onclick=\"return ShowPlayer('[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download/$1/[% USER_CREDS.ACCESS_CODE %]/$2?media=mp3;type=listen' )\" href='#'><span class='icon-volume-medium fs0'></span></a>";
		var js_date_str="[% JS_DATE_STR | html %]-История нажатий DTMF";
		cdrfilters( 'd-tbl', 5, 'new_line' );
		listcolorer( 'd-tbl' );
	</script>

	</p>
	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center' style='display:none;'><script language='JavaScript'>ShowPlayer( 'init',0 );</script></div>
	</body>
</html>
