<html>
<!-- $Id: cidfilters_core.tt,v 1.11 2018/01/05 16:01:42 gosha Exp $ -->
<head>
	<title>Virtual PBX - CID фильтры - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
	
	<table width='100%'>
		<tr>
			<td align='center' width='92%'><h1>
			[% IF CID_LIST_TYPE eq '1' %]
				Черный список
			[% ELSE %]
				Белый список
			[% END %]
			абонентов
			</h1></td>
			<td align='right' nowrap='nowrap'>
				<a title='в формате excel' href='?action=cid_list&id=[% VBOX_PREF.ID %]&cid_list_type=[% CID_LIST_TYPE %]&cid_type=2&uniq=[% USER_CREDS.UNIQ %]&need_excel=1'"><span class='icon-file-excel fs0'></span></a>
				<a title='удалить все фильтры' href='?action=cid_del&drop_all=1&data_id=all&cid_type=2&cid_list_type=[% CID_LIST_TYPE %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return DelConfirm('ru')" title='удалить все фильтры'><span class='icon-bin-all fs2'></span></a>
			</td>
		</tr>
	</table>

	<table width='100%' id='d-tbl'>
		<tr>
			<th class='rad_l'>Номер звонящего</th>
			<th>Описание</th>
			<th class='rad_r'>&nbsp;</th>
		</tr>

		[% FOREACH param = CID_LIST %]
		<tr align='center' class='nocolor' id='d-tr-[% param.DATA_ID %]'>
		<form method="post" action="[% CGI_URL %]" id='f-[% param.DATA_ID %]' onSubmit='return xmlhttpPost(this,1)'>
			<input type='hidden' name='action' value='cid_update'>
			<input type='hidden' name='data_id' value='[% param.DATA_ID %]'>
			<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>

			<td><input class='in_t0' size='50' name='cid' type='text' value='[% param.CID | html %]'></td>
			<td><input class='in_t0' size='60' name='description'  type='text' value='[% param.DESCRIPTION | html %]'></td>
	
			<td align='right' nowrap='nowrap'>
				<span class='in_t' id='in_t_id-[% param.DATA_ID %]'>
					<a href='#' onclick="return xmlhttpPost(document.getElementById('f-[% param.DATA_ID %]'),1);"><span class='icon-floppy-disk fs0 blink' title='сохранить изменения'></span></a>
					<noscript><input value='Сохранить изменения' type='submit'></noscript>
				</span>
				<a href='?action=cid_del&uniq=[% USER_CREDS.UNIQ %]&data_id=[% param.DATA_ID %]' onclick="return xmlhttpDel(this,'ru','d-tr-[% param.DATA_ID %]')" title='удалить запись'><span class='icon-bin fs0'></span></a>
			</td>
		</form>
		</tr>
		[% END %]
		<tr align='center'>
		<form method="post" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
			<input type='hidden' name='action' value='cid_add'>
			<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
			<input type='hidden' name='cid_list_type' value='[% CID_LIST_TYPE %]'>
			<input type='hidden' name='cid_type' value='2'>
			
			<td><input size='50'  name='cid' type='text'></td>
			<td><input size='60' name='description'  type='text'></td>
			
			<td align='center'>
				<input type='submit' value='Добавить'>
			</td>
		</form>
		</tr>
	</table>
	<span><a name="addarea">&nbsp;</a><span>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
	
