<html>
<!-- $Id: crm_info.tt,v 1.11 2018/09/05 18:44:43 gosha Exp $ -->
<head>
	<title>Virtual PBX - Информация о клиенте - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	[% IF C2C_SECRET %]
	<script language='Javascript' src='/xvb/js/base64.js'></script>
	[% END %]
</head>

<body onLoad="XVBInit()">
	<center>
			
	<table width='100%'>
		<tr>
			<td align='left' width='10%'>
				<a href='?action=msg_list_all&uniq=[% USER_CREDS.UNIQ %]&any_did=[% ANY_DID | html %]' title="Сообщения"><span class='icon-folder-open fs0'></span></a>
				<a href='?action=cdr_list&uniq=[% USER_CREDS.UNIQ %]&any_did=[% ANY_DID | html %]' title="История звонков"><span class='icon-stats-bars fs0'></span></a>
			</td>
			<td align='center'><h1>Информация о клиенте</h1></td>
			<td align='right' width='10%'>
				<a href='?action=crm_del&data_id=[% CRM.DATA_ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return DelConfirm('ru')" title="Удалить"><span class='icon-bin-all fs2'></span></a>
			</td>
		</tr>
	</table>

	<p>
	<table width='100%'>
		<tr>
		<td width='35%' valign='top'>
		<table>
		<form method="post" action="[% CGI_URL %]" onSubmit='return xmlhttpPost(this,0)'>
		<tr>
			<td>Клиент:</td>
			<td>
				<textarea rows='[% CRM.C_NAME | textarea_rows %]' cols='25' name='cname'>[% CRM.C_NAME | html %]</textarea>
			</td>
		</tr>
		<tr>
			<td>Описание:</td>
			<td>
				<textarea rows='[% CRM.C_NOTE | textarea_rows %]' cols='25' name='description'>[% CRM.C_NOTE | html %]</textarea>
			</td>
		</tr>
		<tr>
			<td>
				Переменные:
			</td>
			<td>
				<textarea rows='[% CRM.C_VARS | textarea_rows %]' cols='25' name='vars'>[% CRM.C_VARS | html %]</textarea>
			</td>
		</tr>
		<tr>
			<td align='center' colspan='2'>
				<input type='hidden' name='data_id' value='[% CRM.DATA_ID %]'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<input type='hidden' name='action' value='crm_update'>
				<input type='submit' value='Сохранить изменения'>
			</td>
		</tr>
		</form>
		</table>
		</td>
		<td valign='top'>
		<h4>Контакты:</h4>	
		<table id='d-tbl'>
			<tr>
				<th class='rad_l'>Имя</th>
				<th>Фамилия</th>
				<th>Телефон</th>
				<th>Быстрый набор</th>
				<th class='rad_r'>&nbsp;</th>
			</tr>

			[% FOREACH param = PBOOK_LIST %]
			<tr align='center' class='nocolor' id='d-tr-[% param.DATA_ID %]'>
			<form method="post" action="[% CGI_URL %]" id='f-[% param.DATA_ID %]' onSubmit='return xmlhttpPost(this,1)'>
				<input type='hidden' name='action' value='pbook_update'>
				<input type='hidden' name='data_id' value='[% param.DATA_ID %]'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>

				<td><input class='in_t0' size='15' name='fn' type='text' value='[% param.FIRST_NAME | html %]'></td>
				<td><input class='in_t0' size='15' name='ln' type='text' value='[% param.LAST_NAME | html %]'></td>
				<td><input class='in_t0' size='17' name='ph' type='text' value='[% param.PHONE | html %]'></td>
				<td><input class='in_t0' size='10' name='shortcut' type='text' value='[% param.SHORTCUT | html %]'></td>
	
				<td align='right' nowrap='nowrap'>
					<span class='in_t' id='in_t_id-[% param.DATA_ID %]'>
						<a href='#' onclick="return xmlhttpPost(document.getElementById('f-[% param.DATA_ID %]'),1);"><span class='icon-floppy-disk fs0 blink' title='сохранить изменения'></span></a>
						<noscript><input value='Сохранить изменения' type='submit'></noscript>
					</span>
							
					[% IF C2C_SECRET %]
					<a title='Click2Call' href='#' onclick="click2call_win('https://[% USER_CREDS.DOWNLOAD_IP %]','[% C2C_SECRET %]','[% USER_CREDS.ACCESS_CODE %]','ru','CRM_DID=[% param.PHONE | html %]')"><span class='icon-phone fs0'></span></a>
					[% END %]

					<a href='?action=pbook_del&data_id=[% param.DATA_ID %]&uniq=[% USER_CREDS.UNIQ %]'  onclick="return xmlhttpDel(this,'ru','d-tr-[% param.DATA_ID %]')" title='удалить элемент'><span class='icon-bin fs0'></span></a>
				</td>
			</form>
			</tr>
			[% END %]
			<tr align='center' id='submit_row'>
			<a name="addarea">&nbsp;</a>
			<form method="post" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
				<input type='hidden' name='action' value='pbook_add'>
				<input type='hidden' name='crm_id' value='[% CRM.DATA_ID %]'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
			
				<td><input size='15' name='fn' type='text'></td>
				<td><input size='15' name='ln' type='text'></td>
				<td><input size='17' name='ph' type='text'></td>
				<td><input size='10' name='shortcut' type='text'></td>
				
				<td align='center'>
					<input type='submit' value='Добавить'>
				</td>
			</form>
			</tr>
		</table>
		</td>
		</tr>
		<tr>
		<td colspan='2' nowrap='nowrap' valign='top'>
			<h4>Коментарии</h4>
			<table>
			<tr>
			<td>
			<a name="addarea">&nbsp;</a>
			<form method="post" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
				<input type='hidden' name='action' value='crm_n_add'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<input type='hidden' name='customer_id' value='[% CRM.DATA_ID %]'>
				<textarea rows='2' cols='60' name='description'></textarea>
			</td>
			<td>
				<input type='submit' value='Добавить коментарий'>
			</td>
			</form>
			</tr>
		</table>
		</td>
	</tr>
	</table>
	</p>
		
	<table id='d-tbl-n'>
	[% FOREACH param = NOTES %]
		<tr align='left' class='nocolor' id='d-tr-n-[% param.DATA_ID %]'>
			<td valign='top' align='left'>
			<br/>
			<b>
			[% IF param.CALL_ID %]
				<a title='детализация звонка' href='?action=act_list&call_id=[% param.CALL_ID %]&uniq=[% USER_CREDS.UNIQ %]'>[% param.NOTE_DATE | html %]</a>
			[% ELSE %]
				[% param.NOTE_DATE | html %]
			[% END %]
			</b>
			<br/>
		[% IF param.CALL_TYPE %]
			<form method="post" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
				<input type='hidden' name='action' value='crm_n_add'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<input type='hidden' name='customer_id' value='[% CRM.DATA_ID %]'>
				<input type='hidden' name='call_id' value='[% param.CALL_ID %]'>
				<input type='hidden' name='file_name' value='[% param.FILE_NAME %]'>
				<input type='hidden' name='type' value='Call'>
				<input type='hidden' name='ts' value='[% param.START_TIMESTAMP %]'>
				<input type='hidden' name='call_detail' value='[% param.CNAM | html %] [% param.CALLER_ID | html %]  ==&gt;  [% param.CALLED_ID | html %], [% param.CDR_DURATION | duration_str %]'>
				<input type='hidden' name='call_status' 
				[% IF param.DATA contain 'STATUS=ANSWER' %] value='1'><span> [% ELSE %] value='0'><span class='warning-font'>[% END %]
				Звонок: [% param.CNAM | html %] [% param.CALLER_ID | html %]  ==&gt;  [% param.CALLED_ID | html %], [% param.CDR_DURATION | duration_str %]
				</span>
				<br />	
				<textarea rows='2' cols='80' name='description'></textarea>
			</td>
			<td align='right' nowrap='nowrap'>
				[% IF param.FILE_NAME %]
				<a title='прослушать' 
					onclick="return ShowPlayer('https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download[% param.FILE_NAME %]?media=mp3;type=listen' )"
					href="#"><span class='icon-volume-medium fs0'></span></a>
				[% END %]
				
				<input type='submit' value='+'>
			</td>
			</form>
		[% ELSE %]
			[% IF param.CALL_DETAIL %]
				[% IF param.CALL_STATUS %]
					<span>
				[% ELSE %]
					<span class='warning-font'>
				[% END %]
				Звонок: 
				[% param.CALL_DETAIL | html %]
				</span>
				<br />
			[% END %]
			<form method="post" action="[% CGI_URL %]" id='f-n-[% param.DATA_ID %]' onSubmit='return xmlhttpPost(this,1)'>
				<input type='hidden' name='action' value='crm_n_update'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<input type='hidden' name='customer_id' value='[% CRM.DATA_ID %]'>
				<input type='hidden' name='data_id' value='[% param.DATA_ID %]'>
				<input type='hidden' name='img_id' value='in_t_id-n-[% param.DATA_ID %]'>
				<textarea rows='[% param.NOTE | textarea_rows %]' cols='80' name='description' class='in_t0'>[% param.NOTE | html %]</textarea>
			</td>
			<td align='right' nowrap='nowrap'>
				
				<span class='in_t' id='in_t_id-n-[% param.DATA_ID %]'>
					<a href='#' onclick="return xmlhttpPost(document.getElementById('f-n-[% param.DATA_ID %]'),1);"><span class='icon-floppy-disk fs0 blink' title='сохранить изменения'></span></a>
					<noscript><input value='Сохранить изменения' type='submit'></noscript>
				</span>
				
				[% IF param.FILE_NAME %]
				<a title='прослушать' 
					onclick="return ShowPlayer('https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download[% param.FILE_NAME %]?media=mp3;type=listen' )"
					href="#"><span class='icon-volume-medium fs0'></span></a>
				[% END %]
				
				<a href='?action=crm_n_del&data_id=[% param.DATA_ID %]&customer_id=[% CRM.DATA_ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return xmlhttpDel(this,'ru','d-tr-n-[% param.DATA_ID %]','d-tbl-n')" title='удалить элемент'><span class='icon-bin fs0'></span></a>
			</td>
			</form>
		[% END %]
		</tr>
	[% END %]
	</table>

	<script language='JavaScript'>
	listcolorer( 'd-tbl' );
	listcolorer( 'd-tbl-n' );
	</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>
	
