<html>
<!-- $Id: crm_list.tt,v 1.6 2018/01/05 16:01:42 gosha Exp $ -->
<head>
	<title>Virtual PBX - Справочник клиентов - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
			
	<table width='100%'>
		<tr>
			<td align='center'><h1>Справочник клиентов</h1></td>
		</tr>
	</table>
	
	<table width='100%'>
		<tr>
			<form method="get" action="[% CGI_URL %]" onSubmit='return checkChanges(this)' id='find-form'>
			<td align='right'>
				<input name='action' value='crm_list' type='hidden'>
				<input size='10' type='text' name='name' value='[% CRM_NAME | html %]' placeholder='Клиент'>
				&nbsp;
				<input size='15' type='text' name='desc' value='[% CRM_DESC | html %]' placeholder='Описание'>
				&nbsp;
				<input name='uniq' value='[% USER_CREDS.UNIQ %]' type='hidden'>
				<input value='Найти' type='submit'>
			</td>
			</form>
		</tr>
	</table>

	<table width='100%' id='d-tbl'>
		<tr>
			<th class='rad_l'>Клиент</th>
			<th>Переменные</th>
			<th>Описание</th>
			<th class='rad_r'>&nbsp;</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='4'>
				<a title='предыдущая страница' href='?action=crm_list&uniq=[% USER_CREDS.UNIQ %]&from=[% MSG_PREV %]&name=[% CRM_NAME | htmlstricr %]&desc=[% CRM_DESC | htmlstrict %]'><span class='fs0'>◄</span></a>
			</td>
		</tr>
		[% END %]

		[% FOREACH param = CRM_LIST %]
		<tr align='left' class='nocolor' id='d-tr-[% param.DATA_ID %]'>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='?action=crm_info&data_id=[% param.DATA_ID %]&uniq=[% USER_CREDS.UNIQ %]'>[% param.C_NAME | html %]</a></td>
			<td>[% param.C_VARS | html %]</td>
			<td>[% param.C_NOTE | html %]</td>
			<td align='right' nowrap='nowrap'>
				<a href='?action=crm_del&data_id=[% param.DATA_ID %]&uniq=[% USER_CREDS.UNIQ %]'  onclick="return xmlhttpDel(this,'ru','d-tr-[% param.DATA_ID %]')" title='удалить элемент'><span class='icon-bin fs0'></span></a>
			</td>
		</form>
		</tr>
		[% END %]
		[% IF MSG_NEXT ne '' %]
		<tr>
			<td align='right' colspan='4'>
				<a title='следующая страница' href='?action=crm_list&uniq=[% USER_CREDS.UNIQ %]&from=[% MSG_NEXT %]&name=[% CRM_NAME | htmlstricr %]&desc=[% CRM_DESC | htmlstrict %]'><span class='fs0'>►</span></a>
			</td>
		</tr>
		[% END %]
		<tr align='center' id='submit_row'>
		<a name="addarea">&nbsp;</a>
		<form method="post" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
			<input type='hidden' name='action' value='crm_add'>
			<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
			
			<td><input size='18' name='cname' type='text'></td>
			<td><input size='18' name='vars' type='text'></td>
			<td><input size='20' name='description' type='text'></td>
			
			<td align='center'>
				<input type='submit' value='Добавить'>
			</td>
		</form>
		</tr>
	</table>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>
	
