<html>
<!-- $Id: login.tt,v 1.11 2024/08/10 20:00:51 gosha Exp $ -->
<head>
	<title>Virtual PBX - вход</title>
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
	
	<table width='100%'>
		<tr>
			<td align='left' width='20%'>
				<img width='120' border='0' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td align='center'><h1>Добро пожаловать в Виртуальную АТС</h1></td>
			<td align='right' width='20%'>
				<!--<a href='/xvb/XVB.pdf?a=msg_download' title='документация пользователя'><span class='icon-question fs0'></span></a>-->
			</td>
		</tr>
	</table>

	<p align='center'>
	<table width='50%' class='half-width'>
		<form method='post' target='_top'>
			<tr>
				<td>Логин&nbsp;</td>
				<td><input name='phone' type='text'></td>
				<td><i>( код-доступа@публичный-номер-телефона )</i></td>
			</tr>
			<tr>
				<td>Пароль&nbsp;</td>
				<td><input name='pw' type='password'></td>
				<td><i>( пин-код от внутреннего номера )</i></td>
			</tr>
			<tr>
				<td>Внутренний номер&nbsp;</td>
				<td><input name='ext_id' type='text' value='0'></td>
				<td><i>( необязательное поле )</i></td>
			</tr>
			<tr>
				<td colspan='3'>&nbsp;</td>
			</tr>
			<tr>
				<td colspan='2' align='center'>
					<input name='referer' type='hidden' value='[% REFERER | html %]'>
					<input name='action' type='hidden' value='start'>
					<input name='lang' type='hidden' value='[% USER_CREDS.LANG_NAME | html %]'>
					<input type='submit' value='Войти'>
				</td>
				<td>&nbsp;</td>
			</tr>
		</form>
	</table>
	</p>

	<p>
	<table width='100%'>
		<tr align='center'>
			<td>&nbsp;
			[% IF ERROR_STR ne '' %]
				<span class='error'>[% ERROR_STR | html %]</span>
			[% END %]
			</td>
		</tr>
	</table>
	</p>
	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>
