<html>
<!-- $Id: macros_list.tt,v 1.10 2023/08/09 19:39:37 gosha Exp $ -->
<head>
	<title>Virtual PBX - Макросы - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
	
	<h1>Макросы</h1>
	
	<table width='100%'>
		<tr>
			<td align='left'>
				<form enctype="multipart/form-data" method="post" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
					<input type='submit' value='Импорт из CSV'>
					<input type='file' name='config_file'>
					<input type='hidden' name='section' value='MACROS'>
					<input type='hidden' name='action' value='restore'>
					<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
					<input type='hidden' name='is_excel' value='1'>
				</form>
			</td>
			<td align='right'>
				<a title='в формате excel' href='?action=macros_list&uniq=[% USER_CREDS.UNIQ %]&need_excel=1&from=all'"><span class='icon-file-excel fs0'></span></a>
			</td>
		</tr>
	</table>

	<p>
	<table width='100%' id='d-tbl'>
		<tr>
			<th class='rad_l'>Имя</th>
			<th>Описание</th>
			<th>Данные</th>
			<th class='rad_r'>&nbsp;</th>
		</tr>
		
		[% FOREACH m = MACROS %]
		<tr align='center' class='nocolor' id='d-tr-[% m.ID %]'>
			<form method="post" action="[% CGI_URL %]" id='f-[% m.ID %]' onSubmit='return xmlhttpPost(this,1)'>
			<td><input class='in_t0' size="25" name='NAME' type='text' value='[% m.MACRO_NAME | html %]'></td>
			<td><input class='in_t0' size="40" name='DESCRIPTION' type='text' value='[% m.DESCRIPTION | html %]'></td>
			<td>
				<textarea class='in_t0' rows='[% m.DATA | textarea_rows %]' cols='35' name='DATA'>[% m.DATA | html %]</textarea>
			</td>
			<td align='right' nowrap='nowrap'>
				<input type='hidden' value='[% m.ID %]' name='data_id'>
				<input type='hidden' value='macros_update' name='action'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<span class='addon_info' id='in_t_id-[% m.ID %]'>
					<a href='#' onclick="return xmlhttpPost(document.getElementById('f-[% m.ID %]'),1);"><span class='icon-floppy-disk fs0 blink' title='сохранить изменения'></span></a>
					<noscript><input value='Сохранить измения' type='submit'></noscript>
				</span>
				<a title='удалить макрос' href='?action=macros_del&data_id=[% m.ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return xmlhttpDel(this,'ru','d-tr-[% m.ID %]')"><span class='icon-bin fs0'></span></a>
			</td>
			</form>
		</tr>
		[% END %]
		<tr align='center'>
			<form method='post' action='[% CGI_URL %]' onSubmit='return checkChanges(this)'>
			<td><input size="25" name='NAME' type='text'></td>
			<td><input size="40" name='DESCRIPTION' type='text'></td>
			<td><input size="35" name='DATA' type='text'></td>
			<td>
				<input type='hidden' value='macros_add' name='action'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<input value='Добавить' type='submit'>
			</td>
			</form>
		</tr>
	</table>
	<a name="addarea">&nbsp;</a>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
