<html>
<!-- $Id: menu.tt,v 1.21 2015/10/10 11:14:22 gosha Exp $ -->
<head>
	<title>Virtual PBX - main menu</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<meta http-equiv="refresh" content="[% REFRESH %]" />
</head>

<body>
	<p align='left'>
		<img border='0' width='120' alt='XVB - Virtual PBX'
		[% IF USER_CREDS.LOGO_HREF eq '' %]
			 src='/xvb/images/logo-small.png'
		[% ELSE %]
			src='[% USER_CREDS.LOGO_HREF %]'
		[% END %]
		/>
	</p>
	<p align='left'>
		
		<ul>
	[% IF USER_CREDS.ROOT eq '0' %]
			<li><a class='amenu' target='xvb_data' href='?action=user_info&uniq=[% USER_CREDS.UNIQ %]'>Профиль</a></li>
			
	[% END %]
			<li><a class='amenu' target='xvb_data' href='?action=vb_list&uniq=[% USER_CREDS.UNIQ %]'>IVR / входящие</a></li>
			
			<li><a class='amenu' target='xvb_data' href='?action=msg_list_all&msg_type=30:40:41:42:43&uniq=[% USER_CREDS.UNIQ %]'>Сообщения</a></li>
			
	[% IF USER_CREDS.ROOT eq '0' %]
			<li><a class='amenu' target='xvb_data' href='?action=cdr_list&uniq=[% USER_CREDS.UNIQ %]'>История звонков</a></li>
			
			[% IF USER_CREDS.ALLOW_CTR %]
				<li><a class='amenu' target='xvb_data' href='?action=calls_list&uniq=[% USER_CREDS.UNIQ %]'>Текущие звонки</a></li>
			[% END %]
			
			<li><a class='amenu' target='xvb_data' href='?action=cdr_list&need_chart=1&uniq=[% USER_CREDS.UNIQ %]'>Статистика АТС</a></li>

			<li><a class='amenu' target='xvb_data' href='?action=act_list_all&uniq=[% USER_CREDS.UNIQ %]'>Активность</a></li>
			
			<li><a class='amenu' target='xvb_data' href='?action=pbook_list&uniq=[% USER_CREDS.UNIQ %]'>Телефонная книга</a></li>
			
			[% IF USER_CREDS.ALLOW_PHONES %]
				<li><a class='amenu' target='xvb_data' href='?action=phone_list&uniq=[% USER_CREDS.UNIQ %]'>Телефоны</a></li>
			
			[% END %]
			[% IF USER_CREDS.CUSTOM_ROUTE %]
			[% IF USER_CREDS.MAX_PEERS %]
				<li><a class='amenu' target='xvb_data' href='?action=peer_list&uniq=[% USER_CREDS.UNIQ %]'>SIP Шлюзы</a></li>
			
			[% END %]
				<li><a class='amenu' target='xvb_data' href='?action=route_list&uniq=[% USER_CREDS.UNIQ %]'>Маршруты</a></li>
			
			[% END %]
			[% IF USER_CREDS.MAX_C2C_ITEMS %]
				<li><a class='amenu' target='xvb_data' href='?action=c2c_list&uniq=[% USER_CREDS.UNIQ %]'>Click2Call</a></li>
			
			[% END %]
			<li><a class='amenu' target='xvb_data' href='?action=cid_list&cid_list_type=2&cid_type=2&uniq=[% USER_CREDS.UNIQ %]'>Белый список</a></li>
			
			<li><a class='amenu' target='xvb_data' href='?action=cid_list&cid_list_type=1&cid_type=2&uniq=[% USER_CREDS.UNIQ %]'>Черный список</a></li>
			
			<li><a class='amenu' target='xvb_data' href='?action=j_list&uniq=[% USER_CREDS.UNIQ %]'>Журнал операций</a></li>
			[% IF USER_CREDS.ALLOW_MACROS %]
			
			<li><a class='amenu' target='xvb_data' href='?action=macros_list&uniq=[% USER_CREDS.UNIQ %]'>Макросы</a></li>
			[% END %]
	[% END %]
			
			<li><a class='amenu' target='_top' href=?action=logout>Выход</a></li>
		</ul>
	</p>
</body>
</html>
