<html>
<!-- $Id: messages_list_all.tt,v 1.28 2016/01/11 12:44:46 gosha Exp $ -->
<head>
	<title>Virtual PBX - Все сообщения - Ac:[% USER_CREDS.ACCESS_CODE | html %], Ext: [% USER_CREDS.ROOT | html %]</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-ru.min.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
			
	<table width='100%'>
		<tr align='left'>
			<td width='15%'>
				<a href='?action=get_itunes_all&uniq=[% USER_CREDS.UNIQ %]' title="Подкасты"><span class='icon-podcast fs0'></span></a>
				<a href='?action=get_rss_all&uniq=[% USER_CREDS.UNIQ %]' title="Rss"><span class='icon-feed3 fs0'></span></a>
			</td>
			<td align='center'>
				<h1>Сообщения</h1>
			</td>
			<td align='right' width='15%'>
				<a href='#' onclick="return SubmitConfirm('ru','Вы действительно хотите удалить ВСЕ найденные сообщения ?')"><span class='icon-cross fs0'></span></a>
			</td>
		</tr>
	</table>

	<table width='100%'>
		<tr>
			<td align='right'>
				<form method="get" action="[% CGI_URL %]" onSubmit='return checkChanges(this)' id='find-form'>
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#from_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							xdate: "00:00",
							button: ".next()"
						});
				});
				</script>
				<input size='16' type='text' name='from_time' value='[% FROM_TIME | html %]' id='from_time' placeholder='С даты'>
				<button type="button">...</button>
				&nbsp;
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#to_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							xdate: "23:59",
							button: ".next()"
						});
				});
				</script>
				<input size='16' type='text' name='to_time' value='[% TO_TIME | html %]' id='to_time' placeholder='По дату'>
				<button type="button">...</button>
				<input name='action' value='msg_list_all' type='hidden'>
				<input name='any_did' value='[% ANY_DID | html %]' type='hidden'>
				<input name='uniq' value='[% USER_CREDS.UNIQ %]' type='hidden'>
				&nbsp;
				<input size='10' type='text' name='caller_id' value='[% CALLER_ID | html %]' placeholder='Кто звонил'>
				&nbsp;
				<input size='10' type='text' name='called_id' value='[% CALLED_ID | html %]' placeholder='Кому звонил'>
				&nbsp;
				<input size='11' type='text' placeholder='Длительность' name='duration' value='[% DURATION | html %]'>
				&nbsp;
				<select name="msg_type" id='msg_type_selector'>
					<option selected='selected' value="">Любые сообщения</option>
					<option value="30:40:41:42:43">Все пользовательские</option>
					<option value="1:2:3:4:5:6">Все системные</option>
					<option value=",1">Только голосовые</option>
					<option value=",0">Факсы / DTMF</option>
					<option value="1">Имя пользователя</option>
					<option value="2">Приветствие пользователя</option>
					<option value="3">Анонс исходящего звонка</option>
					<option value="4">Анонс удержания вызова</option>
					<option value="5">Музыка вместо звонка</option>
					<option value="6">Факс по запросу</option>
					<option value="30">Новое сообщение</option>
					<option value="40">Старое сообщение</option>
					<option value="40:30">Голосовая почта</option>
					<option value="41">Запись звонка</option>
				</select>
				&nbsp;
				<input value='Найти' type='submit'>
				<input name='find_and_delete' value='' type='hidden' id='find-flt'>
				</form>
				<script langiage='JavaScript'>setActiveSelector('msg_type_selector',"[% MSG_TYPE | html %]");</script>
			</td>
		</tr>
	</table>
	<table width='100%' id='d-tbl'>
		[% IF MSG_LIST scalar %]
		<tr>
			<th>#</th>
			<th>Номер</th>
			<th>Дата</th>
			<th>&nbsp;</th>
			<th>Кто звонил</th>
			<th>Кому звонил</th>
			<th>Длительность</th>
			<th>Размер</th>
			<th>Тип</th>
			<th>&nbsp;</th>
		</tr>
		<tr>
		[% IF MSG_PREV ne '' %]
			<td align='left' colspan='9'>
				<a title='предыдущая страница ([% MSG_PREV %])' href='?action=msg_list_all&duration=[% DURATION | html %]&id=[% VBOX_PREF.ID %]&msg_type=[% MSG_TYPE | html %]&called_id=[% CALLED_ID | htmlstrict %]&caller_id=[% CALLER_ID | htmlstrict %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&uniq=[% USER_CREDS.UNIQ %]&from=[% MSG_PREV %]&any_did=[% ANY_DID | html %]'><span class='fs0'>◄</span></a>
		[% END %]
		</tr>
		[% FOREACH msg = MSG_LIST %]
		<tr class='nocolor' id='d-tr-[% msg.FILE_NAME %]'>
			<td>&nbsp;[% msg.MSG_NUM %]</td>
			<td>&nbsp;<a href='?action=vb_view&id=[% msg.ID | html %]&uniq=[% USER_CREDS.UNIQ %]'>[% msg.EXT_NUMBER | html %]</a></td>
			[% IF msg.IS_VOICE %]
			<td align='center'>
				<a class='msg' id='msg[% msg.MSG_NUM %]' title='скачать сообщение' href='https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download/[% msg.ID %]/[% USER_CREDS.ACCESS_CODE %]/[% msg.FILE_NAME %].[% USER_CREDS.SOUND_FORMAT %]?media=[% USER_CREDS.SOUND_FORMAT %]'>[% msg.MSG_DATE | html %]</a>
			</td>
			<td align='left'>
				<a title='прослушать' 
					onclick="return ShowPlayer('https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download/[% msg.ID %]/[% USER_CREDS.ACCESS_CODE %]/[% msg.FILE_NAME %]?media=mp3;type=listen','[% msg.MSG_NUM %]' )"
					href="#"><span class='icon-volume-medium fs0'></span></a>
			</td>
			[% ELSE %]
			<td align='center'>
				<a class='msg' title='скачать файл' href='https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download/[% msg.ID %]/[% USER_CREDS.ACCESS_CODE %]/[% msg.FILE_NAME %]'>[% msg.MSG_DATE | html %]</a>
			</td>
			<td></td>
			[% END %]
			<td>
				<a title='детализация звонка' href="?action=act_list&call_id=[% msg.CALL_ID %]&uniq=[% USER_CREDS.UNIQ %]">[% msg.CALLERID | html %]</a>
			</td>
			<td>[% msg.CALLEDID | html %]</td>
			[% IF msg.IS_VOICE %]
				<td align='center'>[% msg.DURATION | duration_str | html %]</td>
			[% ELSE %]
				<td align='center'>--------</td>
			[% END %]
			<td align='right'>[% msg.FILE_SIZE | fsize %]&nbsp;</td>
			<td>[% msg.DESCRIPTION | locale_msg %]</td>
			<td align='right' nowrap='nowrap'>
				[% IF msg.FILE_TYPE eq '30' %]
					<a title='Пометить как старое' href='?action=msg_status&uniq=[% USER_CREDS.UNIQ %]&msg=[% msg.FILE_NAME %]&id=[% msg.ID %]&status=40'><span class='icon-loop2 fs0'></span></a>
				[% ELSIF msg.FILE_TYPE eq '40' %]
					<a title='Пометить как новое' href='?action=msg_status&uniq=[% USER_CREDS.UNIQ %]&msg=[% msg.FILE_NAME %]&id=[% msg.ID %]&status=30'><span class='icon-loop2 fs0'></span></a>
				[% END %] 
				<a title='удалить сообщение' href='https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]?action=msg_delete&uniq=[% USER_CREDS.UNIQ %]&msg=[% msg.FILE_NAME %]&type=[% msg.FILE_TYPE %]&id=[% msg.ID %]' onclick="return xmlhttpDel(this,'ru','d-tr-[% msg.FILE_NAME %]')"><span class='icon-bin fs0'></span></a>
			</td>
		</tr>
		[% END %]
		<tr>
		[% IF MSG_NEXT ne '' %]
			<td align='right' colspan='10'>
				<a title='следующая страница ([% MSG_NEXT %])' href='?action=msg_list_all&duration=[% DURATION | html %]&id=[% VBOX_PREF.ID %]&msg_type=[% MSG_TYPE | html %]&called_id=[% CALLED_ID | htmlstrict %]&caller_id=[% CALLER_ID | htmlstrict %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&uniq=[% USER_CREDS.UNIQ %]&from=[% MSG_NEXT %]&any_did=[% ANY_DID | html %]'><span class='fs0'>►</span></a>
			</td>
		[% END %]
		</tr>
		[% ELSE %]
		<tr>
			<td colspan='10' align='center'><h4>Сообщений нет</h4></td>
		</tr>
		[% END %]
	</table>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>

