<html>
<!-- $Id: messages_list.tt,v 1.10 2014/10/23 13:57:03 gosha Exp $ -->
<head>
	<title>Virtual PBX - Сообщения - Ac:[% USER_CREDS.ACCESS_CODE | html %], Ext: [% VBOX_PREF.EXT_NUMBER | html %]</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-ru.min.js"></script>
</head>

<body onLoad="XVBInit()">
	<table width='100%'>
		<tr align='left'>
			<td>
				<a href='?action=vb_view&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]'>Параметры номера</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=msg_delete&clear_ext=1&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return DelConfirm('def','Вы действительно хотите удалить все сообщения?')">Удалить сообщения</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=get_itunes&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]'>Подкасты</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=get_rss&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]'>Rss</a>
			</td>
		</tr>
	</table>

	<center>
	
	<h1>Сообщения для внутреннего номера # <b>[% VBOX_PREF.EXT_NUMBER | html %]</h1>

	<table width='100%'>
		<tr>
			<form method="get" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
			<td align='right'>
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#from_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							button: ".next()"
						});
				});
				</script>
				<input size='16' type='text' name='from_time' value='[% FROM_TIME | html %]' id='from_time' placeholder='С даты'>
				<button type="button">...</button>
				&nbsp;
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#to_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							button: ".next()"
						});
				});
				</script>
				<input size='16' type='text' name='to_time' value='[% TO_TIME | html %]' id='to_time' placeholder='По дату'>
				<button type="button">...</button>
				<input name='action' value='msg_list' type='hidden'>
				<input name='uniq' value='[% USER_CREDS.UNIQ %]' type='hidden'>
				<input name='id' value='[% VBOX_PREF.ID %]' type='hidden'>
				&nbsp;
				<input size='10' type='text' name='caller_id' value='[% CALLER_ID | html %]' placeholder='Кто звонил'>
				&nbsp;
				<input size='10' type='text' name='called_id' value='[% CALLED_ID | html %]' placeholder='Кому звонил'>
				&nbsp;
				<input size='11' type='text' placeholder='Длительность' name='duration' value='[% DURATION | html %]'>
				&nbsp;
				<input value='Найти' type='submit'>
				</td>
			</form>
		</tr>
	</table>

	<p>
	<table width='100%' id='d-tbl'>
		[% IF MSG_LIST scalar %]
		<tr>
			<th>#</th>
			<th>Дата</th>
			<th>Кто звонил</th>
			<th>Кому звонил</th>
			<th>Длительность</th>
			<th>Размер</th>
			<th>Действия</th>
			<th>Тип</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='8'>
				<a title='предыдущая страница ([% MSG_PREV %])' href='?action=msg_list&duration=[% DURATION | html %]&id=[% VBOX_PREF.ID %]&called_id=[% CALLED_ID | html %]&caller_id=[% CALLER_ID | html %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&uniq=[% USER_CREDS.UNIQ %]&from=[% MSG_PREV %]'><img border='0'  src='/xvb/images/msg_prev.png' alt='[% MSG_PREV %] &lt;=' /></a>
			</td>
		</tr>
		[% END %]
		[% FOREACH msg = MSG_LIST %]
		<tr class='nocolor' id='d-tr-[% msg.FILE_NAME %]'>
			<td>&nbsp;[% msg.MSG_NUM %]</td>
			<td align='center'>[% msg.MSG_DATE | html %]</td>
			<td>[% msg.CALLERID | html %]</td>
			<td>[% msg.CALLEDID | html %]</td>
			[% IF msg.IS_VOICE %]
				<td align='center'>[% msg.DURATION | duration_str | html %]</td>
			[% ELSE %]
				<td align='center'>--------</td>
			[% END %]
			<td align='right'>[% msg.FILE_SIZE | fsize %]&nbsp;</td>
			<td nowrap='nowrap'>
				&nbsp;
				[% IF msg.IS_VOICE %]
					<a title='скачать сообщение' href='https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download/[% msg.ID %]/[% USER_CREDS.ACCESS_CODE %]/[% msg.FILE_NAME %].[% USER_CREDS.SOUND_FORMAT %]?media=[% USER_CREDS.SOUND_FORMAT %]'><img border='0' src='/xvb/images/msg_download.png' alt='download' /></a>
				[% ELSE %]
					<a title='скачать файл' href='https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download/[% msg.ID %]/[% USER_CREDS.ACCESS_CODE %]/[% msg.FILE_NAME %]'><img border='0' src='/xvb/images/msg_download.png' alt='download' /></a>
				[% END %]
					<a title='удалить сообщение' href='https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]?action=msg_delete&uniq=[% USER_CREDS.UNIQ %]&msg=[% msg.FILE_NAME %]&type=[% msg.FILE_TYPE %]&id=[% msg.ID %]' onclick="return xmlhttpDel(this,'ru','d-tr-[% msg.FILE_NAME %]')"><img border='0' src='/xvb/images/msg_delete.png' alt='delete' /></a>
				
				[% IF msg.IS_VOICE %]
					<a title='прослушать' 
						onclick="return ShowPlayer('https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download/[% msg.ID %]/[% USER_CREDS.ACCESS_CODE %]/[% msg.FILE_NAME %]?media=mp3;type=listen' )"
						href="#"><img border='0' src='/xvb/images/msg_listen.png' alt='play' /></a>
				[% END %]
				[% IF msg.FILE_TYPE eq '30' %]
					<a title='Пометить как старое' href='?action=msg_status&uniq=[% USER_CREDS.UNIQ %]&msg=[% msg.FILE_NAME %]&id=[% msg.ID %]&status=40'><img border='0'  src='/xvb/images/msg_status.png' alt='status' /></a>
				[% ELSIF msg.FILE_TYPE eq '40' %]
					<a title='Пометить как новое' href='?action=msg_status&uniq=[% USER_CREDS.UNIQ %]&msg=[% msg.FILE_NAME %]&id=[% msg.ID %]&status=30'><img border='0'  src='/xvb/images/msg_status.png' alt='status' /></a>
				[% END %] 
			</td>
			<td>[% msg.DESCRIPTION | locale_msg %]</td>
			</tr>
			[% END %]
			[% IF MSG_NEXT ne '' %]
			<tr>
				<td align='right' colspan='8'>
					<a title='следующая страница ([% MSG_NEXT %])' href='?action=msg_list&duration=[% DURATION | html %]&id=[% VBOX_PREF.ID %]&called_id=[% CALLED_ID | html %]&caller_id=[% CALLER_ID | html %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&uniq=[% USER_CREDS.UNIQ %]&from=[% MSG_NEXT %]'><img border='0'  src='/xvb/images/msg_next.png' alt='=&gt; [% MSG_NEXT %]' /></a>
				</td>
			</tr>
			[% END %]
			[% ELSE %]
			<tr>
				<td colspan='8'>&nbsp;</td>
			</tr>
			<tr>
				<td colspan='8' align='center'><h4>Сообщений нет</h4></td>
			</tr>
			[% END %]
	</table>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
	
