<html>
<!-- $Id: miss_call.tt,v 1.2 2015/10/13 16:02:15 gosha Exp $ -->
<!--SUBJECT:Пропущенный звонок от: [% _CDR.CALLER_ID | html %]:SUBJECT-->
<head>
	<BASE href="[% CGI_SERVER %]">
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="[% CGI_SERVER %]/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
</head>

<body link=blue vlink=purple>

Здравствуйте,

<p>
Информация о пропущенном звонке:
	Кто звонил: <b>[% _CDR.CALLER_ID | html %]</b>
	Дата звонка: <b>[% ORIGDATE | html %]</b>
	Внутренний номер: <b>[% _USER_VBOX.EXT_NUMBER | html %]</b>
	Статус: <b>[% _CDR.ENH_STATUS | html %]</b>
	Время ожидания: <b>[% _CDR.ENH_RING_TIME %] ( сек )</b>
</p>

-- 
<br>Спасибо,<br> 
&nbsp;&nbsp;Ваш XVB PBX.

</body>
</html>

