<html>
<!-- $Id: miss_call.tt,v 1.6 2018/07/07 10:55:33 gosha Exp $ -->
<!--SUBJECT:Пропущенный звонок от: [% _CDR.CALLER_ID | html %]:SUBJECT-->
<head>
	<BASE href="[% CGI_SERVER %]">
	<style>
	body { 
		color:#177182;
		font-family:Arial, Helvetica, sans-serif;
		background:#f7f7f7 repeat-x;
		font-size:13px;
	}
	p.copyright {
		font-size: 8px;
	}
	</style>
</head>

<body link=blue vlink=purple>

Здравствуйте,

<p>
Информация о пропущенном звонке:<br>
	Кто звонил: <b>[% _CDR.CALLER_ID | html %]</b>
    [% IF _CDR.CNAM ne '' %]
    	[% IF _CDR.CNAM ne _CDR.CALLER_ID %]
		( [% _CDR.CNAM | html %] )
		[% END %]
	[% END %]
	<br>
	Дата звонка: <b>[% ORIGDATE | html %]</b><br>
	Внутренний номер: <b>[% _USER_VBOX.EXT_NUMBER | html %]</b><br>
	Статус: <b>[% _CDR.ENH_STATUS | html %]</b><br>
	Время ожидания: <b>[% WAIT_TIME %] ( сек )</b><br>
</p>

-- 
<br>Спасибо,<br> 
&nbsp;&nbsp;Ваш XVB PBX.

</body>
</html>

