<html>
<!-- $Id: miss_call.tt,v 1.4 2017/11/01 20:06:42 gosha Exp $ -->
<!--SUBJECT:Пропущенный звонок от: [% _CDR.CALLER_ID | html %]:SUBJECT-->
<head>
	<BASE href="[% CGI_SERVER %]">
	<style>
	body { 
		color:#177182;
		font-family:Arial, Helvetica, sans-serif;
		background:#f7f7f7 repeat-x;
		font-size:13px;
	}
	</style>
</head>

<body link=blue vlink=purple>

Здравствуйте,

<p>
Информация о пропущенном звонке:<br>
	Кто звонил: <b>[% _CDR.CALLER_ID | html %]</b><br>
	Дата звонка: <b>[% ORIGDATE | html %]</b><br>
	Внутренний номер: <b>[% _USER_VBOX.EXT_NUMBER | html %]</b><br>
	Статус: <b>[% _CDR.ENH_STATUS | html %]</b><br>
	Время ожидания: <b>[% _CDR.ENH_RING_TIME %] ( сек )</b><br>
</p>

-- 
<br>Спасибо,<br> 
&nbsp;&nbsp;Ваш XVB PBX.

</body>
</html>

