<html>
<!-- $Id: new_message.tt,v 1.13 2018/07/07 10:55:33 gosha Exp $ -->
<!--SUBJECT:У Вас новое сообщение в ящике #[% _USER_VBOX.EXT_NUMBER | html %] от [% callerid | html %]:SUBJECT-->
<!--!EMAIL_FROM:'Виртуальная АТС' <sa1es@virtuаl-pbx.ru>:EMAIL_FROM-->
<head>
	<BASE href="[% CGI_SERVER %]">
	<style>
	body { 
		color:#177182;
		font-family:Arial, Helvetica, sans-serif;
		background:#f7f7f7 repeat-x;
		font-size:13px;
	}
	p.copyright {
		font-size: 8px;
	}
	</style>
</head>

<body link=blue vlink=purple>

Здравствуйте,

<p>
Сообщаем Вам, что
[% IF file_type eq '41' %]
 для внутреннего номера # <b>[% _USER_VBOX.EXT_NUMBER | html %]</b> доступна новая запись звонка на номер [% calledid | html %]
[% ELSIF file_type eq '42' %]
 получен новый факс для внутреннего номера <b>[% CALLED_ID | html %]</b> # <b>[% _USER_VBOX.EXT_NUMBER | html %]</b>
[% ELSIF file_type eq '43' %]
 получены новые DTMF данные для внутреннего номера <b>[% CALLED_ID | html %]</b> # <b>[% _USER_VBOX.EXT_NUMBER | html %]</b>
[% ELSE %]
 на Ваш ящик голосовой почты (<b>[% CALLED_ID | html %]</b> # <b>[% _USER_VBOX.EXT_NUMBER | html %]</b>) получено новое сообщение
[% END %]
 от <b>[% callerid | html %]</b>
[% IF cnam %] 
( [% cnam | html %] )
[% END %]
, в <b>[% origdate | html %]</b>.
</p>

<p>
[% IF FILE_LINK ne '' %]
<a href="[% FILE_LINK %]">Вы можете скачать файл по этой ссылке.</a>
[% END %]
</p>

-- 
<br>Спасибо,<br> 
&nbsp;&nbsp;Ваш XVB PBX.

</body>
</html>

