<html>
<!-- $Id: pbook.tt,v 1.17 2018/01/05 16:01:42 gosha Exp $ -->
<head>
	<title>Virtual PBX - Телефонная книга - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
			
	<table width='100%'>
		<tr>
			<td align='center'><h1>Телефонная книга</h1></td>
			<td align='right' width='10%'>
				<a title='скачать книгу в формате excel' href='?action=pbook_list&uniq=[% USER_CREDS.UNIQ %]&format=excel&need_excel=1'"><span class='icon-file-excel fs0'></span></a>
				<a href='?action=pbook_del&data_id=all&uniq=[% USER_CREDS.UNIQ %]' onclick="return DelConfirm('ru')" title='удалить все данные'><span class='icon-bin-all fs2'></span></a>
			</td>
		</tr>
	</table>

	<table width='100%'>
		<tr>
			<td width='50%' align='left'>
				<form enctype="multipart/form-data" method="post" action="https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]" onSubmit='return checkChanges(this)'>
					<input type='file' name='config_file'>
					<input type='hidden' name='section' value='PBOOK'>
					<input type='hidden' name='action' value='restore'>
					<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
					<input type='hidden' name='is_excel' value='1'>
					<input type='submit' value='Импорт из CSV'>
				</form>
			</td>
			<td width='50%' align='right' nowrap='nowrap'>
				<form method="post" action="[% CGI_URL %]" onSubmit='return true'>
					<input type='hidden' name='action' value='pbook_list'>
					<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
					<select name='format'>
						<option value="polycom">Polycom конфигурация</option>
						<option value="dlink">Dlink конфигурация</option>
						<option value="grandstream">Grandstream конфигурация</option>
						<option value="yearlink">Yearlink конфигурация</option>
						<option value="cisco">Cisco конфигурация</option>
						<option value="snom">Snom конфигурация</option>
					</select>
					&nbsp;
					<input name='submit' type='submit' value='Скачать'>
				</form>
			</td>
		</tr>
		</tr>
	</table>
		
	<table width='100%' id='d-tbl'>
		<tr>
			<th class='rad_l'>Имя</th>
			<th>Фамилия</th>
			<th>Телефон</th>
			<th>Быстрый набор</th>
			<th>Коментарий</th>
			<th>&nbsp;</th>
			<th class='rad_r'>&nbsp;</th>
		</tr>

		[% FOREACH param = PBOOK_LIST %]
		<tr align='center' class='nocolor' id='d-tr-[% param.DATA_ID %]'>
		<form method="post" action="[% CGI_URL %]" id='f-[% param.DATA_ID %]' onSubmit='return xmlhttpPost(this,1)'>
			<input type='hidden' name='action' value='pbook_update'>
			<input type='hidden' name='data_id' value='[% param.DATA_ID %]'>
			<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>

			<td><input class='in_t0' size='18' name='fn' type='text' value='[% param.FIRST_NAME | html %]'></td>
			<td><input class='in_t0' size='18' name='ln' type='text' value='[% param.LAST_NAME | html %]'></td>
			<td><input class='in_t0' size='20' name='ph' type='text' value='[% param.PHONE | html %]'></td>
			<td><input class='in_t0' size='15' name='shortcut' type='text' value='[% param.SHORTCUT | html %]'></td>
			<td><input class='in_t0' size='25' name='description' type='text' value='[% param.DESCRIPTION | html %]'></td>
			
			<td><a href='?action=crm_info&data_id=[% param.CRM_CUSTOMER_ID %]&uniq=[% USER_CREDS.UNIQ %]'>[% param.CRM_CUSTOMER_NAME | html %]</a></td>
	
			<td align='right' nowrap='nowrap'>
				<span class='in_t' id='in_t_id-[% param.DATA_ID %]'>
					<a href='#' onclick="return xmlhttpPost(document.getElementById('f-[% param.DATA_ID %]'),1);"><span class='icon-floppy-disk fs0 blink' title='сохранить изменения'></span></a>
					<noscript><input value='Сохранить изменения' type='submit'></noscript>
				</span>
				<a href='?action=pbook_del&data_id=[% param.DATA_ID %]&uniq=[% USER_CREDS.UNIQ %]'  onclick="return xmlhttpDel(this,'ru','d-tr-[% param.DATA_ID %]')" title='удалить элемент'><span class='icon-bin fs0'></span></a>
			</td>
		</form>
		</tr>
		[% END %]
		<tr align='center' id='submit_row'>
		<form method="post" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
			<input type='hidden' name='action' value='pbook_add'>
			<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
			
			<td><input size='18' name='fn' type='text'></td>
			<td><input size='18' name='ln' type='text'></td>
			<td><input size='20' name='ph' type='text'></td>
			<td><input size='15' name='shortcut' type='text'></td>
			<td><input size='25' name='description' type='text'></td>
			
			<td colspan='2' align='center'>
				<input type='submit' value='Добавить'>
			</td>
		</form>
		</tr>
	</table>
	<span><a name="addarea">&nbsp;</a><span>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>
	
