<html>
<!-- $Id: phone_list.tt,v 1.29 2017/01/05 19:34:23 gosha Exp $ -->
<head>
	<title>Virtual PBX - SIP Phones - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script language="JavaScript">
		var e_list = [];
		[% FOREACH vb = VB_LIST %]
		e_list['[% vb.EXT_NUMBER | html %]'] = ['[% vb.ID %]','[% vb.DESCRIPTION | locale_msg %]','[% vb.NAME | html %]'];
		[% END %]
	</script>
</head>

<body onLoad="XVBInit()">
	<center>
			
	<table width='100%'>
		<tr>
			<td align='center'><h1>SIP телефоны</h1></td>
			<td align='right' width='10%'>
				<a title='в формате excel' href='?action=phone_list&uniq=[% USER_CREDS.UNIQ %]&need_excel=1'"><span class='icon-file-excel fs0'></span></a>
				<a title='удалить все телефоны' href='?action=phone_del&data_id=all&uniq=[% USER_CREDS.UNIQ %]' onclick="return DelConfirm('ru')" title='удалить все телефоны'><span class='icon-cross fs0'></span></a>
			</td>
		</tr>
	</table>

	<p>
	<table width='100%' id='d-tbl'>
		<tr>
			<th colspan='2'>Статус</th>
			<th>Телефон</th>
			<th>Имя пользователя и Email</th>
			<th>Исходящий АОН</th>
			<th>Запись и место хранения</th>
			<th>Группы перехвата</th>
			<th>Логин</th>
			<th>Пароль</th>
			<th>&nbsp;</th>
		</tr>
		
		[% FOREACH p = PHONES %]
		<tr align='center' class='nocolor' id='d-tr-[% p.DATA_ID %]'>
			<form method="post" action="[% CGI_URL %]" id='f-[% p.DATA_ID %]' onSubmit='return xmlhttpPost(this,1)'>
			<td align='left' nowrap='nowrap'>
				[% IF p.REG_STATUS eq 'Registered' %]
					<a href='#' class='l-info'>
					<span class='fs1'>✓</span>
					<span class='l-info'>
						[% p.REG_STATUS %]<br>
						Дата регистрации: [% p.REG_TIME | html %]<br>
						Окончание: [% p.REG_EXPIRED | html %]<br>
						IP: [% p.ipaddr | html %]:[% p.port | html %]<br>
						UA: [% p.useragent | html %]
					</span>
					</a>
				[% ELSIF p.REG_TIME ne '-' %]
					<a href='#' class='l-info'>
					<span class='icon-info fs1'></span>
					<span class='l-info'>
						[% p.REG_STATUS %]<br>
						Дата регистрации: [% p.REG_TIME | html %]<br>
						Окончание: [% p.REG_EXPIRED | html %]<br>
						IP: [% p.ipaddr | html %]<br>
						UA: [% p.useragent | html %]
					</span>
					</a>
				[% END %]
				[% IF p.DND %]
					<a href='#' class='l-info'>
					<span class='icon-blocked fs1'></span>
					<span class='l-info'>
						DND включено [% p.DND | html %]
					</span>
					</a>
				[% END %]
				[% IF p.FWD_NUM %]
					<a href='#' class='l-info'>
					<span class='icon-mobile fs1'></span>
					<span class='l-info'>
						Перенеаправление на : [% p.FWD_NUM | html %]
					</span>
					</a>
				[% END %]
			</td>
			<td align='center'>
				[% IF p.deny %]
					<input class='in_t0' name='trusted_ip' type='checkbox' title='Доступ только с IP адреса: [% p.permit | html %]' checked />
				[% ELSIF p.ipaddr ne "" %]
					<input class='in_t0' name='trusted_ip' type='checkbox' title='Ограничить доступ только с текущего IP адреса: [% p.ipaddr | html %]' />
				[% END %]
			</td>
			<td><input class='in_t0' size="10" name='callerid' type='text' value="[% p.callerid | html %]"></td>
			<td>
				<input class='in_t0' size="16" name='DESCRIPTION' type='text' value="[% p.DESCRIPTION | html %]"><br>
				<input class='in_t0' size="15" name='EMAIL' type='text' value="[% p.EMAIL | html %]">
			</td>
			<td><input class='in_t0' size="12" name='DEFCID' type='text' value="[% p.DEFCID | html %]"></td>
			<td align='left' nowrap='nowrap'>
				<select name="REC_MODE" class='in_t0'>
				[% IF p.REC_MODE eq '1' %]
					<option value="1" selected>По запросу</option>
					<option value="0">Выключено</option>
					<option value="2">Всегда</option>
					<option value="3">Внутренние</option>
					<option value="4">Внешние</option>
				[% ELSIF p.REC_MODE eq '2' %]
					<option value="2" selected>Всегда</option>
					<option value="0">Выключено</option>
					<option value="1">По запросу</option>
					<option value="3">Внутренние</option>
					<option value="4">Внешние</option>
				[% ELSIF p.REC_MODE eq '3' %]
					<option value="3" selected>Внутренние</option>
					<option value="0">Выключено</option>
					<option value="1">По запросу</option>
					<option value="2">Всегда</option>
					<option value="4">Внешние</option>
				[% ELSIF p.REC_MODE eq '4' %]
					<option value="4" selected>Внешние</option>
					<option value="0">Выключено</option>
					<option value="1">По запросу</option>
					<option value="2">Всегда</option>
					<option value="3">Внутренние</option>
				[% ELSE %]
					<option value="0" selected>Выключено</option>
					<option value="1">По запросу</option>
					<option value="2">Всегда</option>
					<option value="3">Внутренние</option>
					<option value="4">Внешние</option>
				[% END %]
				</select>
				<br>
				<input class='in_t0' size="8" name='REC_EXT' type='text' value="[% p.REC_EXT | html %]">
				<script language="JavaScript">
					exten_icon( '[% p.REC_EXT | html %]', '[% USER_CREDS.UNIQ | html %]', 'информация о внутреннем номере' );
				</script>
			</td>
			<td><input class='in_t0' size="8" name='PICKUP_GROUPS' type='text' value="[% p.PICKUP_GROUPS | html %]"></td>
			<td align='left'><input type='hidden' name='name' value="[% p.name %]">[% p.name %]</td>
			<td><input class='in_t0' size="12" name='secret' type='text' value="[% p.secret | html %]"></td>
			<td align='right' nowrap='nowrap'>
				<input type='hidden' value='[% p.DATA_ID %]' name='data_id'>
				<input type='hidden' value='[% p.CO_LIMIT %]' name='COL'>
				<input type='hidden' value='phone_update' name='action'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<span class='in_t' id='in_t_id-[% p.DATA_ID %]'>
					<a href='#' onclick="return xmlhttpPost(document.getElementById('f-[% p.DATA_ID %]'),1);"><span class='icon-floppy-disk fs0 blink' title='сохранить изменения'></span></a>
					<noscript><input value='Сохранить изменения' type='submit'></noscript>
				</span>
				<a title='удалить телефон' href='?action=phone_del&data_id=[% p.DATA_ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return xmlhttpDel(this,'ru','d-tr-[% p.DATA_ID %]')"><span class='icon-bin fs0'></span></a>
			</td>
			</form>
		</tr>
		[% END %]
		<tr><td></td></tr>
		<tr align='center'>
			<form method='post' action='[% CGI_URL %]' onSubmit='return checkChanges(this)'>
			<td align='left' colspan='10'>
				<input size="10" name='callerid' type='text' placeholder='Телефон'>
				&nbsp;
				<input size="16" name='DESCRIPTION' type='text' placeholder='Имя'>
				&nbsp;
				<input size="15" name='EMAIL' type='text' placeholder='Email'>
				&nbsp;
				<input size="12" name='DEFCID' type='text' placeholder='АОН'>
				&nbsp;
				<input type='hidden' value='phone_add' name='action'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<input type='hidden' value='' name='PICKUP_GROUPS'>
				<input type='hidden' value='0' name='REC_EXT'>
				<input type='hidden' value='0' name='REC_MODE'>
				<input value='Добавить' type='submit'>
			</td>
			</form>
		</tr>
	</table>
	<a name="addarea">&nbsp;</a>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
