<html>
<!-- $Id: phone_p_cdrs_list.tt,v 1.22 2025/02/16 17:34:55 gosha Exp $ -->
<head>
	<title>Virtual PBX - История звонков</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-ru.min.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
	
	<table width='100%'>
		<tr>
			<td align='center'>
			<h1>История звонков</h1>
			[% IF FROM_TIME %]
			<h3>с [% FROM_TIME | html %] по [% TO_TIME | html %]</h3>
			[% END %]
			</td>
			<td align='right' width='10%'>
				<a title='скачать в формате excel' href='#' onclick="return SubmitConfirm('');"><span class='icon-file-excel fs0'></span></a>
			</td>
		</tr>
	</table>
	
	<table width='100%'>
		<tr>
			<form method="get" onSubmit='return checkChanges(this)' id='find-form'>
			<td align='right'>
				[% TIME_INTERVAL_SELECTOR %]
				<input name='action' value='pp_cdr_list' type='hidden'>
				<input size='10' type='text' name='caller_id' value='[% CDR_CALLER_ID | html %]' placeholder='Кто номер'>
				&nbsp;
				<input size='10' type='text' name='called_id' value='[% CDR_CALLED_ID | html %]' placeholder='Кому звонил'>
				<input name='uniq' value='[% USER_CREDS.UNIQ %]' type='hidden'>
				&nbsp;
				<input size='11' type='text' placeholder='Длительность' name='duration' value='[% CDR_DURATION | html %]'>
				&nbsp;
				<select name="call_type" id="call_type_selector">
					<option value="" selected>все звонки</option>
					<option value="incoming">входящий</option>
					<option value="local">локальный</option>
					<option value="transit">исходящий</option>
					<option value="internal">внутрений</option>
					<option value="service">сервисный</option>
				</select>
				&nbsp;
				<input value='Найти' type='submit'>
				<input name='need_excel' value='' type='hidden' id='find-flt'>
			</td>
			</form>
			<script language='JavaScript'>
				setActiveSelector('call_type_selector',"[% CDR_CALL_TYPE %]");
			</script>
		</tr>
	</table>
	
	<p>
	<table width='100%' id='d-tbl'>
		<tr>
			<th class='rad_l'>#</th>
			<th>Начало звонка</th>
			<th colspan='3'>Номер звонящего</th>
			<th colspan='2'>Номер назначения</th>
			<th>Длительность</th>
			<th>&nbsp;</th>
			<th>Тип</th>
			<th class='rad_r' width='12%'>&nbsp;</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='11'>
				<a title='предыдущая страница' href='?action=pp_cdr_list&smart_time=[% SMART_TIME | html %]&duration=[% CDR_DURATION | html %]&from=[% MSG_PREV %]&call_type=[% CDR_CALL_TYPE %]&called_id=[% CDR_CALLED_ID | htmlstrict %]&caller_id=[% CDR_CALLER_ID | htmlstrict %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]'><span class='fs0'>◄</span></a>
			</td>
		</tr>
		[% END %]

		[% FOREACH msg = CDR_LIST %]
			<tr class='nocolor' align='center'>
				<td class='simple'>[% msg.CDR_NUM %]</td>
				<td>[% msg.CDR_DATE | html %]</td>
				<td>
					[% IF msg.CNAM ne msg.CALLER_ID  %]
						[% msg.CNAM | html %]
					[% END %]
				</td>
				[% IF msg.DATA contain 'STATUS=ANSWER' %]
					<td align='right'>				
				[% ELSIF msg.DATA contain 'STATUS=' %]
					<td align='right' class='warning-font'>
				[% ELSE %]
					<td align='right'>
				[% END %]
				[% msg.CALLER_ID | html %]	
				</td>
				<td align='left'>
				<script>
					phone_call_filter('[% C2C | html %]','[% PHONE | html %]','[% msg.CALLER_ID | html %]');
				</script>
				</td>
				<td align='right'>
				[% msg.CALLED_ID | html %]
				</td>
				<td align='left'>
				<script>
					phone_call_filter('[% C2C | html %]','[% PHONE | html %]','[% msg.CALLED_ID | html %]');
				</script>
				</td>
				<td>[% msg.CDR_DURATION | duration_str %]</td>
				<td>
				[% IF msg.VB_ID %]
				<a title='прослушать' 
					onclick="return ShowPlayer('[% msg.DOWNLOAD_IP %][% CGI_URL %]/msg_download/[% msg.VB_ID %]/[% USER_CREDS.ACCESS_CODE %]/[% msg.FILE_NAME %]?media=mp3;type=listen' )"
					href="#"><span class='icon-volume-medium fs0'></span></a>
				[% END %]
				</td>
				<td><a href='#' onclick='ShowEl("cdr_detail_[% msg.CDR_NUM %]"); return false'>[% msg.CALL_TYPE | locale_msg %]</a></td>
				<td align='left'><span id="cdr_detail_[% msg.CDR_NUM %]" class='addon_info'>[% msg.DATA | html %]</span></td>
			</tr>
		[% END %]

		[% IF MSG_NEXT ne '' %]
		<tr>
			<td align='right' colspan='11'>
				<a title='следующая страница' href='?action=pp_cdr_list&smart_time=[% SMART_TIME | html %]&duration=[% CDR_DURATION | html %]&from=[% MSG_NEXT %]&call_type=[% CDR_CALL_TYPE %]&called_id=[% CDR_CALLED_ID | htmlstrict %]&caller_id=[% CDR_CALLER_ID | htmlstrict %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]'><span class='fs0'>►</span></a>
			</td>
		</tr>
		[% END %]
	</table>
	[% UNLESS CDR_LIST scalar %]
		<br /><h3>Ничего не нашлось, попробуйте задать другие фильтры</h3>
    [% END %]
	</p>

	<script language='JavaScript'>
		listcolorer( 'd-tbl' );
		var download_file_url = '';
		var listen_file_url = '';
		var callback_cdr_url = '';
		cdrfilters( 'd-tbl', 8, 'new_line' );
	</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center' style='display:none;'><script language='JavaScript'>ShowPlayer( 'init',0 );</script></div>
	</body>
</html>
	
