<html>
<!-- $Id: phone_p_start.tt,v 1.3 2019/09/08 17:57:25 gosha Exp $ -->
<frameset cols="134,*" border="0" framespacing="0">
	<frame name='xvb_menu' src="?action=pp_menu">
	<frame name='xvb_data' src="?action=pp_pinfo">
</frameset>
</html>
