<html>
<!-- $Id: phone_p_menu.tt,v 1.10 2024/08/10 19:50:31 gosha Exp $ -->
<head>
	<title>Virtual PBX - main menu</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
</head>

<body class='amenu'>
	<p align='left'>
		<img border='0' width='120' alt='XVB - Virtual PBX'
		[% IF USER_CREDS.LOGO_HREF eq '' %]
			 src='/xvb/images/logo-small.png'
		[% ELSE %]
			src='[% USER_CREDS.LOGO_HREF %]'
		[% END %]
		/>
	</p>
	<p align='left'>
		<ul>
			<br />
			<li><a class='amenu' target='xvb_data' href='?action=pp_pinfo'>О телефоне</a></li>
			<br />
			
			[% IF USER_CREDS.ALLOW_CTR %]
			[% IF PHONE.MANAGER_FOR %]
			<li><a class='amenu' target='xvb_data' href='?action=pp_calls_list'>Текущие звонки</a></li>
			<br />
			[% END %]
			[% END %]
			
			<li><a class='amenu' target='xvb_data' href='?action=pp_cdr_list'>История звонков</a></li>
			<br />
			
			[% IF PHONE.MANAGER_FOR %]
			<li><a class='amenu' target='xvb_data' href='?action=pp_cdr_list&need_chart=1'>Статистика</a></li>
			<br />
			[% END %]
			
			<li><a class='amenu' target='xvb_data' href='?action=pp_msg_list'>Файлы</a></li>
			<br />
			
			<li><a class='amenu' target='xvb_data' href='?action=pp_pbook_list'>Телефонная книга</a></li>
			<br />
			
			[% IF WEBRTC %]
			<li><a class='amenu' target='_top' href='?action=pp_start&web_phone=1'>Web телефон</a></li>
			<br />
			[% END %]
			
			<li><a class='amenu' target='_top' href=?action=pp_login&login=0&lang=[% USER_CREDS.LANG_NAME | html %]>Выход</a></li>
		</ul>
	</p>
</body>
</html>
