<html>
<!-- $Id: role_list.tt,v 1.4 2023/01/10 20:30:58 gosha Exp $ -->
<head>
	<title>Virtual PBX - Роли - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
			
	<table width='100%'>
		<tr>
			<td align='center'><h1>Индивидуальные роли</h1></td>
		</tr>
	</table>
	
	<table width='100%' id='d-tbl'>
		<tr>
			<th class='rad_l'>Логин</th>
			<th>Описание</th>
			<th width='5%' class='rad_r'>&nbsp;</th>
		</tr>

		[% FOREACH param = ROLES_LIST %]
		<tr align='left' class='nocolor' id='d-tr-[% param.DATA_ID %]'>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='?action=role_info&data_id=[% param.DATA_ID %]&uniq=[% USER_CREDS.UNIQ %]'>[% param.LOGIN | html %]</a></td>
			<td>[% param.DESCRIPTION | html %]</td>
			<td align='right' nowrap='nowrap'>
				<a href='?action=role_del&data_id=[% param.DATA_ID %]&uniq=[% USER_CREDS.UNIQ %]'  onclick="return xmlhttpDel(this,'ru','d-tr-[% param.DATA_ID %]')" title='удалить элемент'><span class='icon-bin fs0'></span></a>
			</td>
		</form>
		</tr>
		[% END %]
		<tr><td></td></tr>
		<tr align='center' id='submit_row'>
		<a name="addarea">&nbsp;</a>
		<form method="post" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
		<td align='left' colspan='3'>
			<input type='hidden' name='action' value='role_add'>
			<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
			<input size='18' name='login' type='text' placeholder='Логин'>
			&nbsp;
			<input size='20' name='description' type='text' placeholder='Описание'>
			&nbsp;
			<select name='template'">
				<option value=''>--шаблоны--</option>
				[% FOREACH p = TEMPLATES %]
					<option value="[% p.DATA_ID %]">[% p.LOGIN | html %]</option>
				[% END %]
				<option value=''>свой</option>
			</select>
			&nbsp;
			<input type='submit' value='Добавить'>
		</td>
		</form>
		</tr>
	</table>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>
	
