<html>
<!-- $Id: route_list.tt,v 1.21 2016/08/19 15:31:27 gosha Exp $ -->
<head>
	<title>Virtual PBX - Маршруты - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-ru.min.js"></script>
	<script language="JavaScript">
		var e_list = [];
		[% FOREACH vb = VB_LIST %]
		e_list['[% vb.EXT_NUMBER | html %]'] = ['[% vb.ID %]','[% vb.DESCRIPTION | locale_msg %]','[% vb.NAME | html %]'];
		[% END %]
	</script>
</head>

<body onLoad="XVBInit()">
	<center>
	
	<table width='100%'>
		<tr>
			<td align='center'><h1>Маршруты</h1></td>
			<td align='right' width='5%'>
				<a title='удалить все маршруты' href='?action=route_del&data_id=all&uniq=[% USER_CREDS.UNIQ %]' onclick="return DelConfirm('ru')" title='удалить все маршруты'><span class='icon-cross fs0'></span></a>
			</td>
		</tr>
	</table>

	<table width='95%'>
		<form method="get" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
		<tr align='right'>
			<td align='left'>
				[% MATCH_RESULTS | html %]
			</td>
			<td align='right'>
				<input name='action' value='route_list' type='hidden'>
				<input size='10' type='text' placeholder='Кто звонит' name='caller_id' value='[% ROUTE_CALLER_ID | html %]'>
				&nbsp;
				<input size='10' type='text' placeholder='Кому звонит' name='called_id' value='[% ROUTE_CALLED_ID | html %]'>
				&nbsp;
				<input size='15' type='text' placeholder='Переменные' name='vars' value='[% ROUTE_VARS | html %]'>
				&nbsp;
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#datetime").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							button: ".next()"
						});
				});
				</script>
				<input size='16' type='text' name='datetime' value='[% ROUTE_DATE | html %]' id='datetime' placeholder='Дата'>
				<a link="#"><span class='fs0'>▾</span></a>
				&nbsp;
				<input name='uniq' value='[% USER_CREDS.UNIQ %]' type='hidden'>
				<input name='need_lookup' value='1' type='hidden'>
				<input value='Проверить' type='submit'>
			</td>
		</tr>
		</form>
	</table>

	<p>
	<table width='100%' id='d-tbl'>
		<tr>
			<th>Приоритет</th>
			<th>Шаблон номера</th>
			<th>Преобразование</th>
			<th>&nbsp;</th>
			<th>Доступ</th>
			<th>Длительность</th>
			<th>Имя маршрута</th>
			<th>Исходящий АОН</th>
			<th>Расписание</th>
			<th>Шлюз</th>
			<th colspan='2'>&nbsp;</th>
		</tr>
		
		[% FOREACH r = ROUTES %]
		<tr align='center' id='d-tr-[% r.DATA_ID %]' class='nocolor'>
			<form method="post" action="[% CGI_URL %]" id='f-[% r.DATA_ID %]' onSubmit='return xmlhttpPost(this,1)'>
			<td><input class='in_t0' size="6" name='r_PRIORITY' type='text' value='[% r.PRIORITY | html %]'></td>
			<td align='left'><input class='in_t0' size="15" name='r_PATTERN' type='text' value="[% r.PATTERN | html %]"></td>
			<td><input class='in_t0' size="18" name='r_SUBSTR' type='text' value="[% r.SUBSTR | html %]"></td>
			<td>[% r.SUBSTR_RESULT | html %]</td>
			<td><input class='in_t0' size="14" name='r_EXT_NUMBER' type='text' value="[% r.EXT_NUMBER | html %]"></td>
			<td><input class='in_t0' size="6" name='r_TLIMIT' type='text' value="[% r.TLIMIT | html %]"></td>
			<td><input class='in_t0' size="13" name='r_DESCRIPTION' type='text' value="[% r.DESCRIPTION | html %]"></td>
			<td><input class='in_t0' size="12" name='r_DEFCID' type='text' value="[% r.DEFCID | html %]"></td>
			<td align='left' nowrap='nowrap'>
				<input class='in_t0' size="9" name='r_SCHEDULE_EXT' type='text' value="[% r.SCHEDULE_EXT | html %]">
				<script language="JavaScript">
					exten_icon( '[% r.SCHEDULE_EXT | html %]', '[% USER_CREDS.UNIQ | html %]', 'информация о внутреннем номере' );
				</script>
			</td>
			<td>
				<select class='in_t0' name="r_PEER_ID">
				[% FOREACH p = PEERS %]
					[% IF p.DATA_ID eq r.PEER_ID %]
						<option value="[% p.DATA_ID | html %]" selected>[% p.DESCRIPTION | html %]</option>
					[% ELSE %]
						<option value="[% p.DATA_ID | html %]">[% p.DESCRIPTION | html %]</option>
					[% END %]
				[% END %]
				</select>
			</td>
			<td align='center'>
				<input class='in_t0' name='r_LAST_ROUTE' type='checkbox' title='Это последний маршрут'
				[% IF r.LAST_ROUTE %]
				checked 
				[% END %]
				/>
			</td>
			<td align='right' nowrap='nowrap'>
				<input type='hidden' value='[% r.DATA_ID %]' name='data_id'>
				<input type='hidden' value='route_update' name='action'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<span class='in_t' id='in_t_id-[% r.DATA_ID %]'>
					<a href='#' onclick="return xmlhttpPost(document.getElementById('f-[% r.DATA_ID %]'),1);"><span class='icon-floppy-disk fs0 blink' title='сохранить изменения'></span></a>
					<noscript><input value='Сохранить изменения' type='submit'></noscript>
				</span>
				<a title='удалить маршрут' href='?action=route_del&data_id=[% r.DATA_ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return xmlhttpDel(this,'ru','d-tr-[% r.DATA_ID %]')"><span class='icon-bin fs0'></span></a>
			</td>
			</form>
		</tr>
		[% END %]
		<tr align='center'>
			<form method='post' action='[% CGI_URL %]' name='route' onSubmit='return checkChanges(this)'>
			<td><input size="6" name='r_PRIORITY' type='text'></td>
			<td nowrap='nowrap'>
				
				<span id='selector-select' style="position:absolute; visibility:hidden">
				<select name='tmpl' onchange="
							document.route.r_PATTERN.value=this.value;
							document.route.r_DESCRIPTION.value=this.form.tmpl.options[ this.form.tmpl.selectedIndex ].text;
							this.form.tmpl.selectedIndex = 0;
							document.getElementById('selector-select').style.visibility='hidden'; 
							document.getElementById('selector-text').style.visibility='visible';">
					
					<option value="">--шаблоны--</option>
					[% FOREACH r = ROUTE_TMPL_LIST %]
						<option value='[% r.PATTERN | html %]'>[% r.NAME | locale_msg %]</option>
					[% END %]
					<option value="">свой шаблон</option>
				</select>
				</span>
				
				<span id='selector-text'>
				<input size="14" name='r_PATTERN' type='text'>
				<a href='#' class='l-info' onclick="
							document.getElementById('selector-text').style.visibility='hidden';
							document.getElementById('selector-select').style.visibility='visible';">
					<span class='fs0'>▾</span>
				</a>
				</span>

			</td>
			<td><input size="18" name='r_SUBSTR' type='text'></td>
			<td>&nbsp;</td>
			<td><input size="14" name='r_EXT_NUMBER' type='text'></td>
			<td><input size="6" name='r_TLIMIT' type='text'></td>
			<td><input size="13" name='r_DESCRIPTION' type='text'></td>
			<td><input size="12" name='r_DEFCID' type='text'></td>
			<td align='left'><input size="10" name='r_SCHEDULE_EXT' type='text'></td>
			<td>
				<select name="r_PEER_ID">
				[% FOREACH p = PEERS %]
					<option value="[% p.DATA_ID | html %]">[% p.DESCRIPTION | html %]</option>
				[% END %]
				</select>
			</td>
			<td colspan='2'>
				<input type='hidden' value='route_add' name='action'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<input value='Добавить' type='submit'>
			</td>
			</form>
		</tr>
	</table>
	<a name="addarea">&nbsp;</a>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
