<html>
<!-- $Id: statements.tt,v 1.4 2014/09/09 13:26:46 gosha Exp $ -->
<!--SUBJECT:VirtualPBX - отчет за день:SUBJECT-->
<head>
	<BASE href='[% CGI_SERVER %]'>
	<style>
	body { 
		color:#177182;
		font-family:Arial, Helvetica, sans-serif;
		background:#f7f7f7 repeat-x;
		font-size:13px;
	}
	table {
    	border: 1px;
	    border-collapse: collapse;
		background:#efefef  repeat-x;
	}
	td {
		padding:4px 4px 4px 4px;
    	border: 1px solid white;
	}
	th {
		background:#177182  repeat-x;
		color:#ffffff;
		text-align:center;
		font-size:12px;
		padding:5px 5px 5px 5px;
    	border: 1px solid white;
	}
	</style>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel='stylesheet' type='text/css' href='[% CGI_SERVER %]/xvb/xvb.css' />
	[% ELSE %]
	<link rel='stylesheet' type='text/css' href='[% USER_CREDS.CSS_HREF %]' />
	[% END %]
</head>

<body>
	
	<p align='left'>
		[% IF USER_CREDS.LOGO_HREF eq '' %]
			<img border='0' src='[% CGI_SERVER %]/xvb/images/logo-small.png' alt='Virtual PBX' />
		[% ELSE %]
			<img border='0' src='[% USER_CREDS.LOGO_HREF %]' alt='Virtual PBX' />
		[% END %]
	</p>

	<h3>Информация об отчете:</h3>
	<ul>
		<li>Телефонный номер: [% USER_CREDS.VOICENUMBER | html %]</li>
		<li>Код доступа: [% USER_CREDS.ACCESS_CODE | html %]</li>
		<li>Отчетный период: [% REPORT_DATE | html %]</li>
	</ul>

	[% IF SUMMARY_CALLS scalar %]
	<h3>Обобщенный отчет по звонкам:</h3>
	<table width='100%'>
	[% IF USE_BILLING %]
		<tr>
			<th>Тип звонка</th>
			<th>Количество</th>
			<th>Длительность</th>
			<th>Цена</th>
			<th>Валюта</th>
		</tr>
		[% FOREACH msg = SUMMARY_CALLS %]
		<tr align='center'>
			<td>[% msg.CALL_TYPE | locale_msg %]</td>
			<td>[% msg.CNT | html %]</td>
			<td>[% msg.DURATION | duration_str %]</td>
			<td>[% msg.USER_COST %]</td>
			<td>[% msg.DESCRIPTION | locale_msg %]</td>
		</tr>
		[% END %]

		[% ELSE %]
			
		<tr>
			<th>Тип звонка</th>
			<th>Количество</th>
			<th>Длительность</th>
		</tr>
		[% FOREACH msg = SUMMARY_CALLS %]
		<tr align='center'>
			<td>[% msg.CALL_TYPE | locale_msg %]</td>
			<td>[% msg.CNT | html %]</td>
			<td>[% msg.DURATION | duration_str %]</td>
		</tr>
		[% END %]

		[% END %]
	</table>
	[% END %]

	[% IF SUMMARY scalar %]
	<h3>Обобщенный отчет активности:</h3>
	<table width='100%'>
		<tr>
			<th>Внутренний номер</th>
			<th>Активность</th>
			<th>Количество</th>
			<th>Длительность</th>
		</tr>
		[% FOREACH msg = SUMMARY %]
		<tr align='center'>
			<td>[% msg.EXT_NUMBER | html %]</td>
			<td>[% msg.TYPE | locale_msg %]</td>
			<td>[% msg.CNT | html %]</td>
			<td>[% msg.DURATION | duration_str %]</td>
		</tr>
		[% END %]
	</table>
	[% END %]

	[% IF CALLS scalar %]
	<h3>Отчет по звонкам:</h3>
	<table width='100%'>
		[% IF USE_BILLING %]

		<tr>
			<th>Дата и время звонка</th>
			<th>Номер звонящего</th>
			<th>Длительность</th>
			<th>Тип</th>
			<th>Цена</th>
		</tr>
		[% FOREACH msg = CALLS %]
		<tr align='center'>
			<td>[% msg.CDR_DATE | html %]</td>
			<td>[% msg.CALLER_ID | html %]</td>
			<td>[% msg.CDR_DURATION | duration_str %]</td>
			<td>[% msg.CALL_TYPE | locale_msg %]</td>
			<td>[% msg.COST %] ([% msg.DESCRIPTION | locale_msg %])</td>
		</tr>
		[% END %]

		[% ELSE %]

		<tr>
			<th>Дата и время звонка</th>
			<th>Номер звонящего</th>
			<th>Длительность</th>
			<th>Тип</th>
		</tr>
		[% FOREACH msg = CALLS %]
		<tr align='center'>
			<td>[% msg.CDR_DATE | html %]</td>
			<td>[% msg.CALLER_ID | html %]</td>
			<td>[% msg.CDR_DURATION | duration_str %]</td>
			<td>[% msg.CALL_TYPE | locale_msg %]</td>
		</tr>
		[% END %]

		[% END %]
	</table>
	[% END %]
	
	<br><br>-- <br>
		Спасибо за то, что используете XVB pbx. Удачного дня !
</body>
</html>
	
