<html>
<!-- $Id: voiceboxes_list.tt,v 1.16 2022/02/23 18:59:58 gosha Exp $ -->
<head>
	<title>Virtual PBX - Список внутренних номеров - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="checkfr('uniq=[% USER_CREDS.UNIQ %]&saction=vb_list');XVBInit()">
	<center>
			

	<table width='100%'>
		<tr>
			<td align='left' width='20%'>
				&nbsp;
				<a href='?action=ivrflow_list&uniq=[% USER_CREDS.UNIQ %]' title="Диаграмма"><span class='icon-power fs0'></span></a>
			</td>
			<td align='center'>
				<h1>Список внутренних номеров</h1>
			</td>
			<td align='right' width='20%' nowrap='nowrap'>
			<form method="post" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
				&nbsp;
				[% IF USER_CREDS.ROOT eq '0' %]
				<input size='5' type='text' name='new_ext'>
				&nbsp;
				<input value='Добавить' type='submit'>
				<input name='action' value='vb_add' type='hidden'>
				<input name='uniq' value='[% USER_CREDS.UNIQ %]' type='hidden'>
				<input name='go' value='list' type='hidden'>
				[% END %]
			</form>
			</td>
		</tr>
	</table>

	<table width='100%' id='d-tbl'>
		<tr>
			<th class='rad_l'>Вн. номер</th>
			<th>Тип</th>
			<th>Имя</th>
			<th title='Ждать ввода'>Ж</th>
			<th title='Спрятать номер'>С</th>
			<th title='Прямой доступ'>П</th>
			<th title='Защита пинкодом'>З</th>
			<th title='Глобальный номер'>Г</th>
			<th>Перейти к</th>
			<th colspan="2" width="22%">Приветствие</th>
			<th class='rad_r'>&nbsp;</th>
		</tr>
		<tr>
		</tr>
		[% FOREACH vb = VB_LIST %]
		<tr class='nocolor' id='d-tr-[% vb.ID %]' align='center'>
			<td align='left'>
				&nbsp;[% vb.EXT_NUMBER | html %]
			</td>
			<td align='left'>
				<a class='vb_name' href='?action=vb_view&id=[% vb.ID %]&uniq=[% USER_CREDS.UNIQ %]'>
				[% vb.DESCRIPTION | locale_msg %]
				</a>
			</td>
			<td align='left'>
				[% vb.NAME | html %]
			</td>
			<td>
				[% vb.WAITEXTENSION %]
			</td>
			<td>
				[% vb.HIDDEN %]
			</td>
			<td>
				[% vb.DIRECT %]
			</td>
			<td>
				[% vb.PROTECT %]
			</td>
			<td>
				[% vb.GLOBAL %]
			</td>
			<td>
				[% IF vb.NEXTEXTENSION regexp '^(back|repeat|hangup)$' %]
					[% vb.NEXTEXTENSION | locale_msg %]
				[% ELSE %]
					[% vb.NEXTEXTENSION | html %]
				[% END %]
			</td>
			<td align='center'>
				[% IF vb.GREET_FILE %]
					<a title='прослушать' 
						onclick="return ShowPlayer('[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download/[% vb.ID %]/[% USER_CREDS.ACCESS_CODE %]/[% vb.GREET_FILE %]?media=mp3;type=listen' )"
						href="#"><span class='icon-volume-medium fs0'></span></a>
				[% END %]
			</td>
			<td align='left'>
				[% vb.GREETING | html %]
			</td>
			<td nowrap="nowrap">
				<a href='?action=vb_del&id=[% vb.ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return xmlhttpDel(this,'ru','d-tr-[% vb.ID %]')" title='удалить внутренний номер'><span class='icon-bin fs0'></span></a>
			</td>
		</tr>
		[% END %]
	</table>

	<script language='JavaScript'>listcolorer('d-tbl');ext_list_build('d-tbl');</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
