<html>
<!-- $Id: start.tt,v 1.2 2013-03-11 15:08:02 gosha Exp $ -->
<head>
	[% IF SACTION %]
    <META HTTP-EQUIV="refresh" CONTENT="0; URL=?action=[% SACTION %]&uniq=[% USER_CREDS.UNIQ %]"> 
	[% ELSE %]
    <META HTTP-EQUIV="refresh" CONTENT="0; URL=?action=vb_list&uniq=[% USER_CREDS.UNIQ %]"> 
	[% END %]
</head>
<body></body>
</html>

