<html>
<!-- $Id: cdrs_act_list.tt,v 1.9 2014/09/26 18:37:50 gosha Exp $ -->
<head>
	<title>Virtual PBX - CDRs / Call Detail</title>
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	[% IF CGI_ERROR ne '' %]
	<script language="JavaScript" type="text/javascript">
	<!--
		alert('[% CGI_ERROR | html %]')
	//-->
	</script>
	<noscript>[% CGI_ERROR | html %]</noscript>
	[% END %]
	
			
	<table width='95%' class='logo'>
		<tr align='left'>
			<td width='10%'>
				<img border='0' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td valign='middle'>
				[% INCLUDE main_menu.tt-inc %]
				[% INCLUDE main_menu.tt-inc-custom %]
			</td>
			<td align='right'>
				<a href='/xvb/XVB-AI.pdf?a=msg_download'><img border='0' src='/xvb/images/help.png' alt='about' /></a>
				[% INCLUDE version.tt %]
			<td>
		</tr>
	</table>
	
	<center>
	<h1>CDRs / Call Detail</h1>

	<p>
	<table width='95%' id='d-tbl'>
		<tr>
			<th>Start Date</th>
			<th>Caller ID</th>
			<th>Access Code</th>
			<th>Duration</th>
			<th>Extension</th>
			<th>Type</th>
			<th width='25%'><a class='warning-font' href="?action=call_log&call_id=[% CDR_CALL_ID | html %]&a=msg_download" target="_blank" title="call logs">Data</a></th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='7'>
				<a title='previous page' href='?action=cdr_list&from=[% MSG_PREV %]&call_id=[% CDR_CALL_ID %]'><img border='0'  src='/xvb/images/msg_prev.png' alt='[% MSG_PREV %] &lt;=' /></a>
			</td>
		</tr>
		[% END %]
		
		[% FOREACH msg = CDR_LIST %]
		<tr class='nocolor' align='center'>
			<td align='center'>[% msg.CDR_DATE | html %]</td>
			<td align='center'>[% msg.CALLER_ID | html %]</td>
			<td align='center'>[% msg.ACCESS_CODE | html %]</td>
			<td>[% msg.CDR_DURATION | duration_str %]</td>
			<td>[% msg.EXT_NUMBER | html %]</td>
			<td>[% msg.TYPE | html %]</td>
			<td align='left'>[% msg.DATA | html %]</td>
		</tr>
		[% END %]
		<tr>
		[% IF MSG_NEXT ne '' %]
			<td align='right' colspan='7'>
				<a title='next page' href='?action=cdr_list&from=[% MSG_NEXT %]&call_id=[% CDR_CALL_ID %]'><img border='0'  src='/xvb/images/msg_next.png' alt='[% MSG_PREV %] &gt;=' /></a>
			</td>
		[% ELSE %]
			<td colspan='7'>&nbsp;</td>
		[% END %]
		</tr>
	</table>
	</p>

	<script language='JavaScript'>
		var download_file_url="";
		var callback_cdr_url="$1<a title='cdr' href='?action=cdr_list&call_id=$2'>CALL</a>";
		var js_date_str="[% JS_DATE_STR | html %]-DTMF history";
		cdrfilters( 'd-tbl', 6 );
		listcolorer( 'd-tbl' );
	</script>

	</center>
	
	[% INCLUDE main_menu2.tt-inc-custom %]

	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>

