<html>
<head>
	<title>Virtual PBX - groups</title>
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	[% IF CGI_ERROR ne '' %]
	<script language="JavaScript" type="text/javascript">
	<!--
		alert('[% CGI_ERROR | html %]')
	//-->
	</script>
	<noscript>[% CGI_ERROR | html %]</noscript>
	[% END %]

	<table width='95%' class='logo'>
		<tr align='left'>
			<td width='10%'>
				<img border='0' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td valign='middle'>
				[% INCLUDE main_menu.tt-inc %]
				[% INCLUDE main_menu.tt-inc-custom %]
			</td>
			<td align='right'>
				<a href='/xvb/XVB-AI.pdf?a=msg_download'><img border='0' src='/xvb/images/help.png' alt='about' /></a>
				[% INCLUDE version.tt %]
			<td>
		</tr>
	</table>
	<center>
	
	<h1>Groups</h1>

	<table width='100%'>
		<tr>
			<td align='right'>
				<form method='post'>
					<input size='14' name='f_group' type='text' placeholder='Group name' 'value='[% F_GROUP | html %]'>
					<input type='hidden' value='group_list' name='action'>
					&nbsp;
					<input value='search' type='submit'>
				</form>
			</td>
		</tr>
	</table>

	<p>
	<table width='95%' id='list-data'>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Language</th>
			<th>Tariff</th>
			<th>Codec</th>
			<th>Sound prefix</th>
			<th>Template prefix</th>
			<th>&nbsp;</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='6'>
				<a title='previous page' href='?action=group_list&from=[% MSG_PREV %]&f_group=[% F_GROUP | html %]'><img border='0'  src='/xvb/images/msg_prev.png' alt='[% MSG_PREV %] &lt;=' /></a>
			</td>
		</tr>
		[% END %]
		
		[% FOREACH gr = GROUPS %]
		<tr align='center' class='nocolor'>
			<td><a title='edit group' href='?action=group_info&group_id=[% gr.GROUP_ID %]'>[% gr.GROUP_ID | html %]</a>
			<td align='left'><a title='edit group' href='?action=group_info&group_id=[% gr.GROUP_ID %]'>[% gr.GROUP_NAME | html %]</a>
			<td>[% gr.LANG_NAME | html %]</td>
			<td>[% gr.TARIFF_NAME | html %]</td>
			<td>[% gr.PREF_CODEC | html %]</td>
			<td>[% gr.SUB_SOUND_DIR | html %]</td>
			<td>[% gr.SUB_TEMPLATE_DIR | html %]</td>
			<td>
				<a title='clone group' href='?action=clone&tname=GROUP&id=[% gr.GROUP_ID %]&fname=GROUP_NAME&fid=GROUP_ID&newaction=group_info%26group_id'><img border='0'  src='/xvb/images/clone.png' alt='clone' /></a>&nbsp;&nbsp;
				<a title='delete group' href='?action=group_del&group_id=[% gr.GROUP_ID %]&from=[% MSG_FROM %]&f_group=[% F_GROUP | html %]' onclick="return DelConfirm('en')"><img border='0'  src='/xvb/images/vb_del.png' alt='del' /></a>
			</td>
			</form>
		</tr>
		[% END %]

		<tr>
			<form method='post'>
			<td align='left' colspan='6'>
				<input size='15' placeholder='Group name' type='text' name='group_name'>
				&nbsp;
				<select name='node_name'>
					[% FOREACH node = NODES %]
					<option value="[% node.NODE_ID | html %]">[% node.NODE_ID | html %]</option>
					[% END %]
				</select>
				&nbsp;
				<input type='hidden' value='group_add' name='action'>
				<input value='create new group' type='submit'>
			</td>
			<td align='right' colspan='2'>
				[% IF MSG_NEXT ne '' %]
				<a title='next page' href='?action=group_list&from=[% MSG_NEXT %]&f_group=[% F_GROUP | html %]'><img border='0'  src='/xvb/images/msg_next.png' alt='=&gt; [% MSG_NEXT %]' /></a>
				[% END %]
			</td>
		</tr>
	</table>
	<script language='JavaScript'>listcolorer( 'list-data' );</script>
	</p>
	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
