<html>
<head>
	<title>Virtual PBX - group [% GROUP.GROUP_NAME | html %]</title>
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	[% IF CGI_ERROR ne '' %]
	<script language="JavaScript" type="text/javascript">
	<!--
		alert('[% CGI_ERROR | html %]')
	//-->
	</script>
	<noscript>[% CGI_ERROR | html %]</noscript>
	[% END %]

	<table width='100%' class='logo'>
		<tr align='left'>
			<td width='10%'>
				<img border='0' width='120' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td valign='middle'>
				[% INCLUDE main_menu.tt-inc %]
				[% INCLUDE main_menu.tt-inc-custom %]
			</td>
			<td align='right'>
				<a href='/xvb/XVB-AI.pdf?a=msg_download' title='about'><span class='icon-question fs0'></span></a>
				[% INCLUDE version.tt %]
			<td>
		</tr>
	</table>
	<center>
	
	<table width='100%'>
		<tr>
			<td width='90%' align='center'>
				<h1>Group '<b>[% GROUP.GROUP_NAME | html %]</b>'</h1>
			</td>
			<td align='right'>
				<a title='delete group' href='?action=group_del&group_id=[% GROUP.GROUP_ID %]' onclick="return DelConfirm('en')"><span class='icon-cross fs0'></span></a>
			</td>
		</tr>
	</table>
	
	<p>
	<table width='90%'>
		<form method='post'>
		<tr>
			<td>Group Name: </td>
			<td><input name='GR_GROUP_NAME' type='text' value="[% GROUP.GROUP_NAME | html %]"></td>
			<td rowspan='40' valign='top'>
				<table>
					<tr>
						<td colspan='2'><h4>Limits on the number of extensions:</h4></td>
						<input name='VB_TYPE_0' type='hidden' value="1">
					</tr>
					[% FOREACH vb = VB_TYPES %]
					<tr>
						<td>
							[% vb.DESCRIPTION | html %]
						</td>
						<td>
							<input name='GR_VBL_[% vb.ID %]' type='text' size='5' value="[% vb.LIMIT_VALUE %]">
						</td>
					</tr>
					[% END %]
					<tr>
						<td>&nbsp;</td>
						<td>-1 - unlimit<br>0 - type not allowed</td>
					</tr>
					<tr>
						<td colspan='2'><h4>Other feautures:</h4></td>
					</tr>
					<tr>
						<td>Upload custom system files: </td>
						<td>
							<select name="GR_CUSTOM_FILES">
							[% IF GROUP.CUSTOM_FILES %]
								<option value="1">yes</option>
								<option value="0">no</option>
							[% ELSE %]
								<option value="0">no</option>
								<option value="1">yes</option>
							[% END %]
							</select>
						</td>
					</tr>
					<tr>
						<td>Dialout direct ( sip only ): </td>
						<td>
						<select name="GR_DIALOUT_DIRECT">
						[% IF GROUP.DIALOUT_DIRECT %]
							<option value="1">yes</option>
							<option value="0">no</option>
						[% ELSE %]
							<option value="0">no</option>
							<option value="1">yes</option>
						[% END %]
						</select>
						</td>
					</tr>
					<tr>
						<td>Dialout Custom routes: </td>
						<td>
						<select name="GR_CUSTOM_ROUTE">
						[% IF GROUP.CUSTOM_ROUTE %]
							<option value="1">yes</option>
							<option value="0">no</option>
						[% ELSE %]
							<option value="0">no</option>
							<option value="1">yes</option>
						[% END %]
						</select>
						</td>
					</tr>
					<tr>
						<td>Enable incoming custom routes: </td>
						<td>
						<select name="GR_CUSTOM_REGS">
						[% IF GROUP.CUSTOM_REGS %]
							<option value="1">yes</option>
							<option value="0">no</option>
						[% ELSE %]
							<option value="0">no</option>
							<option value="1">yes</option>
						[% END %]
						</select>
						</td>
					</tr>
					<tr>
						<td>Enable User Phones: </td>
						<td>
						<select name="GR_ALLOW_PHONES">
						[% IF GROUP.ALLOW_PHONES %]
							<option value="1">yes</option>
							<option value="0">no</option>
						[% ELSE %]
							<option value="0">no</option>
							<option value="1">yes</option>
						[% END %]
						</select>
						</td>
					</tr>
					<tr>
						<td>Enable TTS greetings: </td>
						<td>
						<select name="GR_TTS_GREETING">
						[% IF GROUP.TTS_GREETING %]
							<option value="1">yes</option>
							<option value="0">no</option>
						[% ELSE %]
							<option value="0">no</option>
							<option value="1">yes</option>
						[% END %]
						</select>
						</td>
					</tr>
					<tr>
						<td>Enable Macros: </td>
						<td>
						<select name="GR_ALLOW_MACROS">
						[% IF GROUP.ALLOW_MACROS %]
							<option value="1">yes</option>
							<option value="0">no</option>
						[% ELSE %]
							<option value="0">no</option>
							<option value="1">yes</option>
						[% END %]
						</select>
						</td>
					</tr>
					<tr>
						<td>Enable Advanced CallBlast: </td>
						<td>
						<select name="GR_ADVANCED_CALLBLAST">
						[% IF GROUP.ADVANCED_CALLBLAST %]
							<option value="1">yes</option>
							<option value="0">no</option>
						[% ELSE %]
							<option value="0">no</option>
							<option value="1">yes</option>
						[% END %]
						</select>
						</td>
					</tr>
					<tr>
						<td>Eanble WEB API: </td>
						<td>
						<select name="GR_ALLOW_API">
						[% IF GROUP.ALLOW_API %]
							<option value="1">yes</option>
							<option value="0">no</option>
						[% ELSE %]
							<option value="0">no</option>
							<option value="1">yes</option>
						[% END %]
						</select>
						</td>
					</tr>
					<tr>
						<td>Enable IceCast: </td>
						<td>
						<select name="GR_ALLOW_ICECAST">
						[% IF GROUP.ALLOW_ICECAST %]
							<option value="1">yes</option>
							<option value="0">no</option>
						[% ELSE %]
							<option value="0">no</option>
							<option value="1">yes</option>
						[% END %]
						</select>
						</td>
					</tr>
					<tr>
						<td>Enable Extended stat: </td>
						<td>
						<select name="GR_ALLOW_EXTSTAT">
						[% IF GROUP.ALLOW_EXTSTAT %]
							<option value="1">yes</option>
							<option value="0">no</option>
						[% ELSE %]
							<option value="0">no</option>
							<option value="1">yes</option>
						[% END %]
						</select>
						</td>
					</tr>
					<tr>
						<td>Enable Google Analytics: </td>
						<td>
						<select name="GR_ALLOW_GA">
						[% IF GROUP.ALLOW_GA eq "1" %]
							<option value="1">mode 1</option>
						[% ELSIF GROUP.ALLOW_GA eq "2" %]
							<option value="2">mode 2</option>
						[% ELSIF GROUP.ALLOW_GA eq "3" %]
							<option value="3">mode 3</option>
						[% ELSE %]
							<option value="0">no</option>
						[% END %]
							<option value="0">no</option>
							<option value="1">mode 1</option>
							<option value="2">mode 2</option>
							<option value="3">mode 3</option>
						</select>
						</td>
					</tr>
					<tr>
						<td>Enable Call Tracking: </td>
						<td>
						<select name="GR_ALLOW_CTR">
						[% IF GROUP.ALLOW_CTR %]
							<option value="1">yes</option>
							<option value="0">no</option>
						[% ELSE %]
							<option value="0">no</option>
							<option value="1">yes</option>
						[% END %]
						</select>
						</td>
					</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>Dialout asterisk context: </td>
			<td><input name='GR_DIALOUT_CONTEXT' type='text' value="[% GROUP.DIALOUT_CONTEXT | html %]"></td>
		</tr>
		<tr>
			<td>Conference asterisk context: </td>
			<td><input name='GR_CONFERENCE_CONTEXT' type='text' value="[% GROUP.CONFERENCE_CONTEXT | html %]"></td>
		</tr>
		<tr>
			<td>Maximum incomming concurrent calls: </td>
			<td><input name='GR_MAX_CALLS_IN' type='text' value="[% GROUP.MAX_CALLS_IN | html %]"></td>
		</tr>
		<tr>
			<td>Maximum size of all messages ( bytes ): </td>
			<td><input name='GR_MAX_SIZE_MSGS' type='text' value="[% GROUP.MAX_SIZE_MSGS | html %]"></td>
		</tr>
		<tr>
			<td>Maximum all messages: </td>
			<td><input name='GR_MAX_ALL_MSGS' type='text' value="[% GROUP.MAX_ALL_MSGS | html %]"></td>
		</tr>
		<tr>
			<td>Maximum extensions: </td>
			<td><input name='GR_MAX_EXTENSIONS' type='text' value="[% GROUP.MAX_EXTENSIONS | html %]"></td>
		</tr>
		<tr>
			<td>Maximum Number of CID Filters: </td>
			<td><input name='GR_MAX_EXT_CIDS' type='text' value="[% GROUP.MAX_EXT_CIDS | html %]"></td>
		</tr>
		<tr>
			<td>Maximum Number of Phone Book items: </td>
			<td><input name='GR_MAX_PBOOK_ITEMS' type='text' value="[% GROUP.MAX_PBOOK_ITEMS | html %]"></td>
		</tr>
		<tr>
			<td>Maximum Number of Routes: </td>
			<td><input name='GR_MAX_ROUTES' type='text' value="[% GROUP.MAX_ROUTES | html %]"></td>
		</tr>
		<tr>
			<td>Maximum Number of Peers: </td>
			<td><input name='GR_MAX_PEERS' type='text' value="[% GROUP.MAX_PEERS | html %]"></td>
		</tr>
		<tr>
			<td>Maximum Number of custom registrations: </td>
			<td><input name='GR_MAX_REGS' type='text' value="[% GROUP.MAX_REGS | html %]"></td>
		</tr>
		<tr>
			<td>Maximum Number of Phones: </td>
			<td><input name='GR_MAX_PHONES' type='text' value="[% GROUP.MAX_PHONES | html %]"></td>
		</tr>
		<tr>
			<td>Maximum Number of Macros: </td>
			<td><input name='GR_MAX_MACROS' type='text' value="[% GROUP.MAX_MACROS | html %]"></td>
		</tr>
		<tr>
			<td>Maximum Number of CallBlast items in ext: </td>
			<td><input name='GR_MAX_CALLBLAST_ITEMS' type='text' value="[% GROUP.MAX_CALLBLAST_ITEMS | html %]"></td>
		</tr>
		<tr>
			<td>Maximum Number of GotoIF items in ext: </td>
			<td><input name='GR_MAX_GOTOIF_ITEMS' type='text' value="[% GROUP.MAX_GOTOIF_ITEMS | html %]"></td>
		</tr>
		<tr>
			<td>Maximum Phones for FollowMe & Queue: </td>
			<td><input name='GR_MAX_EXT_PHONES' type='text' value="[% GROUP.MAX_EXT_PHONES | html %]"></td>
		</tr>
		<tr>
			<td>Maximum Phones for CallBlast item: </td>
			<td><input name='GR_MAX_CB_PHONES' type='text' value="[% GROUP.MAX_CB_PHONES | html %]"></td>
		</tr>
		<tr>
			<td>Maximum Number of Schedule items in ext: </td>
			<td><input name='GR_MAX_SCHEDULE_ITEMS' type='text' value="[% GROUP.MAX_SCHEDULE_ITEMS | html %]"></td>
		</tr>
		<tr>
			<td>Maximum Number of podcasts in ext: </td>
			<td><input name='GR_MAX_EXT_PODCAST' type='text' value="[% GROUP.MAX_EXT_PODCAST | html %]"></td>
		</tr>
		<tr>
			<td>Maximum Number of GoogleCallendar events: </td>
			<td><input name='GR_MAX_GC_EVENTS' type='text' value="[% GROUP.MAX_GC_EVENTS | html %]"></td>
		</tr>
		<tr>
			<td>Maximum Number of Click2Call links: </td>
			<td><input name='GR_MAX_C2C_ITEMS' type='text' value="[% GROUP.MAX_C2C_ITEMS | html %]"></td>
		</tr>
		<tr>
			<td>Maximum email-attachment size ( bytes ): </td>
			<td><input name='GR_MAX_ATTACH_SIZE' type='text' value="[% GROUP.MAX_ATTACH_SIZE | html %]"></td>
		</tr>
		<tr>
			<td>Maximum TTS download size ( bytes ): </td>
			<td><input name='GR_MAX_DOWNLOAD_SIZE' type='text' value="[% GROUP.MAX_DOWNLOAD_SIZE | html %]"></td>
		</tr>
		<tr>
			<td>Maximum TTS string size ( bytes ): </td>
			<td><input name='GR_MAX_TTS_LENGTH' type='text' value="[% GROUP.MAX_TTS_LENGTH | html %]"></td>
		</tr>
		<tr>
			<td>Maximum incoming call duration ( sec ): </td>
			<td><input name='GR_MAX_CALL_DURATION' type='text' value="[% GROUP.MAX_CALL_DURATION | html %]"></td>
		</tr>
		<tr>
			<td>Maximum voice mesage duration ( sec ): </td>
			<td><input name='GR_MAX_MESSAGE_DURATION' type='text' value="[% GROUP.MAX_MESSAGE_DURATION | html %]"></td>
		</tr>
		<tr>
			<td>Maximum User Name duration ( sec ): </td>
			<td><input name='GR_MAX_NAME_DURATION' type='text' value="[% GROUP.MAX_NAME_DURATION | html %]"></td>
		</tr>
		<tr>
			<td>Maximum User Greeting duration ( sec ): </td>
			<td><input name='GR_MAX_GREET_DURATION' type='text' value="[% GROUP.MAX_GREET_DURATION | html %]"></td>
		</tr>
		<tr>
			<td>Maximum Announcement (callee) duration ( sec ): </td>
			<td><input name='GR_MAX_ANNOUNCEMENT_DURATION' type='text' value="[% GROUP.MAX_ANNOUNCEMENT_DURATION | html %]"></td>
		</tr>
		<tr>
			<td>Maximum Announcement (caller) duration ( sec ): </td>
			<td><input name='GR_MAX_ANNOUNCEMENT_CALLER_DURATION' type='text' value="[% GROUP.MAX_ANNOUNCEMENT_CALLER_DURATION | html %]"></td>
		</tr>
		<tr>
			<td>Maximum RetryDial duration ( sec ): </td>
			<td><input name='GR_MAX_RETRYDIAL_DURATION' type='text' value="[% GROUP.MAX_RETRYDIAL_DURATION | html %]"></td>
		</tr>
		<tr>
			<td>Maximum MOH duration ( sec ): </td>
			<td><input name='GR_MAX_MOH_DURATION' type='text' value="[% GROUP.MAX_MOH_DURATION | html %]"></td>
		</tr>
		<tr>
			<td>Custom template prefix: </td>
			<td><input name='GR_SUB_TEMPLATE_DIR' type='text' value="[% GROUP.SUB_TEMPLATE_DIR | html %]"></td>
		</tr>
		<tr>
			<td>Custom sound prefix: </td>
			<td><input name='GR_SUB_SOUND_DIR' type='text' value="[% GROUP.SUB_SOUND_DIR | html %]"></td>
		</tr>
		<tr>
			<td>Prefered codec ( for recordings ): </td>
			<td><input name='GR_PREF_CODEC' type='text' value="[% GROUP.PREF_CODEC | html %]"></td>
		</tr>
		<tr>
			<td>Phone features ( comma separated, * - for all ):</td>
			<td>
				<textarea rows='2' cols='22' name='GR_PH_FEATURES'>[% GROUP.PH_FEATURES | html %]</textarea>
			</td>
		</tr>
		<tr>
			<td>Hooks ( comma separated ):</td>
			<td>
				<textarea rows='2' cols='22' name='GR_HOOKS'>[% GROUP.HOOKS | html %]</textarea>
			</td>
		</tr>
		<tr>
			<td>Prefered language:</td>
			<td>
				<select name='GR_PREF_LANG'>
					[% FOREACH lang = LANG %]
						[% IF GROUP.PREF_LANG eq lang.ID %]
							<option value="[% lang.ID %]" selected>[% lang.DESCRIPTION | html %]</option>
						[% ELSE %]
							<option value="[% lang.ID | html %]">[% lang.DESCRIPTION | html %]</option>
						[% END %]
					[% END %]
				</select>
			</td>
		</tr>
		<tr>
			<td>SERVER ID:</td>
			<td>
				<select name='GR_SERVER_ID'>
					[% FOREACH node = NODES %]
						[% IF GROUP.SERVER_ID eq node.NODE_ID %]
							<option value="[% node.NODE_ID | html %]" selected>[% node.NODE_ID | html %]</option>
						[% ELSE %]
							<option value="[% node.NODE_ID | html %]">[% node.NODE_ID | html %]</option>
						[% END %]
					[% END %]
				</select>
			</td>
		</tr>
		<tr>
			<td>Tariff:</td>
			<td>
				<select name='GR_TARIFF_ID'>
					[% FOREACH t = TARIFFS %]
						[% IF GROUP.TARIFF_ID eq t.ID %]
							<option value="[% t.ID | html %]" selected>[% t.NAME | html %]</option>
						[% ELSE %]
							<option value="[% t.ID | html %]">[% t.NAME | html %]</option>
						[% END %]
					[% END %]
				</select>
				<a title='tarif info' href='?action=tariff_info&tariff_id=[% GROUP.TARIFF_ID %]'><span class='icon-info fs0'></span></a>
			</td>
		</tr>
		<tr>
			<td colspan='3'>&nbsp;</td>
		</tr>
		<tr>
			<td colspan='3' align ='center'>
				<input type='hidden' value='[% GROUP.GROUP_ID %]' name='group_id'>
				<input type='hidden' value='group_update' name='action'>
				<input type='hidden' value='gr' name='go'>
				<input value='Save changes' type='submit'>
			</td>
		</tr>
		</form>
	</table>
	</p>
	</center>
	
	[% INCLUDE main_menu2.tt-inc-custom %]
	
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
