<html>
<head>
	<title>Virtual PBX - nodes</title>
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	[% IF CGI_ERROR ne '' %]
	<script language="JavaScript" type="text/javascript">
	<!--
		alert('[% CGI_ERROR | html %]')
	//-->
	</script>
	<noscript>[% CGI_ERROR | html %]</noscript>
	[% END %]
	
	<table width='95%' class='logo'>
		<tr align='left'>
			<td width='10%'>
				<img border='0' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td valign='middle'>
				[% INCLUDE main_menu.tt-inc %]
				[% INCLUDE main_menu.tt-inc-custom %]
			</td>
			<td align='right'>
				<a href='/xvb/XVB-AI.pdf?a=msg_download'><img border='0' src='/xvb/images/help.png' alt='about' /></a>
				[% INCLUDE version.tt %]
			<td>
		</tr>
	</table>

	<center>
	
	<h1>Nodes</h1>
	
	<p>
	<table width='95%' id='list-data'>
		<tr>
			<th>Id</th>
			<th>Download IP</th>
			<th>Asterisk IP</th>
			<!--<th>AMI login:password</th>-->
			<th>Comment</th>
			<th>Limits</th>
			<th>Stat URL</th>
			<th>Stats</th>
			<th>Actions</th>
		</tr>
			
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='5'>
				<a title='previous page' href='?action=node_list&from=[% MSG_PREV %]'><img border='0'  src='/xvb/images/msg_prev.png' alt='[% MSG_PREV %] &lt;=' /></a>
			</td>
		</tr>
		[% END %]

		[% FOREACH node = NODES %]
		<tr align='center' class='nocolor' id='d-tr-[% node.NODE_ID %]'>
			<form method='post'>
			<td align='left'>
			[% IF node.NODE_STAT_URL %]
				<a title='system statistics' href="[% node.NODE_STAT_URL %]">[% node.NODE_ID | html %]</a>
			[% ELSE %]
				[% node.NODE_ID | html %]
			[% END %]
			</td>
			<td><input class='in_t0' size='15' name='N_DOWNLOAD_IP' type='text' value='[% node.DOWNLOAD_IP | html %]'></td>
			<td><input class='in_t0' size='15' name='N_NODE_IP' type='text' value='[% node.NODE_IP | html %]'></td>
			<!--<td><input name='N_AMI_CREDS' type='text' value='[% node.AMI_CREDS | html %]'></td>-->
			<td><input class='in_t0' size='15' name='N_NODE_DESC' type='text' value='[% node.NODE_DESC | html %]'></td>
			<td><input class='in_t0' size='12' name='N_NODE_LIMITS' type='text' value='[% node.NODE_LIMITS | html %]'></td>
			<td><input class='in_t0' size='20' name='N_NODE_STAT_URL' type='text' value='[% node.NODE_STAT_URL | html %]'></td>
			<td align='left'>
				<b>Calls:</b> [% node.stat.calls %]<br>
				[% IF node.stat.la_1-time %]
					<b>la_1/5/10:</b> [% node.stat.la_1 %] / [% node.stat.la_5 %] / [% node.stat.la_10 %]<br>
					<b>SysUptime:</b> [% node.stat.sys_uptime %]<br>
					<b>AstUptime:</b> [% node.stat.ast_uptime %]<br>
					<b>AstReload:</b> [% node.stat.ast_reload %]<br>
					<b>Date:</b> [% node.stat.la_1-time | gmtime %]
				[% END %]
			</td>
			<td>
				<input type='hidden' value='[% node.NODE_ID %]' name='node_id'>
				<input type='hidden' value='[% node.NODE_ID %]' name='data_id'>
				<input type='hidden' value='node_update' name='action'>
				<input type='hidden' value='[% MSG_FROM %]' name='from'>
				<a title='delete node' href='?action=node_del&node_id=[% node.NODE_ID %]&from=[% MSG_FROM %]' onclick="return DelConfirm('en')"><img border='0'  src='/xvb/images/vb_del.png' alt='del' /></a>
				
				<span class='in_t' id='in_t_id-[% node.NODE_ID %]'>
				<script language='JavaScript'>
					writeUpdateLinks( 'save changes' );
				</script>
				<noscript><input value='change' type='submit'></noscript>
				</span>
				
			</td>
			</form>
		</tr>
		[% END %]

		<form>
		<tr align='center'>
			<td><input size='15' type='text' name='N_NODE_ID'></td>
			<td><input size='15' type='text' name='N_DOWNLOAD_IP'></td>
			<td><input size='15' type='text' name='N_NODE_IP'></td>
			<!--<td><input type='text' name='N_AMI_CREDS'></td>-->
			<td><input size='15' type='text' name='N_NODE_DESC'></td>
			<td><input size='12' type='text' name='N_NODE_LIMITS'></td>
			<td><input size='20' type='text' name='N_NODE_STAT_URL'></td>
			<td align='left'>
				<input value='add new node' type='submit'>
				<input type='hidden' value='node_add' name='action'>
			</td>
			<td>&nbsp;</td>
		</tr>
		</form>
		[% IF MSG_NEXT ne '' %]
		<tr>
			<td align='right' colspan='5'>
				<a title='next page' href='?action=node_list&from=[% MSG_NEXT %]'><img border='0'  src='/xvb/images/msg_next.png' alt='=&gt; [% MSG_NEXT %]' /></a>
			</td>
		</tr>
		[% END %]
	</table>
	<script language='JavaScript'>listcolorer( 'list-data' );</script>
	<p>
	</center>
	
	[% INCLUDE main_menu2.tt-inc-custom %]
	
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
