<html>
<!-- $Id: peer_list.tt,v 1.21 2015/03/26 14:45:41 gosha Exp $ -->
<head>
	<title>Virtual PBX - SIP Peers</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	<table width='100%' class='logo'>
		<tr align='left'>
			<td width='10%'>
				<img border='0' width='120' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td valign='middle'>
				[% INCLUDE main_menu.tt-inc %]
				[% INCLUDE main_menu.tt-inc-custom %]
			</td>
			<td align='right'>
				<a href='/xvb/XVB-AI.pdf?a=msg_download' title='about'><span class='icon-question fs0'></span></a>
				[% INCLUDE version.tt %]
			<td>
		</tr>
	</table>
	<center>
	
	<h1>SIP peers</h1>

	<table width='100%'>
		<tr>
			<td align='right'>
				<form method="post" onSubmit='return checkChanges(this)'>
					<input size='15' name='host' type='text' placeholder='Proxy' value='[% HOST | html %]'>
					&nbsp;
					<input size='11' name='authname' type='text' placeholder='Peer ID' value='[% AUTHNAME | html %]'>
					&nbsp;
					<input size='11' name='ac' type='text' placeholder='Access code' value='[% AC | html %]'>
					&nbsp;
					<select name="need_reg" id="status_need_reg_selector">
						<option value="" selected>need regs</option>
						<option value="1">yes</option>
						<option value="0">no</option>
					</select>
					&nbsp;
					<select name="pbxmode" id="status_pbxmode_selector">
						<option value="" selected>pbxmode</option>
						<option value="1">yes</option>
						<option value="0">no</option>
					</select>
					&nbsp;
					<input type='hidden' value='peer_list' name='action'>
					<input value='Search' type='submit'>
				</form>
			</td>
			<script language='JavaScript'>
				setActiveSelector('status_need_reg_selector',"[% NEED_REG %]");
				setActiveSelector('status_pbxmode_selector',"[% PBXMODE %]");
			</script>
		</tr>
	</table>
	
	<p>
	<table width='100%' id='d-tbl'>
		<tr>
			<th>Access code</th>
			<th>Peer ID</th>
			<th>Proto</th>
			<th>Proxy</th>
			<th>Port</th>
			<th>Domain</th>
			<th>User</th>
			<th>CallerID</th>
			<th>DTMF mode</th>
			<th colspan='2'>Need regs</th>
			<th>&nbsp;</th>
		</tr>
		
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='11'>
				<a title='previous page' href='?action=peer_list&ac=[% AC | html %]&pbxmode=[% PBXMODE %]&need_reg=[% NEED_REG | html %]&host=[% HOST | html %]&from=[% MSG_PREV %]&authname=[% NAME | html %]'><span class='fs0'>◄</span></a>
			</td>
		</tr>
		[% END %]
		
		[% FOREACH p = SIPDEV %]
		<tr align='left' class='nocolor' id='d-tr-[% p.DATA_ID %]'>
			<td><a title='edit user settings' href='?ac=[% p.ACCESS_CODE %]&action=user_info'>[% p.ACCESS_CODE %]</a></td>
			<td>[% p.name %]</td>
			<td>[% p.transport | html %]</td>
			<td><span title='[% p.DESCRIPTION | html %]'>[% p.host | html %]</span></td>
			<td>[% p.port | html %]</td>
			<td>[% p.fromdomain | html %]</td>
			<td>[% p.username | html %]</td>
			<td>[% p.fromuser | html %]</td>
			<td>[% p.dtmfmode | html %]</td>
			<td>
			[% IF p.NEED_REG eq '1' %]
				yes
			[% ELSE %]
				no
			[% END %]
			</td>
			<td>
			[% IF p.REG_DATA %]
				[% IF p.REG_DATA.state eq 'Registered' %]
					<span class='fs1'>✓</span>
				[% ELSE %]
					<a href='#' class='r-info'>
					<span class='icon-warning fs1'></span>
					<span class='r-info'>
						[% p.REG_DATA.state | html %]
					</span>
					</a>
				[% END %]
			[% END %]
			</td>

			<td nowrap='nowrap'>

			<form method='post' id='f-[% p.DATA_ID %]' onSubmit='return xmlhttpPost(this,1)' action="">
				<input class='in_t0' name='PBXMODE' type='checkbox' title='PBX MODE'
				[% IF p.setvar contain 'PBXMODE=1' %]
				checked 
				[% END %]
				/>
				<input type='hidden' value='[% p.DATA_ID %]' name='data_id'>
				<input type='hidden' value='pbx_mode_update' name='action'>
				<input type='hidden' name='user_id' value='[% p.SUBSCR_ID %]'>
				<input type='hidden' name='host' value='[% p.host | html %]'>
				<input type='hidden' name='need_reg' value='[% p.NEED_REG | html %]'>
				<span class='in_t' id='in_t_id-[% p.DATA_ID %]'>
					<a href='#' onclick="return xmlhttpPost(document.getElementById('f-[% p.DATA_ID %]'),1);"><span class='icon-floppy-disk fs0 blink' title='save changes'></span></a>
					<noscript><input value='change' type='submit'></noscript>
				</span>
			</form>
			</td>
		</tr>
		[% END %]
	
		[% IF MSG_NEXT ne '' %]
		<tr>
			<td align='right' colspan='11'>
				<a title='previous page' href='?action=peer_list&ac=[% AC | html %]&pbxmode=[% PBXMODE %]&need_reg=[% NEED_REG | html %]&host=[% HOST | html %]&from=[% MSG_NEXT %]&authname=[% NAME | html %]'><span class='fs0'>►</span></a>
			</td>
		</tr>
		[% END %]
	</table>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	
	[% INCLUDE main_menu2.tt-inc-custom %]
	
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
