<html>
<head>
	<title>Virtual PBX - reports</title>
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	[% IF CGI_ERROR ne '' %]
	<script language="JavaScript" type="text/javascript">
	<!--
		alert('[% CGI_ERROR | html %]')
	//-->
	</script>
	<noscript>[% CGI_ERROR | html %]</noscript>
	[% END %]

	<table width='95%' class='logo'>
		<tr align='left'>
			<td width='10%'>
				<img border='0' width='120' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td valign='middle'>
				[% INCLUDE main_menu.tt-inc %]
				[% INCLUDE main_menu.tt-inc-custom %]
			</td>
			<td align='right'>
				<a href='/xvb/XVB-AI.pdf?a=msg_download'><img border='0' src='/xvb/images/help.png' alt='about' /></a>
				[% INCLUDE version.tt %]
			<td>
		</tr>
	</table>
	<center>
	
	<h1>SQL Reports</h1>

	<table width='100%'>
		<tr>
			<td align='left' width='50%'>
				<form method="post" onSubmit='return checkChanges(this)'>
					<input type='hidden' name='action' value='report_run'>
					<input placeholder='Report #' type='text' name='report_id' size='5'>
					&nbsp;
					<input value='Run' type='submit'>
				</form>
			</td>
			<td align='right'>
				<form method="post" onSubmit='return checkChanges(this)'>
					<input size='20' name='name' type='text' placeholder='Report name' value='[% SEARCH_NAME %]'>
					<input type='hidden' value='report_list' name='action'>
					&nbsp;
					<input value='Search' type='submit'>
				</form>
			</td>
		</tr>
	</table>
	
	<p>
	<table width='98%' id='list-data'>
		<tr>
			<th>&nbsp;N&nbsp;</th>
			<th>Report name</th>
			<th>Create date</th>
			<th>Owner</th>
			<th>Cache TTL</th>
			<th>Actions</th>
		</tr>
			
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='6'>
				<a title='previous page' href='?action=reports_list&name=[% SEARCH_NAME | html %]&from=[% MSG_PREV %]'><img border='0' src='/xvb/images/msg_prev.png' alt='[% MSG_PREV %] &lt;=' /></a>
			</td>
		</tr>
		[% END %]

		[% FOREACH t = REPORTS %]
		<tr align='center' class='nocolor'>
			<td><a title='edit report' href='?action=report_info&report_id=[% t.ID %]'>[% t.ID %]</a></td>
			<td align='left'><a title='run report' href='?action=report_run&report_id=[% t.ID %]'>[% t.NAME | html %]</a></td>
			<td>[% t.CREATE_DATE %]</td>
			<td>
				[% IF t.TYPE eq '1' %]
					admin
				[% ELSE %]
					user
				[% END %]
			</td>
			<td>[% t.TTL | duration_str | html %]</td>
			<td>
				<a title='run report' href='?action=report_run&report_id=[% t.ID %]'><img border='0' src='/xvb/images/run.png' alt='run' /></a>&nbsp;&nbsp;
				<a title='get excel table' href='?action=report_run&report_id=[% t.ID %]&need_excel=1'><img border='0' src='/xvb/images/excel.png' alt='excel' /></a>&nbsp;&nbsp;
				<a title='edit report' href='?action=report_info&report_id=[% t.ID %]'><img border='0' src='/xvb/images/vb_edit.png' alt='edit' /></a>&nbsp;&nbsp;
				<a title='delete report' href='?action=report_del&report_id=[% t.ID %]&from=[% MSG_FROM %]' onclick="return DelConfirm('en')"><img border='0'  src='/xvb/images/vb_del.png' alt='del' /></a>
			</td>
		</tr>
		[% END %]
	
		<tr>
			<td align='left' colspan='3'>
				<form method="post" onSubmit='return checkChanges(this)'>
				&nbsp;
				<input placeholder='Report name' size='20' name='R_NAME' type='text'>
				<input type='hidden' value='report_add' name='action'>
				<input value='Add report' type='submit'>
				</form>
			</td>
			<td align='right' colspan='3'>
				[% IF MSG_NEXT ne '' %]
				<a title='next page' href='?action=report_list&name=[% SEARCH_NAME | html %]&from=[% MSG_NEXT %]'><img border='0'  src='/xvb/images/msg_next.png' alt='=&gt; [% MSG_NEXT %]' /></a>
				[% END %]
			</td>
		</tr>
	</table>
	<script language='JavaScript'>listcolorer( 'list-data' );</script>
	</p>

	</center>
	
	[% INCLUDE main_menu2.tt-inc-custom %]
	
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
