<html>
<!-- $Id: peer_list.tt,v 1.29 2013-03-11 15:08:01 gosha Exp $ -->
<head>
	<title>Virtual PBX - SIP шлюзы - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
	<p>
	<table width='95%' class='logo'>
		<tr>
			<td align='left' width='20%'>
			[% IF USER_CREDS.LOGO_HREF eq '' %]
				<img border='0' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			[% ELSE %]
				<img border='0' src='[% USER_CREDS.LOGO_HREF %]' alt='Virtual PBX' />
			[% END %]
			</td>
			<td align='center'><h2>SIP шлюзы</h2></td>
			<td align='right' width='20%'><a href=?action=logout>выход</a></td>
		</tr>
	</table>
	</p>

	<p>
	<table width='95%' class='top_hr'>
		<tr align='left'>
			<td>
				<a href='?action=user_info&uniq=[% USER_CREDS.UNIQ %]'>Профиль пользователя</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=vb_list&uniq=[% USER_CREDS.UNIQ %]'>Список номеров</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=route_list&uniq=[% USER_CREDS.UNIQ %]'>Маршруты</a>
				[% IF USER_CREDS.ALLOW_PHONES %]
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=phone_list&uniq=[% USER_CREDS.UNIQ %]'>Телефоны</a>
				[% END %]
			</td>
		</tr>
	</table>
	</p>

	<p>
	<table width='95%' class='list_data' id='d-tbl'>
		<tr class='list_data'>
			<th width='15%'>Прокси (*)</th>
			<th>Порт (*)</th>
			<th>Домен</th>
			<th>Пользователь</th>
			<th>Пароль</th>
			<th>Исходящий АОН</th>
			<th>Имя шлюза (*)</th>
			<th>DTMF режим</th>
			<th>Протокол</th>
			[% IF USER_CREDS.CUSTOM_REGS %]
			<th>Принимать звонки</th>
			<th>на вн. номер</th>
			<th width='1%'></th>
			[% END %]
			<th>Действия</th>
		</tr>
		
		[% FOREACH p = PEERS %]
		<tr align='center' class='nocolor' id='d-tr-[% p.DATA_ID %]'>
			<form method="post" action="[% CGI_URL %]" onSubmit='return xmlhttpPost(this,1)'>
			<td><input class='in_t0' size="17" name='host' type'text' value='[% p.host | html %]'></td>
			<td><input class='in_t0' size="5" name='port' type='text' value="[% p.port | html %]"></td>
			<td><input class='in_t0' size="17" name='domain' type='text' value="[% p.fromdomain | html %]"></td>
			<td><input class='in_t0' size="12" name='username' type='text' value="[% p.username | html %]"></td>
			<td><input class='in_t0' size="10" name='secret' type='text' value="[% p.secret | html %]"></td>
			<td><input class='in_t0' size="12" name='fromuser' type='text' value="[% p.fromuser | html %]"></td>
			<td><input class='in_t0' size="17" name='DESCRIPTION' type='text' value="[% p.DESCRIPTION | html %]"></td>
			<td>
				<select name="dtmfmode" class='in_t0'>
					<option value="[% p.dtmfmode %]" selected>[% p.dtmfmode %]</option>
					<option value="rfc2833">rfc2833</option>
					<option value="info">info</option>
					<option value="shortinfo">shortinfo</option>
					<option value="inband">inband</option>
					<option value="auto">auto</option>
				</select>
			</td>
			<td>
				<select name="proto" class='in_t0'>
				[% IF p.transport eq 'tcp' %]
					<option value="tcp" selected>TCP</option>
					<option value="udp">UDP</option>
				[% ELSE %]
					<option value="udp" selected>UDP</option>
					<option value="tcp">TCP</option>
				[% END %]
				</select>
			</td>
			[% IF USER_CREDS.CUSTOM_REGS %]
			<td>
				<select name="NEED_REG" class='in_t0'>
				[% IF p.NEED_REG eq '1' %]
					<option value="1" selected>да</option>
					<option value="0">нет</option>
				[% ELSE %]
					<option value="0" selected>нет</option>
					<option value="1">да</option>
				[% END %]
				</select>
			</td>
			<td>
				<input class='in_t0' size="8" name='INC_EXT' type='text' value="[% p.INC_EXT | html %]">
			</td>
			<td align='center'>
			[% IF p.REG_DATA %]
				<img 
				[% IF p.REG_DATA.state eq 'Registered' %]
					src='/xvb/images/ball_green.png'
				[% ELSE %]
					src='/xvb/images/ball_red.png'
				[% END %]
				title='[% p.REG_DATA.state | html %]' alt='[% p.REG_DATA.state | html %]' />
			[% END %]
			</td>
			[% END %]
			<td align='left'>
				<input type='hidden' value='[% p.DATA_ID %]' name='data_id'>
				<input type='hidden' value='peer_update' name='action'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<a title='удалить шлюз' href='?action=peer_del&data_id=[% p.DATA_ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return xmlhttpDel(this,'ru','d-tr-[% p.DATA_ID %]')"><img border='0'  src='/xvb/images/vb_del.png' alt='удалить' /></a>&nbsp;
				<span class='in_t' id='in_t_id-[% p.DATA_ID %]'>
				<script language='JavaScript'>
					writeUpdateLinks( 'сохранить изменения' );
				</script>
				<noscript><input value='изменить' type='submit'></noscript>
				</span>
			</td>
			</form>
		</tr>
		[% END %]
		<tr align='center'>
			<form method='post' action='[% CGI_URL %]' onSubmit='return peers_unhide(this)'>
			<td nowrap="nowrap">
				<input size="17" name='host' type'text'>
				<script language='JavaScript'>
					var options_ind = 1;
					var options_str = '<select name="tmpl" onFocus="peers_list_init(this,1)" onBlur="peers_list_init(this,2)" onChange="peers_hide(this.form)"><option value="."></option>';
					var p_list = [];
					p_list[0] = [ '.', '-- Выберите провайдера --' ];
					[% FOREACH p = PEERS_TMPL_LIST %]
						options_str = options_str+'<option value="[% p.HOST %]"></option>';
						p_list[options_ind] = [ '[% p.HOST %]', '[% p.NAME %]' ];
						options_ind++;
					[% END %]
					p_list[options_ind] = [ '.', 'Другой' ];
			  		
					options_str = options_str + '<option value="."></option></select>';

					if ( options_ind > 1 ) {
		        			document.write( options_str );
					}
				</script>
			</td>
			<td><input size="5" name='port' type='text'></td>
			<td><input size="17" name='domain' type='text'></td>
			<td><input size="12" name='username' type='text'></td>
			<td><input size="10" name='secret' type='text'></td>
			<td><input size="12" name='fromuser' type='text'></td>
			<td><input size="17" name='DESCRIPTION' type='text'></td>
			<td>
				<select name="dtmfmode">
					<option value="rfc2833" selected>rfc2833</option>
					<option value="info">info</option>
					<option value="shortinfo">shortinfo</option>
					<option value="inband">inband</option>
					<option value="auto">auto</option>
				</select>
			</td>
			<td>
				<select name="proto">
					<option value="udp" selected>UDP</option>
					<option value="tcp">TCP</option>
				</select>
			</td>
			[% IF USER_CREDS.CUSTOM_REGS %]
			<td>
				<select name="NEED_REG">
					<option value="0" selected>нет</option>
					<option value="1">да</option>
				</select>
			</td>
			<td>
				<input size="8" name='INC_EXT' type='text'>
			</td>
			<td></td>
			[% END %]
			<td>
				<input type='hidden' value='peer_add' name='action'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<input value='добавить' type='submit'>
			</td>
			</form>
		</tr>
		<tr><td colspan='9'>&nbsp;</td></tr>
	</table>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	<p>
	<table width='95%' class='bottom_hr'>
		<tr align='center'>
			[% IF USER_CREDS.ALLOW_PHONES %]
			<td>
				<a class='headers' href='?action=phone_list&uniq=[% USER_CREDS.UNIQ %]'>Телефоны</a>
			</td>
			[% END %]
			<td>
				<a class='headers' href='?action=route_list&uniq=[% USER_CREDS.UNIQ %]'>Маршруты</a>
			</td>
			<td>
				<a class='headers' href='?action=vb_list&uniq=[% USER_CREDS.UNIQ %]'>Список номеров</a>
			</td>
			<td>
				<a class='headers' href='?action=user_info&uniq=[% USER_CREDS.UNIQ %]'>Профиль пользователя</a>
			</td>
		</tr>
	</table>
	</p>
	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
