<html>
<!-- $Id: cdrs_chart.tt,v 1.18 2012-09-19 19:47:59 gosha Exp $ -->
<head>
	<title>Virtual PBX - CDRs - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]

	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-en.min.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
	<p>
	<table width='95%' class='logo'>
		<tr>
			<td align='left' width='20%'>
			[% IF USER_CREDS.LOGO_HREF eq '' %]
				<img border='0' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			[% ELSE %]
				<img border='0' src='[% USER_CREDS.LOGO_HREF %]' alt='Virtual PBX' />
			[% END %]
			</td>
			<td align='center'><h2>Charts</h2><h3>( [% CDR_HEADER %] )</h3></td>
			<td align='right' width='20%'><a href=?action=logout>logout</a></td>
		</tr>
	</table>
	</p>

	<p>
	<table width='95%' class='top_hr'>
		<tr align='left'>
			<td>
				<a href='?action=user_info&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>User Prefs</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=j_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Journals</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=cdr_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>CDRs</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=vb_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Extensions list</a>
			</td>
		</tr>
	</table>
	</p>
	
	<p>
	<script language='JavaScript'>
		var time_period = getTimePeriod( 'en', '[% CDR_PERIOD %]' );
		var period = time_period.period;
		var group_by = time_period.group_by;
	</script>
	[% IF CDR_LIST scalar %]
	<script language='JavaScript'>
		var graphx=new Array();
		[% IF USE_BILLING %]
		graphx[0] = [ period, 'Calls', 'Minutes', 'Minutes AVG', 'Cost' ];
		[% ELSE %]
		graphx[0] = [ period, 'Calls', 'Minutes', 'Minutes AVG' ];
		[% END %]
		var ind = 1;
		[% FOREACH msg = CDR_LIST %]
			graphx[ind] = [ '[% msg.PERIOD | html %]', [% msg.CNT | html %], [% msg.DURATION %], [% msg.AVG %], [% msg.USER_COST %] ];
			ind = ind+1;
		[% END %]
		graphit(graphx,200)
	</script>
	[% ELSE %]
		No records
	[% END %]
	</p>

	<p>
	<table width='95%' class='bottom_hr'>
		<form method="get" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
		<tr align='right'>
			<td width='100%'>
				From date:
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#from_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							button: ".next()"
						});
				});
				</script>
				<input size='16' type='text' name='from_time' value='[% FROM_TIME | html %]' id='from_time'>
				<button type="button">...</button>
				&nbsp;
				To date:
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#to_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							button: ".next()"
						});
				});
				</script>
				<input size='16' type='text' name='to_time' value='[% TO_TIME | html %]' id='to_time'>
				<button type="button">...</button>
				<input name='action' value='cdr_list' type='hidden'>
				&nbsp;
				Caller:
				<input size='10' type='text' name='caller_id' value='[% CDR_CALLER_ID | html %]'>
				&nbsp;
				Called:
				<input size='10' type='text' name='called_id' value='[% CDR_CALLED_ID | html %]'>
				<input name='uniq' value='[% USER_CREDS.UNIQ %]' type='hidden'>
				<input name='id' value='[% ROOT_EXT_ID %]' type='hidden'>
				<select name="call_type">
					<option value="" selected>call type</option>
					<option value="" >all calls</option>
					<option value="incoming">incoming</option>
					<option value="local">local</option>
					<option value="transit">transit</option>
					<option value="internal">internal</option>
					<option value="callback">callback</option>
					<option value="callblast">callblast</option>
				</select>
				<input value='Search' type='submit'>
				<input name='need_excel' value='Excel' type='submit'>
				<script language='JavaScript'>
					document.write("<input name='need_chart' value='Chart' type='submit'>");
					document.write("<select name='chart_group_period'><option selected value='"+group_by+"'>"+period+"</option><option value='min'>minute</option><option value='h'>hour</option><option value='hd'>hour of day</option><option value='d'>day</option><option value='dw'>day of week</option><option value='dm'>day of month</option><option value='w'>week</option><option value='m'>month</option><option value='y'>year</option><option value='did'>DID</option><option value='cid'>CallerID</option><option value='ct'>call type</option></select>");
				</script>
				&nbsp;
			</td>
		</tr>
		</form>
	</table>
	</p>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</html>
	
