<html>
<!-- $Id: cidfilters_core.tt,v 1.25 2014/09/07 18:30:40 gosha Exp $ -->
<head>
	<title>Virtual PBX - CID filters - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
			<h1>
			CID
			[% IF CID_LIST_TYPE eq '1' %]
				Black list	
			[% ELSE %]
				White list
			[% END %]
			</h1>

	<p>	
	<table width='95%'>
		<tr align='left'>
			<td align='right'>
				<a title='get excel table' href='?action=cid_list&cid_list_type=[% CID_LIST_TYPE %]&cid_type=2&uniq=[% USER_CREDS.UNIQ %]&need_excel=1'"><img border='0' src='/xvb/images/excel.png' alt='excel' /></a>&nbsp;
			</td>
		</tr>
	</table>
	</p>
		
	<p>
	<table width='95%' id='d-tbl'>
		<tr>
			<th>Caller ID</th>
			<th>Comment</th>
			<th>Actions</th>
		</tr>

		[% FOREACH param = CID_LIST %]
		<tr align='center' class='nocolor' id='d-tr-[% param.DATA_ID %]'>
		<form method="post" action="[% CGI_URL %]" onSubmit='return xmlhttpPost(this,1)'>
			<input type='hidden' name='action' value='cid_update'>
			<input type='hidden' name='data_id' value='[% param.DATA_ID %]'>
			<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>

			<td><input class='in_t0' size='40' name='cid' type='text' value='[% param.CID | html %]'></td>
			<td><input class='in_t0' size='60' name='description' type='text' value='[% param.DESCRIPTION | html %]'></td>
	
			<td align='left' nowrap='nowrap'>
				<a href='?action=cid_del&data_id=[% param.DATA_ID %]&uniq=[% USER_CREDS.UNIQ %]'  onclick="return xmlhttpDel(this,'en','d-tr-[% param.DATA_ID %]')" title='delete CID item'><img border='0' src='/xvb/images/msg_delete.png' alt='del' /></a>&nbsp;
				<span class='in_t' id='in_t_id-[% param.DATA_ID %]'>
					<script language='JavaScript'>
						writeUpdateLinks( 'save changes' );
					</script>
					<noscript><input value='change' type='submit'></noscript>
				</span>
			</td>
		</form>
		</tr>
		[% END %]
		<tr align='center' id='submit_row'>
		<!--<form method="post" action="[% CGI_URL %]" onSubmit='return xmlhttpAdd(this,"d-tbl","submit_row","")'>-->
		<form method="post" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
			<input type='hidden' name='action' value='cid_add'>
			<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
			<input type='hidden' name='cid_list_type' value='[% CID_LIST_TYPE %]'>
			<input type='hidden' name='cid_type' value='2'>
			
			<td><input size='40' name='cid' type='text'></td>
			<td><input size='60' name='description' type='text'></td>
			
			<td align='center'>
				<input type='submit' value='add'>
			</td>
		</form>
		</tr>
	</table>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>
	
