<html>
<!-- $Id: click2call.tt,v 1.1 2012-12-27 06:00:10 gosha Exp $ -->
<head>
	<title>Virtual PBX - Click2Call - Ac:[% USER_CREDS.ACCESS_CODE | html %], Ext: [% VBOX_PREF.EXT_NUMBER | html %]</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-en.min.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
	<p>
	<table width='95%' class='logo'>
		<tr>
			<td align='left' width='20%'>
			[% IF USER_CREDS.LOGO_HREF eq '' %]
				<img border='0' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			[% ELSE %]
				<img border='0' src='[% USER_CREDS.LOGO_HREF %]' alt='Virtual PBX' />
			[% END %]
			</td>
			<td align='center'><h2>Click2Call links</h2></td>
			<td align='right' width='20%'><a href=?action=logout>logout</a></td>
		</tr>
	</table>
	</p>

	<p>
	<table width='95%' class='top_hr'>
		<tr align='left'>
			<td>
				<a href='?action=user_info&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>User Prefs</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=vb_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Extensions list</a>
			</td>
		</tr>
	</table>
	</p>

	<p>
	<table width='95%' class='list_data' id='d-tbl'>
		<tr class='list_data'>
			<th>Link</th>
			<th>Extension</th>
			<th colspan='2'>Actions</th>
		</tr>
		[% FOREACH c2c = C2C_LIST %]
		<tr align='center' class='nocolor' id='d-tr-[% c2c.ID %]'>
			<form method="post" action="[% CGI_URL %]" onSubmit='return xmlhttpPost(this,1)'>
			<td>https://[% USER_CREDS.DOWNLOAD_IP %]/c2c?key=[% c2c.SECRET | html %]&ac=[% USER_CREDS.ACCESS_CODE %]&ph=XXX</td>
			<td><input class='in_t0' size="20" name='redir_to' type'text' value='[% c2c.EXTENSION | html %]'></td>
			<td>
				<input type='hidden' value='[% c2c.ID %]' name='data_id'>
				<input type='hidden' value='[% c2c.SECRET %]' name='c2c_sec'>
				<input type='hidden' value='c2c_update' name='action'>
				<input type='hidden' name='id' value='[% ROOT_EXT_ID %]'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<a title='delete click2call link' href='?action=c2c_del&data_id=[% c2c.ID %]&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return xmlhttpDel(this,'en','d-tr-[% c2c.ID %]')"><img border='0' src='/xvb/images/vb_del.png' alt='del' /></a>
				<span class='addon_info' id='in_t_id-[% c2c.ID %]'>
				<script language='JavaScript'>
					writeUpdateLinks( 'save changes' );
				</script>
				<noscript><input value='change' type='submit'></noscript>
				</span>
			</td>
			</form>
			<td>
			<form method="get" action="https://[% USER_CREDS.DOWNLOAD_IP %]/c2c">
				<input type='hidden' value='[% c2c.SECRET %]' name='key'>
				<input type='hidden' value='[% USER_CREDS.ACCESS_CODE %]' name='ac'>
				<input type='text' size='15' name='ph'>
				<input value='test call' type='submit'></noscript>
			</form>
			</td>
		</tr>
		[% END %]
		<tr>
			<td colspan='4'>&nbsp;</td>
		</tr>
		<tr align='center'>
			<form method='post' action='[% CGI_URL %]' onSubmit='return checkChanges(this)'>
			<td></td>
			<td><input size="20" name='redir_to' type='text'></td>
			<td colspan='2'>
				<input type='hidden' value='c2c_add' name='action'>
				<input type='hidden' name='id' value='[% ROOT_EXT_ID %]'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<input value='&nbsp;&nbsp;create&nbsp;&nbsp;' type='submit'>
			</td>
			</form>
		</tr>
	</table>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>
	
	<p>
	<table width='95%' class='bottom_hr'>
		<tr align='center'>
			<td>
				<a class='headers' href='?action=vb_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Extensions list</a>
			</td>
			<td>
				<a class='headers' href='?action=user_info&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>User Prefs</a>
			</td>
		</tr>
	</table>
	</p>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>
	
