<html>
<!-- $Id: journal_list.tt,v 1.24 2014/10/14 19:33:21 gosha Exp $ -->
<head>
	<title>Virtual PBX - Actions journal - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-en.min.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
	
	<h1>Actions journal</h1>

	<p>	
	<table width='100%'>
		<tr align='left'>
			<td align='right'>
			<form method="get" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#from_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							button: ".next()"
						});
				});
				</script>
				<input placeholder='From date' size='16' type='text' name='from_time' value='[% FROM_TIME | html %]' id='from_time'>
				<button type="button">...</button>
				&nbsp;
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#to_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							button: ".next()"
						});
				});
				</script>
				<input placeholder='To date' size='16' type='text' name='to_time' value='[% TO_TIME | html %]' id='to_time'>
				<button type="button">...</button>
				&nbsp;
				<input name='action' value='j_list' type='hidden'>
				<input placeholder='Exten' size='6' type='text' name='ext_num' value='[% J_EXT_NUM %]'>
				&nbsp;
				<select name="action_type" id="j_type_selector">
					<option value="" selected>all</option>
				[% FOREACH at = ACTIONS %]
					<option value="[% at %]">[% at %]</option>
				[% END %]
				</select>
				&nbsp;
				<input placeholder='Data' size='18' type='text' name='data' value='[% J_DATA | html %]'>
				<input name='uniq' value='[% USER_CREDS.UNIQ %]' type='hidden'>
				&nbsp;
				<input value='Search' type='submit'>
				&nbsp;&nbsp;
				</form>
				<script language='JavaScript'>
					setActiveSelector('j_type_selector',"[% J_ACTION %]");
				</script>
			</td>
		</tr>
	</table>
	</p>

	<p>
	<table width='100%' id='d-tbl'>
		<tr>
			<th width='5%'>Ext</th>
			<th width='20%'>Date</th>
			<th width='10%'>Action</th>
			<th width='15%'>Remote IP</th>
			<th width='40%'>Data</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='5'>
				<a title='previous page' href='?action=j_list&action_type=[% J_ACTION %]&from=[% MSG_PREV %]&ext_num=[% J_EXT_NUM %]&data=[% J_DATA | html %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&uniq=[% USER_CREDS.UNIQ %]'><img border='0'  src='/xvb/images/msg_prev.png' alt='[% MSG_PREV %] &lt;=' /></a>
			</td>
		</tr>
		[% END %]

		[% FOREACH msg = J_LIST %]
			<tr class='nocolor'>
				[% IF msg.EXT_ID %]
				<td>&nbsp;<a href='?action=vb_view&id=[% msg.EXT_ID | html %]&uniq=[% USER_CREDS.UNIQ %]'>[% msg.EXT_NUMBER | html %]</a></td>
				[% ELSE %]
				<td>[% msg.EXT_NUMBER | html %]</td>
				[% END %]
				<td align='center'>[% msg.J_DATE | html %]</td>
				<td>[% msg.ACTION | html %]</td>
				<td align='center'>[% msg.CID | html %]</td>
				<td>[% msg.DESCRIPTION | html %]</td>
			</tr>
		[% END %]

		<tr>
		[% IF MSG_NEXT ne '' %]
			<td align='right' colspan='5'>
				<a title='next page' href='?action=j_list&action_type=[% J_ACTION %]&from=[% MSG_NEXT %]&ext_num=[% J_EXT_NUM %]&data=[% J_DATA | html %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&uniq=[% USER_CREDS.UNIQ %]'><img border='0'  src='/xvb/images/msg_next.png' alt='[% MSG_NEXT %] &lt;=' /></a>
			</td>
		[% ELSE %]
			<td colspan='5'>&nbsp;</td>
		[% END %]
		</tr>
	</table>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>
	
