<html>
<!-- $Id: messages_list.tt,v 1.69 2014/07/09 11:40:18 gosha Exp $ -->
<head>
	<title>Virtual PBX - Messages - Ac:[% USER_CREDS.ACCESS_CODE | html %], Ext: [% VBOX_PREF.EXT_NUMBER | html %]</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-en.min.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
	<p>
	<table width='95%' class='logo'>
		<tr>
			<td align='left' width='20%'>
			[% IF USER_CREDS.LOGO_HREF eq '' %]
				<img border='0' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			[% ELSE %]
				<img border='0' src='[% USER_CREDS.LOGO_HREF %]' alt='Virtual PBX' />
			[% END %]
			</td>
			<td align='center'><h2>Messages for Extension Number# <b>[% VBOX_PREF.EXT_NUMBER | html %]</h2></td>
			<td align='right' width='20%'><a href=?action=logout>logout</a></td>
		</tr>
	</table>
	</p>

	<p>
	<table width='95%' class='top_hr'>
		<tr align='left'>
			<td>
				<a href='?action=msg_list_all&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]'>All messages</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=msg_delete&clear_ext=1&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return DelConfirm('def','Are you sure you want to delete all messages?')">Clear extension</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=get_itunes&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]'>Itunes</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=get_rss&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]'>Rss</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=vb_view&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]'>Extension detail</a>
			</td>
		</tr>
	</table>
	</p>

	<p>
	<table width='95%' class='list_data' id='d-tbl'>
		[% IF MSG_LIST scalar %]
		<tr class='list_data'>
			<th>#</th>
			<th>Date</th>
			<th>CallerID</th>
			<th>CalledID</th>
			<th>Duration</th>
			<th>Size</th>
			<th>Actions</th>
			<th>Type</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='8'>
				<a title='previous page' href='?action=msg_list&id=[% VBOX_PREF.ID %]&from=[% MSG_PREV %]&called_id=[% CALLED_ID | html %]&caller_id=[% CALLER_ID | html %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&uniq=[% USER_CREDS.UNIQ %]'><img border='0'  src='/xvb/images/msg_prev.png' alt='[% MSG_PREV %] &lt;=' /></a>
			</td>
		</tr>
		[% END %]
		[% FOREACH msg = MSG_LIST %]
		<tr class='nocolor' id='d-tr-[% msg.FILE_NAME %]'>
			<td>&nbsp;[% msg.MSG_NUM %]</td>
			<td align='center'>[% msg.MSG_DATE | html %]</td>
			<td>[% msg.CALLERID | html %]</td>
			<td>[% msg.CALLEDID | html %]</td>
			[% IF msg.IS_VOICE %]
			<td align='center'>[% msg.DURATION | duration_str | html %]</td>
			[% ELSIF msg.FILE_NAME contain '.avi' %]
			<td align='center'>[% msg.DURATION | duration_str | html %]</td>
			[% ELSE %]
			<td align='center'>--------</td>
			[% END %]
			<td align='right'>[% msg.FILE_SIZE | fsize %]&nbsp;</td>
			<td nowrap='nowrap'>
				&nbsp;
				[% IF msg.IS_VOICE %]
					<a title='download media' href='https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download/[% msg.ID %]/[% USER_CREDS.ACCESS_CODE %]/[% msg.FILE_NAME %].[% USER_CREDS.SOUND_FORMAT %]?media=[% USER_CREDS.SOUND_FORMAT %]'><img border='0' src='/xvb/images/msg_download.png' alt='download' /></a>
				[% ELSE %]
					<a title='download file' href='https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download/[% msg.ID %]/[% USER_CREDS.ACCESS_CODE %]/[% msg.FILE_NAME %]'><img border='0' src='/xvb/images/msg_download.png' alt='download' /></a>
				[% END %]
					<a title='delete message' href='https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]?action=msg_delete&msg=[% msg.FILE_NAME %]&type=[% msg.FILE_TYPE %]&id=[% msg.ID %]&uniq=[% USER_CREDS.UNIQ %]'  onclick="return xmlhttpDel(this,'en','d-tr-[% msg.FILE_NAME %]')"><img border='0' src='/xvb/images/msg_delete.png' alt='delete' /></a>

				[% IF msg.IS_VOICE %]
					<a title='play' 
						onclick="return ShowPlayer('https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download/[% msg.ID %]/[% USER_CREDS.ACCESS_CODE %]/[% msg.FILE_NAME %]?media=mp3;type=listen' )"
						href="#"><img border='0' src='/xvb/images/msg_listen.png' alt='play' /></a>
				[% END %]
				[% IF msg.FILE_TYPE eq '30' %]
					<a title='Mark message as OLD' href='?action=msg_status&msg=[% msg.FILE_NAME %]&id=[% msg.ID %]&status=40&uniq=[% USER_CREDS.UNIQ %]'><img border='0'  src='/xvb/images/msg_status.png' alt='status' /></a>
				[% ELSIF msg.FILE_TYPE eq '40' %]
					<a title='Mark message as NEW' href='?action=msg_status&msg=[% msg.FILE_NAME %]&id=[% msg.ID %]&status=30&uniq=[% USER_CREDS.UNIQ %]'><img border='0'  src='/xvb/images/msg_status.png' alt='status' /></a>
				[% END %] 
			</td>
			<td>[% msg.DESCRIPTION | html %]</td>
		</tr>
		[% END %]
		<tr>
		[% IF MSG_NEXT ne '' %]
			<td align='right' colspan='8'>
				<a title='next page' href='?action=msg_list&id=[% VBOX_PREF.ID %]&from=[% MSG_NEXT %]&called_id=[% CALLED_ID | html %]&caller_id=[% CALLER_ID | html %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&uniq=[% USER_CREDS.UNIQ %]'><img border='0'  src='/xvb/images/msg_next.png' alt='=&gt; [% MSG_NEXT %]' /></a>
			</td>
		[% ELSE %]
			<td align='left' colspan='8'>
				&nbsp;
			</td>
		[% END %]
		</tr>
		[% ELSE %]
		<tr class='list_data'>
			<td colspan='8'>&nbsp;</td>
		</tr>
		<tr>
			<td colspan='8' align='center'><h4>No messages</h4></td>
		</tr>
		<tr>
			<td colspan='8'>&nbsp;</td>
		</tr>
		[% END %]
	</table>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	<p>
	<table width='95%' class='bottom_hr'>
		<tr align='right'>
			<form method="get" action="[% CGI_URL %]">
			<td width='100%'>
				From date:
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#from_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							button: ".next()"
						});
				});
				</script>
				<input size='16' type='text' name='from_time' value='[% FROM_TIME | html %]' id='from_time'>
				<button type="button">...</button>
				&nbsp;
				To date:
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#to_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							button: ".next()"
						});
				});
				</script>
				<input size='16' type='text' name='to_time' value='[% TO_TIME | html %]' id='to_time'>
				<button type="button">...</button>
				<input name='action' value='msg_list' type='hidden'>
				<input name='uniq' value='[% USER_CREDS.UNIQ %]' type='hidden'>
				<input name='id' value='[% VBOX_PREF.ID %]' type='hidden'>
				&nbsp;
				Caller ID:
				<input size='10' type='text' name='caller_id' value='[% CALLER_ID | html %]'>
				Callerd ID:
				<input size='10' type='text' name='called_id' value='[% CALLED_ID | html %]'>
				<input value='Search' type='submit'>
				&nbsp;&nbsp;
			</td>
			</form>
		</tr>
	</table>
	</p>

	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</center>
</body>
</html>
	
