<html>
<!-- $Id: pbook.tt,v 1.18 2015/01/17 20:23:30 gosha Exp $ -->
<head>
	<title>Virtual PBX - Phone book - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>

	<table width='100%'>
		<tr>
			<td width='85%' align='center'>
				<h1>Phone book</h1>
			</td>
			<td align='right'>
				<a title='excel file' href='?action=pbook_list&uniq=[% USER_CREDS.UNIQ %]&format=excel&need_excel=1'"><span class='icon-file-excel fs0'></span></a>
				<a href='?action=pbook_del&data_id=all&uniq=[% USER_CREDS.UNIQ %]' onclick="return DelConfirm('en')" title='delete all records'><span class='icon-cross fs0'></span></a>
			</td>
		</tr>
	</table>
		
	<table>
		<tr id='csv-import'>
			<td align='left'>
				<form enctype="multipart/form-data" method="post" action="https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]" onSubmit='return checkChanges(this)'>
					<input type='file' name='config_file'>
					<input type='hidden' name='section' value='PBOOK'>
					<input type='hidden' name='action' value='restore'>
					<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
					<input type='hidden' name='is_excel' value='1'>
					<input type='submit' value='Append data from CSV'>
				</form>
			</td>
			<td align='right'>
				<form method="post" action="[% CGI_URL %]" onSubmit='return true'>
					<input type='hidden' name='action' value='pbook_list'>
					<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
					<select name='format'>
						<option value="polycom">Polycom config</option>
						<option value="dlink">Dlink config</option>
						<option value="grandstream">Grandstream config</option>
						<option value="yearlink">Yearlink config</option>
						<option value="cisco">Cisco config</option>
						<option value="snom">Snom config</option>
					</select>
					&nbsp;
					<input name='submit' type='submit' value='Download'>
				</form>
			</td>
		</tr>
	</table>

	<table width='100%' id='d-tbl'>
		<tr>
			<th>First name</th>
			<th>Last name</th>
			<th>Phone</th>
			<th>Shortcut</th>
			<th>Comment</th>
			<th>Actions</th>
		</tr>

		[% FOREACH param = PBOOK_LIST %]
		<tr align='center' class='nocolor' id='d-tr-[% param.DATA_ID %]'>
		<form method="post" action="[% CGI_URL %]" id='f-[% param.DATA_ID %]' onSubmit='return xmlhttpPost(this,1)'>
			<input type='hidden' name='action' value='pbook_update'>
			<input type='hidden' name='data_id' value='[% param.DATA_ID %]'>
			<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>

			<td><input class='in_t0' size='18' name='fn' type='text' value='[% param.FIRST_NAME | html %]'></td>
			<td><input class='in_t0' size='18' name='ln' type='text' value='[% param.LAST_NAME | html %]'></td>
			<td><input class='in_t0' size='20' name='ph' type='text' value='[% param.PHONE | html %]'></td>
			<td><input class='in_t0' size='15' name='shortcut' type='text' value='[% param.SHORTCUT | html %]'></td>
			<td><input class='in_t0' size='25' name='description' type='text' value='[% param.DESCRIPTION | html %]'></td>
	
			<td align='left' nowrap='nowrap'>
				<a href='?action=pbook_del&data_id=[% param.DATA_ID %]&uniq=[% USER_CREDS.UNIQ %]'  onclick="return xmlhttpDel(this,'en','d-tr-[% param.DATA_ID %]')" title='delete PBook item'><span class='icon-bin fs0'></span></a>
				<span class='in_t' id='in_t_id-[% param.DATA_ID %]'>
					<a href='#' onclick="xmlhttpPost(document.getElementById('f-[% param.DATA_ID %]'),1);"><span class='icon-floppy-disk fs0 blink' title='save changes'></span></a>
					<noscript><input value='change' type='submit'></noscript>
				</span>
			</td>
		</form>
		</tr>
		[% END %]
		<tr align='center' id='submit_row'>
		<form method="post" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
			<input type='hidden' name='action' value='pbook_add'>
			<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
			
			<td><input size='18' name='fn' type='text'></td>
			<td><input size='18' name='ln' type='text'></td>
			<td><input size='20' name='ph' type='text'></td>
			<td><input size='15' name='shortcut' type='text'></td>
			<td><input size='25' name='description' type='text'></td>
			
			<td align='center'>
				<input type='submit' value='Add'>
			</td>
		</form>
		</tr>
	</table>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>
	
