<html>
<!-- $Id: start.tt,v 1.5 2014/09/19 14:59:49 gosha Exp $ -->
<frameset cols="134,*" border="0" framespacing="0">
	<frame name='xvb_menu' src="?action=menu&uniq=[% USER_CREDS.UNIQ %]">
	[% IF SACTION %]
	<frame name='xvb_data' src="?action=[% SACTION %]&uniq=[% USER_CREDS.UNIQ %]">
	[% ELSE %]
	<frame name='xvb_data' src="?action=vb_list&uniq=[% USER_CREDS.UNIQ %]">
	[% END %]
</frameset>
</html>
