<html>
<!-- $Id: sysmedia_list.tt,v 1.4 2014/09/07 18:30:40 gosha Exp $ -->
<head>
	<title>Virtual PBX - SysMedia - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
			
	<h1>System media files</h1>

	<p>
	<table width='95%' id='d-tbl'>
		<tr>
			<th></th>
			<th>File name</th>
			<th>Default text</th>
		</tr>
		
		[% FOREACH f = SYSMEDIA %]
		<tr align='left' class='nocolor' id='d-tr-[% f.file %]'>
			<td>
				[% IF f.uploaded %]
				<a title='delete custom file' href='https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]?action=sysmedia_del&uniq=[% USER_CREDS.UNIQ %]&file=[% f.file %]' onclick="return xmlhttpDel(this,'ru','d-tr-[% f.file %]')"><img border='0' src='/xvb/images/msg_delete.png' alt='delete' /></a>
				[% END %]
			</td>
			<td>[% f.file | html %]</td>
			<td>[% f.desc | html %]</td>
		</tr>
		[% END %]
		<tr><td colspan='3'>&nbsp;</td></tr>
		
		<tr align='left'>
			<form enctype="multipart/form-data" method="post" action="https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]" onSubmit='return checkChanges(this)'>
			<td nowrap='nowrap' colspan='3'>
				<input type='hidden' name='action' value='sysmedia_add'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<select name="name">
				[% FOREACH f = SYSMEDIA %]
					<option value="[% f.file | html %]">[% f.file | html %]</option>
				[% END %]
				</select> 
				<input type='file' name='file'>
				<input type='submit' value='upload'>
			</td>
			</form>
		</tr>
	</table>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</html>
