<html>
<head>
	<title>Virtual PBX - Live calls</title>
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	[% IF CDR_REFRESH_TIME %]
	<meta http-equiv="refresh" content="[% CDR_REFRESH_TIME %]">
	[% END %]
</head>

<body onLoad="XVBInit()">
	[% IF CGI_ERROR ne '' %]
	<script language="JavaScript" type="text/javascript">
	<!--
		alert('[% CGI_ERROR | html %]')
	//-->
	</script>
	<noscript>[% CGI_ERROR | html %]</noscript>
	[% END %]
	

	<table width='100%' class='logo'>
		<tr align='left'>
			<td width='10%'>
				<img border='0' width='120' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td valign='middle'>
				[% INCLUDE main_menu.tt-inc %]
				[% INCLUDE main_menu.tt-inc-custom %]
			</td>
			<td align='right'>
				<a href='/xvb/XVB-AI.pdf?a=msg_download' title='about'><span class='icon-question fs0'></span></a>
				[% INCLUDE version.tt %]
			<td>
		</tr>
	</table>
	<center>
	<h1>Live calls - [% CALLS_COUNT %]</h1>

	<p>
	<table width='100%'>
		<form method="get" onSubmit='return checkChanges(this)'>
		<tr align='right'>
			<td width='100%'>
				<input name='action' value='calls_list' type='hidden'>
				<input size='40' type='text' placeholder='C2C key' name='c2c' value='[% CDR_C2C %]'>
				&nbsp;
				<input size='10' type='text' placeholder='Refresh' name='refresh' value='[% CDR_REFRESH_TIME %]'>
				&nbsp;
				<input size='10' type='text' placeholder='Caller' name='caller_id' value='[% CDR_CALLER_ID | html %]'>
				&nbsp;
				<input size='10' type='text' placeholder='Called' name='called_id' value='[% CDR_CALLED_ID | html %]'>
				&nbsp;
				<input size='10' type='text' placeholder='Access Code' name='ac' value='[% CDR_AC | html %]'>
				&nbsp;
				<input size='8' type='text' placeholder='Duration' name='duration' value='[% CDR_DURATION | html %]'>
				&nbsp;
				<select name="call_type" id="call_type_selector">
					<option value="" selected>all calls</option>
					<option value="incoming">incoming</option>
					<option value="local">local</option>
					<option value="transit">transit</option>
					<option value="internal">internal</option>
					<option value="callback">callback</option>
					<option value="callblast">callblast</option>
					<option value="click2call">click2call</option>
					<option value="alarmclock">alarmclock</option>
					<option value="service">service</option>
				</select>
				&nbsp;
				<input value='Search' type='submit'>
			</td>
		</tr>
		</form>
		<script language='JavaScript'>
			setActiveSelector('call_type_selector',"[% CDR_CALL_TYPE %]");
		</script>
	</table>
	</p>
	<p>
	<table width='100%' id='d-tbl'>
		<tr>
			<th class='rad_l'>Type</th>
			<th>Start Date</th>
			<th>Caller ID</th>
			<th>Called NUM</th>
			<th colspan='2'>Tenant</th>
			<th>Call duration</th>
			<th>Server ID</th>
			<th class='rad_r'>&nbsp;</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='9'>
				<a title='previous page' href='?action=calls_list&duration=[% CDR_DURATION | html %]&c2c=[% CDR_C2C %]&refresh=[% CDR_REFRESH_TIME %]&from=[% MSG_PREV %]&call_type=[% CDR_CALL_TYPE | html %]&ac=[% CDR_AC | html %]&called_id=[% CDR_CALLED_ID | htmlstrict %]&caller_id=[% CDR_CALLER_ID | htmlstrict %]'><span class='fs0'>◄</span></a>
			</td>
		</tr>
		[% END %]

		[% FOREACH msg = CALLS_LIST %]
		<tr class='nocolor' align='center'>
			<td>[% msg.CALL_TYPE | html %]</td>
			<td><a title='call detail' href='?action=call_log&call_id=[% msg.CALL_ID %]'>[% msg.CDR_DATE | html %]</a></td>
			<td>[% msg.CALLER_ID | html %]</td>
			<td>[% msg.CALLED_ID | html %]</td>
			<td><a title='edit user settings' href='?ac=[% msg.ACCESS_CODE %]&action=user_info'>[% msg.ACCESS_CODE %]</a></td>
			<td align='left'>
				[% msg.FIRST_NAME | html %] [% msg.LAST_NAME | html %]
			</td>
			<td>[% msg.CDR_DURATION | duration_str %]</td>
			<td>[% msg.SERVER_ID | html %]</td>
			<td>
				[% IF CDR_C2C %]
					<a title='Listen' href='[% msg.DOWNLOAD_IP %]/c2c?dlm=,&message=Please%20wait%20a%20call&ph=XVBSPY&user_vars=XVB_CHAN=[% msg.CALL_ID %],AST_CHAN=[% msg.AST_ID | htmlstrict %][% CDR_C2C %]'><span class='icon-phone fs0'></span></a>
				[% END %]
				<a title='hangup' href='[% msg.DOWNLOAD_IP %]/ai?action=calls_hangup&user_id=[% msg.SUBSCR_ID %]&call_id=[% msg.CALL_ID | html %]' onclick="return DelConfirm('en')"><span class='icon-cancel-circle fs0'></span></a>
			</td>
		</tr>
		[% END %]

		[% IF MSG_NEXT ne '' %]
		<tr>
			<td align='right' colspan='9'>
				<a title='next page' href='?action=calls_list&duration=[% CDR_DURATION | html %]&c2c=[% CDR_C2C %]&refresh=[% CDR_REFRESH_TIME %]&from=[% MSG_NEXT %]&call_type=[% CDR_CALL_TYPE | html %]&ac=[% CDR_AC | html %]&called_id=[% CDR_CALLED_ID | htmlstrict %]&caller_id=[% CDR_CALLER_ID | htmlstrict %]'><span class='fs0'>►</span></a>
			</td>
		</tr>
		[% END %]
	</table>
	</p>
	
	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>
	
	</center>
	
	[% INCLUDE main_menu2.tt-inc-custom %]
	
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>
	
