<html>
<!-- $Id: cdrs_act_list.tt,v 1.20 2018/01/05 16:01:42 gosha Exp $ -->
<head>
	<title>Virtual PBX - CDRs / Call Detail</title>
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	[% IF CGI_ERROR ne '' %]
	<script language="JavaScript" type="text/javascript">
	<!--
		alert('[% CGI_ERROR | html %]')
	//-->
	</script>
	<noscript>[% CGI_ERROR | html %]</noscript>
	[% END %]
	
			
	<table width='100%' class='logo'>
		<tr align='left'>
			<td width='10%'>
				<img border='0' width='120' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td valign='middle'>
				[% INCLUDE main_menu.tt-inc %]
				[% INCLUDE main_menu.tt-inc-custom %]
			</td>
			<td align='right'>
				<a href='/xvb/XVB-AI.pdf?a=msg_download' title='about'><span class='icon-question fs0'></span></a>
				[% INCLUDE version.tt %]
			<td>
		</tr>
	</table>
	
	<script language='JavaScript'>
		var download_file_url="";
	</script>

	<center>
	<h1>CDRs / Call Detail</h1>

	<p>
	<table width='100%' id='d-tbl'>
		<tr>
			<th class='rad_l'>Date</th>
			<th>Caller ID</th>
			<th>Extension / AC</th>
			<th>Action</th>
			<th>Duration</th>
			<th width='30%' class='rad_r'><a class='warning-font' href="?action=call_log&call_id=[% CDR_CALL_ID | html %]&a=msg_download" target="_blank" title="call logs">Data</a></th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='6'>
				<a title='previous page' href='?action=cdr_list&from=[% MSG_PREV %]&call_id=[% CDR_CALL_ID %]'><span class='fs0'>◄</span></a>
			</td>
		</tr>
		[% END %]
		
		[% FOREACH msg = CDR_LIST %]
		<tr class='nocolor' align='center'>
			<td class='simple'>[% msg.CDR_DATE | html %]</td>
			<td>
			[% IF msg.CNAM %]
				'[% msg.CNAM | html %]'&nbsp;&nbsp;&lt;[% msg.CALLER_ID | html %]&gt;
			[% ELSE %]
				[% msg.CALLER_ID | html %]
			[% END %]
			</td>
			<td align='left'>
				[% IF msg.TYPE eq 'Call' %]
					<b>[% msg.ACCESS_CODE | html %]</b>
					<script language='JavaScript'>
						download_file_url="<a title='download' href='/ui/msg_download/$1/[% msg.ACCESS_CODE %]/$2.mp3?media=mp3'>FILE</a>";
					</script>
				[% ELSE %]
					[% msg.EXT_NUMBER | html %]
				[% END %]
			</td>
			<td align='left'>[% msg.TYPE | html %]</td>
			<td>[% msg.CDR_DURATION | duration_str %]</td>
			<td align='left'>[% msg.DATA | html %]</td>
		</tr>
		[% END %]
		[% IF MSG_NEXT ne '' %]
		<tr>
			<td align='right' colspan='6'>
				<a title='next page' href='?action=cdr_list&from=[% MSG_NEXT %]&call_id=[% CDR_CALL_ID %]'><span class='fs0'>►</span></a>
			</td>
		</tr>
		[% END %]
	</table>
	</p>

	<script language='JavaScript'>
		var callback_cdr_url="$1<a title='cdr' href='?action=cdr_list&call_id=$2'>CALL</a>";
		var js_date_str="[% JS_DATE_STR | html %]-DTMF history";
		cdrfilters( 'd-tbl', 5 );
		listcolorer( 'd-tbl' );
	</script>

	</center>
	
	[% INCLUDE main_menu2.tt-inc-custom %]

	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>

