<html>
<head>
	<title>Virtual PBX - Private DIDs</title>
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	[% IF CGI_ERROR ne '' %]
	<script language="JavaScript" type="text/javascript">
	<!--
		alert('[% CGI_ERROR | html %]')
	//-->
	</script>
	<noscript>[% CGI_ERROR | html %]</noscript>
	[% END %]

	<table width='100%' class='logo'>
		<tr align='left'>
			<td width='10%'>
				<img border='0' width='120' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td valign='middle'>
				[% INCLUDE main_menu.tt-inc %]
				[% INCLUDE main_menu.tt-inc-custom %]
			</td>
			<td align='right'>
				<a href='/xvb/XVB-AI.pdf?a=msg_download'><img border='0' src='/xvb/images/help.png' alt='about' /></a>
				[% INCLUDE version.tt %]
			<td>
		</tr>
	</table>
	<center>
	
	<h1>Private DID's</h1>

	<table width='100%'>
		<tr>
			<td align='right'>
				<form method="post" onSubmit='return checkChanges(this)'>
					<input size='11' name='f_vn' type='text' placeholder='DID' value='[% F_VN | html %]'>
					&nbsp;
					<input size='10' name='f_ac' type='text' placeholder='Access code' value='[% F_AC | html %]'>
					&nbsp;
					<input type='hidden' value='did_list' name='action'>
					<input value='Search' type='submit'>
				</form>
			</td>
		</tr>
	</table>
		
	<p>
	<table width='100%' id='list-data'>
		<tr>
			<th>DID</th>
			<th colspan='3'>Assigned to</th>
			<th>Actions</th>
			<th></th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='6'>
				<a title='previous page' href='?action=did_list&from=[% MSG_PREV %]&f_vn=[% F_VN | html %]&f_ac=[% F_AC | html %]'><img border='0'  src='/xvb/images/msg_prev.png' alt='[% MSG_PREV %] &lt;=' /></a>
			</td>
		</tr>
		[% END %]
		
		[% FOREACH did = DIDS %]
		<tr align='center' class='nocolor'>
			<td align='right'>[% did.DID | html %]</td>
			<td align='right'>
				[% did.VOICENUMBER | html %]
			</td>
			<td>
				<b>#</b>
			</td>
			<td align='left'>
				<a href='?action=user_info&ac=[% did.ACCESS_CODE | html %]'>[% did.ACCESS_CODE | html %]</a>
			</td>
			<td>
				<a title='delete DID' href='?action=did_del&did_id=[% did.ID %]&user_id=[% did.SUBSCR_ID | html %]&from=[% MSG_FROM %]&did=[% did.DID | html %]' onclick="return DelConfirm('en')"><img border='0'  src='/xvb/images/vb_del.png' alt='del' /></a>
			</td>
			<td></td>
		</tr>
		[% END %]
		<form method="post" onSubmit='return checkChanges(this)'>
		<tr align='center'>
			<td align='right'><input placeholder='DID' size='15' type='text' name='did'></td>
			<td align='right'>
				<input placeholder='Shared DID' size='15' type='text' name='pn'>
			</td>
			<td>
				#
			</td>
			<td align='left'>
				<input placeholder='Access code' size='10' type='text' name='ac'></td>
			<td>
				<input value='Add DID' type='submit'>
				<input type='hidden' value='did_add' name='action'>
			</td>
			<td>
				[% IF MSG_NEXT ne '' %]
				<a title='next page' href='?action=did_list&from=[% MSG_NEXT %]&f_vn=[% F_VN | html %]&f_ac=[% F_AC | html %]'><img border='0' src='/xvb/images/msg_next.png' alt='=&gt; [% MSG_NEXT %]' /></a>
				[% END %]
			</td>
		</tr>
		</form>

	</table>
	<script language='JavaScript'>listcolorer( 'list-data' );</script>
	</p>

	</center>
	
	[% INCLUDE main_menu2.tt-inc-custom %]
	
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
