<html>
<head>
	<title>Virtual PBX - groups</title>
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	[% IF CGI_ERROR ne '' %]
	<script language="JavaScript" type="text/javascript">
	<!--
		alert('[% CGI_ERROR | html %]')
	//-->
	</script>
	<noscript>[% CGI_ERROR | html %]</noscript>
	[% END %]

	<center>
	<p>
	<table width='95%' class='logo'>
		<tr>
			<td align='left' width='20%'>
			<img border='0' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td align='center'><h2>Groups</h2></td>
			<td align='right' width='20%'>
				<a href='/xvb/XVB-AI.pdf?a=msg_download'><img border='0' src='/xvb/images/help.png' alt='about' /></a>
				[% INCLUDE version.tt %]
			</td>
		</tr>
	</table>
	</p>

	<p>
	<table width='95%' class='top_hr'>
		<tr align='left'>
			<td>
				[% INCLUDE main_menu.tt-inc %]
			</td>
			<form method='post'>
			<td align='right'>
			Group name:
			<input size='11' name='f_group' type='text' value='[% F_GROUP | html %]'>
			<input type='hidden' value='group_list' name='action'>
			<input value='search' type='submit'>
			</td>
			</form>
		</tr>
	</table>
	</p>
		
	<p>
	<table width='95%' class='list_data' id='list-data'>
		<tr class='list_data'>
			<th>Id</th>
			<th>Name</th>
			<th>Language</th>
			<th>Tariff</th>
			<th>Codec</th>
			<th>Sound prefix</th>
			<th>Template prefix</th>
			<th>&nbsp;</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='8'>
				<a title='previous page' href='?action=group_list&from=[% MSG_PREV %]&f_group=[% F_GROUP | html %]'><img border='0'  src='/xvb/images/msg_prev.png' alt='[% MSG_PREV %] &lt;=' /></a>
			</td>
		</tr>
		[% END %]
		
		[% FOREACH gr = GROUPS %]
		<tr align='center' class='nocolor'>
			<td><a title='edit group' href='?action=group_info&group_id=[% gr.GROUP_ID %]'>[% gr.GROUP_ID | html %]</a>
			<td align='left'><a title='edit group' href='?action=group_info&group_id=[% gr.GROUP_ID %]'>[% gr.GROUP_NAME | html %]</a>
			<td>[% gr.LANG_NAME | html %]</td>
			<td>[% gr.TARIFF_NAME | html %]</td>
			<td>[% gr.PREF_CODEC | html %]</td>
			<td>[% gr.SUB_SOUND_DIR | html %]</td>
			<td>[% gr.SUB_TEMPLATE_DIR | html %]</td>
			<td>
				<a href='?action=group_del&group_id=[% gr.GROUP_ID %]&from=[% MSG_FROM %]&f_group=[% F_GROUP | html %]' onclick="return DelConfirm('en')"><img border='0'  src='/xvb/images/vb_del.png' alt='del' /></a>
			</td>
			</form>
		</tr>
		[% END %]

		[% IF MSG_NEXT ne '' %]
		<tr>
			<td align='right' colspan='8'>
				<a title='next page' href='?action=group_list&from=[% MSG_NEXT %]&f_group=[% F_GROUP | html %]'><img border='0'  src='/xvb/images/msg_next.png' alt='=&gt; [% MSG_NEXT %]' /></a>
			</td>
		</tr>
		[% END %]
	</table>
	<script language='JavaScript'>listcolorer( 'list-data' );</script>
	</p>

	<p>
	<table width='95%' class='bottom_hr'>
		<tr>
			<form method='post'>
			<td>
				&nbsp;
				Group name :
				<input size='10' type='text' name='group_name'>
				&nbsp;
				Node : 
				<select name='node_name'>
					[% FOREACH node = NODES %]
					<option value="[% node.NODE_ID | html %]">[% node.NODE_ID | html %]</option>
					[% END %]
				</select>
				&nbsp;
				<input type='hidden' value='group_add' name='action'>
				<input value='&nbsp;&nbsp;Create new group&nbsp;&nbsp;' type='submit'>
			</td>
			</form>
		</tr>
	</table>
	</p>
	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
