<html>
<head>
	<title>Virtual PBX - tenants</title>
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	
	[% IF CGI_ERROR ne '' %]
	<script language="JavaScript" type="text/javascript">
	<!--
		alert('[% CGI_ERROR | html %]')
	//-->
	</script>
	<noscript>[% CGI_ERROR | html %]</noscript>
	[% END %]

	<table width='100%' class='logo'>
		<tr>
			<td align='left' width='15%'>
				<img border='0' width='120' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td align='center'>
				<h1>Tenants</h1>
			</td>
			<td align='left' width='15%'>
				&nbsp;
			</td>
		</tr>
	</table>
	
	<center>

	<table width='100%'>
		<tr>
			<td align='right'>
			<form method="post" onSubmit='return checkChanges(this)'>
			<input placeholder='Shared DID' size='15' name='f_vn' type='text' value='[% F_VN | html %]'>
			&nbsp;
			<input placeholder='Access code' size='10' name='f_ac' type='text'  value='[% F_AC | html %]'>
			&nbsp;
			<select name="f_group" id="group_type_selector">
				<option value="" selected>any group</option>
				[% FOREACH gr = GROUPS %]
					<option value="[% gr.GROUP_ID | html %]">[% gr.GROUP_NAME | html %]</option>
				[% END %]
			</select>
			&nbsp;
			<input type='hidden' value='user_list' name='action'>
			<input type='hidden' value='[% PARTNER | html %]' name='partner'>
			<input value='Search' type='submit'>
			</td>
			<script language='JavaScript'>
				setActiveSelector('group_type_selector',"[% F_GROUP %]");
			</script>
			</form>
		</tr>
	</table>

	<p>
	<table width='100%' id='list-data'>
		<tr>
				<th class='rad_l'>Shared DID</th>
				<th>Access code</th>
				<th>Tenant name</th>
				<th>Description</th>
				<th>Group</th>
				<th>Status</th>
				<th>R/O</th>
				<th>Balance</th>
				<th class='rad_r'>&nbsp;</th>
			</tr>
			
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='8'>
				<a title='previous page' href='?action=user_list&from=[% MSG_PREV %]&f_ac=[% F_AC %]&f_vn=[% F_VN %]&partner=[% PARTNER | html %]'><span class='fs0'>◄</span></a>
			</td>
		</tr>
		[% END %]

		[% FOREACH us = USERS %]
		<tr align='center' class='nocolor'>
			<td align='right'>
				[% us.VOICENUMBER | html %]
			</td>
			<td>
				<a title='view user profile' href='/ui?phone=[% us.VOICENUMBER %]&ac=[% us.ACCESS_CODE %]&pw=[% us.PIN_CODE %][% us.PIN_CODE2 %]&action=user_info'>[% us.ACCESS_CODE | html %]</a>
				<a title='Edit tenant settings' href='?user_id=[% us.ID %]&action=user_info&partner=[% PARTNER | html %]'><span class='icon-cogs fs0'></span></a>
			</td>
			<td align='left'>
				[% us.FIRST_NAME | html %] [% us.LAST_NAME | html %]
			</td>
			<td align='left'>
				[% us.DESCRIPTION | html %]
			</td>
			<td align='left'>[% us.GROUP_NAME | html %]</td>
			[% IF us.STATUS %]
			<td class='success'>
				active
			[% ELSE %]
			<td class='error'>
				locked
			[% END %]
			</td>
			<td class='ext_pv'>
				[% IF us.DEMO_MODE %]
					+
				[% ELSE %]
					-
				[% END %]
			</td>
			<td align='right'>
			[% IF USE_BILLING %]
				[% us.USER_BALANCE %] [% us.CURRENCY_NAME | html %]
			[% ELSE %]
				-
			[% END %]
			</td>
			<td>
				<a title='delete user' href='?action=user_del&user_id=[% us.ID %]&from=[% MSG_FROM %]&f_ac=[% F_AC %]&f_vn=[% F_VN %]&partner=[% PARTNER | html %]' onclick="return DelConfirm('en')"><span class='icon-bin fs0'></span></a>
			</td>
		</tr>
		[% END %]
		[% IF MSG_NEXT ne '' %]
		<tr>
			<td align='right' colspan='2'>
				<a title='next page' href='?action=user_list&from=[% MSG_NEXT %]&f_ac=[% F_AC %]&f_vn=[% F_VN %]&partner=[% PARTNER | html %]'><span class='fs0'>►</span></a>
			</td>
		</tr>
		[% END %]
	</table>
	<script language='JavaScript'>listcolorer( 'list-data' );</script>
	</p>
	
	<p>
	<table width='100%'>
		<form method="post" onSubmit='return checkChanges(this)'>
		<tr align='left'>
			<td align='left' colspan='6'>
				<input placeholder='Shared DID' size='15' type='text' name='phone'>
				&nbsp;
				Group: 
				<select name="group_id">
				[% FOREACH gr = GROUPS %]
					<option value="[% gr.GROUP_ID | html %]">[% gr.GROUP_NAME | html %]</option>
				[% END %]
				</select>
				&nbsp;
				<input value='Add tenant' type='submit'>
				<input type='hidden' value='user_add' name='action'>
				<input type='hidden' value='[% PARTNER | html %]' name='partner'>
			</td>
			</form>
		</tr>
	</table>
	</p>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
			
