<html>
<head>
	<title>Virtual PBX - CDRs</title>
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-en.min.js"></script>
</head>

<body onLoad="XVBInit()">
	[% IF CGI_ERROR ne '' %]
	<script language="JavaScript" type="text/javascript">
	<!--
		alert('[% CGI_ERROR | html %]')
	//-->
	</script>
	<noscript>[% CGI_ERROR | html %]</noscript>
	[% END %]
	

	<table width='100%' class='logo'>
		<tr align='left'>
			<td width='10%'>
				<img border='0' width='120' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td valign='left'>
				[% INCLUDE partner_main_menu.tt-inc %]
			</td>
		</tr>
	</table>
	<center>
	<h1>CDRs</h1>
	[% IF FROM_TIME %]
	<h3>from [% FROM_TIME | html %] to [% TO_TIME | html %]</h3>
	[% END %]

	<p>
	<table width='100%'>
		<form method="get" onSubmit='return checkChanges(this)'>
		<tr align='right'>
			<td width='100%'>
				[% TIME_INTERVAL_SELECTOR %]
				<input name='action' value='cdr_list' type='hidden'>
				<input name='partner' value='[% PARTNER | html %]' type='hidden'>
				<input size='10' type='text' placeholder='Caller' name='caller_id' value='[% CDR_CALLER_ID | html %]'>
				&nbsp;
				<input size='10' type='text' placeholder='Called' name='called_id' value='[% CDR_CALLED_ID | html %]'>
				&nbsp;
				<input size='10' type='text' placeholder='Access Code' name='ac' value='[% CDR_AC | html %]'>
				&nbsp;
				<input size='10' type='text' placeholder='Duration' name='duration' value='[% CDR_DURATION | html %]'>
				&nbsp;
				<input size='10' type='text' placeholder='Data' name='data' value='[% CDR_DATA | html %]'>
				&nbsp;
				<select name="group" id="group_type_selector">
					<option value="" selected>any group</option>
					[% FOREACH gr = GROUPS %]
						<option value="[% gr.GROUP_ID | html %]">[% gr.GROUP_NAME | html %]</option>
					[% END %]
				</select>
				&nbsp;
				<select name="call_type" id='call_type_selector'>
					<option value="" selected>all calls</option>
					<option value="incoming">incoming</option>
					<option value="local">local</option>
					<option value="transit">transit</option>
					<option value="internal">internal</option>
					<option value="callback">callback</option>
					<option value="callblast">callblast</option>
					<option value="click2call">click2call</option>
					<option value="alarmclock">alarmclock</option>
					<option value="service">service</option>
				</select>
				&nbsp;
				<input value='Search' type='submit'>
				<script language='JavaScript'>
					setActiveSelector('call_type_selector',"[% CDR_CALL_TYPE %]");
					setActiveSelector('group_type_selector',"[% CDR_GROUP %]");
				</script>
			</td>
		</tr>
		</form>
	</table>
	</p>
	<p>
	<table width='100%' id='d-tbl'>
		<tr>
			<th class='rad_l'>Date</th>
			<th>Caller ID</th>
			<th>Called NUM</th>
			<th>Duration</th>
			<th>Cost</th>
			<th>Type</th>
			<th colspan='2' width='30%' class='rad_r'>Tenant</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='8'>
				<a title='previous page' href='?action=cdr_list&smart_time=[% SMART_TIME | html %]&partner=[% PARTNER | html %]&group=[% CDR_GROUP | html %]&from=[% MSG_PREV %]&data=[% CDR_DATA | htmlstrict %]&duration=[% CDR_DURATION | html %]&call_type=[% CDR_CALL_TYPE | html %]&ac=[% CDR_AC | html %]&called_id=[% CDR_CALLED_ID | htmlstrict %]&caller_id=[% CDR_CALLER_ID | htmlstrict %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]'><span class='fs0'>◄</span></a>
			</td>
		</tr>
		[% END %]

		[% FOREACH msg = CDR_LIST %]
		<tr class='nocolor' align='center'>
			<td class='simple'><a title='call detail' href='?action=cdr_list&call_id=[% msg.CALL_ID %]&partner=[% PARTNER | html %]'>[% msg.CDR_DATE | html %]</a></td>
			[% IF msg.DATA contain 'STATUS=ANSWER' %]
				<td align='right'>[% msg.CALLER_ID | html %]</td>
			[% ELSIF msg.DATA contain 'STATUS=' %]
				<td align='right' class='warning-font'>[% msg.CALLER_ID | html %]</td>
			[% ELSE %]
				<td align='right'>[% msg.CALLER_ID | html %]</td>
			[% END %]
			<td align='right'>[% msg.CALLED_ID | html %]</td>
			<td>[% msg.CDR_DURATION | duration_str %]</td>
			<td align='right'>[% msg.COST %] ([% msg.DESCRIPTION %])</td>
			<td>[% msg.CALL_TYPE | html %]</td>
			<td><a title='edit user settings' href='?ac=[% msg.ACCESS_CODE %]&action=user_info&partner=[% PARTNER | html %]'>[% msg.ACCESS_CODE %]</a></td>
			<td align='left'>
				[% msg.FIRST_NAME | html %] [% msg.LAST_NAME | html %]
			</td>
		</tr>
		[% END %]
	
		[% IF MSG_NEXT ne '' %]
		<tr>
			<td align='right' colspan='8'>
				<a title='next page' href='?action=cdr_list&smart_time=[% SMART_TIME | html %]&partner=[% PARTNER | html %]&group=[% CDR_GROUP | html %]&from=[% MSG_NEXT %]&data=[% CDR_DATA | htmlstrict %]&duration=[% CDR_DURATION | html %]&call_type=[% CDR_CALL_TYPE | html %]&ac=[% CDR_AC | html %]&called_id=[% CDR_CALLED_ID | htmlstrict %]&caller_id=[% CDR_CALLER_ID | htmlstrict %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]'><span class='fs0'>►</span></a>
			</td>
		</tr>
		[% END %]
	</table>
 	[% UNLESS CDR_LIST scalar %]
 		<br /><h3>No records, please try to change filters.</h3>
 	[% END %]
	</p>
	
	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>
	
	</center>
	
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>
	
