<html>
<head>
	<title>Virtual PBX - tenants</title>
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	
	[% IF CGI_ERROR ne '' %]
	<script language="JavaScript" type="text/javascript">
	<!--
		alert('[% CGI_ERROR | html %]')
	//-->
	</script>
	<noscript>[% CGI_ERROR | html %]</noscript>
	[% END %]

	<table width='100%' class='logo'>
		<tr align='left'>
			<td width='10%'>
				<img border='0' width='120' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td align='left'>
				[% INCLUDE partner_main_menu.tt-inc %]
			</td>
		</tr>
	</table>
	
	<center>
	<table width='100%' class='logo'>
		<tr>
			<td width='10%'>&nbsp;</td>
			<td align='center'><h1>Tenant info</h1></td>
			<td width='10%' align='right'>
				<a title='delete tenat' href='?action=user_del&user_id=[% USER.ID %]&single_user=1' onclick="return DelConfirm('en')"><span class='icon-bin-all fs2'></span></a>
			</td>
		</tr>
	</table>

	<p>
	<table width='100%'>
		<tr>
		</tr>
		<tr>
			<td width='50%' valign='top'>
			<table width='100%'>
			<tr>
				<td>
					Tenant name:
				</td>
				<td>
					[% USER.FIRST_NAME | html %] [% USER.LAST_NAME | html %]&nbsp;&nbsp;
					<a title='Login to tenant account' href='/ui?phone=[% USER.VOICENUMBER %]&ac=[% USER.ACCESS_CODE %]&pw=[% USER.PIN_CODE %][% USER.PIN_CODE2 %]&action=start&saction=user_info'><span class='icon-enter fs0'></span></a>
				</td>
			</tr>
			<tr>
				<td>
					Email:
				</td>
				<td>
					[% USER.EMAIL | html %]
				</td>
			</tr>
			<tr>
				<td>
					Language:
				</td>
				<td align='left'>
					[% USER.LANG_NAME | html %]
				</td>
			</tr>
			<tr>
				<td>
					Access code:
				</td>
				<td>
					[% USER.ACCESS_CODE | html %]
				</td>
			</tr>
			<form method='post' id='find-form'>
			<tr>
				<td>
					Pin code:
				</td>
				<td nowrap='nowrap'>
					<input size='30' type='text' name='pin' value='[% USER.PIN_CODE | html %][% USER.PIN_CODE2 %]'>
					<input type='hidden' value='[% USER.ID %]' name='user_id'>
					<input type='hidden' value='user_update_pin' name='action'>
					<input type='hidden' name='ai' value=''id='find-flt'>
					<input type='hidden' value='[% PARTNER | html %]' name='partner'>
					<a title='update pin code' href='#' onclick="return SubmitConfirm('');"><span class='icon-loop2 fs0'></span></a>
				</td>
			</tr>
			</form>
			<form method='post' onSubmit='return checkChanges(this)'>
			<tr>
				<td>
					Shared DID: 
				</td>
				<td>
					<input size='15' name='US_VOICENUMBER' type='text' value="[% USER.VOICENUMBER | html %]">
				</td>
			</tr>
			<tr>
				<td>
					Group:
				</td>
				<td>
					<select name="US_GROUP_ID">
					[% FOREACH gr = GROUPS %]
						[% IF gr.GROUP_ID eq USER.GROUP_ID %]
							<option value="[% gr.GROUP_ID | html %]" selected>[% gr.GROUP_NAME | html %]</option>
						[% ELSE %]
							<option value="[% gr.GROUP_ID | html %]">[% gr.GROUP_NAME | html %]</option>
						[% END %]
					[% END %]
					</select>
				</td>
			</tr>
			<tr>
				<td>
					Status:
				</td>
				<td>
					<select name="US_STATUS">
					[% IF USER.STATUS %]
						<option value="1">active</option>
						<option value="0">locked</option>
					[% ELSE %]
						<option value="0">locked</option>
						<option value="1">active</option>
					[% END %]
					</select>
				</td>
			</tr>
			<tr>
				<td>
					Read only:
				</td>
				<td>
					<select name="US_DEMO_MODE">
					[% IF USER.DEMO_MODE %]
						<option value="1">yes</option>
						<option value="0">no</option>
					[% ELSE %]
						<option value="0">no</option>
						<option value="1">yes</option>
					[% END %]
					</select>
				</td>
			</tr>
			<tr>
				<td>
					Description:
				</td>
				<td>
					<textarea rows='5' cols='40' name='US_DESCRIPTION'>[% USER.DESCRIPTION | html %]</textarea>
				</td>
			</tr>
			<tr>
				<td>
					IP whitelist for web interface:
				</td>
				<td>
					<textarea rows='3' cols='40' name='US_PERMIT_WEB'>[% USER.PERMIT_WEB | html %]</textarea>
				</td>
			</tr>
			[% IF EXTRA_OPTIONS.CR_ENABLE %]
			<tr>
				<td>
					Custom group rules:
				</td>
				<td>
					<textarea rows='8' cols='40' name='US_CUSTOM_RULES'>[% USER.CUSTOM_RULES | html %]</textarea>
				</td>
			</tr>
			[% END %]
			<tr><td colspan='2'>&nbsp;</td></tr>
			<tr>
				<td colspan='2' align='center'>
					<input type='hidden' value='[% USER.ID %]' name='user_id'>
					<input type='hidden' value='user_update' name='action'>
					<input type='hidden' value='[% PARTNER | html %]' name='partner'>
					<input value='Save changes' type='submit'>
				</td>
			</tr>
			</form>
			</table>
			</td>
			<td valign='top'>
				<table width='100%'>
				[% IF USE_BILLING %]
				<tr>
					<td>
						<table width='100%'>
							<tr>
								<td colspan='8'>
									<h2>Balance ( <b>Tariff - <b>[% TARIFF.NAME | html %]</b> ):</h2>
								</td>
							</tr>
							<tr>
								<td colspan='4'>
									&nbsp;
									&nbsp;
									<b>[% USER.USER_BALANCE %]</b> [% TARIFF.DESCRIPTION %]
								</td>
								<td colspan='4' align='right'>
									<form method="post" onSubmit='return checkChanges(this)'>
									<input size='5' type='text' name='balance'>
									<input type='hidden' value='[% USER.ID %]' name='user_id'>
									<input type='hidden' value='[% USER.CURRENCY_ID %]' name='cur_id'>
									<input type='hidden' value='balance_update' name='action'>
									<input type='hidden' value='[% PARTNER | html %]' name='partner'>
									&nbsp;
									<input value='+/-' type='submit'>
									</form>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				[% END %]
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<table width='100%'>
							<tr>
								<td><h2>Assigned DIDs:</h2></td>
								[% IF DID_MNG %]
								<td align='right'>
									<a title='delete all DIDs' href='?action=did_del&did_id=all&user_id=[% USER.ID | html %]&did=all&partner=[% PARTNER | html %]' onclick="return DelConfirm('en')"><span class='icon-bin-all fs2'></span></a>
								</td>
								[% END %]
							</tr>
							<tr>
								<td>
								&nbsp;
								&nbsp;
								[% FOREACH d = DIDS %]
									[% IF DID_MNG %]
										<a title='delete DID' href='?action=did_del&did_id=[% d.ID %]&user_id=[% USER.ID | html %]&partner=[% PARTNER | html %]&did=[% d.DID | html %]' onclick="return DelConfirm('en')">[% d.DID | html %]</a>
									[% ELSE %]
										[% d.DID | html %]
									[% END %]
									
									[% IF d.CHANNELS ne '-1' %]
									( [% d.CHANNELS | html %] )
									[% END %]
									;&nbsp;
								[% END %]
								</td>
								<td valign='top' width='20%' align='center' nowrap='nowrap'>
								[% IF DID_MNG %]
								<form method="post" onSubmit='return checkChanges(this)'>
									<input size='11' type='text' name='did'>
									<input size='11' type='text' placeholder='Unlimit lines' name='channels'>
									<input type='hidden' name='pn' value='[% USER.VOICENUMBER | html %]'>
									<input type='hidden' name='ac' value='[% USER.ACCESS_CODE | html %]'>
									&nbsp;
									<input value='Add DID' type='submit'>
									<input type='hidden' value='did_add' name='action'>
									<input type='hidden' value='[% PARTNER | html %]' name='partner'>
								</form>
								[% END %]
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
				<td>
					<h2>Quick links:</h2>
					&nbsp;&nbsp;<a href='/ui?action=role_list&phone=[% USER.VOICENUMBER %]&ac=[% USER.ACCESS_CODE %]&pw=[% USER.PIN_CODE %][% USER.PIN_CODE2 %]'>Roles ( [% LIMITS.ROLES %] )</a>
					&nbsp;/&nbsp;<a href='/ui?action=peer_list&phone=[% USER.VOICENUMBER %]&ac=[% USER.ACCESS_CODE %]&pw=[% USER.PIN_CODE %][% USER.PIN_CODE2 %]'>SIP Peers ( [% LIMITS.PEERS %] )</a>
					&nbsp;/&nbsp;<a href='/ui?action=route_list&phone=[% USER.VOICENUMBER %]&ac=[% USER.ACCESS_CODE %]&pw=[% USER.PIN_CODE %][% USER.PIN_CODE2 %]'>Routes ( [% LIMITS.ROUTES %] )</a>
					&nbsp;/&nbsp;<a href='/ui?action=phone_list&phone=[% USER.VOICENUMBER %]&ac=[% USER.ACCESS_CODE %]&pw=[% USER.PIN_CODE %][% USER.PIN_CODE2 %]'>Phones ( [% LIMITS.PHONES %] )</a>
					&nbsp;/&nbsp;<a href='/ui?action=macros_list&phone=[% USER.VOICENUMBER %]&ac=[% USER.ACCESS_CODE %]&pw=[% USER.PIN_CODE %][% USER.PIN_CODE2 %]'>Macros</a>
					&nbsp;/&nbsp;<a href='/ui?action=cdr_list&phone=[% USER.VOICENUMBER %]&ac=[% USER.ACCESS_CODE %]&pw=[% USER.PIN_CODE %][% USER.PIN_CODE2 %]'>CDRs</a>
					&nbsp;/&nbsp;<a href='/ui?action=j_list&phone=[% USER.VOICENUMBER %]&ac=[% USER.ACCESS_CODE %]&pw=[% USER.PIN_CODE %][% USER.PIN_CODE2 %]'>Journals</a>
					&nbsp;/&nbsp;<a href='/ui?action=act_list_all&phone=[% USER.VOICENUMBER %]&ac=[% USER.ACCESS_CODE %]&pw=[% USER.PIN_CODE %][% USER.PIN_CODE2 %]'>Activity</a>
					&nbsp;/&nbsp;<a href='/ui?action=msg_list_all&phone=[% USER.VOICENUMBER %]&ac=[% USER.ACCESS_CODE %]&pw=[% USER.PIN_CODE %][% USER.PIN_CODE2 %]'>Files</a>
				</td>
				</tr>
				</table>
			</td>
		</tr>
	</table>
	</p>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
			
