<html>
<!-- $Id: phone_list.tt,v 1.25 2018/01/05 16:01:42 gosha Exp $ -->
<head>
	<title>Virtual PBX - SIP Phones</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">

	<table width='100%' class='logo'>
		<tr align='left'>
			<td width='10%'>
				<img border='0' width='120' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td valign='middle'>
				[% INCLUDE main_menu.tt-inc %]
				[% INCLUDE main_menu.tt-inc-custom %]
			</td>
			<td align='right'>
				<a href='/xvb/XVB-AI.pdf?a=msg_download' title='about'><span class='icon-question fs0'></span></a>
				[% INCLUDE version.tt %]
			<td>
		</tr>
	</table>
	<center>
	
	<h1>SIP phones</h1>
	
	<table width='100%'>
		<tr>
			<td align='right'>
				<form method="post" onSubmit='return checkChanges(this)'>
					<input size='11' name='ac' type='text' placeholder='Access code' value='[% AC | html %]'>
					&nbsp;
					<input size='6' name='phone' type='text' placeholder='Phone' value='[% PHONE | html %]'>
					&nbsp;
					<input size='10' name='ip' type='text' placeholder='Reg IP' value='[% IP | html %]'>
					&nbsp;
					<input size='11' name='authname' type='text' placeholder='Auth name' value='[% AUTHNAME | html %]'>
					&nbsp;
					<input size='11' name='ua' type='text' placeholder='User agent' value='[% UA | html %]'>
					&nbsp;
					<select name="rst" id='rst_selector'>
						<option value="" selected>reg status</option>
						<option value="1">registered</option>
						<option value="0">unregistered</option>
					</select>
					&nbsp;
					<input type='hidden' value='phone_list' name='action'>
					<input value='Search' type='submit'>
				</form>
				<script language='JavaScript'>setActiveSelector('rst_selector',"[% RST %]");</script>
			</td>
		</tr>
	</table>
	
	<p>
	<table width='100%' id='d-tbl'>
		<tr>
			<th class='rad_l'>Access code</th>
			<th>Tenant name</th>
			<th>&nbsp;</th>
			<th>Phone</th>
			<th>Reg IP</th>
			<th>&nbsp;</th>
			<th>CallerID</th>
			<th>Lines</th>
			<th>Auth name</th>
			<th>Password</th>
			<th class='rad_r'>&nbsp;</th>
		</tr>
		
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='11'>
				<a title='previous page' href='?action=phone_list&rst=[% RST %]&ua=[% UA | htmlstrict %]&ac=[% AC | html %]&ip=[% IP | html %]&from=[% MSG_PREV %]&phone=[% PHONE | htmlstrict %]&authname=[% NAME | html %]'><span class='fs0'>◄</span></a>
			</td>
		</tr>
		[% END %]
		
		[% FOREACH p = SIPDEV %]
		<tr align='left' class='nocolor'>
			<td><a title='edit user settings' href='?ac=[% p.ACCESS_CODE %]&action=user_info'>[% p.ACCESS_CODE %]</a></td>
			<td>
				[% p.FIRST_NAME | html %] [% p.LAST_NAME | html %]
			</td>
			<td align='center'>
				[% IF p.REG_STATUS eq 'Registered' %]
					<a href='#' class='l-info'>
					<span class='fs1'>✓</span>
					<span class='l-info'>
						[% p.REG_STATUS %]<br>
						Reg date: [% p.REG_TIME | html %]<br>
						Expired: [% p.REG_EXPIRED | html %]<br>
						IP: [% p.ipaddr | html %]:[% p.port | html %]<br>
						UA: [% p.useragent | html %]
					</span>
					</a>
				[% ELSIF p.REG_TIME ne '-' %]
					<a href='#' class='l-info'>
					<span class='icon-info fs1'></span>
					<span class='l-info'>
						[% p.REG_STATUS %]<br>
						Reg date: [% p.REG_TIME | html %]<br>
						Expired: [% p.REG_EXPIRED | html %]<br>
						IP: [% p.ipaddr | html %]<br>
						UA: [% p.useragent | html %]
					</span>
					</a>
				[% END %]
			</td>
			<td>[% p.callerid | html %]</td>
			<td>[% p.ipaddr | html %]</td>
			<td align='center'>
				[% IF p.deny %]
					<a href='#' class='l-info'>
					<span class='fs1'>✓</span>
					<span class='l-info'>
					Access only for: [% p.permit | html %]
					</span>
					</a>
				[% END %]
			</td>
			<td>[% p.DEFCID | html %]</td>
			<form method='post' id='f-[% p.DATA_ID %]' onSubmit='return xmlhttpPost(this,1)' action="">
			<td nowrap='nowrap'>
				<input class='in_t0' name='limit' type='text' value='[% p.CO_LIMIT %]' size='2' />
				<input type='hidden' value='[% p.DATA_ID %]' name='data_id'>
				<input type='hidden' value='sip_call_limit' name='action'>
				<input type='hidden' name='user_id' value='[% p.SUBSCR_ID %]'>
				<input type='hidden' name='phone' value='[% p.callerid %]'>
				<span class='in_t' id='in_t_id-[% p.DATA_ID %]'>
					<a href='#' onclick="return xmlhttpPost(document.getElementById('f-[% p.DATA_ID %]'),1);"><span class='icon-floppy-disk fs0 blink' title='save changes'></span></a>
					<noscript><input value='change' type='submit'></noscript>
				</span>
			</td>
			</form>
			<td>[% p.name %]</td>
			<td>[% p.secret %]</td>
			<td>
				[% IF ALLOW_RESET %]
				<a title='change auth name' href='?action=auth_name_reset&id=[% p.name | html %]&ac=[% p.ACCESS_CODE | html %]'><span class='icon-loop2 fs1'></span></a>
				[% END %]
			</td>	
		</tr>
		[% END %]
	
		[% IF MSG_NEXT ne '' %]
		<tr>
			<td align='right' colspan='11'>
				<a title='previous page' href='?action=phone_list&rst=[% RST %]&&ua=[% UA | htmlstrict %]&ac=[% AC | html %]&ip=[% IP | html %]&from=[% MSG_NEXT %]&phone=[% PHONE | htmlstrict %]&authname=[% NAME | html %]'><span class='fs0'>►</span></a>
			</td>
		</tr>
		[% END %]
	</table>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	
	[% INCLUDE main_menu2.tt-inc-custom %]
	
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
