<html>
<!-- $Id: phone_list.tt,v 1.11 2014/10/15 14:32:19 gosha Exp $ -->
<head>
	<title>Virtual PBX - SIP Phones</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">

	<table width='95%' class='logo'>
		<tr align='left'>
			<td width='10%'>
				<img border='0' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td valign='middle'>
				[% INCLUDE main_menu.tt-inc %]
				[% INCLUDE main_menu.tt-inc-custom %]
			</td>
			<td align='right'>
				<a href='/xvb/XVB-AI.pdf?a=msg_download'><img border='0' src='/xvb/images/help.png' alt='about' /></a>
				[% INCLUDE version.tt %]
			<td>
		</tr>
	</table>
	<center>
	
	<h1>SIP phones</h1>
	
	<table width='100%'>
		<tr>
			<td align='right'>
				<form method="post" onSubmit='return checkChanges(this)'>
					<input size='6' name='phone' type='text' placeholder='Phone' value='[% PHONE | html %]'>
					&nbsp;
					<input size='10' name='ip' type='text' placeholder='Reg IP' value='[% IP | html %]'>
					&nbsp;
					<input size='11' name='authname' type='text' placeholder='Auth name' value='[% AUTHNAME | html %]'>
					&nbsp;
					<input type='hidden' value='phone_list' name='action'>
					<input value='search' type='submit'>
				</form>
			</td>
		</tr>
	</table>
	
	<p>
	<table width='95%' id='d-tbl'>
		<tr>
			<th>Access code</th>
			<th>&nbsp;</th>
			<th>Auth name</th>
			<th>Password</th>
			<th>Reg IP</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>Phone</th>
			<th>User name</th>
			<th>CallerID</th>
		</tr>
		
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='9'>
				<a title='previous page' href='?action=phone_list&ip=[% IP | html %]&from=[% MSG_PREV %]&phone=[% PHONE | html %]&authname=[% NAME | html %]'><img border='0'  src='/xvb/images/msg_prev.png' alt='[% MSG_PREV %] &lt;=' /></a>
			</td>
		</tr>
		[% END %]
		
		[% FOREACH p = SIPDEV %]
		<tr align='left' class='nocolor'>
			<td><a title='edit user settings' href='?ac=[% p.ACCESS_CODE %]&action=user_info'>[% p.ACCESS_CODE %]</a></td>
			<td>
				[% IF ALLOW_RESET %]
				<a title='change auth name' href='?action=auth_name_reset&id=[% p.name | html %]&ac=[% p.ACCESS_CODE | html %]'><img border='0'  src='/xvb/images/msg_status.png' alt='new auth name' /></a>
				[% END %]
			</td>
			<td>[% p.name %]</td>
			<td>[% p.secret | html %]</td>
			<td>[% p.ipaddr | html %]</td>
			<td align='center'>
				[% IF p.deny %]
					<input type='checkbox' title='Access only for: [% p.permit | html %]' checked />
				[% END %]
			</td>
			<td align='center'>
				<img 
				[% IF p.REG_STATUS eq 'Registered' %]
					src='/xvb/images/ball_green.png'
				[% ELSIF  p.REG_STATUS eq 'Unregistered'  %]
					src='/xvb/images/ball_red.png'
				[% ELSE %]
					src=''
				[% END %]
				title='[% p.REG_STATUS %], Reg date: [% p.REG_DATE | html %], Expired date: [% p.REG_EXPIRED | html %], IP: [% p.ipaddr | html %], UA: [% p.useragent | html %]' alt='[% p.REG_STATUS %]' />
			</td>
			<td>[% p.callerid | html %]</td>
			<td>[% p.DESCRIPTION | html %]</td>
			<td>[% p.DEFCID | html %]</td>
		</tr>
		[% END %]
	
		[% IF MSG_NEXT ne '' %]
		<tr>
			<td align='right' colspan='10'>
				<a title='previous page' href='?action=phone_list&ip=[% IP | html %]&from=[% MSG_NEXT %]&phone=[% PHONE | html %]&authname=[% NAME | html %]'><img border='0'  src='/xvb/images/msg_next.png' alt='[% MSG_PREV %] &gt;=' /></a>
			</td>
		</tr>
		[% END %]
	</table>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	
	[% INCLUDE main_menu2.tt-inc-custom %]
	
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
