<html>
<head>
	<title>Virtual PBX - reports</title>
	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>

	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-en.min.js"></script>
</head>

<body onLoad="XVBInit()">
	[% IF CGI_ERROR ne '' %]
	<script language="JavaScript" type="text/javascript">
	<!--
		alert('[% CGI_ERROR | html %]')
	//-->
	</script>
	<noscript>[% CGI_ERROR | html %]</noscript>
	[% END %]

	<table width='100%' class='logo'>
		<tr align='left'>
			<td width='10%'>
				<img border='0' width='120' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td valign='middle'>
				[% INCLUDE main_menu.tt-inc %]
				[% INCLUDE main_menu.tt-inc-custom %]
			</td>
			<td align='right'>
				<a href='/xvb/XVB-AI.pdf?a=msg_download' title='about'><span class='icon-question fs0'></span></a>
				[% INCLUDE version.tt %]
			<td>
		</tr>
	</table>
	<center>
	
	<table width='100%'>
		<tr>
			<td width='90%' align='center'>
				<h1>Report info</h1>
			</td>
			<td align='right'>
				<a title='delete report' href='?action=report_del&report_id=[% REPORT_DATA.ID %]' onclick="return DelConfirm('en')"><span class='icon-bin-all fs2'></span></a>
			</td>
		</tr>
	</table>

	<table width='100%'>
		<tr>
			<td align='right'>
			<form method="get" action='?'>
			<input name='action' value='report_run' type='hidden'>
			<input name='type' value='[% REPORT_DATA.TYPE %]' type='hidden'>
			<input name='report_id' value='[% REPORT_DATA.ID %]' type='hidden'>
			
			[% IF REPORT_DATA.DATE_START %]
				[% TIME_INTERVAL_SELECTOR %]
			[% END %]
			
			[% FOREACH param = EXTRA_PARAMS %]
				<input size='10' type='text' placeholder='[% param.label | html %]' name='[% param.name | html %]' value='[% param.value | html %]'>
				&nbsp;
			[% END %]

			<input value='Run' type='submit'>
			&nbsp;
			<input name='need_excel' value='Excel' type='submit'>

			</form>
			</td>
		</tr>
	</table>

	<p>
	<table width='90%' class='report_data'>
		<form enctype="multipart/form-data" method="post" onSubmit='return checkChanges(this)'>
		<tr>
			<td>Create date: </td>
			<td>[% REPORT_DATA.CREATE_DATE %]</td>
			<td rowspan='9' valign='midle' align='center'>
				<p align='left'>SQL query:</p>
				<textarea rows='20' cols='45' name='R_QUERY'>[% REPORT_DATA.QUERY | html %]</textarea>
				<p align='left'><input type='file' name='R_FILE'></p>
			</td>
			<td rowspan='9' valign='midle' align='center'>
				<p align='left'>Post filter:</p>
				<textarea rows='20' cols='45' name='R_POST_FILTER'>[% REPORT_DATA.POST_FILTER | html %]</textarea>
				<p align='left'><input type='file' name='R_FILTER_FILE'></p>
			</td>
		</tr>
		<tr>
			<td>Name: </td>
			<td><input type='text' size='30' value='[% REPORT_DATA.NAME | html %]' name='R_NAME'></td>
		</tr>
		<tr>
			<td>Default start date: </td>
			<td><input type='text' size='30' value='[% REPORT_DATA.DATE_START | html %]' name='R_DATE_START'></td>
		</tr>
		<tr>
			<td>Default stop date: </td>
			<td><input type='text' size='30' value='[% REPORT_DATA.DATE_STOP | html %]' name='R_DATE_STOP'></td>
		</tr>
		<tr>
			<td>Extra filters: </td>
			<td align='left'>
				<textarea rows='2' cols='45' name='R_EXTRA_PARAMS'>[% REPORT_DATA.EXTRA_PARAMS | html %]</textarea>
			</td>
		</tr>
		<tr>
			<td>Cache TTL: </td>
			<td><input type='text' size='10' value='[% REPORT_DATA.TTL | html %]' name='R_TTL'></td>
		</tr>
		<tr>
			<td>Owner: </td>
			<td>
				<select name='R_TYPE'>
				[% IF REPORT_DATA.TYPE eq '1' %]
					<option value="1" selected>admin</option>
					<option value="0">user</option>
				[% ELSE %]
					<option value="1">admin</option>
					<option value="0" selected>user</option>
				[% END %]
			</td>
		</tr>
		<tr>
			<td>Groups permissions: </td>
			<td align='left'>
				<textarea rows='2' cols='45' name='R_ACCESS_GROUPS'>[% REPORT_DATA.ACCESS_GROUPS | html %]</textarea>
			</td>
		</tr>
		<tr>
			<td>Tenants permissions: </td>
			<td align='left'>
				<textarea rows='2' cols='45' name='R_ACCESS_ACCOUNTS'>[% REPORT_DATA.ACCESS_ACCOUNTS | html %]</textarea>
			</td>
		</tr>
		<tr>
			<td colspan='4' align='center'>
				<input type='hidden' value='report_update' name='action'>
				<input type='hidden' value='[% REPORT_DATA.ID %]' name='report_id'>
				<input type='submit' value='Save changes'>
			</td>
		</tr>
		</form>
	</table>
	</p>

	</center>
	
	[% INCLUDE main_menu2.tt-inc-custom %]
	
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
