<html>
<head>
	<title>Virtual PBX - reports</title>
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	[% IF CGI_ERROR ne '' %]
	<script language="JavaScript" type="text/javascript">
	<!--
		alert('[% CGI_ERROR | html %]')
	//-->
	</script>
	<noscript>[% CGI_ERROR | html %]</noscript>
	[% END %]

	<center>
	<p>
	<table width='98%' class='logo'>
		<tr>
			<td align='left' width='20%'>
			<img border='0' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td align='center'><h2>Report info</h2></td>
			<td align='right' width='20%'>
				<a href='/xvb/XVB-AI.pdf?a=msg_download'><img border='0' src='/xvb/images/help.png' alt='about' /></a>
			</td>
		</tr>
	</table>
	</p>

	<p>
	<table width='95%' class='bottom_hr'>
		<tr align='center'>
			<td>
				<a class='headers' href='?action=report_list'>All reports</a>
			</td>
			<td>
				<a class='headers' href='?action=report_run&report_id=[% REPORT_DATA.ID %]'>Run report</a>
			</td>
			<td>
				<a class='headers' href='?action=report_del&report_id=[% REPORT_DATA.ID %]'>Delete report</a>
			</td>
		</tr>
	</table>

	<p>
	<table width='90%' class='report_data'>
		<form enctype="multipart/form-data" method="post" action='?'>
		<tr>
			<td>Create date: </td>
			<td>[% REPORT_DATA.CREATE_DATE %]</td>
			<td rowspan='5'>
				SQL query:<br>
				<textarea rows='16' cols='50' name='R_QUERY'>[% REPORT_DATA.QUERY | html %]</textarea>
			</td>
		</tr>
		<tr>
			<td>Name: </td>
			<td><input type='text' size='30' value='[% REPORT_DATA.NAME | html %]' name='R_NAME'></td>
		</tr>
		<tr>
			<td>Cache TTL: </td>
			<td><input type='text' size='10' value='[% REPORT_DATA.TTL | html %]' name='R_TTL'></td>
		</tr>
		<tr>
			<td>Owner: </td>
			<td>
				<select name='R_TYPE'>
				[% IF REPORT_DATA.TYPE eq '1' %]
					<option value="1" selected>admin</option>
					<option value="0">user</option>
				[% ELSE %]
					<option value="1">admin</option>
					<option value="0" selected>user</option>
				[% END %]
			</td>
		</tr>
		<tr>
			<td>SQL file: </td>
			<td>
				<input type='file' name='R_FILE'>
			</td>
		</tr>
		<tr>
			<td colspan='3' align='center'>
				<input type='hidden' value='report_update' name='action'>
				<input type='hidden' value='[% REPORT_DATA.ID %]' name='report_id'>
				<input type='submit' value='&nbsp;change&nbsp;'>
			</td>
		</tr>
		</table>
	</table>
	</p>

	<p>
	<table width='98%' class='bottom_hr'>
		<tr align='center'>
			<td>
				<a class='headers' href='?action=report_del&report_id=[% REPORT_DATA.ID %]'>Delete report</a>
			</td>
			<td>
				<a class='headers' href='?action=report_run&report_id=[% REPORT_DATA.ID %]'>Run report</a>
			</td>
			<td>
				<a class='headers' href='?action=report_list'>All reports</a>
			</td>
		</tr>
	</table>
	</p>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
