<html>
<!-- $Id -->
<head>
	<title>Virtual PBX - Routes</title>
	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	[% IF CGI_ERROR ne '' %]
	<script language="JavaScript" type="text/javascript">
	<!--
		alert('[% CGI_ERROR | html %]')
	//-->
	</script>
	<noscript>[% CGI_ERROR | html %]</noscript>
	[% END %]
	
	<table width='100%' class='logo'>
		<tr align='left'>
			<td width='10%'>
				<img border='0' width='120' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td valign='middle'>
				[% INCLUDE main_menu.tt-inc %]
				[% INCLUDE main_menu.tt-inc-custom %]
			</td>
			<td align='right'>
				<a href='/xvb/XVB-AI.pdf?a=msg_download' title='about'><span class='icon-question fs0'></span></a>
				[% INCLUDE version.tt %]
			<td>
		</tr>
	</table>
	
	<center>
			
	<table width='100%'>
		<tr align='center'>
			<td>
				<h1>System routes</h1>
			</td>
			<td align='right' width='5%'>
				<a title='delete all routes' href='?action=route_del&data_id=all' onclick="return DelConfirm('en')"><span class='icon-bin-all fs2'></span></a>
			</td>
		</tr>
	</table>
	
	<table width='95%'>
		<form method="get" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
		<tr align='right'>
			<td align='left'>
				[% MATCH_RESULTS | html %]
			</td>
			<td align='right'>
				<input name='action' value='route_list' type='hidden'>
				<input size='10' type='text' placeholder='Caller' name='caller_id' value='[% ROUTE_CALLER_ID | html %]'>
				&nbsp;
				<input size='10' type='text' placeholder='Called' name='called_id' value='[% ROUTE_CALLED_ID | html %]'>
				&nbsp;
				<input size='15' type='text' placeholder='Variables' name='vars' value='[% ROUTE_VARS | html %]'>
				&nbsp;
				<input name='need_lookup' value='1' type='hidden'>
				<input value='Lookup' type='submit'>
			</td>
		</tr>
		</form>
	</table>

	<p>
	<table width='100%' id='d-tbl'>
		<tr>
			<th class='rad_l'>Priority</th>
			<th>Pattern</th>
			<th>Out number</th>
			<th>&nbsp;</th>
			<th>Permissions</th>
			<th>Route Name</th>
			<th>CallerID</th>
			<th>Peer</th>
			<th>&nbsp;</th>
			<th class='rad_r'>Actions</th>
		</tr>
		
		[% FOREACH r = ROUTES %]
		<tr align='center' class='nocolor' id='d-tr-[% r.DATA_ID %]'>
			<form method="post" action="[% CGI_URL %]" id='f-[% r.DATA_ID %]' onSubmit='return xmlhttpPost(this,1)'>
			<td><input class='in_t0' size="6" name='r_PRIORITY' type='text' value='[% r.PRIORITY | html %]'></td>
			<td><input class='in_t0' size="15" name='r_PATTERN' type='text' value="[% r.PATTERN | html %]"></td>
			<td><input class='in_t0' size="18" name='r_SUBSTR' type='text' value="[% r.SUBSTR | html %]"></td>
			<td>[% r.SUBSTR_RESULT | html %]</td>
			<td><input class='in_t0' size="14" name='r_EXT_NUMBER' type='text' value="[% r.EXT_NUMBER | html %]"></td>
			<td><input class='in_t0' size="13" name='r_DESCRIPTION' type='text' value="[% r.DESCRIPTION | html %]"></td>
			<td><input class='in_t0' size="16" name='r_DEFCID' type='text' value="[% r.DEFCID | html %]"></td>
			<td><input class='in_t0' size="16" name='r_PEER' type='text' value="[% r.PEER | html %]"></td>
			<td align='center'>
				<input class='in_t0' name='r_LAST_ROUTE' type='checkbox' title='Last route'
				[% IF r.LAST_ROUTE %]
				checked 
				[% END %]
				/>
			</td>
			<td align='left'>
				<input type='hidden' value='[% r.DATA_ID %]' name='data_id'>
				<input type='hidden' value='route_update' name='action'>
				<span class='in_t' id='in_t_id-[% r.DATA_ID %]'>
					<a href='#' onclick="return xmlhttpPost(document.getElementById('f-[% r.DATA_ID %]'),1);"><span class='icon-floppy-disk fs0 blink' title='save changes'></span></a>
					<noscript><input value='change' type='submit'></noscript>
				</span>
				<a title="clone route" href='?action=route_add&clone_id=[% r.DATA_ID %]'><span class='icon-copy fs0'></span></a>
				<a title='delete route' href='?action=route_del&data_id=[% r.DATA_ID %]' onclick="return xmlhttpDel(this,'en','d-tr-[% r.DATA_ID %]')"><span class='icon-bin fs0'></span></a>
			</td>
			</form>
		</tr>
		[% END %]
		<tr align='center'>
			<form method='post' action='[% CGI_URL %]' onSubmit='return checkChanges(this)'>
			<td><input size="6" name='r_PRIORITY' type='text' value='5'></td>
			<td><input size="15" name='r_PATTERN' type='text'></td>
			<td><input size="18" name='r_SUBSTR' type='text'></td>
			<td>&nbsp;</td>
			<td><input size="14" name='r_EXT_NUMBER' type='text'></td>
			<td><input size="13" name='r_DESCRIPTION' type='text'></td>
			<td><input size="16" name='r_DEFCID' id="r_DEFCID" type='text'></td>
			<td><input size="16" name='r_PEER' id="r_PEER" type='text'></td>
			<td colspan='2'>
				<input type='hidden' value='route_add' name='action'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<input value='Add' type='submit'>
			</td>
			</form>
		</tr>
	</table>
	<a name="addarea">&nbsp;</a>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
