<html>
<head>
	<title>Virtual PBX - tenant info</title>
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	
	[% IF CGI_ERROR ne '' %]
	<script language="JavaScript" type="text/javascript">
	<!--
		alert('[% CGI_ERROR | html %]')
	//-->
	</script>
	<noscript>[% CGI_ERROR | html %]</noscript>
	[% END %]

	<table width='100%' class='logo'>
		<tr align='left'>
			<td width='10%'>
				<img border='0' width='120' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td valign='middle'>
				[% INCLUDE main_menu.tt-inc %]
				[% INCLUDE main_menu.tt-inc-custom %]
			</td>
			<td align='right'>
				<a href='/xvb/XVB-AI.pdf?a=msg_download' title='about'><span class='icon-question fs0'></span></a>
				[% INCLUDE version.tt %]
			<td>
		</tr>
	</table>
	
	<center>
	
	<table width='100%'>
		<tr>
			<td align='left'>
				Calls: [% USER.CUR_CALLS %]
			</td>
			<td width='90%' align='center'>
				<h1>[% USER.ACCESS_CODE %] - Tenant info</h1>
			</td>
			<td align='right'>
				<a title='delete tenat' href='?action=user_del&user_id=[% USER.ID %]&single_user=1' onclick="return DelConfirm('en')"><span class='icon-bin-all fs2'></span></a>
			</td>
		</tr>
	</table>
	
	<p>
	<table width='100%'>
		<tr>
		</tr>
		<tr>
			<td width='50%' valign='top'>
			<table width='100%'>
			<tr>
				<td>
					Tenant name:
				</td>
				<td>
					[% USER.FIRST_NAME | html %] [% USER.LAST_NAME | html %]&nbsp;&nbsp;
					<a title='Login to tenant account' href='/ui?phone=[% USER.VOICENUMBER %]&ac=[% USER.ACCESS_CODE %]&pw=[% USER.PIN_CODE %][% USER.PIN_CODE2 %]&akey=[% ADMIN_KEY | html %]&action=start&saction=user_info'><span class='icon-enter fs0'></span></a>
				</td>
			</tr>
			<tr>
				<td>
					Email:
				</td>
				<td>
					[% USER.EMAIL | html %]
				</td>
			</tr>
			<tr>
				<td>
					Language:
				</td>
				<td align='left'>
					[% USER.LANG_NAME | html %]
				</td>
			</tr>
			<tr>
				<td>
					Access code:
				</td>
				<td>
					[% USER.ACCESS_CODE | html %]&nbsp;&nbsp;
				</td>
			</tr>
			<tr>
				<td>
					Created date:
				</td>
				<td>
					[% USER.CREATE_TIME | html %]&nbsp;&nbsp;
				</td>
			</tr>
			<form method='post' id='find-form'>
			<tr>
				<td>
					Pin code:
				</td>
				<td nowrap='nowrap'>
					<input size='30' type='text' name='pin' value='[% USER.PIN_CODE | html %][% USER.PIN_CODE2 %]'>
					<input type='hidden' value='[% USER.ID %]' name='user_id'>
					<input type='hidden' value='user_update_pin' name='action'>
					<input type='hidden' name='ai' value=''id='find-flt'>
					<a title='update pin code' href='#' onclick="return SubmitConfirm('');"><span class='icon-loop2 fs0'></span></a>
				</td>
			</tr>
			</form>
			<tr>
				<td></td>
			</tr>
			<form method='post' onSubmit='return checkChanges(this)'>
			<tr>
				<td>
					Shared DID: 
				</td>
				<td>
					<input size='15' name='US_VOICENUMBER' type='text' value="[% USER.VOICENUMBER | html %]">
				</td>
			</tr>
			<tr>
				<td>
					Group:
				</td>
				<td>
					<select name="US_GROUP_ID">
					[% FOREACH gr = GROUPS %]
						[% IF gr.GROUP_ID eq USER.GROUP_ID %]
							<option value="[% gr.GROUP_ID | html %]" selected>[% gr.GROUP_NAME | html %]</option>
						[% ELSE %]
							<option value="[% gr.GROUP_ID | html %]">[% gr.GROUP_NAME | html %]</option>
						[% END %]
					[% END %]
					</select>
					<a title='group info' href='?action=group_info&group_id=[% USER.GROUP_ID %]'><span class='icon-info fs0'></span></a>
				</td>
			</tr>
			<tr>
				<td>
					Status:
				</td>
				<td>
					<select name="US_STATUS">
					[% IF USER.STATUS %]
						<option value="1">active</option>
						<option value="0">locked</option>
					[% ELSE %]
						<option value="0">locked</option>
						<option value="1">active</option>
					[% END %]
					</select>
				</td>
			</tr>
			<tr>
				<td>
					Read only:
				</td>
				<td>
					<select name="US_DEMO_MODE">
					[% IF USER.DEMO_MODE %]
						<option value="1">yes</option>
						<option value="0">no</option>
					[% ELSE %]
						<option value="0">no</option>
						<option value="1">yes</option>
					[% END %]
					</select>
				</td>
			</tr>
			[% FOREACH cf = CUSTOM_FIELDS %]
			<tr>
				<td>
					[% cf.NAME | html %]: 
				</td>
				<td>
					<input size='40' name='US_[% cf.KEY %]' type='text' value="[% cf.VAL | html %]">
				</td>
			</tr>
			[% END %]
			<tr>
				<td>
					Description:
				</td>
				<td>
					<textarea rows='5' cols='40' name='US_DESCRIPTION'>[% USER.DESCRIPTION | html %]</textarea>
				</td>
			</tr>
			<tr>
				<td>
					Custom group rules:
				</td>
				<td>
					<textarea rows='10' cols='40' name='US_CUSTOM_RULES'>[% USER.CUSTOM_RULES | html %]</textarea>
				</td>
			</tr>
			<tr><td colspan='2'>&nbsp;</td></tr>
			<tr>
				<td colspan='2' align='center'>
					<input type='hidden' value='[% USER.ID %]' name='user_id'>
					<input type='hidden' value='user_update' name='action'>
					<input value='Save changes' type='submit'>
				</td>
			</tr>
			</form>
			</table>
			</td>
			<td valign='top'>
				<table width='100%'>
				[% IF USE_BILLING %]
				<tr>
					<td>
						<table width='100%'>
							<tr>
								<td>
									<h2>Balance ( tariff: <a href='?action=tariff_info&tariff_id=[% TARIFF.ID %]'><b>[% TARIFF.NAME | html %]</b> ) :</h2>
								</td>
							</tr>
							<tr>
								<td>
									&nbsp;
									&nbsp;
									&nbsp;
									<b>[% USER.USER_BALANCE %]</b> [% TARIFF.DESCRIPTION %]
								</td>
								<td align='right'>
									<form method='post'>
									<input size='5' type='text' name='balance'>
									&nbsp;
									<input type='hidden' value='[% USER.ID %]' name='user_id'>
									<input type='hidden' value='[% USER.CURRENCY_ID %]' name='cur_id'>
									<input type='hidden' value='balance_update' name='action'>
									<input value='+/-' type='submit'>
									</form>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				[% END %]
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<table width='100%'>
							<tr>
								<td><h2>Assigned DIDs:</h2></td>
							</tr>
							<tr>
								<td>
								&nbsp;
								&nbsp;
								[% FOREACH d = DIDS %]
									<a title='delete DID' href='?action=did_del&did_id=[% d.ID %]&user_id=[% USER.ID | html %]&did=[% d.DID | htmlstrict %]' onclick="return DelConfirm('en')">
									[% d.DID | html %]
									[% IF d.CHANNELS ne '-1' %]
									( [% d.CHANNELS | html %] )
									[% END %]
									</a>;&nbsp;
								[% END %]
								</td>
								<td valign='top' width='20%' align='center' nowrap='nowrap'>
								<form method='post'>
									<input size='11' type='text' placeholder='DID' name='did'>
									<input size='11' type='text' placeholder='Unlimit lines' name='channels'>
									&nbsp;
									<input type='hidden' name='pn' value='[% USER.VOICENUMBER | html %]'>
									<input type='hidden' name='ac' value='[% USER.ACCESS_CODE | html %]'>
									<input value='Add DID' type='submit'>
									<input type='hidden' value='did_add' name='action'>
								</form>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<table width='100%'>
							<tr>
								<td><h2>SIP domains:</h2></td>
							</tr>
							<tr>
								<td>
								&nbsp;
								&nbsp;
								[% FOREACH d = DOMAINS %]
									<a title='delete SIPDomain' href='?action=did_del_sipdomain&domain_id=[% d.ID %]&user_id=[% USER.ID | html %]&domain=[% d.DOMAIN | htmlstrict %]' onclick="return DelConfirm('en')">[% d.DOMAIN | html %]</a>;&nbsp;
								[% END %]
								</td>
								<td valign='top' width='20%' align='center' nowrap='nowrap'>
								<form>
									<input size='20' type='text' name='domain'>
									&nbsp;
									<input type='hidden' name='pn' value='[% USER.VOICENUMBER | html %]'>
									<input type='hidden' name='ac' value='[% USER.ACCESS_CODE | html %]'>
									<input value='Add SipDomain' type='submit'>
									<input type='hidden' value='did_add_sipdomain' name='action'>
								</form>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
				<td>
					<h2>Quick links:</h2>
					<ul>
					<li>UI
					&nbsp;&nbsp;<a href='/ai?action=peer_list&ac=[% USER.ACCESS_CODE %]'>SIP Peers</a>
					&nbsp;/&nbsp;<a href='/ui?action=route_list&phone=[% USER.VOICENUMBER %]&ac=[% USER.ACCESS_CODE %]&pw=[% USER.PIN_CODE %][% USER.PIN_CODE2 %]'>Routes</a>
					&nbsp;/&nbsp;<a href='/ui?action=phone_list&phone=[% USER.VOICENUMBER %]&ac=[% USER.ACCESS_CODE %]&pw=[% USER.PIN_CODE %][% USER.PIN_CODE2 %]'>Phones</a>
					&nbsp;/&nbsp;<a href='/ui?action=cdr_list&phone=[% USER.VOICENUMBER %]&ac=[% USER.ACCESS_CODE %]&pw=[% USER.PIN_CODE %][% USER.PIN_CODE2 %]'>CDRs</a>
					&nbsp;/&nbsp;<a href='/ui?action=j_list&phone=[% USER.VOICENUMBER %]&ac=[% USER.ACCESS_CODE %]&pw=[% USER.PIN_CODE %][% USER.PIN_CODE2 %]'>Journals</a>
					&nbsp;/&nbsp;<a href='/ui?action=act_list_all&phone=[% USER.VOICENUMBER %]&ac=[% USER.ACCESS_CODE %]&pw=[% USER.PIN_CODE %][% USER.PIN_CODE2 %]'>Activity</a>
					&nbsp;/&nbsp;<a href='/ui?action=msg_list_all&phone=[% USER.VOICENUMBER %]&ac=[% USER.ACCESS_CODE %]&pw=[% USER.PIN_CODE %][% USER.PIN_CODE2 %]'>Files</a>
					</li>
					<li>AI
					&nbsp;&nbsp;<a href='/ai?action=peer_list&ac=[% USER.ACCESS_CODE %]'>SIP Peers</a>
					&nbsp;/&nbsp;<a href='/ai?action=phone_list&ac=[% USER.ACCESS_CODE %]'>Phones</a>
					&nbsp;/&nbsp;<a href='/ai?action=cdr_list&ac=[% USER.ACCESS_CODE %]'>CDRs</a>
					&nbsp;/&nbsp;<a href='/ai?action=j_list&ac=[% USER.ACCESS_CODE %]'>Journals</a>
					&nbsp;/&nbsp;<a href='/ai?action=msg_list_all&ac=[% USER.ACCESS_CODE %]'>Files</a>
					</li>
					</ul>
				</td>
				</tr>
				</table>
			</td>
		</tr>
	</table>
	</p>
	
	</center>
	
	[% INCLUDE main_menu2.tt-inc-custom %]
	
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
			
