<html>
<!-- $Id: cdrs_act_list.tt,v 1.3 2024/04/07 21:06:33 gosha Exp $ -->
<head>
	<title>Virtual PBX - CDRs / Call Detail</title>
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	[% IF CGI_ERROR ne '' %]
	<script language="JavaScript" type="text/javascript">
	<!--
		alert('[% CGI_ERROR | html %]')
	//-->
	</script>
	<noscript>[% CGI_ERROR | html %]</noscript>
	[% END %]
	
			
	<table width='100%' class='logo'>
		<tr align='left'>
			<td width='10%'>
				<img border='0' width='120' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td valign='middle'>
				[% INCLUDE main_menu.tt-inc %]
				[% INCLUDE main_menu.tt-inc-custom %]
			</td>
			<td align='right'>
				<a href='/xvb/XVB-AI.pdf?a=msg_download' title='документация'><span class='icon-question fs0'></span></a>
				[% INCLUDE version.tt %]
			<td>
		</tr>
	</table>
	
	<script language='JavaScript'>
		var download_file_url="";
	</script>

	<center>
	<table width='100%'>
		<tr>
			<td align='center'>
				<h1>Детализация звонка</h1>
			</td>
			<td align='right' width='10%'>
				<a href="?action=call_log&call_id=[% CDR_CALL_ID | html %]&a=msg_download" target="_blank" title="call logs">Лог звонка</a> / 
				<a href='?action=sip_log&call_id=[% SIP_CALL_ID | html %]&start_time=[% SIP_CALL_START %]&xvb_call_id=[% CDR_CALL_ID | html %]&stop_time=[% SIP_CALL_STOP %]&a=msg_download'>SIP дамп</a>
			</td>
		</tr>
	</table>

	<p>
	<table width='100%' id='d-tbl'>
		<tr>
			<th class='rad_l'>Дата</th>
			<th>Кто звонил</th>
			<th>Вн. номер</th>
			<th>Действие</th>
			<th>Длительность</th>
			<th width='25%' class='rad_r'>Данные</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='6'>
				<a title='предыдущая страница' href='?action=cdr_list&from=[% MSG_PREV %]&call_id=[% CDR_CALL_ID %]'><span class='fs0'>◄</span></a>
			</td>
		</tr>
		[% END %]
		
		[% FOREACH msg = CDR_LIST %]
		<tr class='nocolor' align='center'>
			<td class='simple'>[% msg.CDR_DATE | html %]</td>
			<td>
			[% IF msg.CNAM %]
				'[% msg.CNAM | html %]'&nbsp;&nbsp;&lt;[% msg.CALLER_ID | html %]&gt;
			[% ELSE %]
				[% msg.CALLER_ID | html %]
			[% END %]
			</td>
			<td align='left'>
				[% IF msg.TYPE eq 'Call' %]
					<b>[% msg.ACCESS_CODE | html %]</b>
					<script language='JavaScript'>
						var download_file_url="<a title='скачать' href='/ui/msg_download/$1/[% msg.ACCESS_CODE %]/$2.mp3?media=mp3'>FILE</a>";
						var listen_file_url="<a title='прослушать' onclick=\"return ShowPlayer('/ui/msg_download/$1/[% msg.ACCESS_CODE %]/$2?media=mp3;type=listen' )\" href='#'><span class='icon-volume-medium fs0'></span></a>";
					</script>
				[% ELSE %]
					[% msg.EXT_NUMBER | html %]
				[% END %]
			</td>
			<td align='left'>[% msg.TYPE | locale_msg %]</td>
			<td>[% msg.CDR_DURATION | duration_str %]</td>
			<td align='left'>
				[% msg.DATA | html %]
				[% IF msg.TYPE eq 'Call' %]
					[% IF msg.EXT_NUMBER %]
 						<br><a href='?action=sip_log&call_id=[% msg.EXT_NUMBER | html %]&start_time=[% msg.START_TIMESTAMP %]&xvb_call_id=[% CDR_CALL_ID | html %]&stop_time=[% msg.STOP_TIMESTAMP %]&a=msg_download'>SIP_CALL_ID</a>=[% msg.EXT_NUMBER | html %]
					[% END %]
				[% END %]
			</td>
		</tr>
		[% END %]
		[% IF MSG_NEXT ne '' %]
		<tr>
			<td align='right' colspan='6'>
				<a title='следующая страница' href='?action=cdr_list&from=[% MSG_NEXT %]&call_id=[% CDR_CALL_ID %]'><span class='fs0'>►</span></a>
			</td>
		</tr>
		[% END %]
	</table>
 	[% UNLESS CDR_LIST scalar %]
 		<br /><h3>Данных не найдено, попробуйте задать другой фильтр</h3>
 	[% END %]
	</p>

	<script language='JavaScript'>
		var callback_cdr_url="$1<a title='cdr' href='?action=cdr_list&call_id=$2'>CALL</a>";
		var js_date_str="[% JS_DATE_STR | html %]-DTMF history";
		cdrfilters( 'd-tbl', 5, 'new_line' );
		listcolorer( 'd-tbl' );
	</script>

	</center>
	
	[% INCLUDE main_menu2.tt-inc-custom %]

	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>

