<html>
<!-- $Id: journal_list.tt,v 1.3 2024/04/07 21:06:33 gosha Exp $ -->
<head>
	<title>Virtual PBX - Actions journal</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-en.min.js"></script>
</head>

<body onLoad="XVBInit()">
	<table width='100%' class='logo'>
		<tr align='left'>
			<td width='10%'>
				<img border='0' width='120' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td valign='middle'>
				[% INCLUDE main_menu.tt-inc %]
				[% INCLUDE main_menu.tt-inc-custom %]
			</td>
			<td align='right'>
				<a href='/xvb/XVB-AI.pdf?a=msg_download' title='документация'><span class='icon-question fs0'></span></a>
				[% INCLUDE version.tt %]
			<td>
		</tr>
	</table>
	
	<center>
	<h1>Журнал изменений</h1>

	<table width='100%'>
		<tr>
			<td align='right'>
			<form method="get" onSubmit='return checkChanges(this)'>
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#from_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							xdate: "00:00",
							button: ".next()"
						});
				});
				</script>
				<input placeholder='С даты' size='16' type='text' name='from_time' value='[% FROM_TIME | html %]' id='from_time'>
				<a link="#"><span class='fs0'>▾</span></a>
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#to_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							xdate: "23:59",
							button: ".next()"
						});
				});
				</script>
				<input placeholder='По дату' size='16' type='text' name='to_time' value='[% TO_TIME | html %]' id='to_time'>
				<a link="#"><span class='fs0'>▾</span></a>
				<input name='action' value='j_list' type='hidden'>
				<input size='12' placeholder='Код достпа' type='text' name='ac' value='[% J_AC %]'>
				&nbsp;
				<input size='12' placeholder='Вн номер' type='text' name='ext_num' value='[% J_EXT_NUM %]'>
				&nbsp;
				<select name="action_type" id="j_type_selector">
					<option value="" selected>все</option>
				[% FOREACH at = ACTIONS %]
					<option value="[% at %]">[% at | locale_msg %]</option>
				[% END %]
				</select>
				&nbsp;
				<input size='15' placeholder='IP пользователя' type='text' name='cid' value='[% J_CID | html %]'>
				&nbsp;
				<input size='18' placeholder='Данные' type='text' name='data' value='[% J_DATA | html %]'>
				<input name='uniq' value='[% USER_CREDS.UNIQ %]' type='hidden'>
				&nbsp;
				<input value='Найти' type='submit'>
				<script language='JavaScript'>
					setActiveSelector('j_type_selector',"[% J_ACTION %]");
				</script>
			</form>
			</td>
		</tr>
	</table>

	<p>
	<table width='100%' id='d-tbl'>
		<tr>
			<th width='10%' class='rad_l'>Код достпа</th>
			<th width='20%'>Дата</th>
			<th width='10%'>Действие</th>
			<th width='15%'>IP пользователя</th>
			<th width='5%'>Внутренний номер</th>
			<th width='40%' class='rad_r'>Данные</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='6'>
				<a title='предыдущая страница' href='?action=j_list&cid=[% J_CID | html %]&action_type=[% J_ACTION %]&from=[% MSG_PREV %]&ac=[% J_AC %]&ext_num=[% J_EXT_NUM %]&data=[% J_DATA | htmlstrict %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&uniq=[% USER_CREDS.UNIQ %]'><span class='fs0'>◄</span></a>
			</td>
		</tr>
		[% END %]

		[% FOREACH msg = J_LIST %]
			<tr class='nocolor'>
				<td class='simple'><a title='перейти в кбинет арендатора' href='?ac=[% msg.ACCESS_CODE %]&action=user_info'>[% msg.ACCESS_CODE %]</a></td>
				<td align='center'>[% msg.J_DATE | html %]</td>
				<td>[% msg.ACTION | locale_msg %]</td>
				<td align='center'>[% msg.CID | html %]</td>
				<td>[% msg.EXT_NUMBER | html %]</td>
				<td>[% msg.DESCRIPTION | html %]</td>
			</tr>
		[% END %]

		[% IF MSG_NEXT ne '' %]
		<tr>
			<td align='right' colspan='6'>
				<a title='следующая страница' href='?action=j_list&cid=[% J_CID | html %]&action_type=[% J_ACTION %]&from=[% MSG_NEXT %]&ac=[% J_AC %]&ext_num=[% J_EXT_NUM %]&data=[% J_DATA | htmlstrict %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&uniq=[% USER_CREDS.UNIQ %]'><span class='fs0'>►</span></a>
			</td>
		</tr>
		[% END %]
	</table>
 	[% UNLESS J_LIST scalar %]
		<br /><h3>Ничего не нашлось, попробуйте задать другие фильтры</h3>
 	[% END %]
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	
	[% INCLUDE main_menu2.tt-inc-custom %]
	
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>
	
