<html>
<!-- $Id: new_message.tt,v 1.3 2013-09-10 14:35:04 gosha Exp $ -->
<!--SUBJECT:У Вас новое сообщение в ящике #[% _USER_VBOX.EXT_NUMBER | html %] от [% callerid | html %]:SUBJECT-->
<head>
	<BASE href="[% CGI_SERVER %]">
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
</head>

<body link=blue vlink=purple>
<p align='left'>
[% IF USER_CREDS.LOGO_HREF eq '' %]
	<img border='0' src='[% CGI_SERVER %]/xvb/images/logo-small.png' alt='Virtual PBX' />
[% ELSE %]
	<img border='0' src='[% USER_CREDS.LOGO_HREF %]' alt='Virtual PBX' />
[% END %]
</p>

Здравствуйте,

<p>
Сообщаем Вам, что на Ваш ящик голосовой почты (<b>[% CALLED_ID | html %]</b> # <b>[% _USER_VBOX.EXT_NUMBER | html %]</b>) получено новое сообщение
от <b>[% callerid | html %]</b>, в <b>[% origdate | html %]</b>.
</p>

<p>
[% IF FILE_LINK ne '' %]
<a href="[% FILE_LINK %]">Вы можете скачать сообщение по этой ссылке.</a>
<!-- /
[% IF is_voice %]
</p><p>
<a href="https://twitter.com/intent/tweet?text=Вы%20должны%20это%20слышать&url=https://[% USER_CREDS.DOWNLOAD_IP | html %]/ui/msg_download/[% _USER_VBOX.ID | html %]/[% USER_CREDS.ACCESS_CODE %]/[% file_name | html %].mp3%3fmedia=mp3"><img src="/xvb/images/twitter22.png" alt="Поделиться в twitter" title="Поделиться в twitter" /></a>
&nbsp;
<a href="http://www.facebook.com/share.php?t=VirtualPBX&u=https://[% USER_CREDS.DOWNLOAD_IP | html %]/ui/fbshare/[% _USER_VBOX.ID %]/[% USER_CREDS.ACCESS_CODE %]/[% file_name %]%3fdate=[% origdate | html %]&amp;cid=[% callerid | html %]"><img src="/xvb/images/facebook22.png" alt="Поделиться в facebook" title="Подилиться в facebook" /></a>
&nbsp;
<a href="http://connect.mail.ru/share?share_url=https://[% USER_CREDS.DOWNLOAD_IP | html %]/ui/msg_download/[% _USER_VBOX.ID | html %]/[% USER_CREDS.ACCESS_CODE %]/[% file_name | html %].mp3%3fmedia=mp3"><img src="/xvb/images/mailru.png" alt="Поделиться в МойМир" title="Поделиться в МойМир" /></a>
&nbsp;
<a href="http://vkontakte.ru/share.php?url=https://[% USER_CREDS.DOWNLOAD_IP | html %]/ui/msg_download/[% _USER_VBOX.ID | html %]/[% USER_CREDS.ACCESS_CODE %]/[% file_name | html %].mp3%3fmedia=mp3"><img src="/xvb/images/vk.png" alt="Вконтакте" title="Вконтакте" /></a>
</p><p>
[% END %]
/ -->
[% END %]
</p>

-- 
<br>Спасибо,<br> 
&nbsp;&nbsp;Ваш VirtualPBX.

</body>
</html>

