####################################################
# common options
[COMMON]
#
# ip list for cut sip domains ( PSTN, GW ) 0.0.0.0 - disable PSTN domain usage
PSTN_GW					= 127.0.0.1

#
#
# list of self sip domain, 0.0.0.0 - disable sip domain usage
# example: vpbx.com, domain.com
SIP_DOMAINS				= 0.0.0.0

#
MSG_IN_PAGE				= 180

#
# journal store time ( days ) 0 - disable
JOURNAL_STORE			= 180

#
# TTS cache store ( days ) 0 - always
TTS_STORE				= 180

#
# cdrs store time ( days ) 0 - disable
CDR_STORE				= 180

#
# server id for messages ( ipaddr or domain name of node )
# FixMe
SERVER_ID				= DEFAULT_NODE

#
# MemCached options
# users/lists/etc/
MEM_CACHED				= '127.0.0.1:11211'
# counters
MEM_CACHED_SHARED		= '127.0.0.1:11211'
# all nodes for clean cache
MEM_CACHED_NODES		= '127.0.0.1:11211'

#
# Use -1 - ext / 0 - no / 1 - internal
#
USE_BILLING				= 1
USE_BILLING_4EVENTS		= 1

#
# HTML Date format
#
DATE_FORMAT				= '%m/%d/%y %H:%M:%S %Z'

#
# limis for delete messages/cdrs/journals
#
DEL_LIMIT				= 20000

#
# default lang ( only for cgi-login page now )
#
DEFAULT_LANG			= xvb.EN-Female

#
# Default locale : ru_RU.UTF-8
#
DEFAULT_LOCALE			= en_US.UTF-8

#
# Enabled hooks
#
HOOKS					=

#
# use FFMPEG for g722 | g722,mp3
#
USEFFMPEG4				= g722

#
# Call limit indication busy|message
#
CLIMIT_INDICATION = message

####################################################
#
# Asterisk options
#
[ASTERISK]
#
# DELIMITER: '|' - for 1.4 ( and 1.6 in compat mode=1.4 ), ',' - for 1.6
#
PARAM_DELIMITER			= ','
#
# PEER IP Function
#		CHANNEL(peerip)  for 1.6.2 // CHANNEL(recvip)  for 1.8 // SIPCHANINFO(recvip) for 1.6.0, 1.4
#
PEER_IP					= 'CHANNEL(recvip)'
#
# Asterisk [TR]xFaxAPP: [RT]xFax, ReceiveFax, PIKARxFax
#
RxFax_App				= ReceiveFax,f
TxFax_App				= SendFax
#
# Dial Method dial/macro
#
DIAL_METHOD				= Macro
#
# Delete /n for localchannels for callfiles
#
#STRIP_LOCALCHAN_4CALLFILE		= yes
#
# Streaming method: Multi / Single / MultiServer
#
STREAMING_METHOD		= Multi
#
# VERSION 16 / 18
#
VERSION					= 18
USE_VOICECHANGER		= 0
#					ices2 [ ogg ] / ezstream [ mp3 ]
ICECAST_FORMAT			= ices2
#
USE_CURL				= 0
#
AGI_MODE				= perl-worker
#
SKIP_GOODBYE			= no
#
CONFERENCE_SERVER		= 
#
AMI_MODE				= direct
AMI_PORT				= 5038
AMI_USERNAME			= xvb
AMI_SECRET				= sec4xvb
#
#DEFAULT_MOH				= custom

####################################################
# timeout options
[TIMEOUT]
DOWNLOAD_CACHE_EXPIRED		= 7200
TTS_CACHE_EXPIRED			= 300
TTS_GET						= 4
DIGIT						= 3000
STAT						= 120
DB							= 30
DB_TTL						= 3600
DIALOUT						= 40
CONFERENCE					= 30
WEB_PASSWORD_EXPIRED		= 600
MEM_CACHED					= 3600
MEM_CACHED_PING				= 60
MEM_CACHED_CONNECT			= 0.25
MEM_CACHED_CONNECT_SHARED	= 0.4
MEM_CACHED_MSG				= 3600
MEM_CACHED_CID				= 3600
MEM_CACHED_PBOOK			= 3600
MEM_CACHED_ROUTE			= 3600
MEM_CACHED_SIP_PEERS		= 60
MEM_CACHED_REPORTS			= 3600
MEM_CACHED_MACROS			= 3600
MEM_CACHED_CLICK2CALL		= 3600
MEM_CACHED_CALLBLAST		= 300
MEM_CACHED_PREAUTH			= 21600
MEM_CACHED_UAC_REG			= 7200
MEM_CACHED_PB_POS			= 864000
MEM_CACHED_REMEMBER_AGENT	= 2591999
LOG_REOPEN					= 3600
GA_REQUEST					= 1.2
ICECAST_LEASE				= 86400
ICECAST_NOLEASE				= 600
GOOGLE_AUTH					= 864000
GOOGLE_DATA					= 43200
GOOGLE_DATA_TTL				= 300
UAC_DEFAULT_EXPIRES			= 3600
UAC_REG_RETRY				= 90
UAC_REG_TTL					= 60
HANGUP_DELAY				= 2
DEFAULT_CALL_DURATION		= 10800
HTTP_DOWNLOAD				= 5
ONLINE_CALLS_REFRESH		= 5

####################################################
# DB options
[DB]
DSN							= 'dbi:mysql:xvb:localhost'
USER						= xvb
NAME						= xvb
PASSWORD					= pass1xvb
#
MASTER_DSN					= 'dbi:mysql:xvb:localhost'
MASTER_USER					= xvb
MASTER_NAME					= xvb
MASTER_PASSWORD				= pass1xvb
#
CACHE_WEB_AUTH				= 1
CACHE_AGI_AUTH				= 0
#
# allow like filters only for requests with data and for xx days period, 0 - unlimit
NOINDEX_LIMIT 				= 180

####################################################
# PATH description
[PATH]
TMP_DIR				= /tmp/
CDR_DIR				= /var/log/VirtualPBX/
MEDIA_DIR			= /opt/VirtualPBX/spool/recordings/
TTS_DIR				= /opt/VirtualPBX/spool/tts
TEMPLATE_DIR		= /opt/VirtualPBX/templates/
TEMPLATE_INC_DIR	= /opt/VirtualPBX/templates/
DOWNLOAD_DIR		= /tmp
WORK_DIR			= /tmp/
BACKUP_DIR			= /opt/VirtualPBX/db/
PODCAST_DIR			= /opt/VirtualPBX/spool/podcasts/
HOME_DIR			= /opt/VirtualPBX/
SOUND_DIR			= /usr/share/asterisk/sounds/
ICECAST_DIR			= /opt/VirtualPBX/etc/icecast/

####################################################
# FILE formats
[FILE]
Ast_Sound_Format		= g722
Ast_Video_Format		= h263
All_Sound_Formats		= wav|ul|al|ulaw|alaw|g722|gsm|wav16
#Fax_Format				= pdf

####################################################
# watchdogs th
[WATCHDOG]
TH					= 20
TH_VB				= 8
TH_VB_TIME			= 1

####################################################
# debug options
[DEBUG]
#
#  0 - fatal errors
#  1 - errors
#  2 - warnings
#  4 - notice
#  8 - dtmf
# 16 - debug
#
# 64 - verbose
#128 - pedantic
LEVEL				= 31
# AC for full debug
#FULL				= 2,12
#SEND_TO             = FILE,SYSLOG
SEND_TO             = FILE
FILE                = /var/log/VirtualPBX/XVB.log
HOST                = 127.0.0.1

####################################################
# CGI options
[CGI]
URL				= /ui
# for redirect to static file
#DOWNLOAD_HREF	= https://127.0.0.1/xvb-download/
#
# FixMe
SERVER = https://127.0.0.1
#
# upload file limit
POST_MAX		= 30000000
#
# trusted hosts for Date format xml/json requests AI - admin interface, UI - user interface
TRUSTED_4_AI_DF = *
TRUSTED_4_UI_DF = *
# trusted hosts for multiply c2c requests * - for all, or ip list separated by comes
#TRUSTED_4_C2C   = 
#
CSV_DELIMITER	= ,
#
ADMIN_STATUS_CMD = 'free; df -h; uptime; asterisk -rx "core show uptime"; grep Licen /var/log/VirtualPBX/XVB.stderr | tail -10;  tail -100 /var/log/VirtualPBX/XVB.stderr; tail -100 /var/log/asterisk/messages; tail -300 /var/log/VirtualPBX/XVB.log'
#
ADMIN_TENANTS_TEMPLATES = -----:-----;/opt/VirtualPBX/contrib/utils/rpm/sys_update-data/ru-office.xml:RU-office
#
ADMIN_KEY=
#
FIX_DOWNLOAD_FILE_NAME=yes

####################################################
# Radius options
[RADIUS]
## accounting
#ACCT_HOST=127.0.0.1
#ACCT_SECRET=testing123
# send accounting events
##ACCT_SEND_EVENTS=1

####################################################
# GEARMAN 
[GEARMAN]
HOST=127.0.0.1:4730
FUNC=radius_acct,notify_twitter,notify_email,notify_ga,gearman_cdr,gearman_db_do,notify_http

####################################################
# sip options
[SIP]
#
# REGISTRAR
IS_REGISTRAR				= 0
REGISTRAR_NAME				= 
#REGISTRAR_TYPE				= SER / ASTERISK
REGISTRAR_TYPE				= ASTERISK
# UAC
UAC_REG_RETRY_CNT			= 30
UAC_GW_IN					= 127.0.0.1
UAC_GW_OUT					= 10.1.1.1,192.168.6.1
# UAC_TYPE 					= SER / ASTERISK
UAC_TYPE					= ASTERISK
# NAME type
#NAME_TYPE					= 
PHONE_OPT					= DND,FWD_NUM

####################################################
# email options
[EMAIL]
SERVER				= 127.0.0.1
FROM				= '"== Virtual PBX ==" <no-replay@virtualpbx.com>'
SUBJ				= New message in mailbox 
FORKS				= 10
SKIP_TXT_ATTACH		= 0
#USERNAME			= gosha
#PASSWORD			= welcome

####################################################
# CDR options
[CDR]
#SEND_TO			= FILE,UDP,DB,NONE
SEND_TO				= FILE,DB
FILE				= XVB.cdr
UDP_SERVER			= 127.0.0.1:50000
# RN/PN
TRANSIT_CALLED		= RN

####################################################
# CallBlast optinos
[CALLBLAST]
CHECK_AMD			= 0
MAX_CALLS			= 150
LOAD_THRESHOLD		= 0.90
SLEEP				= 1

####################################################
# DB tables descriptions
[TABLES]
REPORT					= VPBX_REPORTS
DTMF_PATTERN			= VPBX_DTMF_PATTERN
SAY_PATTERN				= VPBX_SAY_PATTERN
PHONE_BOOK				= VPBX_PHONE_BOOK
CID						= VPBX_CID_FILTERS
CIDTYPES				= VPBX_CID_TYPE
CIDACTIONS				= VPBX_CID_ACTIONS
MOH						= VPBX_MOH
CDRS					= VPBX_CDRS
CDRS_A					= VPBX_CDRS_ACTIVITY
JOURNAL					= VPBX_JOURNAL
FTYPE					= VPBX_VBOXES_RECORD_FTYPE
NOTIFY_TYPE				= VPBX_NOTIFY_TYPE
VBTYPES					= VPBX_VBOX_TYPE
LANG					= VPBX_LANG
TZ						= VPBX_TZ
CALLTYPES				= VPBX_VBOXES_DIALOUT_TYPE
BALANCE					= VPBX_BALANCE
TARIFF					= VPBX_TARIFF
CURRENCY				= VPBX_CURRENCY
DATE_FORMAT				= VPBX_DATE_FORMAT
CUSTOM_MOH				= VPBX_CUSTOM_MOH
DIR_LANG				= VPBX_DIRECTORY_LANG
CALLS					= VPBX_ONLINE_CALLS
#
MACROS					= VPBX_MACROS
AST_CONFIG				= VPBX_AST_CONFIG
ACCOUNT					= VPBX_ACCOUNTS
PARTNER					= VPBX_PARTNERS
CLICK2CALL				= VPBX_CLICK2CALL
DID						= VPBX_DIDS
DID_SIPDOMAIN			= VPBX_DIDS_SIPDOMAINS
DID_ATTR				= VPBX_DIDS_ATTR
NODE					= VPBX_NODES
GROUP					= VPBX_GROUPS
SIPPEERS				= VPBX_SIPPEERS
SIPPEERS_TEMPLATES		= VPBX_SIPPEERS_TEMPLATES
ROUTES					= VPBX_ROUTES
ICECAST_POOL			= VPBX_ICECAST_POOL
VBOX_CORE				= VPBX_VBOXES_CORE
VBOXES_RECORD_FILES		= VPBX_VBOXES_RECORD_FILES
VBOX_PARAMS_1			= VPBX_VBOXES_PLAYBACK
VBOX_PARAMS_2			= VPBX_VBOXES_RECORD
VBOX_PARAMS_3			= VPBX_VBOXES_DIALOUT
VBOX_PARAMS_4			= VPBX_VBOXES_DIRECTORY
VBOX_PARAMS_5			= VPBX_VBOXES_SCHEDULE
VBOX_PARAMS_6			= VPBX_VBOXES_TTS
VBOX_PARAMS_7			= VPBX_VBOXES_CONFERENCE
VBOX_PARAMS_8			= VPBX_VBOXES_FAXRX
VBOX_PARAMS_9			= VPBX_VBOXES_DTMFRX
VBOX_PARAMS_10			= VPBX_VBOXES_VOTING
VBOX_PARAMS_11			= VPBX_VBOXES_DISA
VBOX_PARAMS_12			= VPBX_VBOXES_PODCAST
VBOX_PARAMS_13			= VPBX_VBOXES_QUEUES
VBOX_PARAMS_14			= VPBX_VBOXES_CALLBACK
VBOX_PARAMS_15			= VPBX_VBOXES_DATETIME
VBOX_PARAMS_16			= VPBX_VBOXES_FAXTX
VBOX_PARAMS_17			= VPBX_VBOXES_BBS
VBOX_PARAMS_18			= VPBX_VBOXES_CALLBLAST
VBOX_PARAMS_19			= VPBX_VBOXES_USERVAR
VBOX_PARAMS_20			= VPBX_VBOXES_WEBVAR
VBOX_PARAMS_21			= VPBX_VBOXES_GOTOIF
VBOX_PARAMS_22			= VPBX_VBOXES_DBVAR
VBOX_PARAMS_23			= VPBX_VBOXES_ALARMCLOCK
VBOX_PARAMS_24			= VPBX_VBOXES_GC_SCHEDULE
VBOX_PARAMS_25			= VPBX_VBOXES_ROBOTEXT
VBOX_PARAMS_26			= VPBX_VBOXES_STREAMING
VBOX_PARAMS_27			= VPBX_VBOXES_PARKING
VBOX_PARAMS_28			= VPBX_VBOXES_GC_EXPLORER
VBOX_PARAMS_29			= VPBX_VBOXES_INTERCOM
VBOX_PARAMS_30			= VPBX_VBOXES_DTMFTX
VBOX_PARAMS_31			= VPBX_VBOXES_MULTIDIALOUT
VBOX_DIRECTORY_DATA		= VPBX_VBOXES_DIRECTORY_DATA
VBOX_SCHEDULE_DATA		= VPBX_VBOXES_SCHEDULE_DATA
VBOX_VOTING_DATA		= VPBX_VBOXES_VOTING_DATA
VBOX_DIALOUT_DATA		= VPBX_VBOXES_DIALOUT_DATA
VBOX_PODCAST_DATA		= VPBX_VBOXES_PODCAST_DATA
VBOX_BBS_DATA			= VPBX_VBOXES_BBS_DATA
VBOX_CALLBLAST_DATA		= VPBX_VBOXES_CALLBLAST_DATA
VBOX_GOTOIF_DATA		= VPBX_VBOXES_GOTOIF_DATA
VBOX_MULTIDIALOUT_DATA  = VPBX_VBOXES_MULTIDIALOUT_DATA

####################################################
# IVR attempts counter
[ATTEMPTS]
IVR_INPUT			= 3
PASSWORD			= 3
ACCESS_CODE			= 3


####################################################
# Asterisk FEATURES 
[FEATURES]
#DIALOUT				= 'xvb-transfer#xvb-record#xvb-hangup#xvb-bg-music-moh#xvb-bg-music-play#xvb-pitch#xvb-at-transfer'
#QUEUES				= 'xvb-transfer#xvb-record#xvb-hangup#xvb-bg-music-moh#xvb-bg-music-play#xvb-pitch#xvb-at-transfer'
DIALOUT				= 'xvb-transfer#xvb-record#xvb-hangup#xvb-bg-music-moh#xvb-bg-music-play#xvb-pitch#xvb-black-list'
QUEUES				= 'xvb-transfer#xvb-record#xvb-hangup#xvb-bg-music-moh#xvb-bg-music-play#xvb-pitch#xvb-black-list'
DISA				= 'xvb-hangup'
CONF				= 'xvb-hangup'
PARKING				= 'xvb-parking'
CALL_REC			= 'xvb-t-record'
CALL_TRANSIT		= 'xvb-t-bg-music-moh#xvb-t-bg-music-play'
#CALL_PHONE			= 'xvb-t-bg-music-moh#xvb-t-bg-music-play#xvb-transfer#xvb-at-transfer#xvb-black-list'
CALL_PHONE			= 'xvb-t-bg-music-moh#xvb-t-bg-music-play#xvb-transfer#xvb-black-list'
MULTIDIALOUT		= 'xvb-hangup'

####################################################
# TTS FEATURES 
[TTS]
USE_WAV_IF_POSIBLE = 0
#SPEED_Festival_msu_ru_nsh_clunits = 1.05
#SPEED_Festival = 1.03
SPEED_GTranslate_RU = 1.1
#SPEED_GTranslate = 1.05
# see http://msdn.microsoft.com/en-us/library/dd251020.aspx for more detail
MSTRANSLATOR_BINGID=
#CHUNK_LEN_GTranslate_RU = 140

####################################################
# ASR FEATURES
[ASR]
INPUT_DURATION=3
# https://console.developers.google.com
GOOGLE_KEY=
GOOGLE_REFER=
GOOGLE_MIN_CONFIDENCE=0.50
# https://developer.tech.yandex.ru/
YANDEX_KEY=
YANDEX_MIN_CONFIDENCE=

####################################################
# CUSTOM DATA 
[CUSTOM]
#ACC_FIELDS=CUSTOM_1,LANG,TZ_NAME,SOUND_FORMAT,FIRST_NAME,LAST_NAME,EMAIL,LOGO_HREF,CSS_HREF,MSG_IN_PAGE,STATEMENTS,MSG_STORE_PERIOD,DATE_FORMAT,GA_ACCOUNT,I_DIGIT_TIMEOUT,PHONE,MOBILE,ADDRESS,CITY,STATE,ZIP,COUNTRY,PASSWORD
ACC_FIELDS=CUSTOM_1,LANG,TZ_NAME,SOUND_FORMAT,FIRST_NAME,LAST_NAME,EMAIL,LOGO_HREF,CSS_HREF,MSG_IN_PAGE,STATEMENTS,MSG_STORE_PERIOD,DATE_FORMAT,GA_ACCOUNT,I_DIGIT_TIMEOUT
#EXTRA_USER_FIELDS_4_AI=email:EMAIL,pswd:PASSWORD
EXTRA_USER_FIELDS_4_AI=CUSTOM_RULES:CUSTOM_RULES,CUSTOM_1:CUSTOM_1:Custom field

####################################################
# BILL_EVENTS 
[BILLING]
#EVENT_DISA=DURATION
#EVENT_Queue=DURATION
#EVENT_Dialout=DURATION
#EVENT_FaxRX=PAGES
#
ROUNDING_4GUI=2

####################################################
# CFG-VERSION=999999

