<html>
<!-- $Id: act_list_all.tt,v 1.23 2025/02/16 17:34:54 gosha Exp $ -->
<head>
	<title>Virtual PBX - activity - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]

	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-en.min.js"></script>
</head>

<body onLoad="XVBInit()">
	
	<center>
			
	<table width='100%'>
		<tr>
			<td align='center'>
				<h1>PBX activity</h1>
				[% IF FROM_TIME %]
				<h3>from [% FROM_TIME | html %] to [% TO_TIME | html %]</h3>
				[% END %]
			</td>
			<td align='right' width='10%'>
				<a title='download excel file' href='#' onclick="return SubmitConfirm('');"><span class='icon-file-excel fs0'></span></a>
			</td>
		</tr>
	</table>

	<table width='100%'>
		<tr>
			<td align='right'>
				<form method="get" action="[% CGI_URL %]" onSubmit='return checkChanges(this)' id='find-form'>
				[% TIME_INTEVAL_SELECTOR %]
				<input size='10' type='text' placeholder='Caller' name='caller_id' value='[% CDR_CALLER_ID | html %]'>
				&nbsp;
				<input placeholder='Ext' size='10' type='text' name='ext' value='[% CDR_EXT | html %]'>
				&nbsp;
				<input size='8' type='text' placeholder='Duration' name='duration' value='[% CDR_DURATION | html %]'>
				&nbsp;
				<input placeholder='Data' size='15' type='text' name='data' value='[% CDR_DATA | html %]'>
				&nbsp;
				<select name="act_type" id="act_type_selector">
					<option value="" selected>Action</option>
				[% FOREACH at = ACT_TYPES %]
					<option value="[% at %]">[% at %]</option>
				[% END %]
				</select>
				&nbsp;
				<input name='action' value='act_list_all' type='hidden'>
				<input name='uniq' value='[% USER_CREDS.UNIQ %]' type='hidden'>
				<input name='id' value='[% VBOX_PREF.ID %]' type='hidden'>
				<input name='need_excel' value='' type='hidden' id='find-flt'>
				<input value='Search' type='submit'>
				</form>
				<script langiage='JavaScript'>setActiveSelector('act_type_selector',"[% ACT_TYPE | html %]");</script>
			<td>
		</tr>
	</table>

	<table width='95%' id='d-tbl'>
		<tr>
			<th class='rad_l'>Date</th>
			<th>Caller ID</th>
			<th>Extension</th>
			<th>Duration</th>
			<th>Action</th>
			<th width='35%' class='rad_r'>Data</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='6'>
				<a title='previous page' href='?action=act_list_all&smart_time=[% SMART_TIME | html %]&ext=[% CDR_EXT | html %]&data=[% CDR_DATA | htmlstrict %]&duration=[% CDR_DURATION | html %]&id=[% VBOX_PREF.ID %]&act_type[% ACT_TYPE | html %]&from=[% MSG_PREV %]&uniq=[% USER_CREDS.UNIQ %]&to_time=[% TO_TIME | html %]&from_time=[% FROM_TIME | html %]'><span class='fs0'>◄</span></a>
			</td>
		</tr>
		[% END %]
		
		[% FOREACH msg = CDR_LIST %]
		<tr class='nocolor' align='center'>
			<td class='simple'>
				<a title='call detail' href="?action=act_list&call_id=[% msg.CALL_ID %]&uniq=[% USER_CREDS.UNIQ %]">[% msg.CDR_DATE | html %]</a>
			</td>
			<td align='right'>[% msg.CALLER_ID | html %]</td>
			<td align='right'>[% msg.EXT_NUMBER | html %]</td>
			<td>[% msg.CDR_DURATION | duration_str %]</td>
			<td align='left'>[% msg.TYPE | html %]</td>
			<td align='left'>[% msg.DATA | html %]</td>
		</tr>
		[% END %]
		<tr>
		[% IF MSG_NEXT ne '' %]
			<td align='right' colspan='6'>
				<a title='next page' href='?action=act_list_all&smart_time=[% SMART_TIME | html %]&ext=[% CDR_EXT | html %]&data=[% CDR_DATA | htmlstrict %]&duration=[% CDR_DURATION | html %]&id=[% VBOX_PREF.ID %]&act_type=[% ACT_TYPE | html %]&from=[% MSG_NEXT %]&uniq=[% USER_CREDS.UNIQ %]&to_time=[% TO_TIME | html %]&from_time=[% FROM_TIME | html %]'><span class='fs0'>►</span></a>
			</td>
		[% ELSE %]
			<td colspan='5'>&nbsp;</td>
		[% END %]
		</tr>
	</table>
 	[% UNLESS CDR_LIST scalar %]
 		<br /><h3>No records, please try to change filters.</h3>
 	[% END %]

	<script language='JavaScript'>
		var download_file_url="<a title='download' href='[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download/$1/[% USER_CREDS.ACCESS_CODE %]/$2.[% USER_CREDS.SOUND_FORMAT %]?media=[% USER_CREDS.SOUND_FORMAT %]'>FILE</a>";
		var listen_file_url="<a title='listen' onclick=\"return ShowPlayer('[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download/$1/[% USER_CREDS.ACCESS_CODE %]/$2?media=mp3;type=listen' )\" href='#'><span class='icon-volume-medium fs0'></span></a>";
		var callback_cdr_url="$1<a title='cdr' href='?action=act_list&call_id=$2&uniq=[% USER_CREDS.UNIQ %]'>CALL</a>";
		cdrfilters( 'd-tbl', 5 );
		listcolorer( 'd-tbl' );
	</script>
	
	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>

