<html>
<!-- $Id: act_extstat.tt,v 1.24 2015/07/25 19:38:41 gosha Exp $ -->
<head>
	<title>Virtual PBX - Extension extended stats - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]

	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-en.min.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	
	<script language="javascript">

		js_data = [% JS_DATA %];

		[% IF VBOX_PREF.TYPE eq '3' %]
		google.load("visualization", "1", {packages:["imagebarchart","corechart","table"]});
		google.setOnLoadCallback(drawAllChart);
		function drawAllChart() {
			ExtStatdrawChart1('STATUS','All calls / disposition',['Status','Count']);
			ExtStatdrawChart1('CAUSE','All calls / cause code',['Cause','Count']);
			ExtStatdrawChart1('PN','Answered calls / phones',['Phone number','Count']);
			ExtStatdrawChart1('DURATION','Answered calls / duration (minutes)',['Duration','Count']);
			ExtStatdrawChart2('TERM',['NOANSWER'],'NOANSWER','Unanswered calls / disconnect originator',['Disconnect originator','Count']);
			ExtStatdrawChart2('TERM',['ANSWER'],'ANSWER','Answered calls / disconnect originator',['Disconnect originator','Count']);
			ExtStatdrawChart2('RING_TIME',['NOANSWER'],'NOANSWER','Unanswered calls / wait time (sec)',['Wait time','Count']);
			ExtStatdrawChart2('RING_TIME',['ANSWER'],'ANSWER','Answered calls / wait time (sec)',['Wait time','Count']);
		}
		[% END %]
		[% IF VBOX_PREF.TYPE eq '10' %]
		google.load("visualization", "1", {packages:["imagebarchart","corechart","table"]});
		google.setOnLoadCallback(drawAllChart);
		function drawAllChart() {
			ExtStatdrawChart1('SUMMARY','Summary',['Poll summary','Count']);
		}
		[% END %]
		[% IF VBOX_PREF.TYPE eq '13' %]
		google.load("visualization", "1", {packages:["imagebarchart","corechart","table"]});
		google.setOnLoadCallback(drawAllChart);
		function drawAllChart() {
			ExtStatdrawChart1('STATUS','All calls / disposition',['Status','Count']);
			ExtStatdrawChart1('CAUSE','All calls / cause code',['Cause','Count']);
			ExtStatdrawChart1('DURATION','Answered calls / duration (minutes)',['Duration','Count']);
			ExtStatdrawChart1('PN','Answered calls / agent',['Agent','Count']);
			ExtStatdrawChart1('PN_DURATION','Answered calls / agents - duration',['Agent','Seconds']);
			ExtStatdrawChart1('Q_NUM_OUT','Unanswered calls / out queue position',['Position','Count']);
			ExtStatdrawChart2('Q_NUM',['NOANSWER'],'NOANSWER','Unanswered calls / start queue position',['Position','Count']);
			ExtStatdrawChart2('Q_NUM',['ANSWER'],'ANSWER','Answered calls / start queue position',['Position','Count']);
			ExtStatdrawChart2('Q_NUM',['ANSWER','NOANSWER'],'ALL','All calls / start queue position',['Position','Count']);
			ExtStatdrawChart2('TERM',['NOANSWER'],'NOANSWER','Unanswered calls / disconnect originator',['Disconnect originator','Count']);
			ExtStatdrawChart2('TERM',['ANSWER'],'ANSWER','Answered calls / disconnect originator',['Disconnect originator','Count']);
			ExtStatdrawChart2('RING_TIME',['NOANSWER'],'NOANSWER','Unanswered calls / wait time (sec)',['Wait time','Count']);
			ExtStatdrawChart2('RING_TIME',['ANSWER'],'ANSWER','Answered calls / wait time (sec)',['Wait time','Count']);
		}
		[% END %]
		[% IF VBOX_PREF.TYPE eq '18' %]
		google.load("visualization", "1", {packages:["imagebarchart","corechart","table"]});
		google.setOnLoadCallback(drawAllChart);
		function drawAllChart() {
			ExtStatdrawChart1('ALL_STATUS','All calls / status',['Status','Count']);
			ExtStatdrawChart1('STATUS','All calls / success or failed',['Status','Count']);
			ExtStatdrawChart1('ATTEMPT','All calls / call attempt',['Attempt','Count']);
			ExtStatdrawChart1('GOOD_ATTEMPT','Successful calls / call attempt',['Attempt','Count']);
		}
		[% END %]
		[% IF VBOX_PREF.TYPE eq '27' %]
		google.load("visualization", "1", {packages:["imagebarchart","corechart","table"]});
		google.setOnLoadCallback(drawAllChart);
		function drawAllChart() {
			ExtStatdrawChart1('STATUS','All calls / disposition',['Status','Count']);
			ExtStatdrawChart2('RING_TIME',['NOANSWER'],'NOANSWER','Unanswered calls / wait time (sec)',['Wait time','Count']);
			ExtStatdrawChart2('RING_TIME',['ANSWER'],'ANSWER','Answered calls / wait time (sec)',['Wait time','Count']);
		}
		[% END %]
		[% IF VBOX_PREF.TYPE eq '31' %]
		google.load("visualization", "1", {packages:["imagebarchart","corechart","table"]});
		google.setOnLoadCallback(drawAllChart);
		function drawAllChart() {
			ExtStatdrawChart1('ALL_STATUS','All calls / status',['Status','Count']);
			ExtStatdrawChart1('STATUS','All calls / success or failed',['Status','Count']);
			ExtStatdrawChart1('GOOD_ATTEMPT','Successful calls / call attempt',['Attempt','Count']);
			ExtStatdrawChart1('DURATION','Answered calls / duration (minutes)',['Duration','Count']);
		}
		[% END %]
		var time_period = getTimePeriod( 'en','[% CDR_PERIOD %]' );
		var period = time_period.period;
		var group_by = time_period.group_by;
	</script>
</head>

<body onLoad="XVBInit()">
	<center>
	
	<table width='100%'>
		<tr>
			<td align='left' width='10%'>
				<a href='?action=vb_view&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]' title="Extension detail"><span class='icon-cog fs0'></span></a>
				<a href='?action=ext_stat&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]' title="Activity"><span class='icon-stats-bars fs0'></span></a>
			</td>
			<td align='center'>
			<h1>Extension #[% VBOX_PREF.EXT_NUMBER | html %] extended statistics</h1>
			<h3>( [% CDR_HEADER %] 
				<script language='JavaScript'>
					document.write( ', group by : ' + period );
				</script>
				)
			</h3>
			</td>
		</tr>
	</table>

	<table width='100%'>
		<form method="get" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
		<tr align='right'>
			<td width='100%'>
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#from_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							xdate: "00:00",
							button: ".next()"
						});
				});
				</script>
				<input placeholder='From date' size='16' type='text' name='from_time' value='[% FROM_TIME | html %]' id='from_time'>
				<button type="button">...</button>
				&nbsp;
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#to_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							xdate: "23:59",
							button: ".next()"
						});
				});
				</script>
				<input placeholder='To date' size='16' type='text' name='to_time' value='[% TO_TIME | html %]' id='to_time'>
				<button type="button">...</button>
				&nbsp;
				<input placeholder='Caller' size='10' type='text' name='caller_id' value='[% CDR_CALLER_ID | html %]'>
				&nbsp;
				<input placeholder='Data' size='15' type='text' name='data' value='[% CDR_DATA | html %]'>
				&nbsp;
				<select name='chart_group_period'>
				<script language='Javascript'>
					document.write( "<option selected value='"+ group_by +"'>"+ period +"</option>" );
				</script>
				<option value='min'>minute</option><option value='h'>hour</option><option value='hd'>hour of day</option><option value='d'>day</option><option value='dw'>day of week</option><option value='dm'>day of month</option><option value='w'>week</option><option value='m'>month</option><option value='y'>year</option></select>
				&nbsp;
				<input name='action' value='extended_stat' type='hidden'>
				<input name='uniq' value='[% USER_CREDS.UNIQ %]' type='hidden'>
				<input name='id' value='[% VBOX_PREF.ID %]' type='hidden'>
				<input value='Search' type='submit'>
				&nbsp;&nbsp;
			</td>
		</tr>
		</form>
	</table>
	</p>

	<p class='white-bg'>
	[% IF VBOX_PREF.TYPE eq '3' %]
	<table width='95%' border='0' align='center'>
		<tr><td valign='top' colspan='2' align='center'><br><h3>Calls</h3></td></tr>
		<tr>
			<td valign='top' width='50%'>
				<div id="chart_STATUS"></div>
			</td>
			<td valign='top' width='50%'>
				<div id="chart_STATUS_PRC"></div>
			</td>
		</tr>
		
		<tr><td valign='top' colspan='2' align='center'><br><h3>Wait time</h3></td></tr>
		<tr><td valign='top' colspan='2'><br><br></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_RING_TIME_ANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_ANSWER_PRC"></div>
			</td>
		</tr>
		
		<tr><td valign='top' colspan='2'><br><br></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_RING_TIME_NOANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_NOANSWER_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='2' align='center'><br><h3>Phones</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_PN"></div>
			</td>
			<td valign='top'>
				<div id="chart_PN_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='2' align='center'><br><h3>Disconnect originator</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_TERM_NOANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_TERM_NOANSWER_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='2'><br><br></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_TERM_ANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_TERM_ANSWER_PRC"></div>
			</td>
		</tr>
	
		<tr><td valign='top' colspan='2' align='center'><br><h3>Call duration</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_DURATION"></div>
			</td>
			<td valign='top'>
				<div id="chart_DURATION_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='2' align='center'><br><h3>Tech info</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_CAUSE"></div>
			</td>
			<td valign='top'>
				<div id="chart_CAUSE_PRC"></div>
			</td>
		</tr>
	</table>
	[% END %]
	[% IF VBOX_PREF.TYPE eq '10' %]
	<table width='95%' border='0' align='center'>
		<tr><td valign='top' colspan='2' align='center'><h5>[% VBOX_PREF.GREETING | html %]</h5></td></tr>
		<tr><td valign='top' colspan='2' align='center'><br><h3>Summary</h3></td></tr>
		<tr>
			<td valign='top' width='50%'>
				<div id="chart_SUMMARY"></div>
			</td>
			<td valign='top' width='50%'>
				<div id="chart_SUMMARY_PRC"></div>
			</td>
		</tr>
	</table>
	[% END %]
	[% IF VBOX_PREF.TYPE eq '13' %]
	<table width='95%' border='0' align='center'>
		<tr><td valign='top' colspan='2' align='center'><br><h3>Summary</h3></td></tr>
		<tr>
			<td valign='top' align='left'>
			<table width='85%' align='right'>
				<tr align='center'>
					<td>&nbsp;</th>
					<td><b>All calls</b></td>
					<td><b>Answered</b></td>
					<td><b>Unanswered</b></td>
				</tr>
				<tr class='nocolor'>
					<td align='left'>Calls</td>
					<td>[% SUMMARY.ALL_CALLS %]</td>
					<td>[% SUMMARY.A_ALL_CALLS %]</td>
					<td>[% SUMMARY.N_ALL_CALLS %]</td>
				</tr>
				<tr class='nocolor'>
					<td align='left'>Average duration</td>
					<td>[% SUMMARY.AVG_CALL_LENGTH | duration_str %]</td>
					<td>-</td>
					<td>-</td>
				</tr>
				<tr class='nocolor'>
					<td align='left'>Max duration</td>
					<td>[% SUMMARY.MAX_CALL_LENGTH | duration_str %]</td>
					<td>-</td>
					<td>-</td>
				</tr>
				<tr class='nocolor'>
					<td align='left'>Min durtaion</td>
					<td>[% SUMMARY.MIN_CALL_LENGTH | duration_str %]</td>
					<td>-</td>
					<td>-</td>
				</tr>
				<tr class='nocolor'>
					<td align='left'>Total duration</td>
					<td>[% SUMMARY.TOT_CALL_LENGTH | duration_str %]</td>
					<td>-</td>
					<td>-</td>
				</tr>
				<tr class='nocolor'>
					<td align='left'>Average wait time</td>
					<td>[% SUMMARY.AVG_CALL_WAIT | duration_str %]</td>
					<td>[% SUMMARY.A_AVG_CALL_WAIT | duration_str %]</td>
					<td>[% SUMMARY.N_AVG_CALL_WAIT | duration_str %]</td>
				</tr>
				<tr class='nocolor'>
					<td align='left'>Max wait time</td>
					<td>[% SUMMARY.MAX_CALL_WAIT | duration_str %]</td>
					<td>[% SUMMARY.A_MAX_CALL_WAIT | duration_str %]</td>
					<td>[% SUMMARY.N_MAX_CALL_WAIT | duration_str %]</td>
				</tr>
				<tr class='nocolor'>
					<td align='left'>Min wait time</td>
					<td>[% SUMMARY.MIN_CALL_WAIT | duration_str %]</td>
					<td>[% SUMMARY.A_MIN_CALL_WAIT | duration_str %]</td>
					<td>[% SUMMARY.N_MIN_CALL_WAIT | duration_str %]</td>
				</tr>
				<tr class='nocolor'>
					<td align='left'>Total wait time</td>
					<td>[% SUMMARY.TOT_CALL_WAIT | duration_str %]</td>
					<td>[% SUMMARY.A_TOT_CALL_WAIT | duration_str %]</td>
					<td>[% SUMMARY.N_TOT_CALL_WAIT | duration_str %]</td>
				</tr>
				<tr class='nocolor'>
					<td align='left'>Average initial position</td>
					<td>[% SUMMARY.AVG_IN_POSITION %]</td>
					<td>[% SUMMARY.A_AVG_IN_POSITION %]</td>
					<td>[% SUMMARY.N_AVG_IN_POSITION %]</td>
				</tr>
				<tr class='nocolor'>
					<td align='left'>Max initial position</td>
					<td>[% SUMMARY.MAX_IN_POSITION %]</td>
					<td>[% SUMMARY.A_MAX_IN_POSITION %]</td>
					<td>[% SUMMARY.N_MAX_IN_POSITION %]</td>
				</tr>
				<tr class='nocolor'>
					<td align='left'>Min initial position</td>
					<td>[% SUMMARY.MIN_IN_POSITION %]</td>
					<td>[% SUMMARY.A_MIN_IN_POSITION %]</td>
					<td>[% SUMMARY.N_MIN_IN_POSITION %]</td>
				</tr>
			</table>
			</td>
			<td valign='top' width='50%'>
				<table valign='top' width='85%' align='right'>
					<tr>
						<th rowspan='2'>Agent</th>
						<th rowspan='2'>Calls</th>
						<th colspan='2'>Duration</th>
						<th rowspan='2'>Ring time average</th>
					</tr>
					<tr>
						<th>total</th>
						<th>average</th>
					</tr>
					[% FOREACH param = SUMMARY.AGENTS %]
					<tr class='nocolor'>
						<td align='left'>[% param.NUMBER | html %]</td>
						<td>[% param.CALLS | html %]</td>
						<td>[% param.DURATION | duration_str | html %]</td>
						<td>[% param.AVG_DURATION | duration_str | html %]</td>
						<td>[% param.AVG_WAIT | html %]</td>
					</tr>
					[% END %]
				</table>
			</td>
		</tr>
		<tr><td valign='top' colspan='2' align='center'><br><h3>Calls</h3></td></tr>
		<tr>
			<td valign='top' width='50%'>
				<div id="chart_STATUS"></div>
			</td>
			<td valign='top' width='50%'>
				<div id="chart_STATUS_PRC"></div>
			</td>
		</tr>
		
		<tr><td valign='top' colspan='2' align='center'><br><h3>Wait time</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_RING_TIME_ANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_ANSWER_PRC"></div>
			</td>
		</tr>
		
		<tr><td valign='top' colspan='2'><br><br></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_RING_TIME_NOANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_NOANSWER_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='2' align='center'><br><h3>Agents</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_PN"></div>
			</td>
			<td valign='top'>
				<div id="chart_PN_PRC"></div>
			</td>
		</tr>
		<tr>
			<td valign='top'>
				<div id="chart_PN_DURATION"></div>
			</td>
			<td valign='top'>
				<div id="chart_PN_DURATION_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='2' align='center'><br><h3>Position in Queue</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_Q_NUM_OUT"></div>
			</td>
			<td valign='top'>
				<div id="chart_Q_NUM_OUT_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='2'><br><br></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_Q_NUM_ALL"></div>
			</td>
			<td valign='top'>
				<div id="chart_Q_NUM_ALL_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='2'><br><br></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_Q_NUM_NOANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_Q_NUM_NOANSWER_PRC"></div>
			</td>
		</tr>
		
		<tr><td valign='top' colspan='2'><br><br></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_Q_NUM_ANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_Q_NUM_ANSWER_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='2' align='center'><br><h3>Disconnect originator</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_TERM_NOANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_TERM_NOANSWER_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='2'><br><br></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_TERM_ANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_TERM_ANSWER_PRC"></div>
			</td>
		</tr>
		
		<tr><td valign='top' colspan='2' align='center'><br><h3>Call duration</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_DURATION"></div>
			</td>
			<td valign='top'>
				<div id="chart_DURATION_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='2' align='center'><br><h3>Tech info</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_CAUSE"></div>
			</td>
			<td valign='top'>
				<div id="chart_CAUSE_PRC"></div>
			</td>
		</tr>
	</table>
	[% END %]
	[% IF VBOX_PREF.TYPE eq '18' %]
	<table width='95%' border='0' align='center'>
		<tr><td valign='top' colspan='2' align='center'><br><h3>All calls / status</h3></td></tr>
		<tr>
			<td valign='top' width='50%'>
				<div id="chart_ALL_STATUS"></div>
			</td>
			<td valign='top' width='50%'>
				<div id="chart_ALL_STATUS_PRC"></div>
			</td>
		</tr>
		
		<tr><td valign='top' colspan='2' align='center'><br><h3>All calls / success or failed</h3></td></tr>
		<tr>
			<td valign='top' width='50%'>
				<div id="chart_STATUS"></div>
			</td>
			<td valign='top' width='50%'>
				<div id="chart_STATUS_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='2' align='center'><br><h3>All calls / call attempt</h3></td></tr>
		<tr>
			<td valign='top' width='50%'>
				<div id="chart_ATTEMPT"></div>
			</td>
			<td valign='top' width='50%'>
				<div id="chart_ATTEMPT_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='2' align='center'><br><h3>Successful calls / call attempt</h3></td></tr>
		<tr>
			<td valign='top' width='50%'>
				<div id="chart_GOOD_ATTEMPT"></div>
			</td>
			<td valign='top' width='50%'>
				<div id="chart_GOOD_ATTEMPT_PRC"></div>
			</td>
		</tr>
	</table>
	[% END %]
	[% IF VBOX_PREF.TYPE eq '27' %]
	<table width='95%' border='0' align='center'>
		<tr><td valign='top' colspan='2' align='center'><br><h3>Status</h3></td></tr>
		<tr>
			<td valign='top' width='50%'>
				<div id="chart_STATUS"></div>
			</td>
			<td valign='top' width='50%'>
				<div id="chart_STATUS_PRC"></div>
			</td>
		</tr>
		
		<tr><td valign='top' colspan='2' align='center'><br><h3>Wait time</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_RING_TIME_ANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_ANSWER_PRC"></div>
			</td>
		</tr>
		
		<tr><td valign='top' colspan='2'><br><br></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_RING_TIME_NOANSWER"></div>
			</td>
			<td valign='top'>
				<div id="chart_RING_TIME_NOANSWER_PRC"></div>
			</td>
		</tr>
	</table>
	[% END %]
	[% IF VBOX_PREF.TYPE eq '31' %]
	<table width='95%' border='0' align='center'>
		<tr><td valign='top' colspan='2' align='center'><br><h3>All calls / status</h3></td></tr>
		<tr>
			<td valign='top' width='50%'>
				<div id="chart_ALL_STATUS"></div>
			</td>
			<td valign='top' width='50%'>
				<div id="chart_ALL_STATUS_PRC"></div>
			</td>
		</tr>
		
		<tr><td valign='top' colspan='2' align='center'><br><h3>All calls / success or failed</h3></td></tr>
		<tr>
			<td valign='top' width='50%'>
				<div id="chart_STATUS"></div>
			</td>
			<td valign='top' width='50%'>
				<div id="chart_STATUS_PRC"></div>
			</td>
		</tr>

		<tr><td valign='top' colspan='2' align='center'><br><h3>Successful calls / call attempt</h3></td></tr>
		<tr>
			<td valign='top' width='50%'>
				<div id="chart_GOOD_ATTEMPT"></div>
			</td>
			<td valign='top' width='50%'>
				<div id="chart_GOOD_ATTEMPT_PRC"></div>
			</td>
		</tr>
		<tr><td valign='top' colspan='2' align='center'><br><h3>Call duration</h3></td></tr>
		<tr>
			<td valign='top'>
				<div id="chart_DURATION"></div>
			</td>
			<td valign='top'>
				<div id="chart_DURATION_PRC"></div>
			</td>
		</tr>
	</table>
	[% END %]
	</p>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>

