<html>
<!-- $Id: cdrs_list.tt,v 1.58 2018/01/05 20:12:55 gosha Exp $ -->
<head>
	<title>Virtual PBX - CDRs - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]

	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-en.min.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
			
	<table width='100%'>
		<tr>
			<td align='center'><h1>CDRs</h1></td>
			<td align='right' width='10%'>
				<a title='download excel file' href='#' onclick="return SubmitConfirm('');"><span class='icon-file-excel fs0'></span></a>
			</td>
		</tr>
	</table>

	<table width='100%'>
		<tr align='left'>
			<td align='right'>
				<form method="get" action="[% CGI_URL %]" onSubmit='return checkChanges(this)' id='find-form'>
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#from_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							xdate: "00:00",
							button: ".next()"
						});
				});
				</script>
				<input placeholder='From date' size='16' type='text' name='from_time' value='[% FROM_TIME | html %]' id='from_time'>
				<a link="#"><span class='fs0'>▾</span></a>
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#to_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							xdate: "23:59",
							button: ".next()"
						});
				});
				</script>
				<input placeholder='To date' size='16' type='text' name='to_time' value='[% TO_TIME | html %]' id='to_time'>
				<a link="#"><span class='fs0'>▾</span></a>
				<input name='action' value='cdr_list' type='hidden'>
				<input name='any_did' value='[% CDR_ANY_DID | html %]' type='hidden'>
				<input placeholder='Caller' size='10' type='text' name='caller_id' value='[% CDR_CALLER_ID | html %]'>
				&nbsp;
				<input size='10' type='text' name='cnam' value='[% CDR_CNAM | html %]' placeholder='CNAM'>
				&nbsp;
				<input placeholder='Called' size='10' type='text' name='called_id' value='[% CDR_CALLED_ID | html %]'>
				<input name='uniq' value='[% USER_CREDS.UNIQ %]' type='hidden'>
				&nbsp;
				<input size='8' type='text' placeholder='Duration' name='duration' value='[% CDR_DURATION | html %]'>
				&nbsp;
				<input placeholder='Data' size='15' type='text' name='data' value='[% CDR_DATA | html %]'>
				&nbsp;
				<select name="call_type" id='call_type_selector'>
					<option value="" selected>all calls</option>
					<option value="incoming">incoming</option>
					<option value="local">local</option>
					<option value="transit">transit</option>
					<option value="internal">internal</option>
					<option value="callback">callback</option>
					<option value="callblast">callblast</option>
					<option value="click2call">click2call</option>
					<option value="alarmclock">alarmclock</option>
					<option value="service">service</option>
				</select>
				&nbsp;
				<input value='Search' type='submit'>
				<input name='need_excel' value='' type='hidden' id='find-flt'>
				</form>
				<script language='JavaScript'>
					setActiveSelector('call_type_selector',"[% CDR_CALL_TYPE %]");
				</script>
			</td>
		</tr>
	</table>
		
	<table width='100%' id='d-tbl'>
		[% IF USE_BILLING %]
		<tr>
			<th class='rad_l'>#</th>
			<th>Date</th>
			<th colspan='2'>Caller</th>
			<th>Called</th>
			<th>Duration</th>
			<th>Cost</th>
			<th class='rad_r'>Type</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='7'>
				<a title='previous page' href='?action=cdr_list&tg_filter=[% CDR_TGFILTER | html %]&data=[% CDR_DATA | htmlstrict %]&duration=[% CDR_DURATION | html %]&from=[% MSG_PREV %]&call_type=[% CDR_CALL_TYPE | html %]&called_id=[% CDR_CALLED_ID | htmlstrict %]&caller_id=[% CDR_CALLER_ID | htmlstrict %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&uniq=[% USER_CREDS.UNIQ %]&any_did=[% CDR_ANY_DID | html %]&cnam=[% CDR_CNAM | html %]'><span class='fs0'>◄</span></a>
			</td>
		</tr>
		[% END %]

		[% FOREACH msg = CDR_LIST %]
		<tr class='nocolor' align='center'>
			<td class='simple'>[% msg.CDR_NUM %]</td>
			<td><a title='call detail' href='?action=act_list&call_id=[% msg.CALL_ID %]&uniq=[% USER_CREDS.UNIQ %]'>[% msg.CDR_DATE | html %]</a></td>
			<td>
				[% IF msg.CNAM ne msg.CALLER_ID  %]
					[% msg.CNAM | html %]
				[% END %]
			</td>
			[% IF msg.DATA contain 'STATUS=ANSWER' %]
				<td align='right'>[% msg.CALLER_ID | html %]</td>
			[% ELSIF msg.DATA contain 'STATUS=' %]
				<td align='right' class='warning-font'>[% msg.CALLER_ID | html %]</td>
			[% ELSE %]
				<td align='right'>[% msg.CALLER_ID | html %]</td>
			[% END %]
			<td align='right'>[% msg.CALLED_ID | html %]</td>
			<td>[% msg.CDR_DURATION | duration_str %]</td>
			<td align='right'>[% msg.COST %] ([% msg.DESCRIPTION %])</td>
			<td>[% msg.CALL_TYPE | html %]</td>
		</tr>
		[% END %]

		<tr>
		[% IF MSG_NEXT ne '' %]
			<td align='right' colspan='6'>
				<a title='next page' href='?action=cdr_list&tg_filter=[% CDR_TGFILTER | html %]&data=[% CDR_DATA | htmlstrict %]&duration=[% CDR_DURATION | html %]&from=[% MSG_NEXT %]&call_type=[% CDR_CALL_TYPE | html %]&called_id=[% CDR_CALLED_ID | htmlstrict %]&caller_id=[% CDR_CALLER_ID | htmlstrict %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&uniq=[% USER_CREDS.UNIQ %]&cnam=[% CDR_CNAM | html %]'><span class='fs0'>►</span></a>
			</td>
		[% ELSE %]
			<td colspan='6'>&nbsp;</td>
		[% END %]
		</tr>
		[% ELSE %]
		<tr>
			<th class='rad_l'>#</th>
			<th>Date</th>
			<th colspan='2'>Caller</th>
			<th>Called</th>
			<th>Duration</th>
			<th class='rad_r'>Type</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='7'>
				<a title='previous page' href='?action=cdr_list&tg_filter=[% CDR_TGFILTER | html %]&data=[% CDR_DATA | htmlstrict %]&duration=[% CDR_DURATION | html %]&from=[% MSG_PREV %]&call_type=[% CDR_CALL_TYPE | html %]&called_id=[% CDR_CALLED_ID | htmlstrict %]&caller_id=[% CDR_CALLER_ID | htmlstrict %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&uniq=[% USER_CREDS.UNIQ %]&any_did=[% CDR_ANY_DID | html %]&cnam=[% CDR_CNAM | html %]'><span class='fs0'>◄</span></a>
			</td>
		</tr>
		[% END %]

		[% FOREACH msg = CDR_LIST %]
		<tr class='nocolor' align='center'>
			<td>[% msg.CDR_NUM %]</td>
			<td><a title='call detail' href='?action=act_list&call_id=[% msg.CALL_ID %]&uniq=[% USER_CREDS.UNIQ %]'>[% msg.CDR_DATE | html %]</a></td>
			<td>
				[% IF msg.CNAM ne msg.CALLER_ID  %]
					[% msg.CNAM | html %]
				[% END %]
			</td>
			[% IF msg.DATA contain 'STATUS=ANSWER' %]
				<td align='right'>[% msg.CALLER_ID | html %]</td>
			[% ELSE %]
				<td align='right' class='warning-font'>[% msg.CALLER_ID | html %]</td>
			[% END %]
			<td>[% msg.CALLED_ID | html %]</td>
			<td>[% msg.CDR_DURATION | duration_str %]</td>
			<td>[% msg.CALL_TYPE | html %]</td>
		</tr>
		[% END %]

		<tr>
		[% IF MSG_NEXT ne '' %]
			<td align='right' colspan='7'>
				<a title='next page' href='?action=cdr_list&tg_filter=[% CDR_TGFILTER | html %]&data=[% CDR_DATA | htmlstrict %]&duration=[% CDR_DURATION | html %]&from=[% MSG_NEXT %]&call_type=[% CDR_CALL_TYPE | html %]&called_id=[% CDR_CALLED_ID | htmlstrict %]&caller_id=[% CDR_CALLER_ID | htmlstrict %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&uniq=[% USER_CREDS.UNIQ %]&cnam=[% CDR_CNAM | html %]'><span class='fs0'>►</span></a>
			</td>
		[% ELSE %]
			<td colspan='5'>&nbsp;</td>
		[% END %]
		</tr>
		
		[% END %]
	</table>
	
	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>
	
	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</html>
	
