<html>
<!-- $Id: click2call.tt,v 1.22 2018/09/05 18:44:43 gosha Exp $ -->
<head>
	<title>Virtual PBX - Click2Call - Ac:[% USER_CREDS.ACCESS_CODE | html %], Ext: [% VBOX_PREF.EXT_NUMBER | html %]</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script language="JavaScript">
		var e_list = [];
		[% FOREACH vb = VB_LIST %]
		e_list['[% vb.EXT_NUMBER | html %]'] = ['[% vb.ID %]','[% vb.DESCRIPTION | html %]','[% vb.NAME | html %]'];
		[% END %]
	</script>
</head>

<body onLoad="XVBInit()">
	<center>
			
	<h1>Click2Call links</h1>

	<p>
	<table width='100%' id='d-tbl'>
		<tr>
			<th class='rad_l'>Link</th>
			<th>Extension</th>
			<th>Max calls</th>
			<th class='rad_r'>Actions</th>
		</tr>
		[% FOREACH c2c = C2C_LIST %]
		<tr align='center' class='nocolor' id='d-tr-[% c2c.ID %]'>
			<form method="post" action="[% CGI_URL %]" id='f-[% c2c.ID %]' onSubmit='return xmlhttpPost(this,1)'>
			<td align='left'>https://[% USER_CREDS.DOWNLOAD_IP %]/c2c?key=[% c2c.SECRET | html %]&ac=[% USER_CREDS.ACCESS_CODE %]&ph=<b>&lt;phone number&gt;</b></td>
			<td align='left' nowrap='nowrap'>
				<input class='in_t0' size="16" name='redir_to' type='text' value='[% c2c.EXTENSION | html %]'>
				<script language="JavaScript">
					exten_icon( '[% c2c.EXTENSION | html %]', '[% USER_CREDS.UNIQ | html %]', 'edit extension' );
				</script>
			</td>
			<td><input class='in_t0' size="5" name='call_limit' type='text' value='[% c2c.CALL_LIMIT | html %]'></td>
			<td align='left'>
				<input type='hidden' value='[% c2c.ID %]' name='data_id'>
				<input type='hidden' value='[% c2c.SECRET %]' name='c2c_sec'>
				<input type='hidden' value='c2c_update' name='action'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<a title='delete click2call link' href='?action=c2c_del&data_id=[% c2c.ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return xmlhttpDel(this,'en','d-tr-[% c2c.ID %]')"><span class='icon-bin fs0'></span></a>
				<a title='Click2Call code' href='#' onclick="click2call_code('https://[% USER_CREDS.DOWNLOAD_IP %]','[% c2c.SECRET %]','[% USER_CREDS.ACCESS_CODE %]','en')"><span class='icon-share fs0'></span></a>
				<a title='Click2Call' href='#' onclick="click2call_win('https://[% USER_CREDS.DOWNLOAD_IP %]','[% c2c.SECRET %]','[% USER_CREDS.ACCESS_CODE %]','en','')"><span class='icon-phone fs0'></span></a>
				<script language='JavaScript'>
					stat_icon( '[% c2c.EXTENSION | html %]', '[% USER_CREDS.UNIQ | html %]', 'Click2Call', 'statistics' );
				</script>
				<span class='addon_info' id='in_t_id-[% c2c.ID %]'>
					<a href='#' onclick="return xmlhttpPost(document.getElementById('f-[% c2c.ID %]'),1);"><span class='icon-floppy-disk fs0 blink' title='save changes'></span></a>
					<noscript><input value='change' type='submit'></noscript>
				</span>
			</td>
			</form>
		</tr>
		[% END %]
		<tr align='center'>
			<form method='post' action='[% CGI_URL %]' onSubmit='return checkChanges(this)'>
			<td></td>
			<td align='left'><input size="16" name='redir_to' type='text'></td>
			<td><input size="5" name='call_limit' type='text'></td>
			<td>
				<input type='hidden' value='c2c_add' name='action'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<input value='Add' type='submit'>
			</td>
			</form>
		</tr>
	</table>
	<a name="addarea">&nbsp;</a>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>
	
	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>
	
