<html>
<!-- $Id: dashboard.tt,v 1.13 2017/12/21 02:05:26 gosha Exp $ -->
<head>
	<title>Virtual PBX - Dashboard - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]

	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	
	<script language="javascript">

		google.charts.load('current', {'packages':['imagebarchart','corechart']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			// chart0
			var in_data0 = [% JS_DATA_IN %];
			in_data0.unshift( ['Date','Answered','Unanswered','VoiceMail'] );
			var data0 = google.visualization.arrayToDataTable(in_data0);
			var chart0 = new google.visualization.ColumnChart(document.getElementById('incalls'));
			chart0.draw(data0, { chartArea:{width:'82%',height:'67%'},min: 0,isStacked: true, title: 'Incoming calls', legend: { position: 'bottom', maxLines: 4 },bar: {groupWidth: "91%"}, });

			google.visualization.events.addListener(chart0, 'select',
				function() {
				var item = chart0.getSelection()[0];
					if ( (typeof(item) !== 'undefined') && item.row != null && data0.getValue(item.row,item.column) > 0 ) {
						var filter = '';
						if ( item.column == 1 ) {
							filter = '&data=%25STATUS=ANSWER%25';
						} else {
							filter = '&data=!%25STATUS=ANSWER%25';
						}
						var new_url = "/ui?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&action=cdr_list&call_type=incoming&uniq=[% USER_CREDS.UNIQ %]&tg_filter=%25m-%25d***" + data0.getValue(item.row,0) + filter;
						document.location.href=new_url;
					}
				} );

			// chart1
			var in_data1 = [% JS_DATA_OUT %];
			in_data1.unshift( ['Date','Answered','Failed','Unanswered'] );
			var data1 = google.visualization.arrayToDataTable( in_data1 );
			var chart1 = new google.visualization.ColumnChart(document.getElementById('outcalls'));
			//chart1.draw(data1, { title: 'Outbound calls',legend: { position: 'bottom' } });
			chart1.draw(data1, { chartArea:{width:'82%',height:'67%'},min: 0,isStacked: true, title: 'Outbound calls', legend: { position: 'bottom', maxLines: 4 },bar: {groupWidth: "91%"}, });
			
			google.visualization.events.addListener(chart1, 'select',
				function() {
				var item = chart1.getSelection()[0];
					if ( (typeof(item) !== 'undefined') && item.row != null && data1.getValue(item.row,item.column) > 0 ) {
						var filter = '';
						if ( item.column == 1 ) {
							filter = '&data=%25STATUS=ANSWER%25';
						} else if ( item.column == 2 ) {
							filter = '&data=!%25STATUS=ANSWER%25<PPDF>STATUS:regexp:CHANUNAVAIL|CONGESTION|INVALIDARGS</PPDF>';
						} else if ( item.column == 3 ) {
							filter = '&data=!%25STATUS=ANSWER%25<PPDF>STATUS:regexp:!CHANUNAVAIL%26!CONGESTION%26!INVALIDARGS</PPDF>';
						}
						var new_url = "/ui?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&call_type=transit&action=cdr_list&uniq=[% USER_CREDS.UNIQ %]&tg_filter=%25m-%25d***" + data1.getValue(item.row,0) + filter;
						document.location.href=new_url;
					}
				} );

			[% IF GEO_INFO %]
				// chart2
				var data2 = google.visualization.arrayToDataTable( [% JS_DATA_REG %] );
				var chart2 = new google.visualization.PieChart(document.getElementById('geo_opt'));
				chart2.draw(data2, { pieHole: 0.4, chartArea:{left:3,top:30,width:'100%',height:'90%'},title: 'Incoming calls geo-info (Top 20)' } );
				
				google.visualization.events.addListener(chart2, 'select',
					function() {
						var item = chart2.getSelection()[0];

						if ( (typeof(item) !== 'undefined') && item.row != null && data2.getValue(item.row,0) !== 'Other' && data2.getValue(item.row,0) !== 'unknown' ) {
							var new_url = "/ui?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&action=cdr_list&call_type=incoming&uniq=[% USER_CREDS.UNIQ %]"+'&data=%25'+data2.getValue(item.row,0)+'%25';
							document.location.href=new_url;
						}
					} );
			[% ELSE %]
				// chart3
				var data3 = google.visualization.arrayToDataTable( [% JS_DATA_ALL %] );
				var chart3 = new google.visualization.PieChart(document.getElementById('geo_opt'));
				chart3.draw(data3, { chartArea:{left:3,top:30,width:'100%',height:'100%'}, title: 'Call types'} );
			[% END %]
			
			// chart4
			var in_data4 = [% JS_DATA_F %];
			in_data4.unshift( ['Date','Files','Size (MB)'] );
			var data4 = google.visualization.arrayToDataTable( in_data4 );
			var chart4 = new google.visualization.AreaChart(document.getElementById('files'));
			chart4.draw(data4, { chartArea:{left:60},vAxis: {minValue: 0} , title: 'Recorded files'} );
			
			// chart5 - departmants
			var in_data5 = [% JS_DATA_DEP %];
			in_data5.unshift( [% JS_DATA_DEP_DN %] );
			var data5 = google.visualization.arrayToDataTable( in_data5 );
			var chart5 = new google.visualization.LineChart(document.getElementById('dep'));
			chart5.draw(data5, { chartArea:{left:60,width:'55%',height:'70%'},vAxis: {minValue: 0} , title: 'Incoming calls - department utilisation'} );
				
			// chart6
			var in_data6 = [% JS_DATA_TC %];
			in_data6.unshift( [% JS_DATA_TC_DN %] );
			var data6 = google.visualization.arrayToDataTable( in_data6 );
			var chart6 = new google.visualization.LineChart(document.getElementById('topc'));
			chart6.draw(data6, { chartArea:{left:60,width:'60%',height:'70%'},vAxis: {minValue: 0} , title: 'Outbound calls - active users'} );
		
			google.visualization.events.addListener(chart6, 'select',
					function() {
					var item = chart6.getSelection()[0];
					if ( (typeof(item) !== 'undefined') && item.row != null && in_data6[0][item.column] !== 'Other' && data6.getValue(item.row,item.column) > 0 ) {
					var new_url = "/ui?from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&caller_id="+in_data6[0][item.column]+"&call_type=transit&action=cdr_list&uniq=[% USER_CREDS.UNIQ %]&tg_filter=%25m-%25d***" + data6.getValue(item.row,0);
					document.location.href=new_url;
					}
				} );
		}
	</script>
</head>

<body onLoad="XVBInit()">
	<center>
		<h1>Dashboard ( for previous [% PERIOD %] days )</h1>
		<table>
			<tr align='center'>
				<td width='50%' height='100%'>
					<div id="incalls" style="width: 100%; height: 300"><img width="30" src="/xvb/images/loading.gif" style="opacity: 1;"></div>
				</td>
				<td width='50%'>
					<div id="dep" style="width: 100%; height: 300"><img width="30" src="/xvb/images/loading.gif" style="opacity: 1;"></div>
				</td>
			</tr>
			<tr align='center'>
				<td width='50%' valign='top'>
					<div id="outcalls" style="width: 100%; height: 300"><img width="30" src="/xvb/images/loading.gif" style="opacity: 1;"></div>
				</td>
				<td width='50%'>
					<div id="topc" style="width: 100%; height: 300"><img width="30" src="/xvb/images/loading.gif" style="opacity: 1;"></div>
				</td>
			</tr>
			<tr align='center'>
				<td width='50%'>
					<div id="geo_opt" style="width: 100%; height: 300"><img width="30" src="/xvb/images/loading.gif" style="opacity: 1;"></div>
				</td>
				<td width='50%'>
					<div id="files" style="width: 100%; height: 300"><img width="30" src="/xvb/images/loading.gif" style="opacity: 1;"></div>
				</td>
			</tr>
		</table>
		[% IF JS_DATA_MIS scalar %]
		<h3>Missed calls</h3>
		<table width='100%' id='d-tbl'>
			<tr>
				<th colspan="2">CallerID</th>
				<th>Calls</th>
				<th>Date of the last call</th>
				<th>Our redials</th>
				<th>Date of the last call</th>
			</tr>
			[% FOREACH cdr = JS_DATA_MIS %]
			<tr class='nocolor' align='center'>
				<td>[% cdr.CNAM | html %]</td>
				<td><a title='calls' href="?action=cdr_list&uniq=[% USER_CREDS.UNIQ %]&any_did=[% cdr.CALLER_ID | html %]&from_time=[% FROM_TIME | html %]">[% cdr.CID | html %]</a></td>
				<td>[% cdr.CALLS | html %]</td>
				<td>[% cdr.DATE | html %]</td>
				<td>[% cdr.OUR_CALLS | html %]</td>
				<td>[% cdr.OUR_DATE | html %]</td>
			</tr>
			[% END %]
		</table>
		<script language='JavaScript'>listcolorer( 'd-tbl' );</script>
		[% END %]
	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>

