<html>
<!-- $Id: login.tt,v 1.28 2020/06/13 18:45:56 gosha Exp $ -->
<head>
	<title>Virtual PBX - login</title>
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
	
	<table width='95%' class='logo'>
		<tr>
			<td align='left' width='20%'>
				<img width='120' border='0' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			</td>
			<td align='center'><h1>Welcome to VirtualPBX</h1></td>
			<td align='right' width='20%'>
				<!--<a href='/xvb/XVB.pdf?a=msg_download'><span class='icon-question fs0'></a>-->
			</td>
		</tr>
	</table>

	<p align='center'>
	<table width='50%' class='half-width'>
		<form method='post' target='_top'>
			<tr>
				<td>Login&nbsp;</td>
				<td><input name='phone' type='text'></td>
				<td><i>( access-code@shared-did )</i></td>
			</tr>
			<tr>
				<td>Password&nbsp;</td>
				<td><input name='pw' type='password'></td>
				<td><i>( pin-code for extension )</i></td>
			</tr>
			<tr>
				<td>Extension#&nbsp;</td>
				<td><input name='ext_id' type='text' value='0'></td>
				<td><i>( is an optional field )</i></td>
			</tr>
			<tr>
				<td colspan='3'>&nbsp;</td>
			</tr>
			<tr>
				<td colspan='2' align='center'>
					<input name='referer' type='hidden' value='[% REFERER | html %]'>
					<input name='action' type='hidden' value='start'>
					<input type='submit' value='Login'>
				</td>
				<td>&nbsp;</td>
			</tr>
		</form>
	</table>
	</p>

	<p>
	<table width='95%'>
		<tr align='center'>
			<td>&nbsp;
			[% IF ERROR_STR ne '' %]
				<span class='error'>[% ERROR_STR | html %]</span>
			[% END %]
			</td>
		</tr>
	</table>
	</p>
	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>
