<html>
<!-- $Id: menu.tt,v 1.12 2023/05/04 16:16:02 gosha Exp $ -->
<head>
	<title>Virtual PBX - main menu</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	[% IF REFRESH %]
	<meta http-equiv="refresh" content="[% REFRESH %]" />
	[% END %]
</head>

<body class='amenu'>
	<p align='left'>
		<img border='0' width='120' alt='XVB - Virtual PBX'
		[% IF USER_CREDS.LOGO_HREF eq '' %]
			 src='/xvb/images/logo-small.png'
		[% ELSE %]
			src='[% USER_CREDS.LOGO_HREF %]'
		[% END %]
		/>
	</p>
	<p align='left'>
		<ul>
	[% IF USER_CREDS.ROOT eq '0' %]
			[% IF UI_PERMISSIONS.ACTION_DASHBOARD_LIST eq '1' %]
			<li><a class='amenu' target='xvb_data' href='?action=dashboard_list&uniq=[% USER_CREDS.UNIQ %]'>Dashboard</a></li>
			[% END %]

			[% IF UI_PERMISSIONS.ACTION_CDR_LIST eq '1' %]
			<li><a class='amenu' target='xvb_data' href='?action=cdr_list&uniq=[% USER_CREDS.UNIQ %]'>CDRs</a></li>
			[% IF UI_PERMISSIONS.ACTION_PERM_CDR_STAT eq '1' %]
			<li><a class='amenu' target='xvb_data' href='?action=cdr_list&need_chart=1&uniq=[% USER_CREDS.UNIQ %]'>Statistics</a></li>
			[% END %]
			[% END %]
			
			[% IF USER_CREDS.ALLOW_CTR %]
			[% IF UI_PERMISSIONS.ACTION_CALLS_LIST eq '1' %]
			<li><a class='amenu' target='xvb_data' href='?action=calls_list&uniq=[% USER_CREDS.UNIQ %]'>Live calls</a></li>
			[% END %]
			[% END %]
	[% END %]
			
			[% IF UI_PERMISSIONS.ACTION_MSG_LIST_ALL eq '1' %]
			<li><a class='amenu' target='xvb_data' href='?action=msg_list_all&msg_type=30:40:41:42:43&uniq=[% USER_CREDS.UNIQ %]'>Files</a></li>
			[% END %]
			
	[% IF USER_CREDS.ROOT eq '0' %]
			[% IF UI_PERMISSIONS.ACTION_ACT_LIST_ALL eq '1' %]
			<li><a class='amenu' target='xvb_data' href='?action=act_list_all&uniq=[% USER_CREDS.UNIQ %]'>Activity</a></li>
			[% END %]
			
			<br />
			[% IF UI_PERMISSIONS.ACTION_USER_INFO eq '1' %]
			<li><a class='amenu' target='xvb_data' href='?action=user_info&uniq=[% USER_CREDS.UNIQ %]'>User profile</a></li>
			[% END %]
			
			[% IF UI_PERMISSIONS.ACTION_VB_LIST eq '1' %]
			<li><a class='amenu' target='xvb_data' href='?action=vb_list&uniq=[% USER_CREDS.UNIQ %]'>IVR / inbound</a></li>
			[% END %]

			[% IF UI_PERMISSIONS.ACTION_PBOOK_LIST eq '1' %]
			<li><a class='amenu' target='xvb_data' href='?action=pbook_list&uniq=[% USER_CREDS.UNIQ %]'>Phone book</a></li>
			[% END %]
			
			[% IF UI_PERMISSIONS.ACTION_CRM_LIST eq '1' %]
			<li><a class='amenu' target='xvb_data' href='?action=crm_list&uniq=[% USER_CREDS.UNIQ %]'>Customers</a></li>
			[% END %]
			
			[% IF USER_CREDS.ALLOW_PHONES %]
			[% IF UI_PERMISSIONS.ACTION_PHONE_LIST eq '1' %]
			<li><a class='amenu' target='xvb_data' href='?action=phone_list&uniq=[% USER_CREDS.UNIQ %]'>SIP Phones</a></li>			
			[% END %]
			[% END %]

			[% IF USER_CREDS.CUSTOM_ROUTE %]
			
			[% IF USER_CREDS.MAX_PEERS %]
			[% IF UI_PERMISSIONS.ACTION_PEER_LIST eq '1' %]
			<li><a class='amenu' target='xvb_data' href='?action=peer_list&uniq=[% USER_CREDS.UNIQ %]'>SIP peers</a></li>
			[% END %]
			[% END %]
				
			[% IF UI_PERMISSIONS.ACTION_ROUTE_LIST eq '1' %]
			<li><a class='amenu' target='xvb_data' href='?action=route_list&uniq=[% USER_CREDS.UNIQ %]'>Routes</a></li>
			[% END %]
			
			[% END %]
			
			[% IF USER_CREDS.MAX_C2C_ITEMS %]
			[% IF UI_PERMISSIONS.ACTION_C2C_LIST eq '1' %]
			<li><a class='amenu' target='xvb_data' href='?action=c2c_list&uniq=[% USER_CREDS.UNIQ %]'>Click2Call</a></li>
			[% END %]
			[% END %]
			
			[% IF UI_PERMISSIONS.ACTION_CID_LIST eq '1' %]
			<li><a class='amenu' target='xvb_data' href='?action=cid_list&cid_list_type=2&cid_type=2&uniq=[% USER_CREDS.UNIQ %]'>White list</a></li>
			<li><a class='amenu' target='xvb_data' href='?action=cid_list&cid_list_type=1&cid_type=2&uniq=[% USER_CREDS.UNIQ %]'>Black list</a></li>
			[% END %]
			
			[% IF USER_CREDS.ALLOW_MACROS %]
			[% IF UI_PERMISSIONS.ACTION_MACROS_LIST eq '1' %]
			<li><a class='amenu' target='xvb_data' href='?action=macros_list&uniq=[% USER_CREDS.UNIQ %]'>Macros</a></li>
			[% END %]
			[% END %]
			
			[% IF UI_PERMISSIONS.ACTION_J_LIST eq '1' %]
			<li><a class='amenu' target='xvb_data' href='?action=j_list&uniq=[% USER_CREDS.UNIQ %]'>Journals</a></li>
			[% END %]
	[% ELSE %]	
			[% IF UI_PERMISSIONS.ACTION_VB_LIST eq '1' %]
			<li><a class='amenu' target='xvb_data' href='?action=vb_list&uniq=[% USER_CREDS.UNIQ %]'>IVR / inbound</a></li>
			[% END %]
	[% END %]
			<br />
			<li><a class='amenu' target='_top' href=?action=logout>Logout</a></li>
		</ul>
	</p>
</body>
</html>
