<html>
<!-- $Id: messages_list.tt,v 1.93 2019/09/08 17:57:24 gosha Exp $ -->
<head>
	<title>Virtual PBX - Messages - Ac:[% USER_CREDS.ACCESS_CODE | html %], Ext: [% VBOX_PREF.EXT_NUMBER | html %]</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-en.min.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
	
	<table width='100%'>
		<tr align='left'>
			<td width='15%'>
				<a href='?action=vb_view&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]' title="Extension detail"><span class='icon-cog fs0'></span></a>
				<a href='?action=get_itunes&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]' title="Podcasts"><span class='icon-podcast fs0'></span></a>
				<a href='?action=get_rss&id=[% VBOX_PREF.ID %]&uniq=[% USER_CREDS.UNIQ %]' title="Rss"><span class='icon-feed3 fs0'></span></a>
			</td>
			<td align='center'>
				<h1>Messages for Extension Number# <b>[% VBOX_PREF.EXT_NUMBER | html %]</h1>
			</td>
			<td align='right' width='15%'>
				<a title='delete messages' href='#' onclick="return SubmitConfirm('def','Are you sure want to delete all found messages ?')"><span class='icon-bin-all fs2'></span></a>
			</td>
		</tr>
	</table>

	<table width='100%'>
		<tr>
			<td align='right'>
				<form method="get" action="[% CGI_URL %]" onSubmit='return checkChanges(this)' id='find-form'>
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#from_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							xdate: "00:00",
							button: ".next()"
						});
				});
				</script>
				<input placeholder='From date' size='16' type='text' name='from_time' value='[% FROM_TIME | html %]' id='from_time'>
				<a link="#"><span class='fs0'>▾</span></a>
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#to_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							xdate: "23:59",
							button: ".next()"
						});
				});
				</script>
				<input placeholder='To date' size='16' type='text' name='to_time' value='[% TO_TIME | html %]' id='to_time'>
				<a link="#"><span class='fs0'>▾</span></a>
				<input name='action' value='msg_list' type='hidden'>
				<input name='uniq' value='[% USER_CREDS.UNIQ %]' type='hidden'>
				<input name='id' value='[% VBOX_PREF.ID %]' type='hidden'>
				<input placeholder='Caller' size='10' type='text' name='caller_id' value='[% CALLER_ID | html %]'>
				&nbsp;
				<input placeholder='Called' size='10' type='text' name='called_id' value='[% CALLED_ID | html %]'>
				&nbsp;
				<input size='8' type='text' placeholder='Duration' name='duration' value='[% DURATION | html %]'>
				&nbsp;
				<input value='Search' type='submit'>
				<input name='find_and_delete' value='' type='hidden' id='find-flt'>
				</form>
			</td>
		</tr>
	</table>

	<table width='95%' id='d-tbl'>
		[% IF MSG_LIST scalar %]
		<tr>
			<th class='rad_l'>#</th>
			<th>Date</th>
			<th>&nbsp;</th>
			<th>CallerID</th>
			<th>CalledID</th>
			<th>Duration</th>
			<th>Type</th>
			<th>Size</th>
			<th class='rad_r'>&nbsp;</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='8'>
				<a title='previous page' href='?action=msg_list&duration=[% DURATION | html %]&id=[% VBOX_PREF.ID %]&from=[% MSG_PREV %]&called_id=[% CALLED_ID | htmlstrict %]&caller_id=[% CALLER_ID | htmlstrict %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&uniq=[% USER_CREDS.UNIQ %]'><span class='fs0'>◄</span></a>
			</td>
		</tr>
		[% END %]
		[% FOREACH msg = MSG_LIST %]
		<tr class='nocolor' id='d-tr-[% msg.FILE_NAME %]'>
			<td>&nbsp;[% msg.MSG_NUM %]</td>
			[% IF msg.IS_VOICE %]
			<td align='center'>
				<a class='msg' id='msg[% msg.MSG_NUM %]' title='download message' href='[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download/[% msg.ID %]/[% USER_CREDS.ACCESS_CODE %]/[% msg.FILE_NAME %].[% USER_CREDS.SOUND_FORMAT %]?media=[% USER_CREDS.SOUND_FORMAT %]'>[% msg.MSG_DATE | html %]</a>
			</td>
			<td align='left'>
				<a title='listen' 
					onclick="return ShowPlayer('[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download/[% msg.ID %]/[% USER_CREDS.ACCESS_CODE %]/[% msg.FILE_NAME %]?media=mp3;type=listen','[% msg.MSG_NUM %]' )"
					href="#"><span class='icon-volume-medium fs0'></span></a>
			</td>
			[% ELSE %]
			<td align='center'>
				<a class='msg' title='download file' href='[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download/[% msg.ID %]/[% USER_CREDS.ACCESS_CODE %]/[% msg.FILE_NAME %]'>[% msg.MSG_DATE | html %]</a>
			</td>
			<td></td>
			[% END %]
			<td>[% msg.CALLERID | html %]</td>
			<td>[% msg.CALLEDID | html %]</td>
			[% IF msg.IS_VOICE %]
			<td align='center'>[% msg.DURATION | duration_str | html %]</td>
			[% ELSE %]
			<td align='center'>--------</td>
			[% END %]
			<td>[% msg.DESCRIPTION | html %]</td>
			<td align='right'>[% msg.FILE_SIZE | fsize %]&nbsp;</td>
			<td nowrap='nowrap'>
				<a title='delete message' href='[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]?action=msg_delete&msg=[% msg.FILE_NAME %]&type=[% msg.FILE_TYPE %]&id=[% msg.ID %]&uniq=[% USER_CREDS.UNIQ %]'  onclick="return xmlhttpDel(this,'en','d-tr-[% msg.FILE_NAME %]')"><span class='icon-bin fs0'></span></a>
			</td>
		</tr>
		[% END %]
		<tr>
		[% IF MSG_NEXT ne '' %]
			<td align='right' colspan='9'>
				<a title='next page' href='?action=msg_list&duration=[% DURATION | html %]&id=[% VBOX_PREF.ID %]&from=[% MSG_NEXT %]&called_id=[% CALLED_ID | htmlstrict %]&caller_id=[% CALLER_ID | htmlstrict %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&uniq=[% USER_CREDS.UNIQ %]'><span class='fs0'>►</span></a>
			</td>
		[% END %]
		</tr>
		[% ELSE %]
		<tr>
			<td colspan='9' align='center'><h4>No messages</h4></td>
		</tr>
		[% END %]
	</table>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</center>
</body>
</html>
	
