<html>
<!-- $Id: miss_call.tt,v 1.6 2018/07/07 10:55:33 gosha Exp $ -->
<!--SUBJECT:Miss call from: [% callerid | html %]:SUBJECT-->
<head>
	<BASE href="[% CGI_SERVER %]">
	<style>
	body { 
		color:#177182;
		font-family:Arial, Helvetica, sans-serif;
		background:#f7f7f7 repeat-x;
		font-size:13px;
	}
	p.copyright {
		font-size: 8px;
	}
	</style>
</head>

<body link=blue vlink=purple>

Hello,

<p>
Miss call information:<br>
	Caller: <b>[% _CDR.CALLER_ID | html %]</b>
    [% IF _CDR.CNAM ne '' %]
    	[% IF _CDR.CNAM ne _CDR.CALLER_ID %]
		( [% _CDR.CNAM | html %] )
		[% END %]
	[% END %]
	<br>
	Call date: <b>[% ORIGDATE | html %]</b><br>
	Extension: <b>[% _USER_VBOX.EXT_NUMBER | html %]</b><br>
	Status: <b>[% _CDR.ENH_STATUS | html %]</b><br>
	Wait time: <b>[% WAIT_TIME %] ( sec )</b><br>
</p>

Thanks!

</body>
</html>

