<html>
<!-- $Id: peer_list.tt,v 1.50 2017/07/18 12:39:21 gosha Exp $ -->
<head>
	<title>Virtual PBX - SIP Peers - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
			
	<table width='100%'>
		<tr>
			<td align='center'><h1>SIP peers</h1></td>
			<td align='right' width='5%'>
				<a title='delete all peers' href='?action=peer_del&data_id=all&uniq=[% USER_CREDS.UNIQ %]' onclick="return DelConfirm('en')" title='delete all records'><span class='icon-bin-all fs2'></span></a>
			</td>
		</tr>
	</table>

	<p>
	<table width='100%' id='d-tbl'>
		<tr>
			<th width='15%'>Proxy (*)</th>
			<th>Port (*)</th>
			<th>Domain</th>
			<th>User</th>
			<th>Password</th>
			<th>CallerID</th>
			<th>Peer Name (*)</th>
			<th>DTMF mode</th>
			<th>Proto</th>
			[% IF USER_CREDS.CUSTOM_REGS %]
			<th colspan='2'>Incoming exten</th>
			<th width='1%'></th>
			[% END %]
			<th>Actions</th>
		</tr>
		
		[% FOREACH p = PEERS %]
		<tr align='center' class='nocolor' id='d-tr-[% p.DATA_ID %]'>
			<form method="post" action="[% CGI_URL %]" id='f-[% p.DATA_ID %]' onSubmit='return xmlhttpPost(this,1)'>
			<td><input class='in_t0' size="17" name='host' type='text' value='[% p.host | html %]'></td>
			<td><input class='in_t0' size="5" name='port' type='text' value="[% p.port | html %]"></td>
			<td><input class='in_t0' size="17" name='domain' type='text' value="[% p.fromdomain | html %]"></td>
			<td><input class='in_t0' size="12" name='username' type='text' value="[% p.username | html %]"></td>
			<td><input class='in_t0' size="10" name='secret' type='text' value="[% p.secret | html %]"></td>
			<td><input class='in_t0' size="12" name='fromuser' type='text' value="[% p.fromuser | html %]"></td>
			<td>
				<input class='in_t0' size="17" name='DESCRIPTION' type='text' value="[% p.DESCRIPTION | html %]">
				[% IF p.setvar contain 'PBXMODE=1;' %]
				&nbsp;<span title='PBX mode'>✓<span>
				[% END %]
			</td>
			<td>
				<select name="dtmfmode" class='in_t0'>
					<option value="[% p.dtmfmode %]" selected>[% p.dtmfmode %]</option>
					<option value="rfc2833">rfc2833</option>
					<option value="info">info</option>
					<option value="shortinfo">shortinfo</option>
					<option value="inband">inband</option>
					<option value="auto">auto</option>
				</select>
			</td>
			<td>
				<select name="proto" class='in_t0'>
				[% IF p.transport eq 'tcp' %]
					<option value="tcp" selected>TCP</option>
					<option value="udp">UDP</option>
				[% ELSE %]
					<option value="udp" selected>UDP</option>
					<option value="tcp">TCP</option>
				[% END %]
				</select>
			</td>
			[% IF USER_CREDS.CUSTOM_REGS %]
			<td>
				<input class='in_t0' name='NEED_REG' type='checkbox' title='Allow incoming calls'
				[% IF p.NEED_REG %]
				checked 
				[% END %]
				/>
			</td>
			<td>
				<input class='in_t0' size="8" name='INC_EXT' type='text' value="[% p.INC_EXT | html %]">
			</td>
			<td align='center'>
			[% IF p.REG_DATA %]
					<a href='#' class='r-info'>
				[% IF p.REG_DATA.state eq 'Registered' %]
					<span class='fs1'>✓</span>
				[% ELSE %]
					<span class='icon-warning fs1'></span>
				[% END %]
					<span class='r-info'>
						[% p.REG_DATA.state | html %]
						[% IF p.host eq 'dynamic' %]
						<br>IP: [% p.ipaddr | html %]
						<br>UA: [% p.useragent | html %]
						[% END %]
					</span>
					</a>
			[% END %]
			</td>
			[% END %]
			<td align='left'>
				<input type='hidden' value='[% p.DATA_ID %]' name='data_id'>
				<input type='hidden' value='peer_update' name='action'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<a title='delete peer' href='?action=peer_del&data_id=[% p.DATA_ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return xmlhttpDel(this,'en','d-tr-[% p.DATA_ID %]')"><span class='icon-bin fs0'></span></a>
				<span class='in_t' id='in_t_id-[% p.DATA_ID %]'>
					<a href='#' onclick="return xmlhttpPost(document.getElementById('f-[% p.DATA_ID %]'),1);"><span class='icon-floppy-disk fs0 blink' title='save changes'></span></a>
					<noscript><input value='change' type='submit'></noscript>
				</span>
			</td>
			</form>
		</tr>
		[% END %]
		<tr align='center'>
			<form method='post' action='[% CGI_URL %]' onSubmit='return peers_unhide(this)'>
			
			<td nowrap="nowrap">
				<span id='selector-select' style="position:absolute; visibility:hidden">
				<select name='tmpl' onchange="peers_hide(this.form)">
					<option value=''>--providers--</option>
					[% FOREACH p = PEERS_TMPL_LIST %]
						<option value="[% p.HOST %]">[% p.NAME %]</option>
					[% END %]
					<option value=''>custom</option>
				</select>
				</span>
	
				<span id='selector-text'>
				<input size="14" name='host' type='text'>
				<a href='#' class='l-info' onclick="
							document.getElementById('selector-text').style.visibility='hidden';
							document.getElementById('selector-select').style.visibility='visible';">
					<span class='fs0'>▾</span>
				</a>
				</span>
			</td>
			
			<td><input size="5" name='port' type='text'></td>
			<td><input size="17" name='domain' type='text'></td>
			<td><input size="12" name='username' type='text'></td>
			<td><input size="10" name='secret' type='text'></td>
			<td><input size="12" name='fromuser' type='text'></td>
			<td><input size="17" name='DESCRIPTION' type='text'></td>
			<td>
				<select name="dtmfmode">
					<option value="rfc2833" selected>rfc2833</option>
					<option value="info">info</option>
					<option value="shortinfo">shortinfo</option>
					<option value="inband">inband</option>
					<option value="auto">auto</option>
				</select>
			</td>
			<td>
				<select name="proto">
					<option value="udp" selected>UDP</option>
					<option value="tcp">TCP</option>
				</select>
			</td>
			<td colspan='4'>
				<input type='hidden' value='peer_add' name='action'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<input value='Add' type='submit'>
			</td>
			</form>
		</tr>
	</table>
	<a name="addarea">&nbsp;</a>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
