<html>
<!-- $Id: phone_list.tt,v 1.29 2014-02-05 07:35:09 gosha Exp $ -->
<head>
	<title>Virtual PBX - SIP Phones - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script language="JavaScript">
		var e_list = [];
		[% FOREACH vb = VB_LIST %]
		e_list['[% vb.EXT_NUMBER | html %]'] = ['[% vb.ID %]','[% vb.DESCRIPTION | html %]','[% vb.NAME | html %]'];
		[% END %]
	</script>
</head>

<body onLoad="XVBInit()">
	<center>
	<p>
	<table width='95%' class='logo'>
		<tr>
			<td align='left' width='20%'>
			[% IF USER_CREDS.LOGO_HREF eq '' %]
				<img border='0' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			[% ELSE %]
				<img border='0' src='[% USER_CREDS.LOGO_HREF %]' alt='Virtual PBX' />
			[% END %]
			</td>
			<td align='center'><h2>SIP Phones</h2></td>
			<td align='right' width='20%'><a href=?action=logout>logout</a></td>
		</tr>
	</table>
	</p>

	<p>
	<table width='95%' class='top_hr'>
		<tr align='left'>
			<td>
				<a href='?action=user_info&uniq=[% USER_CREDS.UNIQ %]'>User Prefs</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=vb_list&uniq=[% USER_CREDS.UNIQ %]'>Extensions list</a>
				[% IF USER_CREDS.CUSTOM_ROUTE %]
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=peer_list&uniq=[% USER_CREDS.UNIQ %]'>SIP Peers</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=route_list&uniq=[% USER_CREDS.UNIQ %]'>Routes</a>
				[% END %]
			</td>
			<td align='right'>
				<a title='get excel table' href='?action=phone_list&uniq=[% USER_CREDS.UNIQ %]&need_excel=1'"><img border='0' src='/xvb/images/excel.png' alt='excel' /></a>&nbsp;&nbsp;
			</td>
		</tr>
	</table>
	</p>

	<p>
	<table width='95%' class='list_data' id='d-tbl'>
		<tr class='list_data'>
			<th>Auth name</th>
			<th>Password</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>Phone</th>
			<th>User name</th>
			<th>CallerID</th>
			<th>Record</th>
			<th>Rec Exten</th>
			<th>Pickup Groups</th>
			<th>Actions</th>
		</tr>
		
		[% FOREACH p = PHONES %]
		<tr align='center' class='nocolor' id='d-tr-[% p.DATA_ID %]'>
			<form method="post" action="[% CGI_URL %]" onSubmit='return xmlhttpPost(this,1)'>
			<td align='left'><input size="32" type='hidden' name='name' value="[% p.name %]">[% p.name %]</td>
			<td><input class='in_t0' size="12" name='secret' type='text' value="[% p.secret | html %]"></td>
			<td align='center'>
				[% IF p.deny %]
					<input class='in_t0' name='trusted_ip' type='checkbox' title='Access only for: [% p.permit | html %]' checked />
				[% ELSIF p.ipaddr ne "" %]
					<input class='in_t0' name='trusted_ip' type='checkbox' title='Access only for: [% p.ipaddr | html %]' />
				[% END %]
			</td>
			<td align='center'>
				<img 
				[% IF p.REG_STATUS eq 'Registered' %]
					src='/xvb/images/ball_green.png'
				[% ELSIF  p.REG_STATUS eq 'Unregistered'  %]
					src='/xvb/images/ball_red.png'
				[% ELSE %]
					src=''
				[% END %]
				title='[% p.REG_STATUS %], Expired date: [% p.REG_EXPIRED | html %], IP: [% p.ipaddr | html %], UA: [% p.useragent | html %]' alt='[% p.REG_STATUS %]' />
			</td>
			<td><input class='in_t0' size="10" name='callerid' type='text' value="[% p.callerid | html %]"></td>
			<td><input class='in_t0' size="18" name='DESCRIPTION' type='text' value="[% p.DESCRIPTION | html %]"></td>
			<td><input class='in_t0' size="12" name='DEFCID' type='text' value="[% p.DEFCID | html %]"></td>
			<td>
				<select name="REC_MODE" class='in_t0'>
				[% IF p.REC_MODE eq '1' %]
					<option value="1" selected>On demand</option>
					<option value="0">Off</option>
					<option value="2">Always on</option>
					<option value="3">Internal</option>
					<option value="4">External</option>
				[% ELSIF p.REC_MODE eq '2' %]
					<option value="2" selected>Always on</option>
					<option value="0">Off</option>
					<option value="1">On demand</option>
					<option value="3">Internal</option>
					<option value="4">External</option>
				[% ELSIF p.REC_MODE eq '3' %]
					<option value="3" selected>Internal</option>
					<option value="0">Off</option>
					<option value="1">On demand</option>
					<option value="2">Always on</option>
					<option value="4">External</option>
				[% ELSIF p.REC_MODE eq '4' %]
					<option value="4" selected>External</option>
					<option value="0">Off</option>
					<option value="1">On demand</option>
					<option value="2">Always on</option>
					<option value="3">Internal</option>
				[% ELSE %]
					<option value="0" selected>Off</option>
					<option value="1">On demand</option>
					<option value="2">Always on</option>
					<option value="3">Internal</option>
					<option value="4">External</option>
				[% END %]
				</select>
			</td>
			<td align='left' nowrap='nowrap'>
				<input class='in_t0' size="9" name='REC_EXT' type='text' value="[% p.REC_EXT | html %]">
				<script language="JavaScript">
					exten_icon( '[% p.REC_EXT | html %]', '[% USER_CREDS.UNIQ | html %]', 'extension info' );
				</script>
			</td>
			<td><input class='in_t0' size="10" name='PICKUP_GROUPS' type='text' value="[% p.PICKUP_GROUPS | html %]"></td>
			<td align='left'>
				<input type='hidden' value='[% p.DATA_ID %]' name='data_id'>
				<input type='hidden' value='phone_update' name='action'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<a title='delete phone' href='?action=phone_del&data_id=[% p.DATA_ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return xmlhttpDel(this,'en','d-tr-[% p.DATA_ID %]')"><img border='0'  src='/xvb/images/vb_del.png' alt='del' /></a>&nbsp;
				<span class='in_t' id='in_t_id-[% p.DATA_ID %]'>
				<script language='JavaScript'>
					writeUpdateLinks( 'save changes' );
				</script>
				<noscript><input value='change' type='submit'></noscript>
				</span>
			</td>
			</form>
		</tr>
		[% END %]
		<tr align='center'>
			<form method='post' action='[% CGI_URL %]' onSubmit='return checkChanges(this)'>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td><input size="10" name='callerid' type='text'></td>
			<td><input size="18" name='DESCRIPTION' type='text'></td>
			<td><input size="12" name='DEFCID' type='text'></td>
			<td>
				<select name="REC_MODE">
					<option value="0" selected>Off</option>
					<option value="1">On demand</option>
					<option value="2">Always on</option>
					<option value="3">Internal</option>
					<option value="4">External</option>
				</select>
			</td>
			<td align='left'><input size="10" name='REC_EXT' type='text'></td>
			<td><input size="10" name='PICKUP_GROUPS' type='text'></td>
			<td>
				<input type='hidden' value='phone_add' name='action'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<input value='&nbsp;&nbsp;create&nbsp;&nbsp;' type='submit'>
			</td>
			</form>
		</tr>
		<tr><td colspan='4'>&nbsp;</td></tr>
	</table>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	<p>
	<table width='95%' class='bottom_hr'>
		<tr align='center'>
			[% IF USER_CREDS.CUSTOM_ROUTE %]
			<td>
				<a class='headers'  href='?action=route_list&uniq=[% USER_CREDS.UNIQ %]'>Routes</a>
			</td>
			<td>
				<a class='headers' href='?action=peer_list&uniq=[% USER_CREDS.UNIQ %]'>SIP Peers</a>
			</td>
			[% END %]
			<td>
				<a class='headers' href='?action=vb_list&uniq=[% USER_CREDS.UNIQ %]'>Extensions list</a>
			</td>
			<td width='35%'>
				<a class='headers' href='?action=user_info&uniq=[% USER_CREDS.UNIQ %]'>User Prefs</a>
			</td>
		</tr>
	</table>
	</p>
	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
