<html>
<!-- $Id: phone_p_pinfo.tt,v 1.6 2018/11/09 12:06:06 gosha Exp $ -->
<head>
	<title>Virtual PBX - SIP Phone</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
			
	<h1>Phone informatin [% PHONE.callerid | html %]</h1>

	<table width='60%' align='left'>
		<form method="post" onSubmit='return xmlhttpPost(this,0)'>
			
		<tr>
			<td>
				User name:
			</td>
			<td>
				[% PHONE.DESCRIPTION | html %]
			</td>
			<td rowspan='8' valign='top'>
				<h3>Status:</h3>
				<ul>
				[% IF PHONE.REG_STATUS eq 'Registered' %]
					<li>[% PHONE.REG_STATUS %]</li>
					<li>Last register date: [% PHONE.REG_TIME | html %]</li>
					<li>Expiration date: [% PHONE.REG_EXPIRED | html %]</li>
					<li>IP: [% PHONE.ipaddr | html %]:[% PHONE.port | html %]</li>
					<li>UA: [% PHONE.useragent | html %]</li>
				[% ELSIF PHONE.REG_TIME ne '-' %]
					<li>[% PHONE.REG_STATUS %]</li>
					<li>Last register date: [% PHONE.REG_TIME | html %]</li>
					<li>IP: [% PHONE.ipaddr | html %]</li>
					<li>UA: [% PHONE.useragent | html %]</li>
				[% ELSE %]
					<li>Unregistered</li>
				[% END %]
					<li>Hot-desking phone:
						<ul>
						[% IF PHONE.hotdesk_callerid %]
							<li>[% PHONE.callerid | html %] &#8594; [% PHONE.hotdesk_callerid | html %]</li>
						[% END %]
						[% IF PHONE.HOTDESK_CID %]
							<li>[% PHONE.HOTDESK_CID | html %] &#8594; [% PHONE.callerid | html %] </li>
						[% END %]
						</ul>
					</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				CallerID:
			</td>
			<td>
				[% PHONE.DEFCID | html %]
			</td>
		</tr>

		<tr>
			<td>
				Email:
			</td>
			<td>
				[% PHONE.EMAIL | html %]
			</td>
		</tr>

		<tr>
			<td>
				Allow access only for:
			</td>
			<td>
				[% PHONE.permit | html %]
			</td>
		</tr>
		<tr>
			<td>
				Pickup groups:
			</td>
			<td>
				[% PHONE.PICKUP_GROUPS | html %]
			</td>
		</tr>
		
		[% IF PHONE.HOTDESK_PIN %]
		<tr>
			<td>
				Hot-Desking PIN:
			</td>
			<td>
				[% PHONE.HOTDESK_PIN | html %]
			</td>
		</tr>
		[% END %]

		<tr>
			<td>
				Forwarding number:
			</td>
			<td>
				[% PHONE.FWD_NUM | html %]
			</td>
		</tr>
		
		<tr>
			<td>
				Forward timeout:
			</td>
			<td>
				<select name="FWD_AFTER">
					<option value="-1"
				[% IF PHONE.FWD_AFTER eq '-1' %]
					selected
				[% END %]
					>don't forward</option>
					<option value="0"
				[% IF PHONE.FWD_AFTER eq '0' %]
					selected
				[% END %]
					>immediately</option>
					<option value="12"
				[% IF PHONE.FWD_AFTER eq '12' %]
					selected
				[% END %]
					>after 3 rings</option>
					<option value="20"
				[% IF PHONE.FWD_AFTER eq '20' %]
					selected
				[% END %]
					>after 5 rings</option>
				</select>
			</td>
		</tr>		
		<tr>
			<td>
				Do Not Disturb mone:
			</td>
			<td nowrap="nowrap">
				<input name='RAWDND' type='hidden' value="[% PHONE.RAWDND | html %]" />
				<div class="onoffswitch">
				<input name="DND" type="checkbox" class="onoffswitch-checkbox" id="DND-ch" 
				[% IF PHONE.DND %]
					checked
				[% END %]
				/>
				<label class="onoffswitch-label" for="DND-ch">
					<span class="onoffswitch-inner"></span>
					<span class="onoffswitch-switch"></span>
				</label></div>
			</td>
		</tr>
		[% IF PHONE.DND %]
		<tr>
			<td></td>
			<td>( activated on [% PHONE.DND | html %] )</td>
		</tr>
		[% END %]
		
		<tr>
			<td colspan='3'>&nbsp;</td>
		</tr>
		<tr>
			<td colspan='2' align='center'>
				<input type='hidden' value='pp_pupdate' name='action'>
				<input type='submit' value='Save changes'>
			</td>
		</tr>
	</table>
	</form>
	<a name="addarea">&nbsp;</a>
	</p>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
