<html>
<!-- $Id: phone_p_messages_list.tt,v 1.7 2023/03/11 12:45:17 gosha Exp $ -->
<head>
	<title>Virtual PBX - Files</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar.min.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
			
	<h1>Files</h1>
	
	<table width='100%'>
		<tr>
			<td align='right'>
				<form method="get" onSubmit='return checkChanges(this)' id='find-form'>
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#from_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							xdate: "00:00",
							button: ".next()"
						});
				});
				</script>
				<input size='16' type='text' name='from_time' value='[% FROM_TIME | html %]' id='from_time' placeholder='From date'>
				<a link="#"><span class='fs0'>▾</span></a>
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#to_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							xdate: "23:59",
							button: ".next()"
						});
				});
				</script>
				<input size='16' type='text' name='to_time' value='[% TO_TIME | html %]' id='to_time' placeholder='To date'>
				<a link="#"><span class='fs0'>▾</span></a>
				<input name='action' value='pp_msg_list' type='hidden'>
				<input size='10' type='text' name='caller_id' value='[% CALLER_ID | html %]' placeholder='Caller'>
				&nbsp;
				<input size='10' type='text' name='called_id' value='[% CALLED_ID | html %]' placeholder='Called'>
				&nbsp;
				<input size='11' type='text' placeholder='Duration' name='duration' value='[% DURATION | html %]'>
				&nbsp;
				<input value='Search' type='submit'>
				<input name='find_and_delete' value='' type='hidden' id='find-flt'>
				</form>
				<script langiage='JavaScript'>setActiveSelector('msg_type_selector',"[% MSG_TYPE | html %]");</script>
			</td>
		</tr>
	</table>
	<table width='100%' id='d-tbl'>
		<tr>
			<th class='rad_l'>#</th>
			<th>Date</th>
			<th>&nbsp;</th>
			<th>CallerID</th>
			<th>CalledID</th>
			<th>Duration</th>
			<th>Ext</th>
			<th>Type</th>
			<th class='rad_r'>Size</th>
		</tr>
		<tr>
		[% IF MSG_PREV ne '' %]
			<td align='left' colspan='9'>
				<a title='previous page ([% MSG_PREV %])' href='?action=pp_msg_list&duration=[% DURATION | html %]&id=[% VBOX_PREF.ID %]&called_id=[% CALLED_ID | htmlstrict %]&caller_id=[% CALLER_ID | htmlstrict %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&from=[% MSG_PREV %]'><span class='fs0'>◄</span></a>
		[% END %]
		</tr>
		[% FOREACH msg = MSG_LIST %]
		<tr class='nocolor' id='d-tr-[% msg.FILE_NAME %]'>
			<td>&nbsp;[% msg.MSG_NUM %]</td>
			[% IF msg.IS_VOICE %]
			<td align='center'>
				<a class='msg' id='msg[% msg.MSG_NUM %]' title='download' href='[% msg.DOWNLOAD_IP %][% CGI_URL %]/msg_download/[% msg.ID %]/[% USER_CREDS.ACCESS_CODE %]/[% msg.FILE_NAME %].[% USER_CREDS.SOUND_FORMAT %]?media=[% USER_CREDS.SOUND_FORMAT %]'>[% msg.MSG_DATE | html %]</a>
			</td>
			<td align='left'>
				<a title='listen' 
					onclick="return ShowPlayer('[% msg.DOWNLOAD_IP %][% CGI_URL %]/msg_download/[% msg.ID %]/[% USER_CREDS.ACCESS_CODE %]/[% msg.FILE_NAME %]?media=mp3;type=listen','[% msg.MSG_NUM %]' )"
					href="#"><span class='icon-volume-medium fs0'></span></a>
			</td>
			[% ELSE %]
			<td align='center'>
				<a class='msg' title='download' href='[% msg.DOWNLOAD_IP %][% CGI_URL %]/msg_download/[% msg.ID %]/[% USER_CREDS.ACCESS_CODE %]/[% msg.FILE_NAME %]'>[% msg.MSG_DATE | html %]</a>
			</td>
			<td></td>
			[% END %]
			<td>[% msg.CALLERID | html %]</td>
			<td>[% msg.CALLEDID | html %]</td>
			[% IF msg.IS_VOICE %]
				<td align='center'>[% msg.DURATION | duration_str | html %]</td>
			[% ELSE %]
				<td align='center'>--------</td>
			[% END %]
			<td>[% msg.EXT_NUMBER | html %]</td>
			<td>[% msg.DESCRIPTION | locale_msg %]</td>
			<td align='right'>[% msg.FILE_SIZE | fsize %]&nbsp;</td>
		</tr>
		[% END %]
		<tr>
		[% IF MSG_NEXT ne '' %]
			<td align='right' colspan='9'>
				<a title='next page ([% MSG_NEXT %])' href='?action=pp_msg_list&duration=[% DURATION | html %]&called_id=[% CALLED_ID | htmlstrict %]&caller_id=[% CALLER_ID | htmlstrict %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&from=[% MSG_NEXT %]'><span class='fs0'>►</span></a>
			</td>
		[% END %]
		</tr>
	</table>
 	[% UNLESS MSG_LIST scalar %]
 		<br /><h3>No files, please try to change filters.</h3>
 	[% END %]

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center' style='display:none;'><script language='JavaScript'>ShowPlayer( 'init',0 );</script></div>
	</body>
</html>

