<html>
<!-- $Id: phone_p_calls_list.tt,v 1.5 2024/10/01 12:01:23 gosha Exp $ -->
<head>
	<title>Virtual PBX - online calls - [% PHONE.callerid | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language='Javascript' src='/xvb/js/base64.js'></script>
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	[% IF CDR_REFRESH_TIME %]
	<meta http-equiv="refresh" content="[% CDR_REFRESH_TIME %]">
	[% END %]
</head>

<body>
	<center>

	<h1>Online calls - [% CALLS_COUNT %]</h1>

	<p>
	<table width='95%'>
		<form method="get" onSubmit='return checkChanges(this)'>
		<tr align='right'>
			<td width='100%'>
				<input type='hidden' name='c2c' value='[% CDR_C2C | html %]'>
				<input name='action' value='pp_calls_list' type='hidden'>
				<input size='10' type='text' placeholder='Refresh' name='refresh' value='[% CDR_REFRESH_TIME %]'>
				&nbsp;
				<input size='10' type='text' placeholder='Caller' name='caller_id' value='[% CDR_CALLER_ID | html %]'>
				&nbsp;
				<input size='10' type='text' placeholder='Called' name='called_id' value='[% CDR_CALLED_ID | html %]'>
				&nbsp;
				<input size='8' type='text' placeholder='Duration' name='duration' value='[% CDR_DURATION | html %]'>
				&nbsp;
				<select name="call_type" id="call_type_selector">
					<option value="" selected>all calls</option>
					<option value="incoming">incoming</option>
					<option value="local">local</option>
					<option value="transit">transit</option>
					<option value="internal">internal</option>
					<option value="callback">callback</option>
					<option value="callblast">callblast</option>
					<option value="click2call">click2call</option>
					<option value="alarmclock">alarmclock</option>
					<option value="service">service</option>
				</select>
				&nbsp;
				<input value='Search' type='submit'>
			</td>
		</tr>
		</form>
		<script language='JavaScript'>
			setActiveSelector('call_type_selector',"[% CDR_CALL_TYPE %]");
		</script>
	</table>
	</p>
	<p>
	<table width='95%' id='d-tbl'>
		<tr>
			<th class='rad_l'>Type</th>
			<th>Start date</th>
			<th colspan='2'>Caller ID</th>
			<th>Called NUM</th>
			<th>&nbsp;</th>
			<th>Call duration</th>
			<th>Extension</th>
			<th>Duration</th>
			<th class='rad_r'>&nbsp;</th>
		</tr>
		<!--
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='10'>
				<a title='previous page' href='?action=calls_list&duration=[% CDR_DURATION | html %]&c2c=[% CDR_C2C | html %]&refresh=[% CDR_REFRESH_TIME %]&from=[% MSG_PREV %]&call_type=[% CDR_CALL_TYPE | html %]&called_id=[% CDR_CALLED_ID | html %]&caller_id=[% CDR_CALLER_ID | html %]'><span class='fs0'>◄</span></a>
			</td>
		</tr>
		[% END %]
		-->

		[% FOREACH msg = CALLS_LIST %]
		<tr class='nocolor' align='center'>
			<td>[% msg.CALL_TYPE | html %]</td>
			<td>[% msg.CDR_DATE | html %]</td>
			<td>[% msg.CALLER_ID | html %]</td>
			<td>[% msg.CNAM | html %]</td>
			<td>[% msg.CALLED_ID | html %]</td>
			<td>[% msg.ANSWERED | html %]</td>
			<td>[% msg.CDR_DURATION | duration_str %]</td>
			<td>[% msg.EXT_ID | html %]</td>
			<td>
				[% IF msg.EXT_ID ne "" %]
				[% msg.EXT_TS | duration_str %]
				[% END %]
			</td>
			<td>
				[% IF CDR_C2C %]
					<a title='Listen' href='#' onclick="click2call_spy_raw('[% msg.DOWNLOAD_IP %]/c2c?dlm=,&message=Wait%20call&user_vars=XVB_CHAN=[% msg.CALL_ID %],AST_CHAN=[% msg.AST_ID | htmlstrict %],SPYMODE=0&ac=[% USER_CREDS.ACCESS_CODE | html %]&key=[% CDR_C2C %]')"><span class='icon-phone fs0'></span></a>
					<a title='Whisper' href='#' onclick="click2call_spy_raw('[% msg.DOWNLOAD_IP %]/c2c?dlm=,&message=Wait%20call&user_vars=XVB_CHAN=[% msg.CALL_ID %],AST_CHAN=[% msg.AST_ID | htmlstrict %],SPYMODE=1&ac=[% USER_CREDS.ACCESS_CODE | html %]&key=[% CDR_C2C %]')"><span class='icon-volume-medium fs0'></span></a>
				[% END %]
			</td>
		</tr>
		[% END %]

		<!--
		<tr>
		[% IF MSG_NEXT ne '' %]
			<td align='right' colspan='10'>
				<a title='next page' href='?action=calls_list&duration=[% CDR_DURATION | html %]&c2c=[% CDR_C2C | html %]&refresh=[% CDR_REFRESH_TIME %]&from=[% MSG_NEXT %]&call_type=[% CDR_CALL_TYPE | html %]&called_id=[% CDR_CALLED_ID | html %]&caller_id=[% CDR_CALLER_ID | html %]'><span class='fs0'>►</span></a>
			</td>
		[% END %]
		</tr>
		-->
	</table>
	[% UNLESS CALLS_LIST scalar %]
 		<br /><h3>No active calls.</h3>
	[% END %]
	</p>
	
	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>
	
	</center>
	
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
	
