<html>
<!-- $Id: phone_p_menu.tt,v 1.7 2023/12/27 08:41:44 gosha Exp $ -->
<head>
	<title>Virtual PBX - main menu</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
</head>

<body class='amenu'>
	<p align='left'>
		<img border='0' width='120' alt='XVB - Virtual PBX'
		[% IF USER_CREDS.LOGO_HREF eq '' %]
			 src='/xvb/images/logo-small.png'
		[% ELSE %]
			src='[% USER_CREDS.LOGO_HREF %]'
		[% END %]
		/>
	</p>
	<p align='left'>
		<ul>
			<br />
			<li><a class='amenu' target='xvb_data' href='?action=pp_pinfo'>Phone info</a></li>
			<br />
			
			[% IF USER_CREDS.ALLOW_CTR %]
			[% IF PHONE.MANAGER_FOR %]
			<li><a class='amenu' target='xvb_data' href='?action=pp_calls_list'>Online calls</a></li>
			<br />
			[% END %]
			[% END %]
			
			<li><a class='amenu' target='xvb_data' href='?action=pp_cdr_list'>Calls History</a></li>
			<br />

			[% IF PHONE.MANAGER_FOR %]
			<li><a class='amenu' target='xvb_data' href='?action=pp_cdr_list&need_chart=1'>Statistics</a></li>
			<br />
			[% END %]
			
			<li><a class='amenu' target='xvb_data' href='?action=pp_msg_list'>Files</a></li>
			<br />
			
			<li><a class='amenu' target='xvb_data' href='?action=pp_pbook_list'>Phone book</a></li>
			<br />
				
			[% IF WEBRTC %]
			<li><a class='amenu' target='_top' href='?action=pp_start&web_phone=1'>Web phone</a></li>
			<br />
			[% END %]
			
			<li><a class='amenu' target='_top' href=?action=pp_login&login=0>Exit</a></li>
		</ul>
	</p>
</body>
</html>
