<html>
<!-- $Id -->
<head>
	<title>Virtual PBX - Routes - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
	<p>
	<table width='95%' class='logo'>
		<tr>
			<td align='left' width='20%'>
			[% IF USER_CREDS.LOGO_HREF eq '' %]
				<img border='0' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			[% ELSE %]
				<img border='0' src='[% USER_CREDS.LOGO_HREF %]' alt='Virtual PBX' />
			[% END %]
			</td>
			<td align='center'><h2>Routes</h2></td>
			<td align='right' width='20%'><a href=?action=logout>logout</a></td>
		</tr>
	</table>
	</p>

	<p>
	<table width='95%' class='top_hr'>
		<tr align='left'>
			<td>
				<a href='?action=user_info&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>User Prefs</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=vb_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Extensions list</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=peer_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>SIP Peers</a>
				[% IF USER_CREDS.ALLOW_PHONES %]
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=phone_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Phones</a>
				[% END %]
			</td>
		</tr>
	</table>
	</p>

	<p>
	<table width='95%' class='list_data' id='d-tbl'>
		<tr class='list_data'>
			<th>Priority</th>
			<th>Pattern</th>
			<th>Out number</th>
			<th>Permissions</th>
			<th>Route Name</th>
			<th>Peer</th>
			<th>Actions</th>
		</tr>
		
		[% FOREACH r = ROUTES %]
		<tr align='center' class='nocolor' id='d-tr-[% r.DATA_ID %]'>
			<form method="post" action="[% CGI_URL %]" onSubmit='return xmlhttpPost(this,1)'>
			<td><input class='in_t0' size="6" name='r_PRIORITY' type'text' value='[% r.PRIORITY | html %]'></td>
			<td><input class='in_t0' size="20" name='r_PATTERN' type='text' value="[% r.PATTERN | html %]"></td>
			<td><input class='in_t0' size="35" name='r_SUBSTR' type='text' value="[% r.SUBSTR | html %]"></td>
			<td><input class='in_t0' size="10" name='r_EXT_NUMBER' type='text' value="[% r.EXT_NUMBER | html %]"></td>
			<td><input class='in_t0' size="25" name='r_DESCRIPTION' type='text' value="[% r.DESCRIPTION | html %]"></td>
			<td>
				<select name="r_PEER_ID" class='in_t0'>
				[% FOREACH p = PEERS %]
					[% IF p.DATA_ID eq r.PEER_ID %]
						<option value="[% p.DATA_ID | html %]" selected>[% p.DESCRIPTION | html %]</option>
					[% ELSE %]
						<option value="[% p.DATA_ID | html %]">[% p.DESCRIPTION | html %]</option>
					[% END %]
				[% END %]
				</select>
			</td>
			<td align='left'>
				<input type='hidden' value='[% r.DATA_ID %]' name='data_id'>
				<input type='hidden' value='route_update' name='action'>
				<input type='hidden' name='id' value='[% ROOT_EXT_ID %]'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<a title='delete route' href='?action=route_del&data_id=[% r.DATA_ID %]&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return xmlhttpDel(this,'en','d-tr-[% r.DATA_ID %]')"><img border='0'  src='/xvb/images/vb_del.png' alt='del' /></a>&nbsp;
				<span class='in_t' id='in_t_id-[% r.DATA_ID %]'>
				<script language='JavaScript'>
					writeUpdateLinks( 'save changes' );
				</script>
				<noscript><input value='change' type='submit'></noscript>
				</span>
			</td>
			</form>
		</tr>
		[% END %]
		<tr align='center'>
			<form method='post' action='[% CGI_URL %]' onSubmit='return checkChanges(this)'>
			<td><input size="6" name='r_PRIORITY' type'text'></td>
			<td><input size="20" name='r_PATTERN' type='text'></td>
			<td><input size="35" name='r_SUBSTR' type='text'></td>
			<td><input size="10" name='r_EXT_NUMBER' type='text'></td>
			<td><input size="25" name='r_DESCRIPTION' type='text'></td>
			<td>
				<select name="r_PEER_ID">
				[% FOREACH p = PEERS %]
					<option value="[% p.DATA_ID | html %]" selected>[% p.DESCRIPTION | html %]</option>
				[% END %]
				</select>
			</td>
			<td>
				<input type='hidden' value='route_add' name='action'>
				<input type='hidden' name='id' value='[% ROOT_EXT_ID %]'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<input value='create' type='submit'>
			</td>
			</form>
		</tr>
		<tr><td colspan='7'>&nbsp;</td></tr>
	</table>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	<p>
	<table width='95%' class='bottom_hr'>
		<tr align='center'>
			[% IF USER_CREDS.ALLOW_PHONES %]
			<td>
				<a class='headers'  href='?action=phone_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Phones</a>
			</td>
			[% END %]
			<td>
				<a class='headers' href='?action=peer_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>SIP Peers</a>
			</td>
			<td>
				<a class='headers' href='?action=vb_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Extensions list</a>
			</td>
			<td>
				<a class='headers' href='?action=user_info&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>User Prefs</a>
			</td>
		</tr>
	</table>
	</p>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
