<html>
<!-- $Id: statements.tt,v 1.32 2018/01/04 19:38:00 gosha Exp $ -->
<!--SUBJECT:VirtualPBX daily statement:SUBJECT-->
<head>
	<BASE href='[% CGI_SERVER %]'>
	<style>
	body { 
		color:#177182;
		font-family:Arial, Helvetica, sans-serif;
		background:#f7f7f7 repeat-x;
		font-size:13px;
	}
	table {
    	border: 1px;
	    border-collapse: collapse;
		background:#efefef  repeat-x;
	}
	td {
		padding:4px 4px 4px 4px;
    	border: 1px solid white;
	}
	th {
		background:#177182  repeat-x;
		color:#ffffff;
		text-align:center;
		font-size:12px;
		padding:5px 5px 5px 5px;
    	border: 1px solid white;
	}
	.warning-font {
		color:red;
	}
	</style>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel='stylesheet' type='text/css' href='[% CGI_SERVER %]/xvb/xvb.css' />
	[% ELSE %]
	<link rel='stylesheet' type='text/css' href='[% USER_CREDS.CSS_HREF %]' />
	[% END %]
</head>

<body>
 	<h2>Below you will find the details of your calls</h2>
 	
	<h3>Statement info:</h3>
	<ul>
		<li>Dial-in number: [% USER_CREDS.VOICENUMBER | html %]</li>
		<li>Access code: [% USER_CREDS.ACCESS_CODE | html %]</li>
		<li>Period: [% REPORT_DATE | html %]</li>
	</ul>
		
	[% IF SUMMARY_CALLS scalar %]
	<h3>Calls summary report:</h3>
	<table width='100%'>
		[% IF USE_BILLING %]

		<tr>
			<th>Call type</th>
			<th>Count</th>
			<th>Duration</th>
			<th>Cost</th>
			<th>Currency</th>
		</tr>
		[% FOREACH msg = SUMMARY_CALLS %]
		<tr align='center'>
			<td>[% msg.CALL_TYPE | html %]</td>
			<td align='right'>[% msg.CNT | html %]</td>
			<td align='right'>[% msg.DURATION | duration_str %]</td>
			<td align='right'>[% msg.USER_COST %]</td>
			<td>[% msg.DESCRIPTION %]</td>
		</tr>
		[% END %]

		[% ELSE %]

		<tr>
			<th>Call type</th>
			<th>Count</th>
			<th>Duration</th>
		</tr>
		[% FOREACH msg = SUMMARY_CALLS %]
		<tr  align='center'>
			<td>[% msg.CALL_TYPE | html %]</td>
			<td align='right'>[% msg.CNT | html %]</td>
			<td align='right'>[% msg.DURATION | duration_str %]</td>
		</tr>
		[% END %]

		[% END %]
	</table>
	[% END %]
	
	[% IF SUMMARY scalar %]
	<h3>Activities summary report:</h3>
	<table width='100%'>
		<tr>
			<th>Extension</th>
			<th>Event</th>
			<th>Count</th>
			<th>Duration</th>
		</tr>
		[% FOREACH msg = SUMMARY %]
		<tr  align='center'>
			<td>[% msg.EXT_NUMBER | html %]</td>
			<td>[% msg.TYPE | html %]</td>
			<td align='right'>[% msg.CNT | html %]</td>
			<td align='right'>[% msg.DURATION | duration_str %]</td>
		</tr>
		[% END %]
	</table>
	[% END %]
	
	[% IF CALLS scalar %]
	<h3>Calls report:</h3>
	<table width='100%'>
		[% IF USE_BILLING %]

		<tr>
			<th>Date</th>
			<th>Caller ID</th>
			<th>Called ID</th>
			<th>Duration</th>
			<th>Type</th>
			<th>Cost</th>
		</tr>
		[% FOREACH msg = CALLS %]
		<tr  align='center'>
			<td>[% msg.CDR_DATE | html %]</td>
			[% IF msg.DATA contain 'STATUS=ANSWER' %]
				<td align='right'>[% msg.CALLER_ID | html %]</td>
			[% ELSE %]
				<td align='right' class='warning-font'>[% msg.CALLER_ID | html %]</td>
			[% END %]
			<td>[% msg.CALLED_ID | html %]</td>
			<td align='right'>[% msg.CDR_DURATION | duration_str %]</td>
			<td>[% msg.CALL_TYPE | html %]</td>
			<td align='right'>[% msg.COST %] ([% msg.DESCRIPTION %])</td>
		</tr>
		[% END %]

		[% ELSE %]

		<tr>
			<th>Date</th>
			<th>Caller ID</th>
			<th>Called ID</th>
			<th>Duration</th>
			<th>Type</th>
		</tr>
		[% FOREACH msg = CALLS %]
		<tr  align='center'>
			<td>[% msg.CDR_DATE | html %]</td>
			[% IF msg.DATA contain 'STATUS=ANSWER' %]
				<td align='right'>[% msg.CALLER_ID | html %]</td>
			[% ELSE %]
				<td align='right' class='warning-font'>[% msg.CALLER_ID | html %]</td>
			[% END %]
			<td>[% msg.CALLED_ID | html %]</td>
			<td align='right'>[% msg.CDR_DURATION | duration_str %]</td>
			<td>[% msg.CALL_TYPE | html %]</td>
		</tr>
		[% END %]

		[% END %]
	</table>
	[% END %]
	
	[% IF CALL_CENTER scalar %]
	<h3>Queues report:</h3>
		[% FOREACH msg = CALL_CENTER %]
		<h4>[% msg.EXT | html %]</h4>
			<table width='100%'>
			<tr><th width='20%'>&nbsp;</th><th width='13%'>All</th><th width='13%'>Answered</th><th width='13%'>Unanswered</th><td width='10%'>&nbsp;</td><th width='31%'>Service Level</th></tr>
			<tr align='right'><td align='left'>Calls</td><td>[% msg.DATA.ALL_CALLS | html %]</td><td>[% msg.DATA.A_ALL_CALLS | html %]</td><td>[% msg.DATA.N_ALL_CALLS | html %]</td><td></td><td rowspan='6'>
			<table border="0">
			[% FOREACH sl = msg.DATA.SL_TOT %]
				<tr  align='right'>
					<td align='left'>[% sl.PERIOD | html %]</td>
					<td>[% sl.VAL | html %]</td>
					<td>[% sl.PRC | html %] %</td>
				</tr>
			[% END %]
			</table>
			</td></tr>
			<tr align='right'><td align='left'>Total wait-time</td><td>[% msg.DATA.TOT_CALL_WAIT | duration_str %]</td><td>[% msg.DATA.A_TOT_CALL_WAIT | duration_str %]</td><td>[% msg.DATA.N_TOT_CALL_WAIT | duration_str %]</td></tr>
			<tr align='right'><td align='left'>Average wait-time</td><td>[% msg.DATA.AVG_CALL_WAIT | duration_str %]</td><td>[% msg.DATA.A_AVG_CALL_WAIT | duration_str %]</td><td>[% msg.DATA.N_AVG_CALL_WAIT | duration_str %]</td></tr>
			<tr align='right'><td align='left'>Total duration</td><td></td><td>[% msg.DATA.TOT_CALL_LENGTH | duration_str %]</td></tr>
			<tr align='right'><td align='left'>Average call duration</td><td></td><td>[% msg.DATA.AVG_CALL_LENGTH | duration_str %]</td></tr>
			<tr align='right'><td align='left'>Transferred calls</td><td></td><td>[% msg.DATA.TRAN_CALLS | html %]</td></tr>
			</table>
		[% END %]
	[% END %]
	
	<br><br>-- <br>
		Thank you for using our XVB - VirtualPBX. Have a nice day !
</body>
</html>
	
