<html>
<!-- $Id: user_info.tt,v 1.78 2012-10-05 15:34:45 gosha Exp $ -->
<head>
	<title>Virtual PBX - User info - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
	<p>
	<table width='95%' class='logo'>
		<tr>
			<td align='left' width='20%'>
			[% IF USER_CREDS.LOGO_HREF eq '' %]
				<img border='0' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			[% ELSE %]
				<img border='0' src='[% USER_CREDS.LOGO_HREF %]' alt='Virtual PBX' />
			[% END %]
			</td>
			<td align='center'><h2>User info AC# <b>[% USER_CREDS.ACCESS_CODE | html %]</h2></td>
			<td align='right' width='20%'><a href=?action=logout>logout</a></td>
		</tr>
	</table>
	</p>

	<p>
	<table width='95%' class='bottom_hr'>
		<tr align='center'>
			<td>
				<a class='headers' href='?action=j_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Journals</a>
			</td>
			<td>
				<a class='headers' href='?action=cdr_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>CDRs</a>
			</td>
			<td align='center'>
				<a class='headers' href='?action=vb_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Extensions list</a>
			</td>
			<td>
				<a class='headers' href='?action=msg_list_all&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>All messages</a>
			</td>
			<td>
				<a class='headers' href='?action=pbook_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Phone book</a>
			</td>
			[% IF USER_CREDS.CUSTOM_ROUTE %]
			<td align='center'>
				<a class='headers' href='?action=peer_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>SIP Peers</a>
			</td>
			<td align='center'>
				<a class='headers' href='?action=route_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Routes</a>
			</td>
			[% END %]
			[% IF USER_CREDS.ALLOW_PHONES %]
			<td align='center'>
				<a class='headers' href='?action=phone_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Phones</a>
			</td>
			[% END %]
			[% IF USER_CREDS.ALLOW_MACROS %]
			<td>
				<a class='headers' href='?action=macros_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Macros</a>
			</td>
			[% END %]
		</tr>
	</table>
	</p>

	<p>
	<table width='95%'>
		<tr>
			<td valign='top'>
			<table class='user_data'>
				<tr>
					<td colspan='2'><h4>Core options:</h4></td>
				</tr>
				<tr>
					<td>Dial-In numbers:</td>
					<td>
					<textarea readonly cols='30'>Public: [% USER_CREDS.VOICENUMBER | html %] # [% USER_CREDS.ACCESS_CODE %]
[% FOREACH d = DID %]
&nbsp;
Private: [% d.DID | html %]
[% END %]</textarea>
					</td>
				</tr>
				<form method="post" action="[% CGI_URL %]" name='user_prefs' onSubmit='return xmlhttpPost(this,0)'>
				<tr>
					<td>First Name:</td>
					<td>
						<input size='30' type='text' name='FIRST_NAME' value='[% USER_CREDS.FIRST_NAME | html %]'>
						<input type='hidden' name='action' value='user_update'>
						<input type='hidden' name='id' value='[% ROOT_EXT_ID %]'>
						<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
					</td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td>
						<input size='30' type='text' name='LAST_NAME' value='[% USER_CREDS.LAST_NAME | html %]'>
					</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td>
						<input size='30' type='text' name='EMAIL' value='[% USER_CREDS.EMAIL | html %]'>
					</td>
				</tr>
				<tr>
					<td>
						<select name='skins' onchange='javascript:document.user_prefs.CSS_HREF.value=this.value'>
							<option selected value='[% USER_CREDS.CSS_HREF | html %]'>CSS href:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
							<option value='/xvb/xvb-green.css'>CSS - green skin</option>
							<option value='/xvb/xvb-green-compact.css'>CSS - green-compact skin</option>
							<option value=''>CSS - default skin</option>
						</select>
					</td>
					<td>
						<input size='30' type='text' name='CSS_HREF' value='[% USER_CREDS.CSS_HREF | html %]'>
					</td>
				</tr>
				<tr>
					<td>Logo href:</td>
					<td>
						<input size='30' type='text' name='LOGO_HREF' value='[% USER_CREDS.LOGO_HREF | html %]'>
					</td>
				</tr>
				[% IF USER_CREDS.ALLOW_GA %]
				<tr>
					<td>Google Analytics ID:</td>
					<td>
						<input size='30' type='text' name='GA_ACCOUNT' value='[% USER_CREDS.GA_ACCOUNT | html %]'>
					</td>
				</tr>
				[% END %]
				<tr>
					<td>Messages in page:</td>
					<td>
						<input size='10' type='text' name='MSG_IN_PAGE' value='[% USER_CREDS.MSG_IN_PAGE | html %]'>
					</td>
				</tr>
				<tr>
					<td>Record storage time (days):</td>
					<td>
						<input size='10' type='text' name='MSG_STORE_PERIOD' value='[% USER_CREDS.MSG_STORE_PERIOD | html %]'>
						( 0 - unlimit )
					</td>
				</tr>
				<tr>
					<td>IVR: Inter Digit Timeout (sec):</td>
					<td>
						<input size='10' type='text' name='I_DIGIT_TIMEOUT' value='[% USER_CREDS.I_DIGIT_TIMEOUT | html %]'>
					</td>
				</tr>
				<tr>
					<td>Default language:</td>
					<td>
						<select name='LANG'>
							[% FOREACH lang = LANG %]
								[% IF USER_CREDS.LANG eq lang.ID %]
									<option value="[% lang.ID | html %]" selected>[% lang.DESCRIPTION | html %]</option>
								[% ELSE %]
									[% IF lang.ID %]
										<option value="[% lang.ID | html %]">[% lang.DESCRIPTION | html %]</option>
									[% END %]
								[% END %]
							[% END %]
						</select>
					</td>
				</tr>
				<tr>
					<td>Sound Format:</td>
					<td>
						<select name='SOUND_FORMAT'>
							[% FOREACH fm = SOUND_F %]
								[% IF USER_CREDS.SOUND_FORMAT eq fm %]
									<option value="[% fm | html %]" selected>[% fm | html %]</option>
								[% ELSE %]
									<option value="[% fm | html %]">[% fm | html %]</option>
								[% END %]
							[% END %]
						</select>
					</td>
				</tr>
				<tr>
					<td>Time Zone:</td>
					<td>
						<input size='20' type='text' name='TZ_NAME' value='[% USER_CREDS.TZ_NAME | html %]'>
						<script lang='JavaScript'>tz_dropdown('[% USER_CREDS.TZ_NAME %]', 'GMT')</script>
					</td>
				</tr>
				<tr>
					<td>Date Format:</td>
					<td>
						<select name='DATE_FORMAT'>
							[% FOREACH fm = DATE_FORMAT %]
								[% IF USER_CREDS.DATE_FORMAT eq fm.ID %]
									<option value="[% fm.ID %]" selected>[% fm.DESCRIPTION | html %]</option>
								[% ELSE %]
									<option value="[% fm.ID %]">[% fm.DESCRIPTION | html %]</option>
								[% END %]
							[% END %]
						</select>
					</td>
				</tr>
				<tr>
					<td>Daily statements:</td>
					<td>
						<select name='STATEMENTS'>
							[% IF USER_CREDS.STATEMENTS eq '0' %]
								<option value="0" selected>disable</option>
							[% ELSIF USER_CREDS.STATEMENTS eq '2' %]
								<option value="2" selected>activities summary</option>
							[% ELSIF USER_CREDS.STATEMENTS eq '4' %]
								<option value="4" selected>list of calls</option>
							[% ELSIF USER_CREDS.STATEMENTS eq '6' %]
								<option value="6" selected>list of calls+activities</option>
							[% ELSIF USER_CREDS.STATEMENTS eq '8' %]
								<option value="8" selected>calls summary</option>
							[% ELSIF USER_CREDS.STATEMENTS eq '10' %]
								<option value="10" selected>calls+activities summary</option>
							[% ELSIF USER_CREDS.STATEMENTS eq '12' %]
								<option value="12" selected>calls (summary/list)</option>
							[% ELSIF USER_CREDS.STATEMENTS eq '14' %]
								<option value="14" selected>all</option>
							[% END %]
								<option value="0">disable</option>
								<option value="2">activities summary</option>
								<option value="4">list of calls</option>
								<option value="6">list of calls+activities</option>
								<option value="8">calls summary</option>
								<option value="10">calls+activities summary</option>
								<option value="12">calls (summary/list)</option>
								<option value="14">all</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Common filters:</td>
					<td>
						<a href='?action=cid_list&id=[% ROOT_EXT_ID %]&cid_list_type=2&cid_type=2&uniq=[% USER_CREDS.UNIQ %]' title='edit CID white list'>White list</a> / 
						<a href='?action=cid_list&id=[% ROOT_EXT_ID %]&cid_list_type=1&cid_type=2&uniq=[% USER_CREDS.UNIQ %]' title='edit CID black list'>Black list</a>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td colspan='2' align='center'>
						<input type='submit' value='&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;change&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'>
					</td>
				</tr>
				</form>
				<tr>
					<td>&nbsp;</td>
				</tr>

				<tr>
					<td colspan='2'><h4>MOH file:</h4></td>
				</tr>
				<tr>
					<td colspan='2'>
						<table width='90%' class='addon_data' id='d-tbl'>
							[% IF CUSTOM_MOH ne '' %]
							<tr id='d-tr'>
								<td>Custom music on hold file: </td>
								<td align='center' nowrap='nowrap'>
									<a title='play' 
										onclick="return ShowPlayer('https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download/[% ROOT_EXT_ID %]/0/[% CUSTOM_MOH %]?media=mp3;uniq=[% USER_CREDS.ACCESS_CODE | html %];type=listen' )"
										href="#"><img border='0' src='/xvb/images/msg_listen.png' alt='play' /></a>&nbsp;&nbsp;
										<a title='download file' href='https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]/msg_download/[% ROOT_EXT_ID %]/0/[% CUSTOM_MOH %].[% USER_CREDS.SOUND_FORMAT %]?media=[% USER_CREDS.SOUND_FORMAT %]&uniq=[% USER_CREDS.ACCESS_CODE | html %]'><img border='0' src='/xvb/images/msg_download.png' alt='download' /></a>
									&nbsp;<a href='https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]?action=msg_delete&msg=[% CUSTOM_MOH %]&type=1&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'  onclick="return xmlhttpDel(this,'en','d-tr')" title='delete MOH file'><img border='0'  src='/xvb/images/msg_delete.png' alt='delete' /></a>
								</td>
							</tr>
							[% END %]
							<tr>
							<form enctype="multipart/form-data" method="post" action="https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]">
								<td>
									<input type='file' name='msg'>
									<input type='hidden' name="type" value='5'>
									<input type='hidden' name='id' value='[% ROOT_EXT_ID %]'>
									<input type='hidden' name='action' value='msg_upload'>
									<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
								</td>
								<td align='center'>
									<input type='submit' value='Upload music on hold'>
								</td>
							</form>
							</tr>
						</table>
					</td>
				</tr>
	
				<tr>
					<td colspan='2'>
					<table class='user_data'>
						<tr>
							<td colspan='2'><h4>Backup options:</h4></td>
						</tr>
						<tr>
							<form method="post" action="[% CGI_URL %]">
							<td>
								Media backup: <input type='checkbox' name='full_backup'>
								<input type='hidden' name='id' value='[% ROOT_EXT_ID %]'>
								<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
								<input type='hidden' name='action' value='backup'>
							</td>
							<td align='left'>
								<input name='submit' type='submit' value='Backup configuration'>
							</td>
							</form>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<form enctype="multipart/form-data" method="post" action="https://[% USER_CREDS.DOWNLOAD_IP %][% CGI_URL %]" onSubmit='return checkChanges(this)'>
							<td>
								Merge: <input type='checkbox' name='merge'>
								<input type='file' name='config_file'>
								<input type='hidden' name='id' value='[% ROOT_EXT_ID %]'>
								<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
								<input type='hidden' name='action' value='restore'>
							</td>
							<td align='left'>
								<input type='submit' value='Upload configuration'>
							</td>
							</form>
						</tr>
					</table>
					</td>
					<td>&nbsp;</td>
				</tr>
			</table>
			</td>
			
			<td valign='top'>
			<table class='user_data'>
				[% IF USE_BILLING > 0 %]
				<tr>
					<td colspan='3'>
						<table width='100%' class='addon_data'>
							<tr><td colspan='8'><h4>Billing:</h4></td></tr>
							<tr>
								<td>Tariff:</td>
								<td colspan='7'><b>[% TARIFF.NAME | html %]</b> ( currency  [% TARIFF.DESCRIPTION %] )</td>
							</tr>
							<tr class='list_addon_data' align='center'>
								<th rowspan='2'>Monthly</th>
								<th rowspan='2'>Daily</th>
								<th colspan='2'>IVR</th>
								[% IF USER_CREDS.VBL_14 ne '0' %]
									<th colspan='2'>CallBack</th>
								[% END %]
								[% IF USER_CREDS.VBL_18 ne '0' %]
									<th colspan='2'>CallBlast</th>
								[% END %]
							</tr>
							<tr class='list_addon_data' align='center'>
								<th>Minute</th>
								<th>Call</th>
								[% IF USER_CREDS.VBL_14 ne '0' %]
									<th>Minute</th>
									<th>Call</th>
								[% END %]
								[% IF USER_CREDS.VBL_18 ne '0' %]
									<th>Minute</th>
									<th>Call</th>
								[% END %]
							</tr>
							<tr class='addon_data' align='right'>
								<td>[% TARIFF.MONTHLY_PRICE %]</td>
								<td>[% TARIFF.DAILY_PRICE %]</td>
								<td>[% TARIFF.MINUTE_PRICE %]</td>
								<td>[% TARIFF.CALL_PRICE %]</td>
								[% IF USER_CREDS.VBL_14 ne '0' %]
									<td>[% TARIFF.MINUTE_PRICE_CB %]</td>
									<td>[% TARIFF.CALL_PRICE_CB %]</td>
								[% END %]
								[% IF USER_CREDS.VBL_18 ne '0' %]
									<td>[% TARIFF.MINUTE_PRICE_CBL %]</td>
									<td>[% TARIFF.CALL_PRICE_CBL %]</td>
								[% END %]
							</tr>
							<tr>
								<td colspan='8'>
									Balance:
								</td>
							</tr>
							<tr class='addon_data'>
								<td colspan='8'>
									&nbsp;
									&nbsp;
									&nbsp;
									<b>[% TARIFF.USER_BALANCE | bill_float %]</b> [% TARIFF.DESCRIPTION %] ( as at [% CACHE_TIME | html %] )
								</td>
							</tr>
						</table>
					</td>
				</tr>
				[% END %]
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td colspan='3'><h4>Limits:</h4></td>
				</tr>
				<tr>
					<td>Maximum extensions (<a href='#' onclick='ShowEl("vb_limits"); return false'>detail</a>) :</td>
					<td align='right'>[% USER_CREDS.MAX_EXTENSIONS %]</td>
					<td rowspan='22' id='vb_limits' class='addon_info'>
						<table width='100%'>
							<tr class='list_addon_data' align='center'>
								<th>Extension type</th>
								<th>Cur</th>
								<th>Max</th>
							</tr>
						[% FOREACH vt = VB_LIMITS %]
						[% IF vt.ID vb_allow '0' %]
							<tr class='addon_data'>
								<td>&nbsp;&nbsp;*&nbsp;[% vt.DESCRIPTION | html %]</td>
								<td align='right'>[% vt.L_CUR %]</td>
								<td align='right'>[% vt.L_MAX %]</td>
							</tr>
						[% END %]
						[% END %]
							<tr><td colspan='3' align='right'>-1 - unlimit</td></tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td>Maximum all messages: </td>
					<td align='right'>[% FILES_CNT %] / [% USER_CREDS.MAX_ALL_MSGS %]</td>
				</tr>
				<tr>
					<td>Maximum size of all messages: </td>
					<td align='right'>[% FILES_SIZE | fsize %] / [% USER_CREDS.MAX_SIZE_MSGS | fsize %]</td>
				</tr>
				<tr>
					<td>Maximum numbers of phone book items: </td>
					<td align='right'>[% USER_CREDS.MAX_PBOOK_ITEMS %]</td>
				</tr>
				<tr>
					<td>Maximum number of CID filters: </td>
					<td align='right'>[% USER_CREDS.MAX_EXT_CIDS %]</td>
				</tr>
				[% IF USER_CREDS.ALLOW_PHONES %]
				<tr>
					<td>Maximum Number of Phones: </td>
					<td align='right'>[% USER_CREDS.MAX_PHONES %]</td>
				</tr>
				[% END %]
				[% IF USER_CREDS.CUSTOM_ROUTE %]
				<tr>
					<td>Maximum Number of Peers: </td>
					<td align='right'>[% USER_CREDS.MAX_PEERS %]</td>
				</tr>
				<tr>
					<td>Maximum Number of Routes: </td>
					<td align='right'>[% USER_CREDS.MAX_ROUTES %]</td>
				</tr>
				[% END %]
				[% IF USER_CREDS.ALLOW_MACROS %]
				<tr>
					<td>Maximum Number of Macros: </td>
					<td align='right'>[% USER_CREDS.MAX_MACROS %]</td>
				</tr>
				[% END %]
				[% IF USER_CREDS.VBL_4 ne '0' %]
				<tr>
					<td>Maximum Number of Directory items: </td>
					<td align='right'>[% USER_CREDS.MAX_DIRECTORY_ITEMS %]</td>
				</tr>
				[% END %]
				[% IF USER_CREDS.VBL_5 ne '0' %]
				<tr>
					<td>Maximum Number of Schedule items: </td>
					<td align='right'>[% USER_CREDS.MAX_SCHEDULE_ITEMS %]</td>
				</tr>
				[% END %]
				<tr>
					<td>Maximum Phones for Follow-Me & Queue: </td>
					<td align='right'>[% USER_CREDS.MAX_EXT_PHONES | html %]</td>
				</tr>
				[% IF USER_CREDS.VBL_18 ne '0' %]
				<tr>
					<td>Maximum Number of CallBlast items: </td>
					<td align='right'>[% USER_CREDS.MAX_CALLBLAST_ITEMS %]</td>
				</tr>
				<tr>
					<td>Maximum Phones for CallBlast item: </td>
					<td align='right'>[% USER_CREDS.MAX_CB_PHONES | html %]</td>
				</tr>
				[% END %]
				[% IF USER_CREDS.VBL_21 ne '0' %]
				<tr>
					<td>Maximum Number of GotoIF items: </td>
					<td align='right'>[% USER_CREDS.MAX_GOTOIF_ITEMS %]</td>
				</tr>
				[% END %]
				[% IF USER_CREDS.TTS_GREETING %]
				<tr>
					<td>Maximum TTS length: </td>
					<td align='right'>[% USER_CREDS.MAX_TTS_LENGTH | fsize %]</td>
				</tr>
				[% END %]
				<tr>
					<td>Maximum email-attachment size: </td>
					<td align='right'>[% USER_CREDS.MAX_ATTACH_SIZE | fsize %]</td>
				</tr>
				<tr>
					<td>Maximum TTS download size: </td>
					<td align='right'>[% USER_CREDS.MAX_DOWNLOAD_SIZE | fsize %]</td>
				</tr>
				<tr>
					<td>Maximum voice mesage duration: </td>
					<td align='right'>[% USER_CREDS.MAX_MESSAGE_DURATION | duration_str %]</td>
				</tr>
				<tr>
					<td>Maximum User Name duration: </td>
					<td align='right'>[% USER_CREDS.MAX_NAME_DURATION | duration_str %]</td>
				</tr>
				<tr>
					<td>Maximum User Greeting duration: </td>
					<td align='right'>[% USER_CREDS.MAX_GREET_DURATION | duration_str %]</td>
				</tr>
				<tr>
					<td>Maximum announcement to callee duration: </td>
					<td align='right'>[% USER_CREDS.MAX_ANNOUNCEMENT_DURATION | duration_str %]</td>
				</tr>
				<tr>
					<td>Maximum announcement to caller duration: </td>
					<td align='right'>[% USER_CREDS.MAX_ANNOUNCEMENT_CALLER_DURATION | duration_str %]</td>
				</tr>
				<tr>
					<td>Maximum RetryDial anouncement duration: </td>
					<td align='right'>[% USER_CREDS.MAX_RETRYDIAL_DURATION | duration_str %]</td>
				</tr>
				<tr>
					<td>Maximum music on hold duration: </td>
					<td align='right'>[% USER_CREDS.MAX_MOH_DURATION | duration_str %]</td>
				</tr>
			</table>
			</td>
		</tr>
	</table>
	</p>

	<p>
	<table width='95%' class='bottom_hr'>
		<tr align='center'>
			[% IF USER_CREDS.ALLOW_MACROS %]
			<td>
				<a class='headers' href='?action=macros_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Macros</a>
			</td>
			[% END %]
			[% IF USER_CREDS.CUSTOM_ROUTE %]
			<td align='center'>
				<a class='headers' href='?action=route_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Routes</a>
			</td>
			<td align='center'>
				<a class='headers' href='?action=peer_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>SIP Peers</a>
			</td>
			[% END %]
			[% IF USER_CREDS.ALLOW_PHONES %]
			<td align='center'>
				<a class='headers' href='?action=phone_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Phones</a>
			</td>
			[% END %]
			<td>
				<a class='headers' href='?action=pbook_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Phone book</a>
			</td>
			<td>
				<a class='headers' href='?action=msg_list_all&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>All messages</a>
			</td>
			<td align='center'>
				<a class='headers' href='?action=vb_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Extensions list</a>
			</td>
			<td>
				<a class='headers' href='?action=cdr_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>CDRs</a>
			</td>
			<td>
				<a class='headers' href='?action=j_list&id=[% ROOT_EXT_ID %]&uniq=[% USER_CREDS.UNIQ %]'>Journals</a>
			</td>
		</tr>
	</table>
	</p>
	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
</body>
</html>
