<html>
<!-- $Id: journal_list.tt,v 1.5 2014/09/07 18:30:40 gosha Exp $ -->
<head>
	<title>Virtual PBX - Actions journal - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-en.min.js"></script>
</head>

<body>
	<center>
	
	<p>
	<table width='95%' class='logo'>
		<tr>
			<td align='left' width='20%'>
			[% IF USER_CREDS.LOGO_HREF eq '' %]
				<img border='0' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			[% ELSE %]
				<img border='0' src='[% USER_CREDS.LOGO_HREF %]' alt='Virtual PBX' />
			[% END %]
			</td>
			<td align='center'><h2>Actions journal</h2></td>
			<td align='right' width='20%'><a href=?action=logout>logout</a></td>
		</tr>
	</table>
	</p>

	<p>	
	<table width='95%'>
		<tr align='left'>
			<td>
				<a href='?action=user_info&uniq=[% USER_CREDS.UNIQ %]'>User Prefs</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=cdr_list&uniq=[% USER_CREDS.UNIQ %]'>CDRs</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=vb_view&uniq=[% USER_CREDS.UNIQ %]'>VoiceBOX info</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=msg_list&uniq=[% USER_CREDS.UNIQ %]'>Messages</a>
			</td>
		</tr>
	</table>
	</p>

	<p>
	<table width='95%' id='d-tbl'>
		<tr>
			<th width='10%'>Action</th>
			<th width='20%'>Date</th>
			<th width='15%'>Remote IP</th>
			<th width='40%'>Data</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='4'>
				<a title='previous page' href='?action=j_list&from=[% MSG_PREV %]&ext_num=[% J_EXT_NUM %]&data=[% J_DATA | html %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&uniq=[% USER_CREDS.UNIQ %]'><img border='0'  src='/xvb/images/msg_prev.png' alt='[% MSG_PREV %] &lt;=' /></a>
			</td>
		</tr>
		[% END %]

		[% FOREACH msg = J_LIST %]
			<tr class='nocolor'>
			[% END %]
				<td>[% msg.ACTION | html %]</td>
				<td align='center'>[% msg.J_DATE | html %]</td>
				<td align='center'>[% msg.CID | html %]</td>
				<td>[% msg.DESCRIPTION | html %]</td>
			</tr>
		[% END %]

		<tr>
		[% IF MSG_NEXT ne '' %]
			<td align='right' colspan='4'>
				<a title='next page' href='?action=j_list&from=[% MSG_NEXT %]&ext_num=[% J_EXT_NUM %]&data=[% J_DATA | html %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&uniq=[% USER_CREDS.UNIQ %]'><img border='0'  src='/xvb/images/msg_next.png' alt='[% MSG_NEXT %] &lt;=' /></a>
			</td>
		[% ELSE %]
			<td colspan='4'>&nbsp;</td>
		[% END %]
		</tr>
	</table>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	<p>	
	<table width='95%' class='bottom_hr'>
		<tr align='right'>
			<form method="get" action="[% CGI_URL %]">
			<td width='100%'>
				From date:
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#from_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							button: ".next()"
						});
				});
				</script>
				<input size='16' type='text' name='from_time' value='[% FROM_TIME | html %]' id='from_time'>
				<button type="button">...</button>
				&nbsp;
				To date:
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#to_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							button: ".next()"
						});
				});
				</script>
				<input size='16' type='text' name='to_time' value='[% TO_TIME | html %]' id='to_time'>
				<button type="button">...</button>
				&nbsp;
				<input name='action' value='j_list' type='hidden'>
				&nbsp;
				Data:
				<input size='20' type='text' name='data' value='[% J_DATA | html %]'>
				<input name='uniq' value='[% USER_CREDS.UNIQ %]' type='hidden'>
				<input value='Search' type='submit'>
				&nbsp;&nbsp;
			</td>
		</tr>
	</table>
	</p>
	</center>
</body>
</html>
	
