<html>
<!-- $Id: cdrs_list.tt,v 1.8 2014/10/14 19:33:21 gosha Exp $ -->
<head>
	<title>Virtual PBX - Список звонков - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-ru.min.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
			
	<h1>История звонков</h1>
	
	<table width='100%'>
		<tr>
			<form method="get" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
			<td align='right'>
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#from_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							button: ".next()"
						});
				});
				</script>
				<input size='16' type='text' name='from_time' value='[% FROM_TIME | html %]' id='from_time' placeholder='с даты'>
				<button type="button">...</button>
				&nbsp;
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#to_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							button: ".next()"
						});
				});
				</script>
				<input size='16' type='text' name='to_time' value='[% TO_TIME | html %]' id='to_time' placeholder='по дату'>
				<button type="button">...</button>
				<input name='action' value='cdr_list' type='hidden'>
				&nbsp;
				<input size='10' type='text' name='caller_id' value='[% CDR_CALLER_ID | html %]' placeholder='кто звонил'>
				&nbsp;
				<input size='10' type='text' name='called_id' value='[% CDR_CALLED_ID | html %]' placeholder='кому звонил'>
				<input name='uniq' value='[% USER_CREDS.UNIQ %]' type='hidden'>
				&nbsp;
				<select name="call_type" id="call_type_selector">
					<option value="" selected>все звонки</option>
					<option value="incoming">входящий</option>
					<option value="local">локальный</option>
					<option value="transit">транзит</option>
					<option value="internal">внутрений</option>
					<option value="callback">обратный</option>
					<option value="callblast">информатор</option>
					<option value="click2call">click2call</option>
					<option value="alarmclock">будильник</option>
					<option value="service">сервисный</option>
				</select>
				&nbsp;
				<input value='Найти' type='submit'>
				<input name='need_excel' value='Excel' type='submit'>
			</td>
			</form>
			<script language='JavaScript'>
				setActiveSelector('call_type_selector',"[% CDR_CALL_TYPE %]");
			</script>
		</tr>
	</table>
	
	<p>
	<table width='100%' id='d-tbl'>
		[% IF USE_BILLING %]
		<tr>
			<th>Начало звонка</th>
			<th>Номер звонящего</th>
			<th>Длительность</th>
			<th>Стоимость</th>
			<th>Номер назначения</th>
			<th>Тип</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='6'>
				<a title='предыдущая страница' href='?action=cdr_list&uniq=[% USER_CREDS.UNIQ %]&from=[% MSG_PREV %]&call_type=[% CDR_CALL_TYPE %]&called_id=[% CDR_CALLED_ID | html %]&caller_id=[% CDR_CALLER_ID | html %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]'><img border='0'  src='/xvb/images/msg_prev.png' alt='[% MSG_PREV %] &lt;=' /></a>
			</td>
		</tr>
		[% END %]

		[% FOREACH msg = CDR_LIST %]
			<tr class='nocolor' align='center'>
				<td><a title='детализация звонка' href='?action=act_list&call_id=[% msg.CALL_ID %]&uniq=[% USER_CREDS.UNIQ %]'>[% msg.CDR_DATE | html %]</a></td>
				<td>[% msg.CALLER_ID | html %]</td>
				<td>[% msg.CDR_DURATION | duration_str %]</td>
				<td align='right'>[% msg.COST %] ([% msg.DESCRIPTION | locale_msg %])</td>
				<td>[% msg.CALLED_ID | html %]</td>
				<td>[% msg.CALL_TYPE | locale_msg %]</td>
			</tr>
		[% END %]

		[% IF MSG_NEXT ne '' %]
		<tr>
			<td align='right' colspan='6'>
				<a title='следующая страница' href='?action=cdr_list&uniq=[% USER_CREDS.UNIQ %]&from=[% MSG_NEXT %]&call_type=[% CDR_CALL_TYPE %]&called_id=[% CDR_CALLED_ID | html %]&caller_id=[% CDR_CALLER_ID | html %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]'><img border='0'  src='/xvb/images/msg_next.png' alt='[% MSG_NEXT %] &lt;=' /></a>
			</td>
		</tr>
		[% END %]
		
		<!-- end bill -->
		[% ELSE %]
		<tr>
			<th>Начало звонка</th>
			<th>Номер звонящего</th>
			<th>Длительность</th>
			<th>Номер назначения</th>
			<th>Тип</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='5'>
				<a title='предыдущая страница' href='?action=cdr_list&uniq=[% USER_CREDS.UNIQ %]&from=[% MSG_PREV %]&call_type=[% CDR_CALL_TYPE %]&called_id=[% CDR_CALLED_ID | html %]&caller_id=[% CDR_CALLER_ID | html %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]'><img border='0'  src='/xvb/images/msg_prev.png' alt='[% MSG_PREV %] &lt;=' /></a>
			</td>
		</tr>
		[% END %]

		[% FOREACH msg = CDR_LIST %]
			<tr class='nocolor' align='center'>
				<td><a title='детализация звонка' href='?action=act_list&call_id=[% msg.CALL_ID %]&uniq=[% USER_CREDS.UNIQ %]'>[% msg.CDR_DATE | html %]</a></td>
				<td>[% msg.CALLER_ID | html %]</td>
				<td>[% msg.CDR_DURATION | duration_str %]</td>
				<td>[% msg.CALLED_ID | html %]</td>
				<td>[% msg.CALL_TYPE | locale_msg %]</td>
			</tr>
		[% END %]

		[% IF MSG_NEXT ne '' %]
		<tr>
			<td align='right' colspan='5'>
				<a title='следующая страница' href='?action=cdr_list&uniq=[% USER_CREDS.UNIQ %]&from=[% MSG_NEXT %]&call_type=[% CDR_CALL_TYPE %]&called_id=[% CDR_CALLED_ID | html %]&caller_id=[% CDR_CALLER_ID | html %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]'><img border='0'  src='/xvb/images/msg_next.png' alt='[% MSG_NEXT %] &lt;=' /></a>
			</td>
		</tr>
		[% END %]
		[% END %]
	</table>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>
	
	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
	
