<html>
<!-- $Id: cidfilters_core.tt,v 1.27 2013-03-11 15:08:01 gosha Exp $ -->
<head>
	<title>Virtual PBX - CID фильтры - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
	<p>
	<table width='95%' class='logo'>
		<tr>
			<td align='left' width='20%'>
			[% IF USER_CREDS.LOGO_HREF eq '' %]
				<img border='0' src='/xvb/images/logo-small.png' alt='Virtual PBX' />
			[% ELSE %]
				<img border='0' src='[% USER_CREDS.LOGO_HREF %]' alt='Virtual PBX' />
			[% END %]
			</td>
			<td align='center'><h2>
			[% IF CID_LIST_TYPE eq '1' %]
				Черный список
			[% ELSE %]
				Белый список
			[% END %]
			абонентов
			</h2></td>
			<td align='right' width='20%'><a href=?action=logout>выход</a></td>
		</tr>
	</table>
	</p>

	<p>	
	<table width='95%' class='top_hr'>
		<tr align='left'>
			<td>
				<a href='?action=user_info&uniq=[% USER_CREDS.UNIQ %]'>Профиль пользователя</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=cdr_list&uniq=[% USER_CREDS.UNIQ %]'>Список звонков</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href='?action=vb_list&uniq=[% USER_CREDS.UNIQ %]'>Список номеров</a>
			</td>
			<td align='right'>
				<a title='в формате excel' href='?action=cid_list&id=[% VBOX_PREF.ID %]&cid_list_type=[% CID_LIST_TYPE %]&cid_type=2&uniq=[% USER_CREDS.UNIQ %]&need_excel=1'"><img border='0' src='/xvb/images/excel.png' alt='excel' /></a>&nbsp;
			</td>
		</tr>
	</table>
	</p>

	<p>
	<table width='95%' class='list_data' id='d-tbl'>
		<tr class='list_data'>
			<th>Номер звонящего</th>
			<th>Описание</th>
			<th>Действия</th>
		</tr>

		[% FOREACH param = CID_LIST %]
		<tr align='center' class='nocolor' id='d-tr-[% param.DATA_ID %]'>
		<form method="post" action="[% CGI_URL %]" onSubmit='return xmlhttpPost(this,1)'>
			<input type='hidden' name='action' value='cid_update'>
			<input type='hidden' name='data_id' value='[% param.DATA_ID %]'>
			<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>

			<td><input class='in_t0' size='40' name='cid' type='text' value='[% param.CID | html %]'></td>
			<td><input class='in_t0' size='60' name='description'  type='text' value='[% param.DESCRIPTION | html %]'></td>
	
			<td align='left' nowrap='nowrap'>
				<a href='?action=cid_del&uniq=[% USER_CREDS.UNIQ %]&data_id=[% param.DATA_ID %]' onclick="return xmlhttpDel(this,'ru','d-tr-[% param.DATA_ID %]')" title='удалить запись'><img border='0' src='/xvb/images/msg_delete.png' alt='удалить' /></a>&nbsp;
				<span class='in_t' id='in_t_id-[% param.DATA_ID %]'>
					<script language='JavaScript'>
						writeUpdateLinks( 'сохранить изменения' );
					</script>
					<noscript><input value='изменить' type='submit'></noscript>
				</span>
			</td>
		</form>
		</tr>
		[% END %]
		<tr align='center'>
		<form method="post" action="[% CGI_URL %]" onSubmit='return checkChanges(this)'>
			<input type='hidden' name='action' value='cid_add'>
			<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
			<input type='hidden' name='cid_list_type' value='[% CID_LIST_TYPE %]'>
			<input type='hidden' name='cid_type' value='2'>
			
			<td><input size='40'  name='cid' type='text'></td>
			<td><input size='60' name='description'  type='text'></td>
			
			<td align='center'>
				<input type='submit' value='добавить'>
			</td>
		</form>
		</tr>
		<tr>
			<td colspan='3'>&nbsp;</td>
		</tr>
	</table>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	<p>	
	<table width='95%' class='bottom_hr'>
		<tr align='center'>
			<td width='35%'>
				<a class='headers' href='?action=vb_list&uniq=[% USER_CREDS.UNIQ %]'>Список номеров</a>
			</td>
			<td width='30%'>
				<a class='headers' href='?action=cdr_list&uniq=[% USER_CREDS.UNIQ %]'>Список звонков</a>
			</td>
			<td width='35%'>
				<a class='headers' href='?action=user_info&uniq=[% USER_CREDS.UNIQ %]'>Профиль пользователя</a>
			</td>
		</tr>
	</table>
	</p>
	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
	
