<html>
<!-- $Id: journal_list.tt,v 1.3 2014/09/07 18:30:40 gosha Exp $ -->
<head>
	<title>Virtual PBX - Журнал операций - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>

	<link rel="stylesheet" type="text/css" media="all" href="/xvb/css/calendar-blue.css"  />

	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]

	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/jquery.dynDateTime.min.js"></script>
	<script type="text/javascript" src="/xvb/js/jquery/calendar/lang/calendar-ru.min.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
			
	<h1>Журнал операций</h1>

	<table width='100%'>
		<tr align='right'>
			<form method="get" action="[% CGI_URL %]">
			<td align='right' colspan='5'>
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#from_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							button: ".next()"
						});
				});
				</script>
				<input size='16' type='text' name='from_time' value='[% FROM_TIME | html %]' id='from_time' placeholder='с даты'>
				<button type="button">...</button>
				&nbsp;
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery("#to_time").dynDateTime({
							showsTime: true,
							ifFormat: "%Y/%m/%d %H:%M",
							align: "TL",
							electric: false,
							singleClick: false,
							button: ".next()"
						});
				});
				</script>
				<input size='16' type='text' name='to_time' value='[% TO_TIME | html %]' id='to_time' placeholder='по дату'>
				<button type="button">...</button>
				&nbsp;
				<input name='action' value='j_list' type='hidden'>
				<input size='6' type='text' name='ext_num' value='[% J_EXT_NUM %]' placeholder='номер'>
				&nbsp;
				<select name="action_type">
					[% IF J_ACTION %]
						<option value="[% J_ACTION %]" selected>[% J_ACTION | locale_msg %]</option>
						<option value="" >Все события</option>
					[% ELSE %]
						<option value="" selected>Все события</option>
					[% END %]
				[% FOREACH at = ACTIONS %]
					<option value="[% at %]">[% at | locale_msg %]</option>
				[% END %]
				</select>
				&nbsp;
				<input size='18' type='text' name='data' value='[% J_DATA | html %]' placeholder='данные'>
				<input name='uniq' value='[% USER_CREDS.UNIQ %]' type='hidden'>
				&nbsp;
				<input value='Найти' type='submit'>
				&nbsp;
			</td>
			</form>
		</tr>
	</table>

	<p>
	<table width='100%' id='d-tbl'>
		<tr>
			<th width='5%'>Номер</th>
			<th width='20%'>Дата</th>
			<th width='10%'>Событие</th>
			<th width='15%'>IP адрес пользователя</th>
			<th width='40%'>Данные</th>
		</tr>
		[% IF MSG_PREV ne '' %]
		<tr>
			<td align='left' colspan='5'>
				<a title='предыдущая страница' href='?action=j_list&uniq=[% USER_CREDS.UNIQ %]&from=[% MSG_PREV %]&ext_num=[% J_EXT_NUM %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&data=[% J_DATA | html %]'><img border='0'  src='/xvb/images/msg_prev.png' alt='[% MSG_PREV %] &lt;=' /></a>
			</td>
		</tr>
		[% END %]

		[% FOREACH msg = J_LIST %]
			<tr class='nocolor'>
				[% IF msg.EXT_ID %]
				<td>&nbsp;<a href='?action=vb_view&id=[% msg.EXT_ID | html %]&uniq=[% USER_CREDS.UNIQ %]'>[% msg.EXT_NUMBER | html %]</a></td>
				[% ELSE %]
				<td>[% msg.EXT_NUMBER | html %]</td>
				[% END %]
				<td align='center'>[% msg.J_DATE | html %]</td>
				<td>[% msg.ACTION | locale_msg %]</td>
				<td align='center'>[% msg.CID | html %]</td>
				<td>[% msg.DESCRIPTION | html %]</td>
			</tr>
		[% END %]

		[% IF MSG_NEXT ne '' %]
		<tr>
			<td align='right' colspan='5'>
				<a title='следующая страница' href='?action=j_list&uniq=[% USER_CREDS.UNIQ %]&from=[% MSG_NEXT %]&ext_num=[% J_EXT_NUM %]&from_time=[% FROM_TIME | html %]&to_time=[% TO_TIME | html %]&data=[% J_DATA | html %]'><img border='0'  src='/xvb/images/msg_next.png' alt='[% MSG_NEXT %] &lt;=' /></a>
			</td>
		</tr>
		[% END %]
	</table>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
	
