<html>
<!-- $Id: peer_list.tt,v 1.7 2014/12/28 10:34:09 gosha Exp $ -->
<head>
	<title>Virtual PBX - SIP шлюзы - Ac:[% USER_CREDS.ACCESS_CODE | html %]</title>
	[% IF USER_CREDS.CSS_HREF eq '' %]
	<link rel="stylesheet" type="text/css" href="/xvb/xvb.css" />
	[% ELSE %]
	<link rel="stylesheet" type="text/css" href="[% USER_CREDS.CSS_HREF %]" />
	[% END %]
	<script language="JavaScript" src="/xvb/js/xvb.js"></script>
</head>

<body onLoad="XVBInit()">
	<center>
	
	<table width='100%'>
		<tr>
			<td align='center'><h1>SIP шлюзы</h1></td>
			<td align='right'>
				<a title='удалить все шлюзы' href='?action=peer_del&data_id=all&uniq=[% USER_CREDS.UNIQ %]' onclick="return DelConfirm('ru')" title='удалить все шлюзы'><img border='0' src='/xvb/images/msg_delete.png' alt='del' /></a>
			</td>
		</tr>
	</table>

	<p>
	<table width='100%' id='d-tbl'>
		<tr>
			<th width='15%'>Прокси (*)</th>
			<th>Порт (*)</th>
			<th>Домен</th>
			<th>Пользователь</th>
			<th>Пароль</th>
			<th>Исходящий АОН</th>
			<th>Имя шлюза (*)</th>
			<th>DTMF режим</th>
			<th>Протокол</th>
			[% IF USER_CREDS.CUSTOM_REGS %]
			<th colspan='2'>Вн. номер для входящих</th>
			<th width='1%'></th>
			[% END %]
			<th>&nbsp;</th>
		</tr>
		
		[% FOREACH p = PEERS %]
		<tr align='center' class='nocolor' id='d-tr-[% p.DATA_ID %]'>
			<form method="post" action="[% CGI_URL %]" onSubmit='return xmlhttpPost(this,1)'>
			<td><input class='in_t0' size="17" name='host' type='text' value='[% p.host | html %]'></td>
			<td><input class='in_t0' size="5" name='port' type='text' value="[% p.port | html %]"></td>
			<td><input class='in_t0' size="15" name='domain' type='text' value="[% p.fromdomain | html %]"></td>
			<td><input class='in_t0' size="12" name='username' type='text' value="[% p.username | html %]"></td>
			<td><input class='in_t0' size="10" name='secret' type='text' value="[% p.secret | html %]"></td>
			<td><input class='in_t0' size="12" name='fromuser' type='text' value="[% p.fromuser | html %]"></td>
			<td><input class='in_t0' size="15" name='DESCRIPTION' type='text' value="[% p.DESCRIPTION | html %]"></td>
			<td>
				<select name="dtmfmode" class='in_t0'>
					<option value="[% p.dtmfmode %]" selected>[% p.dtmfmode %]</option>
					<option value="rfc2833">rfc2833</option>
					<option value="info">info</option>
					<option value="shortinfo">shortinfo</option>
					<option value="inband">inband</option>
					<option value="auto">auto</option>
				</select>
			</td>
			<td>
				<select name="proto" class='in_t0'>
				[% IF p.transport eq 'tcp' %]
					<option value="tcp" selected>TCP</option>
					<option value="udp">UDP</option>
				[% ELSE %]
					<option value="udp" selected>UDP</option>
					<option value="tcp">TCP</option>
				[% END %]
				</select>	
			</td>
			[% IF USER_CREDS.CUSTOM_REGS %]
			<td>
				<input class='in_t0' name='NEED_REG' type='checkbox' title='Принимать входящие звонки'
				[% IF p.NEED_REG %]
				checked 
				[% END %]
				/>
			</td>
			<td>
				<input class='in_t0' size="4" name='INC_EXT' type='text' value="[% p.INC_EXT | html %]">
			</td>
			<td align='center'>
			[% IF p.REG_DATA %]
				<img 
				[% IF p.REG_DATA.state eq 'Registered' %]
					src='/xvb/images/ball_green.png'
				[% ELSE %]
					src='/xvb/images/ball_red.png'
				[% END %]
				title='[% p.REG_DATA.state | html %]' alt='[% p.REG_DATA.state | html %]' />
			[% END %]
			</td>
			[% END %]
			<td align='left'>
				<input type='hidden' value='[% p.DATA_ID %]' name='data_id'>
				<input type='hidden' value='peer_update' name='action'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<a title='удалить шлюз' href='?action=peer_del&data_id=[% p.DATA_ID %]&uniq=[% USER_CREDS.UNIQ %]' onclick="return xmlhttpDel(this,'ru','d-tr-[% p.DATA_ID %]')"><img border='0'  src='/xvb/images/vb_del.png' alt='удалить' /></a>&nbsp;
				[% IF p.setvar contain 'PBXMODE=1;' %]
				<img title='Режим АТС' border='0' src='/xvb/images/check.png' alt='АТС' />&nbsp;
				[% END %]
				<span class='in_t' id='in_t_id-[% p.DATA_ID %]'>
				<script language='JavaScript'>
					writeUpdateLinks( 'сохранить изменения' );
				</script>
				<noscript><input value='Сохранить изменения' type='submit'></noscript>
				</span>
			</td>
			</form>
		</tr>
		[% END %]
		<tr><td></td></tr>
		<tr align='center'>
			<form method='post' action='[% CGI_URL %]' onSubmit='return peers_unhide(this)'>
			<td nowrap="nowrap">
				<input size="12" name='host' type='text'>
				<script language='JavaScript'>
					var options_ind = 1;
					var options_str = '<select name="tmpl" onFocus="peers_list_init(this,1)" onBlur="peers_list_init(this,2)" onChange="peers_hide(this.form)"><option value="."></option>';
					var p_list = [];
					p_list[0] = [ '.', '-- Выберите провайдера --' ];
					[% FOREACH p = PEERS_TMPL_LIST %]
						options_str = options_str+'<option value="[% p.HOST %]"></option>';
						p_list[options_ind] = [ '[% p.HOST %]', '[% p.NAME %]' ];
						options_ind++;
					[% END %]
					p_list[options_ind] = [ '.', 'Другой' ];
			  		
					options_str = options_str + '<option value="."></option></select>';

					if ( options_ind > 1 ) {
		        			document.write( options_str );
					}
				</script>
			</td>
			<td><input size="5" name='port' type='text'></td>
			<td><input size="15" name='domain' type='text'></td>
			<td><input size="12" name='username' type='text'></td>
			<td><input size="10" name='secret' type='text'></td>
			<td><input size="12" name='fromuser' type='text'></td>
			<td><input size="15" name='DESCRIPTION' type='text'></td>
			<td>
				<select name="dtmfmode">
					<option value="rfc2833" selected>rfc2833</option>
					<option value="info">info</option>
					<option value="shortinfo">shortinfo</option>
					<option value="inband">inband</option>
					<option value="auto">auto</option>
				</select>
			</td>
			<td>
				<select name="proto">
					<option value="udp" selected>UDP</option>
					<option value="tcp">TCP</option>
				</select>
			</td>
			<td colspan='4'>
				<input type='hidden' value='peer_add' name='action'>
				<input type='hidden' name='uniq' value='[% USER_CREDS.UNIQ %]'>
				<input value='Добавить' type='submit'>
			</td>
			</form>
		</tr>
	</table>
	</p>

	<script language='JavaScript'>listcolorer( 'd-tbl' );</script>

	</center>
	<div id='shadow'><div id='loading'></div></div><div id='center'></div>
	</body>
</html>
