input:focus, textarea:focus {
	outline: 0;
	border:0px;
	border-color: rgba(32, 210, 32, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(32, 210, 32, 0.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(32, 210, 32, 0.6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(32, 210, 32, 0.6);
}

body { 
	background: white;
	color: #3D3D3D;
	font-family:arial;
}

form {
	margin: 0px;
	padding:0;
	border:0
}

table.top_hr {
	background-color: #ffffff;
	margin: 0px;
	padding: 4px;
	border: 0px;
	color: #ababab;
	border-collapse:collapse;
}
table.bottom_hr {
	margin: 0px;
	padding: 4px;
	border:0px;
	border-collapse:collapse;
	background-color: #00cc00;
/*
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 8px rgba(32, 210, 32, 0.6);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 8px rgba(32, 210, 32, 0.6);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 8px rgba(32, 210, 32, 0.6);
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
*/
}
table.addon_data {
	border-collapse:collapse;
}
tr.addon_data {
	background-color: #f7f7f7
}
table.list_data {
	border-collapse:collapse;
}
tr.list_data {
	color: #000000;
	background-color: #00cc00;
	margin-top: 1em;
	margin-bottom: 1em;
	border:0px;
}
table.list_addon_data {
	border-collapse:collapse;
}
tr.list_addon_data {
	color: #000000;
	background-color: #ccffcc;
	margin-top: 1em;
	margin-bottom: 1em;
}
tr.backlight {
	background-color: #f7f7f7
}
tr.nocolor {
	background-color: #ffffff;
}
tr.backlight:hover {
	background-color: #88ff88;
}
tr.nocolor:hover {
	background-color: #88ff88;
}

tr.resume {
	background-color: #ffffff;
	font-weight: bold;
}

th {
	border: solid 1px #ababab;
	font-weight: normal;
	padding: 4px;
}
a:hover {
	color:red;
}
a {
	color:blue;
	text-decoration:none;
}

a.headers:hover {
	color:black;
}

a.headers {
	color:#ffffff;
	text-decoration:none;
}

a.vb_name {
        font-weight: normal;
}

/* Tips */
a.info {
	position:relative;
	color:black;
	font-weight: normal;
	border-bottom:1px dashed #ccc;
}
a.info:hover {
	z-index:3;
}
a.info span{
	display: none;
}
a.info:hover span{
	display:block;
	position:absolute;
	z-index:1;
	top:2em;
	left:15em;
	width:30em;
	border:1px solid #9eb9ff;
	background-color:#efefef;
	color:#000;
	text-align:justify;
	font-size:12px;
	font-weight:normal;
	padding: 4px 4px 3px;
	border-radius: 10px;
	line-height:15px;
}
/* End Tips */

/* Helps */
a.help {
	position:relative;
	color:black;
	font-weight: normal;
}
a.help:hover {
	z-index:3;
}
a.help span{
	display: none;
}
a.help:hover span{
	display:block;
	position:absolute;
	z-index:1;
	top:2em;
	right:-33em;
	width:30em;
	border:1px solid #9eb9ff;
	background-color:#efefef;
	color:#000;
	text-align:justify;
	font-size:14px;
	font-weight:normal;
	padding: 4px 4px 3px;
	border-radius: 10px;
	line-height:15px;
}
/* End Helps */

.display_none {
	display: none;
}

.display_yes {}

.addon_info {
	display: none;
}

.addon_info_open {}

.ext_preffix {
	color: #bbccdd;
}

.error {
	color:red;
	font-weight: bold;
}

.success {
	color:green;
}

a.success {
	color:green;
	border-bottom:1px dashed #ccc;
}

/* form changer */
.in_t0 {
	border:none;
	background:none;
}
.in_t0:hover {
	border:none;
	background:none;
	cursor: pointer;
}
.in_t1 {
	border:normal;
}
.in_t2 {
	border:none;
	background:none;
	color:red;
}
.in_t2:hover {
	border:none;
	background:none;
	color:red;
	cursor: pointer;
}
.in_t {
	display: none;
}
.in_t_open {}

/* Shaddow */
#shadow {
	filter:alpha(opacity=20); 
	opacity: 0.2; 
	width: 100%; 
	height: 100%; 
	top: 0px; 
	right: 0px;
	left: 0px; 
	bottom: 0px; 
	background: gray; 
	position: fixed; 
	visibility: hidden;
	z-index: 10;
}

/* Loading */
#loading {
	position: fixed; 
	z-index: 99; 
	position: fixed; 
	top: 35%; 
	left: 47%; 
}

/* Player */
#center {
	width: 500px; 
	height: 100px; 
	z-index: 99;
	position: fixed; 
	top: 40%; 
	left: 50%; 
	margin-left: -250px; 
	margin-top: -50px; 
	background-color: #fdfdfd; 
	display:none; 
}
html * #center {
	position: fixed; 
	z-index: 99; 
	left: expression(window.clientWidth/2+document.body.scrollLeft + 'px'); 
	top: expression(window.clientHeight/2+document.body.scrollTop + 'px');
}

.agent_state0 {
	color:red;
}

.agent_state1 {
	color:green;
}

p.copyright {
	font-size: 80%;
}

table.statement { 
	border: 1px solid black;
}

/* *************** */
table th, 
table td {
	padding: 1px 1px 1px;
}
table { 
	width: 100%;
	padding: 0;
}
table.half-width { 
	width: 50%;
	padding: 0;
}

a.amenu {
	color: #00cc00;
}

/* Checkbox */
.onoffswitch {
	position: relative; width: 60px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 1px solid #dcdcdc; border-radius: 4px;
}
.onoffswitch-inner {
	display: block; width: 200%; margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block; float: left; width: 50%; height: 16px; padding: 0; line-height: 16px;
	font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: "да";
	padding-left: 10px;
	background-color: #EEEEEE; color: #999999;
}
.onoffswitch-inner:after {
	content: "нет";
	padding-right: 10px;
	background-color: #EEEEEE; color: #999999;
	text-align: right;
}
.onoffswitch-switch {
	display: block; width: 16px; margin: 0px;
	background: #FFFFFF;
	position: absolute; top: 0; bottom: 0;
	right: 40px;
	border: 2px solid #dcdcdc; border-radius: 4px;
	transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px;
	   background-color: #999999;
}

@font-face {
	font-family: 'icomoon';
	src:url('/xvb/fonts/icomoon.eot?4f0id7r');
	src:url('/xvb/fonts/icomoon.eot?#iefdix4f0i7r') format('embedded-opentype'),
		url('/xvb/fonts/icomoon.woff?4f0di7r') format('woff'),
		url('/xvb/fonts/icomoon.ttf?4f0id7r') format('truetype'),
		url('/xvb/fonts/icomoon.svg?4f0id7r#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-plus-square-o:before {
	content: "\e600";
}
.icon-home2:before {
	content: "\e901";
}
.icon-pencil:before {
	content: "\e905";
}
.icon-podcast:before {
	content: "\e91c";
}
.icon-copy:before {
	content: "\e92c";
}
.icon-folder-open:before {
	content: "\e930";
}
.icon-phone:before {
	content: "\e942";
}
.icon-history:before {
	content: "\e94d";
}
.icon-calendar:before {
	content: "\e953";
}
.icon-mobile:before {
	content: "\e958";
}
.icon-floppy-disk:before {
	content: "\e962";
}
.icon-bubble2:before {
	content: "\e96e";
}
.icon-search:before {
	content: "\e986";
}
.icon-wrench:before {
	content: "\e991";
}
.icon-cog:before {
	content: "\e994";
}
.icon-cogs:before {
	content: "\e995";
}
.icon-stats-bars:before {
	content: "\e99c";
}
.icon-bin:before {
	content: "\e9ac";
}
.icon-power:before {
	content: "\e9b5";
}
.icon-clipboard:before {
	content: "\e9b8";
}
.icon-download3:before {
	content: "\e9c7";
}
.icon-warning:before {
	content: "\ea07";
}
.icon-question:before {
	content: "\ea09";
}
.icon-info:before {
	content: "\ea0c";
}
.icon-cancel-circle:before {
	content: "\ea0d";
}
.icon-blocked:before {
	content: "\ea0e";
}
.icon-cross:before {
	content: "\ea0f";
}
.icon-checkmark:before {
	content: "\ea10";
}
.icon-enter:before {
	content: "\ea13";
}
.icon-volume-medium:before {
	content: "\ea27";
}
.icon-loop2:before {
	content: "\ea2e";
}
.icon-arrow-right:before {
	content: "\ea34";
}
.icon-arrow-left:before {
	content: "\ea38";
}
.icon-share:before {
	content: "\ea7d";
}
.icon-feed3:before {
	content: "\ea95";
}
.icon-file-excel:before {
	content: "\eadd";
}
.icon-libreoffice:before {
	content: "\eade";
}

