body { 
	color:black;
	font-family:Arial, Helvetica, sans-serif;
	background:#dedede  repeat-x;
	font-size:12px;
}

form {
	padding:0px;
	border:0;
}

/* center */
center {
	width:98%;
	border-radius:5px;
	-moz-border-radius:5px;border:1px solid #CCCCCC;
	padding:10px 10px 10px 10px;
	background:#f7f7f7 repeat-x;
	margin-left:0px;
	overflow:auto;
}

/* forms */
input[type=submit] {
	background:#00cc00;
	padding:8px 20px 8px 20px;
	border-radius:5px;
	-moz-border-radius:5px;
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	margin:10px 10px 0 0;
	border:none; 
	outline:0;
}

input[type=submit]:hover {background:#149974;}
input[type=submit]:active {background:#a7a7a7;}

input[type=password]:focus, input[type=text]:focus, input[type=select]:focus, textarea:focus {
	outline: 0;
	border:0px;
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type=password] {
	border:1px solid #dcdcdc;
	border-radius:4px;
	-moz-border-radius:4px;
	color:#5e5e5e;
	padding:4px 4px 4px 4px;
	margin:5px 0 0 0;
	-webkit-box-shadow:0px 0px 4px #bebebe;
	box-shadow:0px 0px 4px #bebebe;
	font-family: inherit;
	font-size: inherit;
}

input[type=text] {
	border:1px solid #dcdcdc;
	border-radius:4px;
	-moz-border-radius:4px;
	color:#5e5e5e;
	padding:4px 4px 4px 4px;
	margin:5px 0 0 0;
	-webkit-box-shadow:0px 0px 4px #bebebe;
	box-shadow:0px 0px 4px #bebebe;
	font-family: inherit;
	font-size: inherit;
}

input[type=select] {
	border:1px solid #dcdcdc;
	border-radius:4px;
	-moz-border-radius:4px;
	color:#5e5e5e;
	padding:4px 4px 4px 4px;
	margin:5px 0 0 0;
	-webkit-box-shadow:0px 0px 4px #bebebe;
	box-shadow:0px 0px 4px #bebebe;
	font-family: inherit;
	font-size: inherit;
}

textarea {
	border:1px solid #dcdcdc;
	border-radius:4px;
	-moz-border-radius:4px;
	color:#5e5e5e;
	padding:4px 4px 4px 4px;
	margin:5px 0 0 0;
	-webkit-box-shadow:0px 0px 4px #bebebe;
	box-shadow:0px 0px 4px #bebebe;
	font-family: inherit;
	font-size: inherit;
}

/* form changer */
input[type=text].in_t0, .in_t0 {
	border:none;
	background:none;
	box-shadow:none;
	-webkit-box-shadow: none;
	font-family: inherit;
	font-size: inherit;
}

.in_t0:hover {
	border:none;
	background:none;
	cursor: pointer;
}
.in_t1 {
	border:normal;
}
input[type=text].in_t2, .in_t2 {
	border:none;
	background:none;
	color:red;
	box-shadow:none;
	-webkit-box-shadow: none;
}
.in_t2:hover {
	border:none;
	background:none;
	color:red;
	cursor: pointer;
}
.in_t {
	display: none;
}
.in_t_open {}

/* href stype */
a:hover {
	color:red;
}
a {
	color:blue;
	text-decoration:none;
}
a.amenu {
    color: #00aa00;
}

/* Tips */
a.info {
	position:relative;
	color:black;
	font-weight: normal;
	border-bottom:1px dashed #ccc;
}
a.info:hover {
	z-index:3;
}
a.info span {
	display: none;
}

a.info:hover span{
	display:block;
	position:absolute;
	z-index:1;
	top:2em;
	left:15em;
	width:30em;
	border:1px solid #9eb9ff;
	background-color:yellow;
	color:#000;
	text-align:justify;
	font-size:12px;
	font-weight:normal;
	padding: 4px 4px 3px;
	border-radius: 10px;
	overflow:auto;
}
/* End Tips */

/* Helps */
a.help {
	position:relative;
	font-weight: normal;
	color:black;
}
a.help:hover {
	z-index:3;
}
a.help span{
	display: none;
}
a.help:hover span{
	display:block;
	position:absolute;
	z-index:1;
	top:0em;
	right:-33em;
	width:35em;
	border:1px solid #9eb9ff;
	background-color:yellow;
	color:#000;
	text-align:justify;
	font-size:12px;
	font-weight:normal;
	line-height:15px;
	padding: 4px 4px 3px;
	border-radius: 10px;
	overflow:auto;
}
/* End Helps */

.display_none {
	display: none;
}

.display_yes {}

.addon_info {
	display: none;
}

.addon_info_open {}

.ext_preffix {
	color: #bbccdd;
}

.error {
	color:red;
	font-weight: bold;
}

.success {
	color:green;
}

a.success {
	color:green;
	border-bottom:1px dashed #ccc;
}

/* Shaddow */
#shadow {
	filter:alpha(opacity=20); 
	opacity: 0.2; 
	width: 100%; 
	height: 100%; 
	top: 0px; 
	right: 0px;
	left: 0px; 
	bottom: 0px; 
	background:#dedede  repeat-x;
	position: fixed; 
	visibility: hidden;
	z-index: 10;
}

/* Loading */
#loading {
	position: fixed; 
	z-index: 99; 
	position: fixed; 
	top: 30%; 
	left: 47%;
}

/* Player */
#center {
	width: 500px; 
	height: 100px; 
	z-index: 99;
	position: fixed; 
	top: 40%; 
	left: 50%; 
	margin-left: -250px; 
	margin-top: -50px; 
	background-color: #fdfdfd; 
	display:none; 
}
html * #center {
	position: fixed; 
	z-index: 99; 
	left: expression(window.clientWidth/2+document.body.scrollLeft + 'px'); 
	top: expression(window.clientHeight/2+document.body.scrollTop + 'px');
}

.agent_state0 {
	color:red;
}

.agent_state1 {
	color:green;
}

p.copyright {
	font-size: 10px;
}

/* tables */

table.statement { 
	border: 1px solid black;
}

table th, table td {
	padding: 4px 4px 3px;
}
table { 
	width: 100%;
	padding:0;
	border-collapse:collapse;
	border:0px;
	margin: 0px;
	font-size:12px;
}
table.half-width { 
	width: 50%;
	padding: 0;
	font-size:12px;
}
tr.backlight {
    background-color: #f7f7f7
}
tr.nocolor {
    background-color: #ffffff;
}
tr.backlight:hover {
    background-color: #88ff88;
}
tr.nocolor:hover {
    background-color: #88ff88;
}
tr.resume {
	background-color: #ffffff;
	font-weight: bold;
	font-size:12px;
}
th {
	border-collapse:collapse;
	background:#00cc00  repeat-x;
	color:#ffffff;
	text-align:center;
	font-size:12px;
	padding:5px 5px 5px 5px;
}
/* legacy */
table.top_hr {
	border-collapse:collapse;
}
table.bottom_hr {
	background:#dedede  repeat-x;
}
p.white-bg {
	background:#ffffff;
}
tr.player {
	background:#00cc00  repeat-x;
}
.warning-font {
	color:red;
}
ul {
	padding: 0px 0px 10px 10px;
}
li {
	padding: 10px 0px 5px 0px;
}
